$color-green: #00cc81;
$color-yellow: #eefda5;
$color-red: #ff002b;

:host {
  display: flex;
  flex-flow: column nowrap;
  background: #68d5d0;
}

*[hidden] {
  display: none !important;
}

a {
  color: white;
  &:hover {
    color: $color-yellow;
    text-decoration: none;
  }
}

.contain {
  overflow: hidden;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/** "you lost santa" button */
paper-icon-button#search {
  // FIXME(samthor): Merge with santa-buttons.

  position: fixed;
  top: 44px + 12px;
  left: 16px;

  background: #b93227;
  border-radius: 1000px;
  color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  will-change: transform;
  transition: transform 0.1s;
  z-index: 10000;

  &.hidden {
    pointer-events: none;
    transform: scale(0);
  }

  &::after {
    // nb. this increases the mouse target for the icon, but is otherwise invisible
    z-index: -2;
    content: attr(data-title);
    color: transparent;
    position: absolute;
    left: -4px;
    top: -4px;
    bottom: -4px;
    border-radius: 10000px;
    padding-right: 8px;
    padding-left: 66px;
    font-size: 14px;
    white-space: nowrap;
  }

  &::before {
    content: attr(data-title);
    position: absolute;
    white-space: nowrap;
    left: 100%;
    margin-left: 12px;
    display: flex;
    align-items: center;
    top: 8px;
    bottom: 8px;
    padding: 4px 6px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
  }

  // only fade/in out labels when hover is possible
  @media (hover: hover) {
    &::before {
      opacity: 0;
      will-change: opacity;
      transition: opacity 0.125s;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}

/** "full page" section - except on large screens */
section {
  min-height: 90vh;  // always hint that there's more content
  background: $color-green;
  position: relative;
  z-index: 0;
  box-sizing: border-box;

  &:not(:first-of-type) {
    border-top: 2px solid rgba(0, 0, 0, 0.25);
  }

  &#main {
    @import "sass/main";
    background: transparent;
  }
  &#stats {
    @import "sass/stats";
  }

  #travelogue {
    @import "sass/travelogue";
  }

  &.listview {
    @import "sass/listview";
  }
  &#games {
    @import "sass/games";
  }
  &#videos {
    @import "sass/videos";
  }
  &#livefeed {
    min-height: 0 !important;
    @import "sass/livefeed";
  }
  &#thanks {
    @import "sass/thanks";
  }

  // On an iPad height or above, clamp the sections to a maximum size. Cards will thus be in the
  // size range [320px,1023px].
  @media (min-height: 1024px) {
    min-height: 768px;
  }

  &:only-of-type {
    min-height: 100vh !important;
  }
}

h1 {
  font-family: 'Lobster';
  margin: 0;
  font-size: 55px;
  transform: rotate(-5deg);
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.125);
}
h3 {
  font: inherit;
  color: $color-yellow;
  margin: 0;
  font-weight: bold;
}
h4 {
  font: inherit;
  color: white;
  margin: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.066);
}
h3, h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.wrap {
    white-space: normal
  }
}

santa-weather {
  @apply(--layout-fit);
}
tracker-map {
  @apply(--layout-fit);
}

.stats {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: stretch;
  justify-content: space-between;
  font-size: 11px;
  line-height: 13px;

  big {
    display: block;
    font-size: 29px;
    line-height: 33px;
    font-weight: 600;
    color: $color-yellow;

    &.lessbig {
      word-spacing: -1px;
      font-size: 15px;
      line-height: 17px;
      hyphens: auto;

      @media (max-width: 400px) {
        letter-spacing: -1px;
        line-height: 15px;
      }
    }
  }

  .data {
    padding: 8px;
  }

  .divider {
    min-width: 1px;
    min-height: 1px;
    background: rgba(0, 0, 0, 0.125);
    align-self: stretch;
  }

  .split {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    .left {
      width: 40%;
      flex-grow: 1;
    }
    .right {
      margin-left: 0;
      text-align: right;
    }
  }

  .top {
    flex-flow: column nowrap;
  }
}

article.stats .data h2 {
  margin: 0 !important;
  margin-bottom: 4px !important;
}

