$color-green: #00cc81;
$color-yellow: #eefda5;
$color-red: #ff002b;

:host {
  display: flex;
  flex-flow: column nowrap;
}

google-youtube {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

a {
  color: white;
  &:hover {
    color: $color-yellow;
    text-decoration: none;
  }
}

.contain {
  overflow: hidden;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/** "full page" section - except on large screens */
section {
  min-height: 90vh;  // always hint that there's more content
  background: $color-green;
  position: relative;
  z-index: 0;
  box-sizing: border-box;

  &:not(:first-of-type) {
    border-top: 2px solid rgba(0, 0, 0, 0.25);
  }

  &#main {
    @import "sass/main";
    background: transparent;
  }
  &#stats {
    @import "sass/stats";
  }

  #travelogue {
    @import "sass/travelogue";
  }

  &.listview {
    @import "sass/listview";
  }
  &#games {
    @import "sass/games";
  }
  &#videos {
    @import "sass/videos";
  }
  &#livefeed {
    min-height: 0 !important;
    @import "sass/livefeed";
  }
  &#thanks {
    @import "sass/thanks";
  }

  // On an iPad height or above, clamp the sections to a maximum size. Cards will thus be in the
  // size range [320px,1023px].
  @media (min-height: 1024px) {
    min-height: 768px;
  }

  &:only-of-type {
    min-height: 100vh !important;
  }
}

h1 {
  font-family: 'Lobster';
  margin: 0;
  font-size: 55px;
  transform: rotate(-5deg);
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.125);
}
h3 {
  font: inherit;
  color: $color-yellow;
  margin: 0;
  font-weight: bold;
}
h4 {
  font: inherit;
  color: white;
  margin: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.066);
}
h3, h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.wrap {
    white-space: normal
  }
}

santa-weather {
  @apply(--layout-fit);
}
tracker-map {
  @apply(--layout-fit);
}

.stats {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: stretch;
  justify-content: space-between;
  font-size: 11px;
  line-height: 13px;

  big {
    display: block;
    font-size: 29px;
    line-height: 33px;
    font-weight: 600;
    color: $color-yellow;
  }

  .data {
    padding: 8px;
  }

  .divider {
    min-width: 1px;
    min-height: 1px;
    background: rgba(0, 0, 0, 0.125);
    align-self: stretch;
  }

  .split {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    .left {
      width: 40%;
      flex-grow: 1;
    }
    .right {
      margin-left: 0;
      text-align: right;
    }
  }

  .top {
    flex-flow: column nowrap;
  }
}
