:host {
  // for reasons, we *usually* don't want this to make a layer
  position: static;
  display: block;
}

#preload {
  display: none;
  pointer-events: none;
  visibility: hidden;
}

#scene > * {
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;  // only needed for iOS
  z-index: 0;  // gives the scene its own stacking context

  &[allow-page-scrolling] {
    top: 0;
    bottom: auto;
    overflow: auto;
  }

  &:focus {
    outline: none;
  }

  &[preload] {
    display: none !important;
  }
}

#error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: url(img/error.svg) bottom center no-repeat;
  background-size: cover;

  .hidden {
    display: none;
  }

  &:not(.error-locked) .icon::before {
    display: none;
  }
  &:not(.error-error) p.error {
    display: none;
  }
  &:not(.error-network) p.network {
    display: none;
  }
  &:not(.error-missing) p.missing {
    display: none;
  }
}

.icon {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 10000px;
  box-shadow: 4px 14px 0 rgba(0,0,0,.125);
  background: #7ec6e5 url(img/snowman.png) center no-repeat;
  background-size: 179px 214px;
  overflow: hidden;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent center no-repeat;
    background-size: cover;
  }

  &::before {
    content: '';
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10000px;
    background: rgba(0, 0, 0, 0.125) url(img/lock.svg) center no-repeat;
  }
}

p {
  margin: 2em auto;
  max-width: 90%;
  color: white;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
a {
  color: inherit;
}

@media (max-height: 400px) {
  #error {
    flex-flow: row;
  }
  #error p {
    margin: 0 2em;
  }
  .icon {
    width: 192px;
    height: 192px;
    min-width: 192px;
    margin: 0 1em;
  }
}