$photo-maxwidth: 600px;

:host {
  display: block;
}

#main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.photos {
  position: relative;
  width: 100%;
  max-width: $photo-maxwidth;
  z-index: 10;

  &:before {
    content: '';
    display: block;
    margin-bottom: (75% + 3%);  // 75% is 4:3, but add margin: slightly more than .size:before
  }

  .size {
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;

    &:before {
      content: '';
      display: block;
      margin-bottom: 75%;  // 4:3
    }

    .info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 4% 7%;
      will-change: opacity;
      transition: opacity 0.25s;
    }
  }

  .photo {
    border: 8px solid #f6f6f6;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
    background: #333 center no-repeat;
    background-size: cover;
    display: inline-block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: transform 0.25s;
    will-change: transform;

    .attribution {
      position: absolute;
      bottom: 10px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: white;
      text-shadow: 0 1px 3px rgba(66, 66, 66, 0.7);
      z-index: 10;

      &.local-guide {
        &::before {
          position: absolute;
          top: -84px;
          width: 480px;
          height: 120px;
          background: url('../img/local-guides.svg') center left/contain no-repeat;
          content: '';
          display: block;
          filter: drop-shadow(0 2px 4px rgba(66, 66, 66, 0.9));
        }
      }

      &.left {
        left: 28px;
        &.local-guide {
          left: 48px;
          &::before {
            left: -72px;
          }
        }
      }

      &.right {
        right: 28px;
        &.local-guide {
          &::before {
            right: -40px;
            background-position: center right;
          }
        }
      }
    }

    .overlay {
      position: absolute;
      height: 33%;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent bottom left no-repeat;
      background-size: contain;

      @for $i from 0 through 16 {
        &.overlay#{$i} {
          background-image: url(../img/overlay/overlay#{$i}.svg);
        }
      }

      &.overlay10 {
        background-position: bottom right;
      }
    }

    &.easteregg {
      background-image: url(../img/photo-easteregg.jpg);
    }
  }

  .move {
    pointer-events: none;  // prevent shifted photos from effecting hover state
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 1s, opacity 1s;
    transform: translate(0);

    &.offscreen {
      opacity: 0;
      transform: translate(-1000px) !important;

      &.move-photo1 {
        transition-delay: 500ms;  // delay fadeout for 2nd photo
      }
    }
  }

  // On hover, shift move-marked photos to l/r. Allows our users to see more photos.
  &:hover {
    .info {
      opacity: 0;
    }

    .move.move-photo0 {
      transform: translate(0%, +48%) rotate(-8deg);
    }
    .move.move-photo1 {
      transform: translate(+1%, -48%) rotate(+6deg);
    }

    @media (max-width: (1024px - 1px)) {
      // move L-R when lots of space
      .move.move-photo0 {
        transform: translate(-30%, 0) rotate(-5deg);
      }
      .move.move-photo1 {
        transform: translate(+30%, 0) rotate(+4deg);
      }
    }

    @media (max-width: (768px - 1px)) {
      // back to U-D
      .move.move-photo0 {
        transform: translate(0%, +38%) rotate(-2deg);
      }
      .move.move-photo1 {
        transform: translate(+1%, -38%) rotate(+2deg);
      }
    }
  }
}

#wiki {
  $margin-width: 20px;
  max-width: $photo-maxwidth;
  color: white;
  font-size: 17px;
  line-height: 23px;
  margin: 16px $margin-width 0;
  font-weight: 400;

  // Force minimum width to be at least $photo-maxwidth (+margin, since this is not box-sizing:
  // border-box): unless we're smaller than that, in which case use vw.
  width: $photo-maxwidth;
  @media (max-width: ($photo-maxwidth + $margin-width * 2)) {
    width: calc(100vw - (#{$margin-width} * 2));
  }

  @media (max-width: (768px - 1px)) {
    font-size: 15px;
    line-height: 21px;
  }
}

h1 {
  margin: 0;
  font-family: 'Lobster';
  font-size: 57px;
  color: white;
  text-shadow: 0 1px 6px rgba(66, 66, 66, 0.5);
  font-weight: bold;
}

h2 {
  margin: 0;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 21px;
  color: white;
  text-shadow: 0 1px 4px rgba(66, 66, 66, 0.5);
  color: #FFFEAB;
  text-transform: uppercase;
}


@media (max-width: (768px - 1px)) {
  h1 {
    margin-top: 5px;
    font-size: 41px;
  }
  h2 {
    font-size: 15px;
  }
}
