$name: 'module-snowflake';
$gameover-bg: #8fd7f7;
$rotate-bg: $gameover-bg;

@import "../shared/sass/rotate";
@import "../shared/sass/tutorial";
@import "../shared/sass/button";

@import "sass/background";
@import "sass/message";
@import "sass/environment";

##{$name} {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('img/img_background.png');
  background-repeat: repeat;
  overflow: hidden;
  /**
   * Hides the element but still keeps it composed on the GPU by translating it off-screen.
   * By keeping things composed we get respectable performance on android browsers since
   * the biggest overhead is in moving things to the GPU there.
   * http://code.google.com/p/android/issues/detail?id=25147
   */
  .hidden {
    transform: translate3d(0, 9999px, 0) !important;
  }

  @keyframes #{$name}-shimmy {
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-2em);
    }
    0%, 20%, 40%, 60%, 80%, 100% {
      transform: translateX(+2em);
    }
  }

  @keyframes #{$name}-fall {
    0% {
      transform: translateY((490px * 0.00 - 32px));
      opacity: 0;
    }
    5% {
      transform: translateY((490px * 0.05 - 32px));
      opacity: 1;
    }
    95% {
      transform: translateY((490px * 0.95 - 32px));
      opacity: 1;
    }
    100% {
      transform: translateY((490px * 1.00 - 32px));
      opacity: 0;
    }
  }

  #snowglobe {
    width: 100%;
    height: 100%;
    border: 1px black;
  }

  #weather {
    width: 850px;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-image: url('img/img_postcard_01.png');
    background-size: cover;
    background-repeat: no-repeat;

    span {
      display: inline-block;
      position: absolute;
    }

    .shimmy {
      animation: #{$name}-shimmy 15s infinite ease-in-out;
    }
    .fall {
      opacity: 0;  // this will be overwritten by animation
      animation: #{$name}-fall 35s infinite linear;
    }
    .snow {
      position: relative;
      top: -550px;
      width: 16px;
    }
    .snow::before {
      content: "";
      float: left;
      width: 100%;
      padding-top: 100%;
      margin-left: -50%;
      border-radius: 10000px;
    }
  }

  #scenery {
    .postcardOption {
      background-image: url('img/bgs.png');
      width: 340px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }


  .small-button-image {
    vertical-align: middle;
    font-size: 40px;
    background-image: url('img/btn_back_ar.png');
    background-position: center;
    padding: 6px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height:20px;
    display:inline-block;
}


  .help {
    background-image: url('img/btn_help.png');
    top: 52px;

    &:hover {
      background-image: url('img/btn_help_over.png');
    }

    &:active {
      background-image: url('img/btn_help_press.png');
    }
  }

  .share:before {
    background-image: url('img/ic_share.png');
  }

  .share-bar {
    z-index: 1,
  }

  
  .bottom-footer {
    position: relative;
    height: 150px;
  }

  .postcard-stacked-divs {
    background-image: url('img/img_deskitems_02.png');
  }
}

.remix {
  min-width: 60px;
  margin-left: 40px;
  pointer-events: auto;
  padding: 0 8px;
  font-size: 26pt !important;
}

.remix-text {
   color: white;
   font-family: 'Lobster';
   font-size: 27pt;
   position: absolute;
   text-align: center;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
   bottom: 40px;
   width: 100%;
   z-index: 1;
} 
.button-share-snow {
  padding: 0 8px;
  pointer-events: auto;
}

@import "../shared/sass/responsive";
