#about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 41px;
  overflow: auto;
  background: #7847b2;

  #about-banner {
    display: block;
    height: 315px;
    background: url(../images/about.png) 50% 30px no-repeat;
  }

  #about-banner, #about-content {
    width: 474px;
    margin: 0 auto;
  }

  #about-content {
    color: #fff;

    a {
      color: #fff;
    }

    h1 {
      margin: 0;
      padding: 0;
      font-family: 'Lobster', sans-serif;
      font-weight: 600;
      font-size: 40px;
    }

    p {
      margin: 0;
      font-size: 13px;
      line-height: 22px;
      padding: 15px 0;
    }
  }
}

#about-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #6f41a4;
  text-align: center;
  color: #fff;

  a {
    text-decoration: none;
    color: #fff;
     line-height: 41px;
  }
}