#upgrade {
  background: #7EC6E5;
  height: 100%;
  overflow: auto;

  #upgrade-content {
    margin: 0 auto;
    padding-bottom: 10em;
    width: 642px;
    text-align: center;
    background: url(../images/snowman.png) no-repeat 50% 50px;
    padding-top: 490px;

    color: #fff;
    font-size: 16px;
  }
}