$ui-offset: 105px;
$ui-offset-mobile: 75px;

##{$name} {
  .Buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $ui-offset;
    right: 20px;
    z-index: 1;

    @media (max-width: $button-bp) {
      top: $ui-offset-mobile;
    }
  }

  .Button {
    margin-bottom: 15px;
  }

  .Button--reset {
    background-image: url(img/icons/reset.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  #share-button,
  #share-button-toolbox {
    visibility: var(--link-visibility);
  }
}
