$name: 'module-briefing';

//@import "../shared/sass/sceneboard";

@import "sass/animations";

##{$name} {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #007bb8;

  .view {
    position: absolute;
    z-index: 100;

    top: 50%;
    left: 50%;

    $width: 1400px;
    $height: 650px;

    margin-top: -$height / 2;
    margin-left: -$width / 2;

    width: $width;
    height: $height;

    .dashboard {
      position: absolute;

      top: 50px;
      left: 20px;

      width: 363px;
      height: 258px;

      background: -16px -417px url('img/objects.png');

      .clock-pointer {
        position: absolute;

        right: 41px;
        bottom: 97px;

        width: 3px;
        height: 40px;

        border-radius: 10px;

        background: #d54432;

        transform-origin: 50% 20%;
        animation: 60s #{$name}-clockPointerMovement infinite linear;

        &.cp2 {
          right: 130px;

          animation: 60s #{$name}-clockPointer2Movement infinite linear;
        }

        &.cp3 {
          right: 130px;
          bottom: 13px;

          animation: 60s #{$name}-clockPointer3Movement infinite linear;
        }

        &.cp4 {
          bottom: 13px;

          animation: 60s #{$name}-clockPointer4Movement infinite linear;
        }
      }
    }

    .screen {
      position: absolute;

      top: 0;
      left: 420px;

      width: 520px;
      height: 309px;

      background: -111px -92px url('img/objects.png');

      .projector {
        position: absolute;
        z-index: 100;

        top: -230px;
        left: 202px;

        width: 96px;
        height: 212px;

        background: -0px -0px url('img/objects.png');

        perspective: 400px;
      }

      .projector-beam {
        position: absolute;

        top: -30px;
        left: 55px;

        width: 395px;
        height: 67px;

        background: -111px -0px url('img/objects.png');

        animation: .2s #{$name}-beamFlicker infinite alternate ease-in-out;
      }

      .image {
        position: absolute;

        top: 37px;
        left: 57px;

        width: 392px;
        height: 230px;

        background: 0 0 url('img/plan.png') repeat-x #fff;

        transition: .5s background-position;
      }
    }

    .controller {
      position: absolute;

      top: 70px;
      left: 950px;

      width: 171px;
      height: 55px;

      background: -587px -20px url('img/objects.png');

      .arrow {
        border: 12px solid transparent;
        border-top-width: 10px;
        border-bottom-width: 10px;
        cursor: pointer;
        left: 100px;
        position: absolute;
        top: 13px;

        &.right {
          border-left: 12px solid #48ba81;
        }

        &.right:hover {
          border-left: 12px solid #318a5e;
        }

        &.left {
          border-right: 12px solid #48ba81;
          left: 40px;
        }

        &.left:hover {
          border-right: 12px solid #318a5e;
        }
      }
    }

    .lady {
      position: absolute;

      top: 150px;
      left: 970px;

      width: 118px;
      height: 233px;

      .body {
        position: absolute;
        z-index: 20;

        right: 0;
        bottom: 0;

        width: 118px;
        height: 233px;

        background: -399px -417px url('img/objects.png');
      }

      .hand {
        position: absolute;
        z-index: 10;

        top: 15px;
        left: -125px;

        width: 166px;
        height: 77px;

        background: -537px -420px url('img/objects.png');

        transform-origin: 100% 80%;
        animation: 7s #{$name}-handMovement infinite alternate ease-in-out;
      }
    }

    .elevator {
      position: absolute;

      top: 38px;
      right: -30px;

      width: 275px;
      height: 345px;

      .frame {
        position: absolute;

        left: 0;
        bottom: 0;

        width: 221px;
        height: 287px;

        background: -648px -92px url('img/objects.png');

        .penguin {
          position: absolute;
          z-index: 1;

          left: 50%;
          bottom: 0;

          margin-left: -56px / 2;

          width: 56px;
          height: 96px;

          background: -16px -283px url('img/objects.png');

          .eye {
            position: absolute;

            top: 12px;
            left: 25px;

            width: 8px;
            height: 8px;

            background: -77px -292px url('img/objects.png');

            animation: 30s #{$name}-penguinBlink infinite ease-in-out;
          }
        }

        .door {
          position: absolute;
          z-index: 5;

          top: 17px;
          left: 17px;
          bottom: 0;

          width: 94px;

          background: #d5d6d8;

          animation: 30s #{$name}-doorLeftAnimation infinite ease-in-out;

          &:before {
            content: "";
            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;

            width: 3px;

            background: #a3a5a8;
          }

          &.right {
            left: auto;
            right: 17px;

            &:before {
              right: auto;
              left: 0;
            }
          }
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          z-index: 10;

          top: 17px;
          left: 17px;
          bottom: 0;

          width: 17px;

          background: rgba(0,0,0,.1);
        }

        &:after {
          bottom: auto;
          right: 17px;

          left: 17px + 17px;

          width: auto;
          height: 10px;
        }
      }

      .status {
        position: absolute;

        top: 0;
        left: 64px;

        width: 92px;
        height: 52px;

        background: -1px -223px url('img/objects.png');

        .arrow {
          position: absolute;

          top: 4px;
          left: 41px;

          width: 11px;
          height: 47px;

          background: -537px -20px url('img/objects.png');

          transform-origin: 50% 89%;
          animation: 30s #{$name}-liftStatusAnimation infinite ease-in-out;
        }
      }

      .panel {
        position: absolute;

        right: 0;
        bottom: 90px;

        width: 44px;
        height: 89px;

        background: -517px -499px url('img/objects.png');

        .button {
          position: absolute;

          bottom: 15px;
          left: 10px;

          width: 22px;
          height: 21px;

          background: -561px -546px url('img/objects.png');

          animation: 30s #{$name}-liftPanelAnimation infinite step-start;
        }
      }
    }

    .audience {
      position: absolute;
      z-index: 100;

      left: 0;
      right: 0;
      bottom: 0;

      height: 340px;

      background: center bottom url('img/audience.png') no-repeat;
    }
  }

  .wall {
    position: absolute;
    z-index: 20;

    top: 0;
    left: 0;
    right: 0;

    height: 60%;

    background: #0090d7;
  }

  .decorations {
    position: absolute;
    z-index: 90;

    top: 50%;
    left: 0;
    right: 0;

    margin-top: -520px;

    height: 131px;

    background: center 0 url('img/decorations.png') repeat-x;

    &:before {
      $height: 5000px;

      content: "";
      position: absolute;

      top: -$height;
      left: 0;
      right: 0;

      height: $height;

      background: #00aeef;
    }
  }

  .floor {
    position: absolute;
    z-index: 30;

    top: 50%;
    left: 0;
    right: 0;

    margin-top: 58px;

    height: 208px;

    background: url('img/floor.png');
  }
}

@import "../shared/sass/responsive";
