.board-bkg {
  background-color: $color-wall;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .level {
    background: $color-yellow url(img/floor/floor_tile.svg) top left/100px 100px repeat;
    position: absolute;
    transform-origin: top left;

    &::before {
      background: url(img/world_edges-1400x800.svg) center/100% no-repeat;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 36.5%;
      transform: translate(-50%, -50%) scale(1.43);
      width: 100%;
      z-index: $background-z-index;
    }
  }
}