##{$name} {
  .ice {
    border-image: url(img/ice/ice.svg) 33% fill / 25px round;
    position: relative;

    &::after {
      background: url(img/ice/shine.svg) center/cover no-repeat;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}