##{$name} {
  .player {
    height: $grid-unit-size;
    width: $grid-unit-size;
    z-index: $player-z-index;

    &--1 {
      background: url(img/players/player-a.svg) center/contain no-repeat;
    }

    &--2 {
      background: url(img/players/player-b.svg) center/contain no-repeat;
    }

    &.is-hidden {
      opacity: 0;
    }

    // &.is-winner {
    //   &::after {
    //     font-size: 30px;
    //     left: 9px;
    //     top: -13px;
    //     content: '👑';
    //     position: absolute;
    //   }
    // }

    &.toypart--car_wheels,
    &.toypart--robot_heads {
      &::after {
        background: red;
        bottom: -20px;
        content: '';
        height: 15px;
        left: 18px;
        position: absolute;
        top: auto;
        width: 15px;
      }
    }

    &.toypart--robot_body,
    &.toypart--robot_arms {
      &::after {
        background: blue;
        bottom: -20px;
        content: '';
        height: 15px;
        left: 18px;
        position: absolute;
        top: auto;
        width: 15px;
      }
    }

    &.toypart--car_wheels.toypart--robot_body,
    &.toypart--robot_heads.toypart--robot_arms {
      &::after {
        background: purple;
        bottom: -20px;
        content: '';
        height: 15px;
        left: 18px;
        position: absolute;
        top: auto;
        width: 15px;
      }
    }
  }

  .player-spawn {
    height: $grid-unit-size;
    width: $grid-unit-size;

    &--1 {
      background: url(img/players/a_spawn.svg) center/contain no-repeat;
    }

    &--2 {
      background: url(img/players/b_spawn.svg) center/contain no-repeat;
    }
  }
}