##{$name} {
  .player-selection {
    align-items: center;
    background: $color-yellow;
    bottom: 0;
    display: flex;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    &.is-hidden {
      display: none;
    }
  }

  .player-selection__inner {
    width: 100%;
  }

  .player-options {
    align-items: center;
    display: flex;
    margin: 50px auto;
    max-width: 1000px;
    width: 80%;
  }

  .player-option {
    cursor: pointer;
    flex: 1 1 360px;
    margin: 0 30px;
    position: relative;

    &--1 {
      .player-option__image {
        background: url(img/player-selection-one.svg) center/contain no-repeat;
      }
    }

    &--2 {
      .player-option__image {
        background: url(img/player-selection-two.svg) center/contain no-repeat;
      }
    }
  }

  .player-option__image {
    padding-top: 100%;
    width: 100%;
  }

  .player-option__go {
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
  }

  .player-option__label {
    color: $color-green;
    font-family: 'Google Sans', sans-serif;
    font-size: 52px;
    font-weight: bold;
    line-height: 66px;
    text-align: center;
  }
}
