.score-screen {
  align-items: center;
  background-color: $color-yellow;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $gui-z-index;

  &.is-hidden {
    display: none;
  }

  &.single-player {
    &::after {
      height: 85px;

      @include respond-to(mobile) {
        height: 60px;
      }
    }

    .score-screen__name {
      opacity: 0;
    }
  }

  &.game-end {

  }

  &::before {
    background-color: $color-green;
    content: '';
    height: 85px;
    left: 50%;
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    width: 2px;

    @include respond-to(mobile) {
      height: 60px;
    }
  }

  &::after {
    background-color: $color-green;
    content: '';
    height: calc(100% - 209px);
    left: 50%;
    position: absolute;
    bottom: 0px;
    transform: translateX(-50%);
    width: 2px;

    @include respond-to(mobile) {
      height: calc(100% - 130px);
    }
  }

  &__title {
    color: $color-green;
    font-family: $font-lobster;
    font-size: 78px;
    left: 50%;
    line-height: 97px;
    position: absolute;
    top: 85px;
    transform: translateX(-50%);

    @include respond-to(mobile) {
      top: 60px;
      font-size: 48px;
      line-height: 60px;
    }
  }

  &__player {
    background-color: $color-gold;
    border: 2px solid $color-brown;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    margin: 0 56px;
    max-height: 700px;
    position: relative;
    text-align: center;
    width: 370px;

    @include respond-to(mobile) {
      margin: 0 40px;
      max-height: 260px;
      width: 200px;
    }
  }

  &__score {
    color: $color-white;
    font-family: $font-lobster;
    font-size: 330px;
    opacity: 0.7;
    width: 100%;

    @include respond-to(mobile) {
      font-size: 100px;
      line-height: 115px;
    }
  }

  &__line {
    background-color: $color-brown;
    flex: 0 0 2px;
    height: 2px;
    margin-top: 30px;
    width: 100%;

    @include respond-to(mobile) {
      margin-top: 0;
    }
  }

  &__name {
    color: $color-white;
    font-family: $font-google-sans;
    font-size: 23px;
    margin-top: 15px;

    @include respond-to(mobile) {
      font-size: 16px;
      margin-top: 7px;
    }
  }

  &__toys {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50px;
    height: 50px;
    justify-content: center;
    margin-top: 30px;
    padding: 0 20px;

    @include respond-to(mobile) {
      flex: 0 0 30px;
      height: 30px;
      margin-top: 10px;
    }
  }

  &__toy {
    height: 100%;
    margin: 0 6px;
  }

  &__character {
    height: 200px;
    position: absolute;
    right: -15px;
    top: 47%;
    width: 150px;

    @include respond-to(mobile) {
      height: 75px;
      right: -17px;
      top: 36%;
      width: 90px;
    }
  }
}