.walkthrough {
  color: $color-white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 125px;
  border-radius: 35px;
  background-color: $color-purple;
  opacity: 1;
  padding: 8px 32px 36px;
  text-align: center;
  transition: opacity $transition-time;
  z-index: $gui-z-index;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__text {
    font-family: $font-google-sans;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.03em;
    line-height: 32px;
    margin-bottom: 2px;

    &-hidden {
      display: none;
    }
  }

  &__toys {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__toypart {
    width: 110px;
    height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
      height: 50%;
      position: relative;
    }

    &::before {
      background-color: white;
      border-radius: 42px;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0.3;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__toyfull {
    width: 110px;
    height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
      height: 100%;
      position: relative;
    }
  }

  &__operator {
    font-family: $font-google-sans;
    font-size: 67px;
    font-weight: bold;
    line-height: 86px;
    margin: 0 12px;
  }
}
