##{$name} {
  .Buttons {
    bottom: 20em;
    display: flex;
    position: absolute;
    right: 60em;
    z-index: 1;
  }

  .Button {
    @extend .Button--round;
    display: block;
    margin: 15px auto;
  }

  .Button--nav,
  .Button--rotate,
  .Button--utility, {
    @include ButtonColor(white);
    margin: 10px auto;
  }

  .Button--nav {
    background-size: 25%;
  }

  .Button--utility {
    background-size: 50%;
    height: 50px;
    width: 50px;

    @media (min-width: $mobile-width + 1) {
      background-color: #fff;
    }
  }

  .Button--nav,
  .Button--redo,
  .Button--rotate,
  .Button--save,
  .Button--undo {
    height: 40px;
    min-height: auto;
    width: 40px;
  }

  .Button--primary {
    @include ButtonColor(yellow);
  }

  .Button--trash {
    background-image: url(img/icons/trash.svg);
    margin-bottom: 30px;
  }

  .Button--eraser {
    background-image: url(img/tools/tool_eraser.svg);
    background-size: contain;
  }

  .Button--snowglobe {
    background-color: #b148b9;
    background-image: url(img/icons/snow.svg);
    background-size: 60%;
    height: 65px;
    width: 65px;

    &[data-snowglobe-snowing="true"] {
      box-shadow: none !important;
      transform: translateY(7px) translateZ(0);
      transition: transform 0.2s, box-shadow 0.2s;
    }
  }

  .Button--next {
    background-image: url(img/icons/next.svg);
  }

  .Button--prev {
    background-image: url(img/icons/previous.svg);
  }

  .Button--redo {
    background-image: url(img/icons/redo.svg);
  }

  .Button--undo {
    background-image: url(img/icons/undo.svg);
  }

  .Button--save {
    @include ButtonColor(purple);
    background-image: url(img/icons/save.svg);
    margin-top: 30px;
  }

  .Button--rotate {
    background-image: url(img/icons/rotate_clock.svg);
    background-size: 50%;
  }

  .Button--rotate-counter {
    background-image: url(img/icons/rotate_counter_clock.svg);
  }
}
