##{$name} {
  .Buttons {
    bottom: 20em;
    display: flex;
    position: absolute;
    right: 60em;
    z-index: 1;
  }

  .Button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 2px 4px 0 #852C81, 5px 7px rgba(0,0,0,0.16);
    display: block;
    font-size: 12px;
    height: 55px;
    margin: 15px auto;
    min-height: auto;
    width: 55px;
  }

  .Button--utility,
  .Button--nav,
  .Button--rotate {
    margin: 10px auto;
  }

  .Button--nav,
  .Button--rotate {
    background-color: #EFEFEF;
    background-size: 30%;
    box-shadow: 2px 4px 0 #C1DBD9, 5px 7px rgba(0,0,0,0.04);
    height: 40px;
    width: 40px;
  }

  .Button--utility {
    background-color: #fff;
    background-size: 50%;
    box-shadow: 2px 4px 0 #C1DBD9, 5px 7px rgba(0,0,0,0.04);
    height: 50px;
    width: 50px;

    @media (max-width: 800px) {
      background-color: #EFEFEF;
    }
  }

  .Button--primary {
    background-color: #F7C243;
    box-shadow: 2px 4px 0 #E59644, 5px 7px rgba(0,0,0,0.04);
  }

  .Button--trash {
    background-image: url(img/icons/trash.svg);
    margin-bottom: 30px;
  }

  .Button--eraser {
    background-image: url(img/tools/tool_eraser.svg);
    background-size: contain;
  }

  .Button--snowglobe {
    background-image: url(img/icons/snow.svg);
    background-size: 60%;
    height: 65px;
    width: 65px;
  }

  .Button--next {
    background-image: url(img/icons/next.svg);
  }

  .Button--prev {
    background-image: url(img/icons/previous.svg);
  }

  .Button--redo {
    background-image: url(img/icons/redo.svg);
    height: 40px;
    width: 40px;
  }

  .Button--undo {
    background-image: url(img/icons/undo.svg);
    height: 40px;
    width: 40px;
  }

  .Button--save {
    background-color: #B457C1;
    background-image: url(img/icons/save.svg);
    box-shadow: 2px 4px 0 #AB44BB, 5px 7px rgba(0,0,0,0.04);
    height: 40px;
    margin-top: 30px;
    width: 40px;
  }

  .Button--rotate {
    background-image: url(img/icons/rotate_clock.svg);
    background-size: 45%;
  }

  .Button--rotate-counter {
    background-image: url(img/icons/rotate_counter_clock.svg);
    background-size: 45%;
  }
}
