$roller-names: "checkered", "diagonal", "horizontal", "polkadots", "snowflakes", "trees", "vertical";

##{$name} {
  // MOBILE CURRENT TOOL
  .Tools-display[data-current-category="roller"] {
    pointer-events: auto;

    .Tools-display-outer {
      background-color: #A341B7;
      border-radius: 0;
      height: 100%;
      margin: 0 auto;
      width: 100%;
    }

    .Tools-display-inner {
      background-size: cover;
      height: 70px;
      width: 70px;
    }

    @each $current-roller in $roller-names {
      &[data-current-tool="roller-#{$current-roller}"] {
        .Tools-display-inner {
          background-image: url(img/patterns/#{$current-roller}.svg);
        }
      }
    }
  }

  // TOOLBAR
  [data-tool-category="roller"] {
    .Tool {
      background-image: url(img/tools/tool_roller_regular.svg);
      background-position: center 250%;
      background-repeat: no-repeat;
      background-size: 80% 80%;
      position: relative;

      &::before {
        background-position: top right;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 32%;
        content: '';
        height: 64%;
        left: 23%;
        position: absolute;
        transform: rotate(-90deg);
        width: 42%;
        z-index: -1;
      }
    }

    .Tool--selected {
      opacity: 0.5;
    }
  }

  .Tool {
    @each $current-roller in $roller-names {
      &--roller-#{$current-roller}::before {
        background-image: url(img/patterns/#{$current-roller}.svg);
      }
    }
  }
}
