##{$name} {
  .u-above-mobile {
    @media (max-width: $mobile-width) {
      display: none !important;
    }
  }

  .u-only-mobile {
    display: none !important;

    @media (max-width: $mobile-width) {
      display: block !important;
    }
  }

  .u-hidden {
    display: none !important;
  }
}
