#yulelog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background: #333;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#standby {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .spacer {
    height: 300px;
    max-height: 40vh;
    display: flex;
    align-items: center;
  }

  .actions {
    text-align: center;
  }

  color: #ad00ad;
  font-weight: 500;

  a,
  .Button {
    &[hidden] {
      display: none !important;
    }
  }

  a:not(.Button) {
    display: block;
    margin: 12px;
    color: inherit;
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

$name: 'standby';
$shared: '../shared/';
@import "../shared/sass/_button.scss";


.countdown {
  display: flex;
  color: white;

  &[hidden] {
    display: none;
  }

  .counter-box {
    margin: 0 4px;
    width: 240px;
    height: 240px;
    padding: 32px;
    box-sizing: border-box;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yNTYgMzQ3LjYgOTguNCA5OC40Ij48c3R5bGU+LnN0MHtmaWxsOiNlYTMzNjN9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTE5NC40IDM1Ni4yYzMuMS4xIDYtLjEgOC43LS40IDUuNC0uNiAxMi40LTEuMyAxNi41IDMuNCA0LjcgNC4xIDQuMSAxMSAzLjQgMTYuNS0uMyAyLjctLjUgNS42LS40IDguNy4xIDcuNCAzLjQgMTEuMyA4LjYgMTIuNC01LjMgMS4xLTguNSA1LTguNiAxMi40LS4xIDMuMS4xIDYgLjQgOC43LjYgNS41IDEuMyAxMi40LTMuNCAxNi41LTQuMSA0LjctMTEgNC4xLTE2LjUgMy40LTIuNy0uMy01LjYtLjUtOC43LS40LTcuNC4xLTExLjMgMy40LTEyLjQgOC42LTEuMS01LjMtNS04LjYtMTIuNC04LjYtMy4xLS4xLTYgLjEtOC43LjQtNS41LjYtMTIuNCAxLjMtMTYuNS0zLjQtNC43LTQuMS00LTExLjEtMy40LTE2LjUuMy0yLjcuNS01LjYuNC04LjctLjEtNy40LTMuNC0xMS4zLTguNi0xMi40IDUuMi0xLjEgOC41LTUgOC42LTEyLjQuMS0zLjEtLjEtNi0uNC04LjctLjYtNS40LTEuMy0xMi40IDMuNC0xNi41IDQuMS00LjcgMTEtNC4xIDE2LjUtMy40IDIuNy4zIDUuNi41IDguNy40IDcuNC0uMSAxMS4zLTMuMyAxMi40LTguNiAxIDUuMyA1IDguNSAxMi40IDguNnoiLz48L3N2Zz4=) center/contain no-repeat;
    filter: drop-shadow(12px 8px 0px rgba(0, 0, 0, 0.25));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .main {
      font-size: 92px;
      font-weight: 700;
      text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.125);
    }

    .bottom {
      position: absolute;
      bottom: 32px;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 22px;
      letter-spacing: 2px;
      text-transform: uppercase;
      line-height: 32px;
      font-weight: 900;
    }
  }

  @media (max-width: (768px - 1px)) {
    .counter-box {
      width: 104px;
      height: 104px;
      margin: 0 1px;
      filter: drop-shadow(6px 4px 0px rgba(0, 0, 0, 0.25));

      .main {
        font-size: 44px;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.125);
      }

      .bottom {
        line-height: 16px;
        font-size: 10px;
        letter-spacing: 1px;
        bottom: 12px;
      }
    }
  }
}


#player {
  display: block;
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 200px;
  min-width: 200px;
}
#hider {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

fancy-countdown {
  pointer-events: none;
}

.game-link {
  line-height: 2em;

  &:not([href]) {
    display: none !important;
  }
}