@include keyframes(santaMagic) {
  0% {
    background-position: 0 0;
  }

  6.25% {
    background-position: 0 -152px;
  }

  12.5% {
    background-position: 0 -304px;
  }

  18.75% {
    background-position: 0 -456px;
  }

  25% {
    background-position: 0 -608px;
  }

  31.25% {
    background-position: 0 -456px;
  }

  37.5% {
    background-position: 0 -304px;
  }

  43.75% {
    background-position: 0 -152px;
  }

  50% {
    background-position: 0 0;
  }

  56.25% {
    background-position: 0 -152px;
  }

  62.5% {
    background-position: 0 -760px;
  }

  68.75% {
    background-position: 0 -912px;
  }

  75% {
    background-position: 0 -1064px;
  }

  81.25% {
    background-position: 0 -912px;
  }

  87.5% {
    background-position: 0 -760px;
  }

  93.75% {
    background-position: 0 -152px;
  }
}

@include keyframes(santaDeliver) {
  0% {
    background-position: 0 0;
  }
  30% {
    background-position: 0 -152px;
  }
  40% {
    background-position: 0 -304px;
  }
  50% {
    background-position: 0 -456px;
  }
  60% {
    background-position: 0 -608px;
  }
  70% {
    background-position: 0 -760px;
  }
  80% {
    background-position: 0 -912px;
  }
  90% {
    background-position: 0 -1064px;
  }
  100% {
    background-position: 0 0;
  }
}