$tabletBreakpoint: 1024px;
$mobileBreakpoint: 660px;

@media (min-width: 1px) and (max-width: $tabletBreakpoint) {
  ##{$name} {
    .sceneboard {
      height: auto;
      right: 0;
      bottom: 14px;
      width: 204px;
      left: auto;

      .back, .sceneboard-back {
        display: none;
      }
    }
  }
}

@media (min-width: 1px) and (max-width: $mobileBreakpoint) {
  ##{$name} {
    #city-stats {
      display: none;
    }

    city-feed {
      margin-top: 151px;
    }

    #status-bar {
      top: auto;
      bottom: 65px;
      left: 20px;
      right: 20px;

      #back-to-village {
        display: none;
      }

      ul {
        li {
          border-bottom: 0;
          display: none;

          &:first-child {
            border-top: 0;
          }

          &:last-of-type {
            background: none;
          }

          .stat-large {
            font-weight: 400;
            font-size: 16px;
            margin-left: 16px;
            line-height: 16px;
          }

          &.show {
            display: block;
          }
        }
      }
    }
  }
}
