@import "../../shared/sass/_mixins.scss";

.santa-sleigh, .santa-presents, .santa-magic {
  position: absolute;
  cursor: pointer;
  transform: translateZ(0);
}

.santa-presents {
  cursor: pointer;
  position: absolute;
  $width: 150px;
  $height: 144px;
  margin-top: -$height;
  margin-left: -($width / 2);
  width: $width;
  height: $height;

  div {
    visibility: hidden;
    width: $width;
    height: $height;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 112%;

    &.active {
      visibility: visible;
    }
  }

  @for $i from 1 through 8 {
    :nth-child(#{$i}) {
      background-image: url(img/santa_presents_#{$i}.svg);
    }
  }
}

.santa-magic {
  cursor: pointer;
  position: absolute;
  $width: 94px;
  $height: 120px;
  margin-top: -$height;
  margin-left: -($width / 2);
  width: $width;
  height: $height;

  div {
    visibility: hidden;
    width: $width;
    height: $height;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 175%;

    &.active {
      visibility: visible;
    }
  }

  $steps: 1 2 3 4 5 4 3 2 1 6 7 8 9 8 7 6;
  @for $i from 1 through length($steps) {
    :nth-child(#{$i}) {
      background-image: url(img/santa_magic_#{nth($steps, $i)}.svg);
    }
  }
}

.santa-sleigh {
  $height: 68px;
  $width: 84px;
  margin-top: -56px;
  margin-left: -($width / 2);
  width: $width;
  height: $height;

  &:after {
    content: "";
    background: url(img/santa_effects.svg) 50% 0 no-repeat;
    position: absolute;
    width: $width;
    height: 44px;
    top: 57px;
    z-index: 1;
  }

  div {
    width: $width;
    height: $height;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  :nth-child(1), :nth-child(3) {
    animation-name: sleighBounce;
  }

  :nth-child(2) {
    animation-name: santaBounce;
  }

  &.n {
    :nth-child(2) {
      background-image: url(img/sleigh/sleigh-b-santa.svg);
      background-size: 85%;
    }
    :nth-child(3) {
      background-image: url(img/sleigh/sleigh-b-front.svg);
      background-size: 85%;
    }
  }

  &.ne {
    :nth-child(2) {
      background-image: url(img/sleigh/sleigh-br-santa.svg);
      background-size: 85%;
    }
    :nth-child(3) {
      background-image: url(img/sleigh/sleigh-br-front.svg);
      background-size: 85%;
    }
  }

  &.e {
    :nth-child(2) {
      background-image: url(img/sleigh/sleigh-r-santa.svg);
      background-size: 70%;
    }
    :nth-child(3) {
      background-image: url(img/sleigh/sleigh-r-front.svg);
      background-size: 70%;
    }
  }

  &.se {
    :nth-child(1) {
      background-image: url(img/sleigh/sleigh-fr-back.svg);
      background-size: 85%;
    }
    :nth-child(2) {
      background-image: url(img/sleigh/sleigh-fr-santa.svg);
      background-size: 85%;
    }
    :nth-child(3) {
      background-image: url(img/sleigh/sleigh-fr-front.svg);
      background-size: 85%;
    }
  }

  &.s {
    :nth-child(1) {
      background-image: url(img/sleigh/sleigh-fl-back.svg);
      background-size: 82%;
    }
    :nth-child(2) {
      background-image: url(img/sleigh/sleigh-fl-santa.svg);
      background-size: 82%;
    }
    :nth-child(3) {
      background-image: url(img/sleigh/sleigh-fl-front.svg);
      background-size: 82%;
    }
  }

  &.sw {
    :nth-child(1) {
      background-image: url(img/sleigh/sleigh-fl-back.svg);
      background-size: 82%;
    }
    :nth-child(2) {
      background-image: url(img/sleigh/sleigh-fl-santa.svg);
      background-size: 82%;
    }
    :nth-child(3) {
      background-image: url(img/sleigh/sleigh-fl-front.svg);
      background-size: 82%;
    }
  }

  &.w {
    :nth-child(2) {
      background-image: url(img/sleigh/sleigh-l-santa.svg);
      background-size: 82%;
    }
    :nth-child(3) {
      background-image: url(img/sleigh/sleigh-l-front.svg);
      background-size: 82%;
    }
  }

  &.nw {
    :nth-child(2) {
      background-image: url(img/sleigh/sleigh-bl-santa.svg);
      background-size: 85%;
    }
    :nth-child(3) {
      background-image: url(img/sleigh/sleigh-bl-front.svg);
      background-size: 85%;
    }
  }
}

@media (min-width: 1px) and (max-width: $mobileBreakpoint) {
  .santa-sleigh, .santa-presents, .santa-magic {
    transform: scale(0.8);
    transform-origin: 50% 100%;
  }
}
