$name: 'module-nav';

@import "compass/css3/transform";
@import "compass/css3/transition";
@import "../../scenes/shared/sass/_mixins.scss";

$navMarkerSpriteGap: 120px;
$navMarkerSpriteUnlockedY: -120px;

$animationDuration: 300ms;
$markerAnimationDuration: 583ms;
$markerTranslateDistance: 2000px;

$headerPadding: 30px;
$backButtonWidth: 160px;

$headerFooterColor: #6f41a4;
$cardColor: #6541a4;

##{$name} {
  #tracker-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #6541a2;
    overflow: visible;
    z-index: 2000;
    @include transition(transform 500ms ease);
    @include transform(translate3d(0, -500px, 0));

    $padding: 20px;

    #tacker-nav-items {
      margin: 0 auto;
      text-align: center;
      padding: 11px 0;

      h2 {
        background: #6541a2;
        color: #fff;
        display: inline;
        position: relative;
        z-index: 2;
        padding: 0 11px;
        margin: $padding 0;
        font-size: 19px;
      }

      hr {
        height: 1px;
        background: #774bae;
        position: relative;
        z-index: 1;
        top: -18px;
        width: 400px;
        border: 0;
      }
    }

    #tracker-nav-list {
      overflow: auto;
      max-height: 360px;
    }

    #tracker-nav-close-btn {
      position: absolute;
      right: 20px;
      bottom: -30px;
    }

    $cardWidth: 141px;

    .card {
      width: $cardWidth;
      position: relative;
      font-weight: 600;
      font-size: 14px;
      box-sizing: border-box;
      overflow: hidden;
      margin: 11px $padding;

      a {
        text-decoration: none;
        text-align: center;
        color: #b756c5;

        .icon {
          background-size: 101px 101px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          width: $cardWidth;
          height: $cardWidth;
          position: relative;
          margin: 0 auto;
        }
      }

      &.card-trivia {
        a {
          color: #00be5d;
        }

        .icon {
          background-image: url(img/tracker-trivia-icon.svg);
        }
      }

      &.card-reindeer {
        .icon {
          background-image: url(img/tracker-reindeer-icon.svg);
        }
      }

      &.card-tracker {
        a {
          color: #25c5d9;
        }

        .icon {
          background-size: 141px 141px;
          background-image: url(img/tracker-route-icon.svg);
        }
      }

      &.card-village {
        a {
          color: #25c5d9;
        }
        .icon {
          background-size: 141px 141px;
          background-image: url(img/tracker-village-icon.svg);
        }
      }

      &.card-latlng {
        .icon {
          background-image: url(img/tracker-latlng-icon.svg);
        }
      }

      &.card-glider {
        .icon {
          background-image: url(img/tracker-glider-icon.svg);
        }
      }
    }
  }

  #global-nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;

    #nav-onthego {
      margin: 40px auto;
      max-width: 660px; //880px;

      .onthego-item {
        text-align: center;
        width: 170px;
        float: left;
        margin: 0 25px;
        color: #fff;

        a {
          color: #fff;
          text-decoration: none;
        }

        .logo {
          margin: 0 auto;
          background-image: url(img/onthego.png);
          background-repeat: no-repeat;
          background-size: 594px 147px;
          @include media-hdpi(2) {
            background-image: url(img/onthego_2x.png);
          }
          width: 147px;
          height: 147px;
        }
      }

      .onthego-android .logo {
        background-position: 0 0;
      }

      .onthego-chrome .logo {
        background-position: -149px 0;
      }

      .onthego-iphone .logo {
        background-position: -299px 0;
      }

      .onthego-cast .logo {
        background-position: -447px 0;
      }
    }

    #global-nav-btn, #tracker-nav-open-btn {
      z-index: 10000;
      position: absolute;
      top: 15px;
      right: 20px;
      transform: translateZ(0); // promote layer
      cursor: pointer;
      @include transition(transform 500ms ease);
    }

    #back-to-tracker-text {
      position: absolute;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      font-weight: 500;
      right: 152px;
      top: 28px;
      line-height: 1.2;
    }

    #back-to-tracker {
      z-index: 1000;
      position: absolute;
      top: 23px;
      right: 95px;
      background: rgb(171,71,188);
    }

    #global-nav-header {
      background: $cardColor;
      text-align: center;
      height: 84px;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      @include transition(transform $animationDuration);
      @include transform(translateY(-84px));

      .back {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        width: $backButtonWidth;
        line-height: 84px;
        padding: 0 0 0 $headerPadding;
        background: url(img/village-nav-bg.svg) 50% 100%/204px 45px no-repeat,
        url(img/back-arrow.svg) 10px 50%/31px 31px no-repeat;
      }

      paper-tabs {
        height: 100%;
        width: 100%;
        max-width: 800px;
        font-size: 16px;
        color: #fcdb32;
        padding: 0 $headerPadding + $backButtonWidth;

        paper-tab {
          cursor: pointer;
          &.core-selected {
            color: #fff;
            opacity: 1;
          }
        }
      }
    }

    #global-nav-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $headerFooterColor;
      text-align: center;
      color: #fff;
      @include transition(transform $animationDuration);
      @include transform(translateY(41px));

      a {
        text-decoration: none;
        color: #fff;
        line-height: 41px;
      }
    }


    #global-nav-body {
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      #nav-calendar {
        $cardWidth: 160px;

        max-width: $cardWidth * 7;
        margin: 20px auto 90px auto;
        position: static;
        box-shadow: 12px 12px $headerFooterColor;

        $categories: 'calendar', 'play', 'watch', 'learn', 'scene';
        @each $category in $categories {
          &.#{$category} {

            .card.#{$category} {
              &::before, &::after {
                visibility: visible;
              }
            }

            .menu-marker.#{$category},
            .category {
              visibility: visible;
            }
          }
        }

        div {
          $markerWidth: 100px;
          .card {
            width: $cardWidth;
            height: $cardWidth;
            border: 1px solid #7847b2;
            border-width: 2px 0 0 2px;
            background: $cardColor;
            position: relative;
            font-weight: 600;
            font-size: 14px;
            box-sizing: border-box;
            overflow: hidden;

            &::before {
              position: absolute;
              top: 10px;
              left: 10px;
              content: attr(data-index) '';
              color: rgb(86,45,153);
              visibility: hidden;
            }

            &::after {
              content: attr(data-category) '';
              text-transform: capitalize;
              color: #fff;
              position: absolute;
              width: 100%;
              left: 0;
              bottom: 5px;
              text-align: center;
              visibility: hidden;
              display: none;
            }

            @for $i from 1 through 24 {
              &.iced {
                .marker#{$i} {
                  background-image: url(img/village-menu-numbers-#{$i}.svg) !important;
                }
              }
            }

            &[data-index="1"] {
              $smallMarkerWidth: 54px;

              a {
                width: $smallMarkerWidth;
                height: $smallMarkerWidth;
                position: absolute;

                .menu-marker {
                  width: 100%;
                  height: 100%;
                }

                &::before {
                  width: $smallMarkerWidth;
                  height: $smallMarkerWidth;
                  top: 50%;
                  left: 50%;
                  margin-top: -$smallMarkerWidth/2;
                  margin-left: -$smallMarkerWidth/2;
                }

                &:nth-of-type(1) {
                  left: 12px;
                  top: $cardWidth / 2 - $smallMarkerWidth / 2;
                  .menu-marker {
                    background-image: url(img/village-menu-icons-1-airport.svg);
                  }
                }
                &:nth-of-type(2) {
                  left: $cardWidth / 2 - $smallMarkerWidth / 2;
                  top: 10px;
                  .menu-marker {
                    background-image: url(img/village-menu-icons-1-video.svg);
                  }
                }
                &:nth-of-type(3) {
                  right: 10px;
                  top: $cardWidth / 2 - $smallMarkerWidth / 2;
                  .menu-marker {
                    background-image: url(img/village-menu-icons-1-racer.svg);
                  }
                }
                &:nth-of-type(4) {
                  bottom: 10px;
                  left: $cardWidth / 2 - $smallMarkerWidth / 2;
                  .menu-marker {
                    background-image: url(img/village-menu-icons-1-playstore.svg);
                  }
                }
              }
            }

            a {
              text-decoration: none;

              &::before {
                position: absolute;
                content: '';
                background-color: rgb(93, 59, 149);
                width: $markerWidth;
                height:  $markerWidth;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                margin-top: -$markerWidth/2;
                margin-left: -$markerWidth/2;
              }

              .menu-marker {
                background-size: contain;
                background-repeat: no-repeat;
                width: $markerWidth;
                height: $markerWidth;
                position: relative;
              }
            }
          }

          &.iced {
            .menu-marker {
              width: $markerWidth + 8px !important;
              height: $markerWidth + 8px !important;
              top: -4px;
              right: -4px;
            }

            a {
              cursor: default;
            }
          }

          #spacer4, #spacer5 {
            display: none;
          }
        }
      }
    }

    #global-nav-content {
      top: 85px;
      bottom: 41px;
      left: 0;
      right: 0;
      position: absolute;
      overflow: hidden;
      overflow-y: auto;
      overflow-x: hidden;
    }

    &.opening,
    &.closing {
      overflow: hidden;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      #global-nav-body {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        display: block;
        background: #7847b2;
        @include transition(opacity $animationDuration);
      }
    }

    &.opened,
    &.closing {
      left: 0;
      bottom: 0;
    }

    &.opening {
      .menu-marker {
        -webkit-transform: translateY($markerTranslateDistance);
        transform: translateY($markerTranslateDistance);
        -webkit-transition: -webkit-transform $markerAnimationDuration ease;
        transition: transform $markerAnimationDuration ease;
      }

      #tracker-nav-open-btn {
        @include transform(translate3d(0, -100px, 0));
      }
    }

    &.opened {
      #global-nav-body {
        opacity: 1;
      }

      #global-nav-header,
      #global-nav-footer {
        @include transform(translateY(0));
      }

      .menu-marker {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform $markerAnimationDuration ease;
        transition: transform $markerAnimationDuration ease;
      }

      #tracker-nav {
        @include transform(translate3d(0, 0, 0));
      }

      @for $i from 1 through 24 {
        .marker#{$i} {
          @include transition-delay(42ms * $i);
        }
      }
    }

    &.closing {
      #global-nav-header,
      #global-nav-body {
        @include transition-delay(0ms + (24 * 42));
      }

      .menu-marker {
        -webkit-transform: translateY($markerTranslateDistance);
        transform: translateY($markerTranslateDistance);
        -webkit-transition: -webkit-transform 883ms ease;
        transition: transform 883ms ease;
      }

      @for $i from 1 through 24 {
        .marker#{$i} {
          @include transition-delay(42ms * (24 - $i));
        }
      }
    }

    &.closed {
      overflow: visible;
      #global-nav-body,
      #global-nav-footer {
        display: none;
      }
      bottom: auto;
      left: auto;
    }
  }

  // TODO(lukem): Add a class to the body if the map is visible so the
  // footer can shift above the copyrights
  .bump #footer {
    bottom: 21px;
  }

  .touch {
    .nav-flag {
      display: none;
    }
  }

  #site-nav {
    position: absolute;
    z-index: 1000000000; // Above everything!
    bottom: 0;
    left: 20px;
    min-width: 204px;
    max-width: 330px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
    border-radius: 4px 4px 0 0;
    background: #22ae28;

    h2 {
      margin: 0;
      padding: 12px 16px;
      font-family: 'Lobster', sans-serif;
      font-size: 28px;
      line-height: 35px;
      font-weight: normal;
      color: #fff;
      text-align: center;
      border-radius: 4px 4px 0 0;
    }

    .share {
      height: 36px;
      border-top: 1px solid rgba(0,0,0,0.2);

      ul {
        margin: 0;
        padding: 0;

        li {
          float: left;
          width: 33%;
          overflow: hidden;
          list-style-type: none;

          a {
            text-decoration: none;
            display: block;
            font-size: 0;
            line-height: 36px;
            text-align: center;
            overflow: hidden;
            position: relative;
            height: 36px;

            i {
              position: absolute;
              overflow: hidden;
              text-indent: 1000em;
              white-space: nowrap;
              left: 50%;
              top: 8px;
            }

            &.gplus i {
              width: 26px;
              height: 25px;
              margin-left: -13px;
              background: url(img/plus.svg) no-repeat;
            }

            &.fb i {
              width: 11px;
              height: 23px;
              margin-left: -5px;
              background: url(img/facebook.svg) no-repeat;
            }

            &.twitter i {
              width: 25px;
              height: 21px;
              margin-left: -12px;
              background: url(img/twitter.svg) no-repeat;
            }
          }

          &:first-child a {
            border-right: 1px solid rgba(0,0,0,0.2);
          }

          &:last-child a {
            border-left: 1px solid rgba(0,0,0,0.2);
          }
        }
      }
    }
  }

  #sound {
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 10000;

    a {
      width: 40px;
      height: 45px;
      float: left;
      background-color: #22b129;
      border-radius: 20px 0 0 20px;
      i {
        margin: 7px 0 0 7px;
        float: left;
        width: 31px;
        height: 30px;
        background: url(img/sound-on.svg) 50% 50% no-repeat;
      }

      &.off {
        i {
          background: url(img/sound-off.svg) 50% 50% no-repeat;
        }
      }
    }
  }
}

@import "sass/_responsive.scss";
