
body {
  margin: 0;
  background: url(img/bg-complex.png) no-repeat center/cover;
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
}

footer {
  background: white;
  padding: 16px;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: 5vh;
  box-shadow: inset 0 -12px 12px -12px rgba(0, 0, 0, 0.25);

  maker-elf {
    width: 100%;
  }

  .mid {
    align-self: stretch;  // actually limits this size
    flex-grow: 1;
    max-width: 80vw;
  }
  
  .buttons {
    width: 20vw;
    min-width: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;

    santa-button {
      width: 90px;
      height: 90px;
      margin: 12px 0;
      font-size: 4em;
      display: inline-block;
    }
  }
}

@media (max-width: 500px) {
  body {
    overflow-y: auto;
    min-height: 100vh;
  }
  main {
    min-height: 60vh;

    .buttons {
      // TODO(samthor): restore
      display: none;
    }
  }
  footer {
    padding: 0;
  }
}