
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

footer {
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

main {
  background: url(img/bg-complex.png) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: 5vh;
  box-sizing: border-box;

  maker-elf {
    width: 100%;
  }

  .mid {
    align-self: stretch;  // actually limits this size
    flex-grow: 1;
    max-width: 80vw;
  }
  
  .buttons {
    width: 20vw;
    min-width: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;

    santa-button {
      width: 90px;
      height: 90px;
      margin: 12px 0;
      font-size: 4em;
      display: inline-block;
    }
  }
}

@media (max-width: (768px - 1px)) {
  body {
    overflow-y: auto;
    min-height: 100vh;
  }
  main {
    height: 50vh;
    position: fixed;
    width: 100%;

    .buttons {
      // TODO(samthor): restore
      display: none;
    }
  }
  footer {
    margin-top: 50vh;
    padding: 0;
    z-index: auto;

    maker-control {
      min-height: 50vh;
    }
  }
}