
body {
  margin: 0;
  background: url(img/bg-complex.png) no-repeat center/cover;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .buttons {
    width: 20vw;
    min-width: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;

    santa-button {
      width: 90px;
      height: 90px;
      margin: 12px 0;
      font-size: 4em;
      display: inline-block;
    }
  }
}
