$name: 'module-windtunnel';

@import "../shared/sass/penner-easing";

@import "sass/animations";

##{$name} {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #58595b;

  .main {
    $height: 575px;

    position: absolute;
    z-index: 1;

    top: 50%;
    left: 0;
    right: 0;

    margin-top: -$height / 2;

    height: $height;

    background: bottom url('img/base-back.png') repeat-x #929497;

    .machine {
      $offset: -12px;

      position: relative;

      top: $height - 526px;

      margin-left: 50%;
      transform: translate(-50%);

      width: 1195px;
      height: 526px;

      background: url('img/machine-base.png') no-repeat;

      .rudolf-wrap {
        position: absolute;
        z-index: 11;

        animation: 1.5s #{$name}-hover infinite alternate ease-in-out;

        .rudolf {

          cursor: pointer;

          .rudolf-light {
            position: absolute;

            width: 30px;
            height: 30px;

            opacity: 0;
            transition: opacity 0.5s $easeInQuad;

            background: url('img/rudolf-nose-light.png') no-repeat;

            &.litup {
              opacity: 0.6;
            }
          }
        }

        &--normal {
          top: 110px;
          left: 460px;

          width: 112px + 50px;
          height: 144px + 60px;

          background: right bottom url('img/rudolf-shadow.png') no-repeat;

          .rudolf {
            width: 112px;
            height: 144px;

            background: 0 0 url('img/rudolf.png') no-repeat;

            .rudolf-light {
              top: 33px;
              right: 38px;
            }
          }
        }

        &--serious {
          top: 110px;
          left: 460px;

          width: 124px + 50px;
          height: 126px + 78px;

          background: right bottom url('img/rudolf-serious-shadow.png') no-repeat;

          .rudolf {
            position: absolute;

            top: 19px;

            width: 124px;
            height: 126px;

            background: 0 0 url('img/rudolf-serious.png') no-repeat;

            .rudolf-light {
              top: 24px;
              right: -13px;
            }
          }
        }

        .parachute-wrap {
          position: absolute;

          top: 45px;
          left: -160px;

          width: 181px + 50px;
          height: 96px + 60px;

          .parachute,
          .parachute-shadow {
            position: absolute;

            width: 181px;
            height: 96px;

            background: 0 0 url('img/parachute.png') no-repeat;

            transform-origin: 100% 50%;
          }

          .parachute {
            z-index: 10;
          }

          .parachute-shadow {
            right: 12px;
            bottom: 0;

            width: 181px - 10px;

            background: 0 0 url('img/parachute-shadow.png') no-repeat;
          }
        }
      }

      .lift-wrap {
        position: absolute;
        z-index: 12;

        left: 410px;
        bottom: -5px;

        width: 194px + 50px;
        height: 264px;

        background: right 60px url('img/lift-shadow.png') no-repeat;

        .lift {
          width: 194px;
          height: 264px;

          background: 0 0 url('img/lift.png') no-repeat;
        }
      }

      .lights {
        position: absolute;

        top: -45px;
        left: 190px;

        width: 800px;
        height: 68px;

        .light {
          position: relative;
          float: left;

          margin: 0 60px;

          width: 80px;
          height: 100%;

          background: bottom url('img/light.png') no-repeat;

          &:after {
            content: "";
            position: absolute;
            left: 39px;
            top: -1000px;
            height: 1000px;
            width: 2px;
            background: #58595b;
          }
        }
      }

      .fan-base {
        position: absolute;
        z-index: 50;

        bottom: $offset;
        right: 195px;

        width: 278px;
        height: 427px;


        background: right 45px url('img/fan-shadow.png') no-repeat;

        .fan {
          position: absolute;

          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          background: url('img/fan-base.png');

          .threads {
            position: absolute;

            top: 5px;
            left: -30px;

            padding-top: 3px;

            width: 30px;
            height: 190px;

            overflow: hidden;

            @mixin thread($image-file, $height, $width, $margin-bottom, $margin-left) {
                margin-bottom: $margin-bottom;
                margin-left: $margin-left;

                width: $width;
                height: $height;

                background: url('img/' + $image-file) no-repeat;

                transform-origin: 100% 50%;
                animation: 100ms #{$name}-thread infinite alternate ease-in-out;

                &:nth-child(2n) {
                  background-position: 0 -1 * $height;

                  animation: 110ms #{$name}-thread infinite alternate-reverse ease-in-out;
                }

                &:nth-child(2n+1) {
                  animation: 120ms #{$name}-thread infinite alternate-reverse ease-in-out;
                }

                &:nth-child(3n) {
                  background-position: 0 -3 * $height;
                }

                &:nth-child(4n) {
                  background-position: 0 -2 * $height;
                }
            }

            .thread--low {
              @include thread("fan-threads-low.png", 30px, 14px, -12px, 18px);
            }

            .thread--med {
              @include thread("fan-threads-med.png", 20px, 24px, -2px, 9px);
            }

            .thread--high {
              @include thread("fan-threads-high.png", 10px, 35px, 7px, 0);
            }
          }

          .indicator-wrap {
            position: absolute;

            bottom: 86px;
            right: 30px;

            width: 93px;
            height: 15px;

            .indicator {
              position: absolute;

              bottom: 0px;
              left: 0px;

              width: 11px;
              height: 10px;

              transform: translateX(15px);
              transition: transform 1s $easeInOutBack;

              background: url('img/fan-indicator.png') no-repeat;
            }
          }

          .lever-wrap {
            position: absolute;

            bottom: 0;
            right: 28px;


            width: 100px;
            height: 100px;

            overflow: hidden;

            cursor: pointer;

            .lever {
              position: absolute;

              top: 16px;
              left: 41px;

              width: 16px;
              height: 67px;

              transform-origin: 50% 100%;
              transform: rotateZ(-35deg);
              transition: transform 1s $easeOutQuint;

              background: url('img/fan-lever-handle.png') no-repeat;
            }

            .lever-base {
              position: absolute;

              bottom: 0;
              left: 11px;

              width: 77px;
              height: 33px;

              background: url('img/fan-lever-base.png') no-repeat;
            }
          }
        }

        .controller {
          position: absolute;

          top: 208px;
          right: 53px;

          .elf {
            position: absolute;

            top: 0;
            left: 0;

            width: 44px;
            height: 96px;

            background: url('img/fan-controller.png');
          }

          .shadow {
            position: absolute;

            top: 28px;
            left: 45px;

            width: 43px;
            height: 89px;

            background: top right url('img/fan-controller-shadow.png');
          }
        }
      }

      .consoles {
        position: absolute;
        z-index: 15;

        bottom: $offset;
        left: 190px;

        width: 530px;
        height: 150px;

        background: 63px 40px url('img/wires.png') no-repeat;

        .console {
          position: relative;
          float: left;

          margin-right: 8px;

          width: 87px;
          height: 150px;

          background: url('img/consoles.png') no-repeat;

          .tapes {
            position: absolute;

            top: 10px;
            left: 8px;

            width: 66px;
            height: 31px;

            .tape {
              position: absolute;

              top: 0;
              left: 0;

              width: 31px;
              height: 31px;

              background: url('img/console-tape.png');

              animation: 2s #{$name}-spin infinite reverse linear;

              &:last-child {
                left: auto;
                right: 0;
              }
            }
          }

          &:before,
          &:after {
            content: "";
            position: absolute;
          }

          $elf-width: 34px;

          &:before {
            left: 50%;
            bottom: 0;

            z-index: 1;

            margin-bottom: -10px;
            margin-left: -$elf-width / 2;

            width: $elf-width;
            height: 114px;

            background: url('img/elfs.png');
          }

          &:after {
            top: 15px;
            right: -15px;

            width: 15px;
            height: 135px;

            background: rgba(0,0,0,.12);
          }

          &.c1 {

          }
          &.c2 {
            background-position: -87px * 1 0;

            .meters {
              position: absolute;

              top: 10px;
              left: 6px;

              width: 69px;
              height: 94px;

              background: 0 0;
              background-image: url('img/console-meters.png');

              animation: 1s #{$name}-consoleMeters infinite alternate-reverse step-start;
            }


            &:before {
              background-position: -$elf-width * 1 0;
            }
          }
          &.c3 {
            margin-right: 65px;

            background-position: -87px * 2 0;

            &:before {
              background-position: -$elf-width * 2 0;
            }
          }
          &.c4 {
            margin-right: 5px;

            background-position: -87px * 3 0;

            .graph {
              position: absolute;

              top: 4px;
              left: 14px;

              width: 54px;
              height: 48px;

              background: center center repeat-x;
              background-image: url('img/console-graph.png');

              animation: 4s #{$name}-consoleGraph infinite linear;
            }

            .blibs {
              position: absolute;

              top: 60px;
              left: 16px;

              width: 50px;
              height: 30px;

              background: center center;
              background-image: url('img/console-blibs.png');

              animation: 4s #{$name}-lights infinite step-start;
            }



            &:before {
              background-position: -$elf-width * 3 0;
            }
          }
          &.c5 {
            background-position: -87px * 5 0;

            .lights {
              position: absolute;

              top: 50px;
              left: 10px;

              width: 62px;
              height: 48px;

              background: 0 0 #000;
              background-image: url('img/console-lights.png');

              animation: 3s #{$name}-lights infinite step-start;
            }

            &:before {
              background-position: -$elf-width * 5 0;
            }
          }
        }
      }

      .snowblower {
        position: absolute;
        z-index: 50;

        bottom: $offset;
        right: 343px;

        margin-bottom: -3px;

        width: 165px;
        height: 243px;
        background: url('img/snowblower.png') no-repeat;

        .snowblower-switch {
          position: absolute;

          bottom: 50px;
          right: 23px;

          cursor: pointer;

          width: 32px;
          height: 52px;
        }

        .snowblower-switch--low {
          background: url('img/snowblower-switch.png') no-repeat -72px 0;
        }

        .snowblower-switch--med {
          background: url('img/snowblower-switch.png') no-repeat 0 0;
        }

        .snowblower-switch--high {
          bottom: 52px;

          background: url('img/snowblower-switch.png') no-repeat -36px 0;
        }
      }

      .snow-canvas {
        z-index: 49;

        pointer-events: none;
        user-select: none;

        position: absolute;

        bottom: $offset;
        right: 465px;

        width: 615px;
        height: 490px;
      }

      .screen-frame {
        position: absolute;
        z-index: 10;

        top: 49px;
        left: 120px;

        width: 935px;
        height: 389px;

        overflow: hidden;

        .screen {
          background-image: url('img/screen.png');
          width: 2805px;
          height: 389px;
        }

        .shadow {
          position: absolute;

          top: 1px;
          right: 0;
          bottom: 0;

          width: 14px;

          background: rgba(0,0,0,.10);
        }
      }

      .window {
        position: absolute;

        bottom: 202px;
        right: 31px;

        width: 69px;
        height: 96px;

        background: repeat-y;

        background-image: url('img/snow-layer1.png'),
                  url('img/snow-layer2.png'),
                  url('img/snow-layer3.png'),
                  url('img/snow-layer4.png');

        background-position: center 0%;

        animation: 4s #{$name}-snow infinite linear;
      }

      .cogs {
        position: absolute;

        top: -30px;
        right: 25px;

        width: 115px;
        height: 205px;

        background: 20px bottom url('img/cogs-base.png') no-repeat;

        .cog {
          position: absolute;

          top: -3px;
          left: -3px;

          &.small {
            width: 51px;
            height: 51px;

            background-image: url('img/cog-small.png');

            animation: 5s #{$name}-spin infinite linear;
          }

          &.big {
            top: 38px;
            left: 20px;

            width: 86px;
            height: 86px;

            background-image: url('img/cog-big.png');

            animation: 9.95s #{$name}-spin infinite reverse linear;
          }
        }
      }

      .wind-balloon {
        position: absolute;

        top: 200px;
        left: -3px;

        width: 99px;
        height: 32px;

        background: url('img/wind-balloon.png');

        transform-origin: 100% 50%;
      }
    }
  }

  .split {
    position: absolute;
    z-index: 0;

    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;

    background: #929497;
  }
}

@import "../shared/sass/responsive";
