$name: 'module-quickdraw';

##{$name} {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;

 .scene {
   background-color: #009933;

   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   font-size: 1px;
 }
}
