##{$name} {
  .goal {
    background: url(img/goal.png) no-repeat top right / contain;
    height: 415px;
    max-width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform 3s linear;
    width: 454px;
  }

  .goal--hidden {
    display: none;
    visibility: hidden;
  }
}
