##{$name} {
  .house {
    width: 1281px;
    height: 806px;
    position: absolute;
    left: 50%;
    top: 0%; // already taking 50% from the anchor
    margin-left: -641px;
    margin-top: -736px;

    background: transparent url('img/house.svg') 0 0 no-repeat;
  }
}
