##{$name} {
  .gameview {
    background-color: $color-gameview-background;
    background-image: url('img/quickdraw-background.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;

    .drawingCanvas {
      background-image: url('img/whiteboard.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      left: 15%;
      position: relative;
      top: 5.3%;
      width: 60% !important;
    }

    .machineview {
      display: flex;
      flex-flow: column;
      height: 80%;
      position: absolute;
      right: 5%;
      top: 20%;
      width: 20%;

      img {
        width: 100%;
      }
    }
  }
}
