##{$name} {
  .gameview {
    background-color: $color-gameview-background;
    background-image: url('img/quickdraw-background.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    position: relative;

    @media (max-width: 767px) {
      flex-flow: column;
      position: fixed;
      height: calc(100% - 44px);
    }

    .drawingCanvas {
      background-color: white;
      border-radius: 5px 5px 0 0;
      box-shadow: 15px 15px 0 0 rgba(0, 0, 0, 0.2);
      cursor: none;
      position: relative;
      width: 100% !important;

      @media (max-width: 767px) {
        border-radius: 0;
        height: 100% !important;
      }
    }

    .whiteboard {
      $width-whiteboard: 0.6;

      height: 0;
      left: 15%;
      padding-bottom: 58.52% * $width-whiteboard;
      position: relative;
      top: 5.3%;
      width: 100% * $width-whiteboard;

      @media (max-width: 767px) {
        left: initial;
        height: 70%;
        padding-bottom: 0 !important;
        padding: 0;
        top: 0;
        width: 100%;
      }

      &__bottom {
        background-color: #999999;
        border-radius: 0 0 12px 12px;
        bottom: 0;
        box-shadow: 15px 15px 0 0 rgba(0, 0, 0, 0.2);
        height: 12px;
        left: -20px;
        position: absolute;
        width: calc(100% + 40px);

        @media (max-width: 767px) {
          display: none;
        }
      }

      &__decorations {
        align-items: flex-end;
        bottom: 12px;
        display: flex;
        left: 70%;
        position: absolute;

        img:first-child {
          width: 15vw * $width-whiteboard;
        }

        img:last-child {
          width: 10vw * $width-whiteboard;
        }

        @media (max-width: 767px) {
          display: none;
        }
      }

      &__pen {
        background-image: url('img/pen.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        display: none;
        height: 25.5%;
        left: 0;
        position: absolute;
        width: 15%;

        @media (max-width: 767px) {
          display: none !important;
        }
      }

      &:hover {
        cursor: none;

        .whiteboard__pen {
          display: block;
        }
      }

      .gameview__clear-btn {
        cursor: pointer;
        left: 2%;
        position: absolute;
        top: 5%;
        z-index: 3;
      }
    }

    .machineview {
      bottom: 5%;
      display: flex;
      flex-flow: column;
      height: 80%;
      justify-content: flex-end;
      position: absolute;
      right: 2%;
      width: 20%;

      @media (max-width: 767px) {
        background-color: #009245;
        bottom: initial;
        height: 20%;
        left: initial;
        position: relative;
        right: initial;
        top: initial;
        width: 100%;
      }

      &__robot {
        width: 100%;

        @media (max-width: 767px) {
          display: none;
        }
      }

      &__bubble {
        background-image: url('img/speech-bubble.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 62%;
        position: relative;
        width: 100%;

        @media (max-width: 767px) {
          background-image: url('img/mobile-bubble.svg');
          margin-left: 16px;
          padding-bottom: 42%;
          width: calc(100% - 32px);
        }

        &-inner {
          left: 0;
          position: absolute;
          text-align: center;
          top: 40%;
          transform: translateY(-50%);
          width: 98%;

          @media (max-width: 767px) {
            top: 58%;
            width: 49.4%;
          }
        }
      }

      &__primary {
        font-family: Monaco, Consolas, "Lucida Console", monospace;
        font-size: 20px;
        font-size: 1.5vw;
        margin: 0;

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }

      &__secondary {
        color: $color-machine-secondary;
        font-family: Monaco, Consolas, "Lucida Console", monospace;
        font-size: 40px;
        font-size: 2.5vw;
        margin: 0;
        text-transform: uppercase;

        @media (max-width: 767px) {
          font-size: 25px;
        }
      }

    }

    .helping-elf {
      bottom: 5%;
      left: 5%;
      position: absolute;
      width: 15%;
      z-index: 2;

      @media (max-width: 767px) {
        background-color: #F9CE1D;
        bottom: initial;
        height: 10%;
        left: initial;
        position: relative;
        right: initial;
        top: initial;
        width: 100%;
      }

      img {
        width: 100%;

        @media (max-width: 767px) {
          display: none;
        }
      }

      &-inner {
        position: absolute;
        text-align: center;
        top: 55%;
        transform: translateY(-50%);
        width: 91.5%;

        @media (max-width: 767px) {
          display: flex;
          padding-left: 16px;
          position: relative;
        }
      }

      &__primary {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 0.16em;
        text-transform: uppercase;

        @media (max-width: 767px) {
          font-family: Monaco, Consolas, "Lucida Console", monospace;
          font-size: 15px;
          font-weight: normal;
          letter-spacing: initial;
        }

        &:after {
          content: ':';
        }
      }

      &__secondary {
        color: white;
        font-family: 'Lobster', sans-serif;
        font-size: 40px;
        font-size: 2.5vw;
        letter-spacing: 0.02em;

        @media (max-width: 767px) {
          font-family: Monaco, Consolas, "Lucida Console", monospace;
          font-size: 15px;
          font-weight: normal;
          letter-spacing: initial;
          padding-left: 3px;
          text-transform: uppercase;
        }
      }
    }

    &__clear-btn {
      background-color: #efefef;
      background-image: url('img/clear-btn.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 45%;
      border-radius: 50%;
      box-shadow: 0 4px 1px #C1DBD9, 3px 7px rgba(0, 0, 0, 0.04);
      height: 60px;
      outline: none;
      width: 60px;

      &:active {
        box-shadow: none !important;
        outline: none;
        transform: translateY(4px) translateZ(0);
        transition: transform 0.2s, box-shadow 0.2s;
      }
    }
  }
}
