##{$name} {
  .rounddetails-card {
    color: white;

    &__text {
      font-family: 'Lobster', sans-serif;
      font-size: 45px;
      line-height: 63px;
      letter-spacing: 0.2px;
      margin: 0;
    }

    &__drawing {
      background-color: white;
      box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.2);
      height: 0;
      padding-bottom: 73.6%;
      position: relative;
      width: 100%;

      &-container {
        width: 65%;
        margin: auto;
        margin-top: 50px;
      }
    }

    &__similar-drawings {
      &-container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
      }
    }

    &__similar-drawing {
      flex: 30% 0 0;

      > div {
        background-color: white;
        box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2);
        height: 0;
        padding-bottom: 73.6%;
        position: relative;
        width: 100%;
      }
    }

    &__gallery {
      &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &__gallery-drawing {
      flex: 30% 0 0;

      > div {
        background-color: white;
        box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2);
        height: 0;
        padding-bottom: 73.6%;
        position: relative;
        width: 100%;
        margin-top: 5vw;
      }
    }

    &__back-btn {
      position: sticky;
      top: 20px;
    }
  }
}
