$choose-mode-width-small: 80em;
$choose-mode-width-large: 45em;

##{$name} .choose-mode {
  color: #fff;
  background: #3F49A3;

  &__dialog {
    width: 80%;
    max-width: 80em;
  }

  &__title-wrapper {
    margin: 0 auto 4em auto;
  }

  &__title {
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 0.95;
    margin: 0;
    text-shadow : 6px 6px 0 rgba(0, 0, 0, 0.15);
  }

  &__option {
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    flex: 0 1 45%;
  }

  &__image {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  &__text {
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__description {
    font-size: 1em;
    line-height: 1.4;
    margin: 10px 0 20px 0;
    font-weight: normal;
  }

  &__bg {
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 50%;
    width: 50%;
    transform: translateX(50%);
    opacity: 1;
    transition: opacity 0.4s ease-in-out;

    &--teacher {
      background-image: url(img/mode-class.svg);
      margin-bottom: -5%;
      margin-left: -10%;
      padding-bottom: 60%;
      width: 60%;
    }

    &--freestyle {
      background-image: url(img/mode-freestyle.svg);
    }
  }

  &__go {
    color: #fff;
    font-family: 'Lobster', sans-serif;
    font-size: 7.3em;
    left: 50%;
    letter-spacing: -1.5px;
    line-height: 0.95;
    margin-left: -0.7em;
    opacity: 0;
    position: absolute;
    top: 0;
    text-shadow : 5px 5px 0 rgba(0, 0, 0, 0.15);
    transition: opacity 400ms 200ms ease-in-out;
  }

  @media (min-width: 680px) {
    &__title {
      font-size: 8em;
    }

    &__title-wrapper {
      margin: 0 auto 8em auto;
    }

    &__text {
      font-size: 1.5em;
    }

    &__description {
      font-size: 1em;
    }

    &__bg {
      width: 100%;
      padding-bottom: 100%;
      transform: none;

      &--teacher {
        margin-bottom: -10%;
        padding-bottom: 110%;
        width: 110%;
      }
    }

    &__grid {
      justify-content: space-between;
      display: flex;
      width: 100%;
    }

    &__title-wrapper {
      font-size: 0.7em;
    }

    &__option:hover {
      .choose-mode__bg {
        opacity: 0.7;
      }

      .choose-mode__santa {
        transform: translate3d(0, 0, 0);
      }

      .choose-mode__characters--left {
        transform: translate3d(0, 0, 0);
      }

      .choose-mode__characters--right {
        transform: translate3d(0, 0, 0);
      }

      .choose-mode__go {
        opacity: 1;
      }
    }
  }
}
