##{$name} {
  .obstacle {
    position: absolute;
    bottom: -2px;
    left: 0;
  }

  @mixin house($image-file) {
    width: $house-width;
    height: $house-height;
    background: url('img/' + $image-file) no-repeat;
  }

  @mixin roller-short($tree-height, $tree-width, $image-file) {
    width: $tree-width;
    height: $tree-height;
    
    &:before {
      position: absolute;
      content: '';
      width: $roller-short-width - 90px;
      left: ($tree-width - $roller-short-width - 50px + 81px) / 2;
      top: $tree-height + $background-rail-height - $stage-top - $stage-height - 1px;
      bottom: 140px;
      border-left: 5px solid $roller-wire-color;
      border-right: 5px solid $roller-wire-color;
      opacity: 0.7;
    }

    &:after {
      position: absolute;
      content: '';
      right: 0;
      left: 0;
      bottom: 0;
      top: $tree-height + $background-rail-height - $stage-top - $stage-height - 9px;
      background: url(img/ceiling-roller-short.svg) #{($tree-width - $roller-short-width - 50px)/2} 0/#{$roller-short-width} $roller-height no-repeat,
        url('img/' + $image-file) left bottom/$tree-width $tree-height no-repeat;
    }
  }

  .house--1 {
    @include house('hit-house-01.svg');
  }

  .house--2 {
    @include house('hit-house-02.svg');
  }

  .house--3 {
    @include house('hit-house-03.svg');
  }

  .house--4 {
    @include house('hit-house-04.svg');
  }

  .house--5 {
    @include house('hit-house-05.svg');
  }

  .house--6 {
    @include house('hit-house-06.svg');
  }

  .house--7 {
    @include house('hit-house-07.svg');
  }

  .house--8 {
    @include house('hit-house-08.svg');
  }

  .house--9 {
    @include house('hit-house-09.svg');
  }

  .house--10 {
    @include house('hit-house-10.svg');
  }

  .tree-short--1 {
    @include roller-short($tree-short-height, $tree-short-width, 'hit-tree-short-1.svg');
  }

  .tree-short--2 {
    @include roller-short($tree-short-height, $tree-short-width, 'hit-tree-short-2.svg');
  }

  .tree-tall--1 {
    @include roller-short($tree-tall-height, $tree-tall1-width, 'hit-tree-tall-1.svg');
  }

  .tree-tall--2 {
    @include roller-short($tree-tall-height, $tree-tall2-width, 'hit-tree-tall-2.svg');
  }

  .antenna {
    width: $antenna-width;
    height: $roof-obstacle-height;
    background: url(img/hit-roof-antenna.svg) no-repeat;
  }

  .chimney--1 {
    width: $chimney1-width;
    height: $roof-obstacle-height;
    background: url(img/hit-roof-chimney-1.svg) no-repeat;
  }

  .chimney--2 {
    width: $chimney2-width;
    height: $roof-obstacle-height;
    background: url(img/hit-roof-chimney-2.svg) no-repeat;
  }

  .watertower {
    width: $watertower-width;
    height: $roof-obstacle-height;
    background: url(img/hit-roof-water.svg) no-repeat;
  }

  .trashcan {
    overflow: hidden;
    width: $trashcan-width;
    height: $trashcan-height;

    .obstacle__inner {
      width: 2 * $trashcan-width;
      height: $trashcan-height;
      background: url(img/trashcan.svg) no-repeat;
    }
  }

  .trashcan--hit {
    .obstacle__inner {
      transform: translateX(-$trashcan-width);
    }
  }
}
