@mixin scale-scene($ratio) {
  .stage, .scenery {
    transform: scale($ratio);
  }

  .background {
    .wall {
      height: ($stage-top + $stage-height) * $ratio;
      
      .windows {
        height: $background-windows-height * $ratio;
      }
    }

    .rails {
      height: $rails-base-height * $ratio;
    }
  }
}

##{$name} {
  .game {
    @media (max-width: 1550px), (max-height: 926px) {
      @include scale-scene(0.9);
    }

    @media (max-width: 1400px), (max-height: 836px) {
      @include scale-scene(0.8);
    }

    @media (max-width: 1200px), (max-height: 717px) {
      @include scale-scene(0.7);
    }

    @media (max-width: 1100px), (max-height: 657px) {
      @include scale-scene(0.63);
    }

    @media (max-width: 1000px), (max-height: 597px) {
      @include scale-scene(0.55);
    }

    @media (max-width: 800px), (max-height: 478px) {
      @include scale-scene(0.4);
    }

    @media (max-width: 600px), (max-height: 358px) {
      @include scale-scene(0.35);
    }

    @media (max-width: 400px), (max-height: 239px) {
      @include scale-scene(0.25);
    }

    // for large viewport
    @media (min-width: 2180px) and (min-height: 1295px) {
      @include scale-scene(1.5);
    }
  }
}