$layer-width: 4000px;
$mountain-layer-width: 2000px;

$bottom-offset: 80px;

$reindeer-width: 275px;
$reindeer-height: 170px;
$reindeer-offset: 300px;

$present1-width: 30px;
$present1-height: 34px;
$present2-width: 22px;
$present2-height: 25px;
$carrot-width: 64px;
$carrot-height: 56px;
$candy-width: 56px;
$candy-height: 34px;

$boost-size: 60px;

$house-width: 400px;
$house-height: 270px;
$tree-short-width: 140px;
$tree-short-height: 268px;
$tree-tall1-width: 230px;
$tree-tall2-width: 186px;
$tree-tall-height: 466px;
$trashcan-width: 206px;
$trashcan-height: 128px;
$roof-obstacle-height: 112px;
$antenna-width: 88px;
$chimney1-width: 72px;
$chimney2-width: 56px;
$watertower-width: 65px;

$platform-width: 392px;
$platform-short-height: 270px;
$platform-tall-height: 538px;

$finish-width: 300px;
$finish-height: 380px;

$ground-z-index: 6;
$presents-z-index: 5;
$reindeer-z-index: 4;
$finish-z-index: 3;
$platform-short-z-index: 2;
