@import "sass/play";
@import "sass/header";

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Google Sans', 'Arial', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-user-select: none;
  user-select: none;
}

/** village styles */

.village {
  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent center bottom no-repeat;
    background-size: 2040px;
  }

  .layer1 {
    background-image: url(img/village/1.svg);
  }
  .layer2 {
    background-image: url(img/village/2.svg);
  }
  .layer3 {
    background-image: url(img/village/3.svg);
  }
  .layer4 {
    background-image: url(img/village/4.svg);
  }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // Below 1024, shrink the SVG to 0.6 size.
  @media (max-width: 1024px) {
    transform: scale(0.6);
    height: 1200px;
    width: (1024px / 0.6);
    left: calc(50vw - 512px);
    transform-origin: top left;
  }
}

/** top and UI, contains village */

#top {
  height: 1050px;

  // Shrink by 0.6.
  @media (max-width: 1024px) {
    height: 720px;
  }

  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #00C1F2 0%, #B4E5E6 17.71%, #FFF8BD 41.67%);
  color: white;
  flex-flow: column;
  box-shadow: 0 4px 0 #0003;
  z-index: 10;
  position: relative;
  max-width: 100vw;
  margin: 0 auto;

  santa-weather {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #newtoday {
    position: absolute;
    max-width: 1440px;
    bottom: 40px;
    padding-right: 32px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 0;
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column;

    santa-card {
      min-height: 180px;
      padding-bottom: 0 !important;
    }
  }
}

/** santa-card **/

santa-card {
  --radius: 20px;
  font-size: 22px;
}

@media (max-width: 600px) {
  modvil-module.android santa-card {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  santa-card {
    padding-bottom: 20px;
    height: 200px;
    max-width: 280px;
    width: 80%;
  }

  santa-card:nth-child(2n) {
    align-self: flex-end;
  }

  modvil-module:nth-child(2n) {
    santa-card {
      align-self: flex-end;
    }
    santa-card:nth-child(2n) {
      align-self: flex-start;
    }
  }
}

@media (min-width: 768px + 1px) {
  santa-card {
    min-width: 280px;  // matches 800 min-height
    width: 30%;  // 30% of 1440 is about ~420
    --ratio: 75%;
  }
}


@media (min-width: 1024px + 1px) {
  santa-card {
    font-size: 26px;
  }
}

/** modules **/

#modules {
  display: flex;
  overflow: hidden;
  justify-content: center;  // places <main> in middle even if it's too large

  .sidebar,
  main {
    flex-grow: 1;
  }

  // Don't load if <1440px.
  @media (min-width: 1440px) {
    .sidebar {
      &.left {
        background: url(img/margin-left.svg);
        background-position: top right;
      }
      &.right {
        background: url(img/margin-right.svg);
        background-position: top left;
      }
    }
  }

  main {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 1440px;
    max-width: 1440px;
  }
}

modvil-module {
  box-shadow: inset 0 4px 0 #0003;
  width: 100%;
  min-height: 800px;
  pointer-events: none;

  @media (max-width: 414px) {
    min-width: 414px;
  }

  &::after {
    display: block;
    content: '';
    padding-bottom: var(--module-ratio, 90%);
    box-shadow: inset 0 4px 0 #0003;
    position: relative;
  }

  &#movies {
    --module-ratio: 55.555555%;  // ~799.99999..., target is 800px
  }

  &#footer {
    --module-ratio: 69.4%;  // ~999.36, we want 1000px
  }
}


.cards {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
