@import "sass/play";
@import "sass/header";

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Google Sans', 'Arial', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-user-select: none;
  user-select: none;
}

santa-card {
  width: 240px;
  height: 150px;
  --radius: 20px;
}

/** village styles */

.village {
  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent center bottom no-repeat;
    background-size: 2040px;
  }

  .layer1 {
    background-image: url(img/village/1.svg);
  }
  .layer2 {
    background-image: url(img/village/2.svg);
  }
  .layer3 {
    background-image: url(img/village/3.svg);
  }

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // Below 1024, shrink the SVG to 0.6 size.
  @media (max-width: 1024px) {
    transform: scale(0.6);
    height: 1200px;
    width: (1024px / 0.6);
    left: calc(50vw - 512px);
    transform-origin: top left;
  }
}

/** top and UI, contains village */

#top {
  height: 1050px;

  // Shrink by 0.6.
  @media (max-width: 1024px) {
    height: 720px;
  }

  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #00C1F2 0%, #B4E5E6 17.71%, #FFF8BD 41.67%);
  color: white;
  flex-flow: column;
  box-shadow: 0 4px 0 #0003;
  z-index: 10;
  position: relative;
  max-width: 100vw;
  margin: 0 auto;

  santa-weather {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #newtoday {
    position: absolute;
    bottom: 40px;
    right: 5%;
    display: flex;
    width: 0;
    height: 0;
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column;

    span {
      text-transform: uppercase;
      background: #f9c329;
      line-height: 2em;
      letter-spacing: 1px;
      white-space: nowrap;
      border-radius: 4px;
      padding: 0 10px;
      position: relative;
      top: 1em;
      right: 16px;
      font-size: 12px;
      font-weight: bold;
      z-index: 100;
      box-shadow: 0 2px 0 #e7ad04;
      pointer-events: none;
    }

    santa-card {
      position: static;
      margin: 0 !important;
    }
  }
}

/** modules **/

#modules {
  display: flex;
  overflow: hidden;
  justify-content: center;  // places <main> in middle even if it's too large

  .sidebar,
  main {
    flex-grow: 1;
  }

  .sidebar {
    &.left {
      background: url(img/margin-left.svg);
      background-position: top right;
    }
    &.right {
      background: url(img/margin-right.svg);
      background-position: top left;
    }
  }

  main {
    min-width: 414px;
    max-width: 1440px;
    width: 100%;
  }
}

.module {
  position: relative;
  box-shadow: inset 0 4px 0 #0003;
  overflow: hidden;

  &::after {
    display: block;
    content: '';
    padding-bottom: 90%;  // this is 1296 and we want 1300; this is probably fine
  }

  background: transparent center no-repeat;
  background-size: contain;

  svg, img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
  }

  // TODO(samthor): We should load or unload these animations based on the screen size, rather
  // than just hiding them (!).
  @media (max-width: 768px - 1px) {
    svg {
      display: none;
    }
  }
}

.module#module--footer {
  &::after {
    padding-bottom: 69.4%;  // ~999.36, we want 1000px
  }
}

.cards {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

santa-card {
  width: 240px;
  height: 120px;
  min-height: 120px;
}

@media (max-width: 768px - 1px) {
  santa-card {
    max-width: 240px;
  }
}

@media (min-width: 768px) {
  santa-card {
    $w: 240px;
    $h: 180px;
    width: $w;
    height: $h;
    min-height: $h;
  }

  @media (min-width: 1024px) {
    santa-card {
      $w: 320px;
      $h: 240px;
      width: $w;
      height: $h;
      min-height: $h;
      font-size: 1.5em;
    }
  }
}

.module {
  santa-card {
    transform: translate(-50%, -50%);
  }
}