$toolbar-height: 55px;
$mobile-width: 768px;
$santa-color: #00c6ed;
$bar-color: #ff0160;
$bar-shadow-color: #e70058;

// nb. somewhat arbitrary: "Auf den Spuren des Weihnachtsmanns" plus misc takes up ~413px on left
// using Chrome Mac 54. Thus, 1024 - (413 * 2) == 198px.
$feature-width: 198px;

:host {
  display: block;
}

app-drawer {
  --app-drawer-width: 320px;
  --app-drawer-scrim-background: fade-out($santa-color, 0.4);
}

app-drawer {
  .drawer-content {
    height: 100%;
    overflow: auto;
  }

  app-toolbar.close-sidebar {
    cursor: pointer;
    font-family: 'Lobster';
    font-size: 2em;
    color: #ccc;
    pointer-events: auto;
    height: $toolbar-height + 40px;
    padding: 0 20px;

    paper-icon-button {
      margin-right: 6px;
    }

    @media (max-width: ($mobile-width - 1px)) {
      height: $toolbar-height + 20px;
      padding: 0 10px;
    }
  }
}

#feature-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 14px;
  pointer-events: none;
  z-index: 2000;

  @media (max-width: 600px) {
    justify-content: flex-end;
  }
}


#bar-holder {
  position: fixed;
  width: 100%;
  pointer-events: none;
}
#bar {
  position: relative;
  height: $toolbar-height;
  color: white;
  margin: 20px auto 0;
  width: 90%;
  box-sizing: border-box;
  padding-left: $toolbar-height;  // toolbar button is fixed here
  padding-right: 10px;
  transition: transform 0.25s ease-in-out;
  transform: translate(0);

  countdown-timer {
    h2 {
      font-size: 8px;
      letter-spacing: 1px;
      line-height: 12px;
      font-weight: 800;
      color: #fff;
      margin: 0;
      text-transform: uppercase;
    }
  }

  #title {
    display: flex;
    align-items: center;
    width: 100%;
    transition: width 0.25s ease-in-out;
    overflow: hidden;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    border-radius: $toolbar-height;
    box-shadow: 4px 16px 0 rgba(0, 0, 0, 0.125);
    background: $bar-color;
    transition: box-shadow 0.25s ease-in-out, width 0.25s ease-in-out;
  }

  @media (max-width: ($mobile-width - 1px)) {
    margin-top: 10px;
    width: calc(100% - (16px * 2));

    &::before {
      box-shadow: 2px 8px 0 rgba(0, 0, 0, 0.125);
    }
  }

  :host(.fixed) & {
    @media (min-width: $mobile-width) {
      transform: translate(-5vw) translate(25px);
    }

    #title {
      width: 0;
    }

    &::before {
      width: $toolbar-height;
      box-shadow: 3px 6px 0 $bar-shadow-color, 8px 9px 0 rgba(0, 0, 0, 0.16) !important; // match shared btns
    }
  }

  paper-icon-button {
    width: ($toolbar-height - 4px);
    height: ($toolbar-height - 4px);
    margin: 2px;
    padding: 14px;
    pointer-events: auto;

    &[drawer-toggle] {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .grow {
    flex-grow: 1;
  }

  .linkwrap {
    pointer-events: auto;
    text-decoration: none;
    display: inline-flex;
    max-width: 100%;
    min-width: 1%;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-left: 2px;
    line-height: $toolbar-height;
    overflow: hidden;

    .logo {
      width: 62px;
      min-width: 62px;
      background: url(img/google_logo.svg) center no-repeat;
      background-size: contain;
      color: transparent;
      font-size: 0;
      line-height: inherit;
    }

    h1 {
      margin: 0;
      margin-left: 0.4ch;
      font-family: 'Lobster', Sans-Serif;
      font-size: 19px;
      line-height: inherit;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  #extra {
    display: block;
    position: absolute;
    background: $bar-color;
    width: $toolbar-height;
    height: $toolbar-height;
    margin-left: 12px;
    border-radius: 1000px;
    z-index: -100;
    transform: translate(0);
    opacity: 1;
    transition: transform 0.25s, opacity 0.25s;
    box-shadow: 3px 6px 0 $bar-shadow-color, 8px 9px 0 rgba(0, 0, 0, 0.16) !important; // match shared btns

    &[hidden] {
      display: block;
      pointer-events: none;
      opacity: 0;
      transform: translate(-12px) translate(-$toolbar-height);
    }
  }
}

