$name: 'module-runner';
$gameover-bg: #BFC932;
$rotate-bg: $gameover-bg;

@import "../shared/sass/board";
@import "../shared/sass/rotate";
@import "../shared/sass/tutorial";

@import "sass/variables";
@import "sass/animations";
@import "sass/environment";
@import "sass/obstacles";
@import "sass/platforms";
@import "sass/player";
@import "sass/presents";
@import "sass/boosts";

##{$name} {
  .game {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    &.frozen {
      .reindeer__inner,
      .present__inner,
      .layer,
      .boost__inner-bg,
      .boost-text--collected {
        animation-play-state: paused;
      }
    }
  }

  .board.board--game {
    .logo {
      background-size: 100px;
    }

    .level {
      display: none;
    }

    .score {
        @media (min-width: 1025px) {
          width: 100%;
        }
    }
  }

  .hidden {
    display: none;
    animation-play-state: paused !important;
  }
}
