##{$name} {
  .score-sign {
    color: #fff;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-left: -20px;
    margin-top: -0.7em;
    position: absolute;
    transform: scale(0.5) translateZ(0);
    transform-origin: 50% 70%;

    &.animate {
      animation: 400ms #{$name}-show-score;
    }
  }

  .splash {
    height: 47px;
    margin-top: 0;
    position: absolute;
    width: 47px;
  }

  .splash--1 {
    border: 5px solid #3e9bd2;
    border-radius: 50%;
    height: 8px;
    left: 15px;
    top: 15px;
    position: absolute;
    transform: scale(1) translateZ(0);
    transition: 500ms all;
    width: 8px;
  }

  .animate .splash--1 {
    border-width: 0;
    height: 18px;
    transform: scale(1.3) translateZ(0);
    width: 18px;
  }

  .splash--2 {
    border: 3px solid #3e9bd2;
    border-radius: 50%;
    content: "";
    height: 24px;
    left: 9px;
    top: 9px;
    position: absolute;
    transform: scale(1) translateZ(0);
    transition: 500ms all;
    width: 24px;
  }

  .animate .splash--2 {
    border-width: 0;
    height: 30px;
    transform: scale(1.3) translateZ(0);
    width: 30px;
  }

  .splash--3 {
    border: 2px solid #3e9bd2;
    border-radius: 50%;
    height: 36px;
    left: 4px;
    top: 4px;
    position: absolute;
    transform: scale(1) translateZ(0);
    transition: 500ms all;
    width: 36px;
  }

  .animate .splash--3 {
    border-width: 0;
    height: 40px;
    transform: scale(1.3) translateZ(0);
    width: 40px;
  }

  .splash--4 {
    border: 1px solid #3e9bd2;
    border-radius: 50%;
    content: "";
    height: 46px;
    left: 0;
    top: 0;
    position: absolute;
    transform: scale(1) translateZ(0);
    transition: 500ms all;
    width: 46px;
  }

  .animate .splash--4 {
    border-width: 0;
    height: 48px;
    transform: scale(1.3) translateZ(0);
    width: 48px;
  }

  @media screen and (max-width: 660px) {
    .splash {
      display: none;
    }
  }
}

@keyframes #{$name}-show-score {
  0% {
    transform: scale(0.5) translateZ(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1) translateZ(0);
    opacity: 0;
  }
}
