$calendarBreak1: 1120px;
$calendarBreak2: 645px;

$tabletBreakpoint: 1024px;
$mobileBreakpoint: 660px;
$mobilePortraitBreakpoint: 400px;

@media (max-width: $calendarBreak1) {
  ##{$name} {
    #global-nav #global-nav-body #nav-calendar {
      max-width: 960px;
    }
  }
}

@media (max-width: $tabletBreakpoint) {
  ##{$name} {
    #site-nav {
      display: none;
    }

    #global-nav #global-nav-body #nav-calendar {
      max-width: 800px;
    }

    #sound {
      left: 0;
      right: auto;
      bottom: 14px;

      a {
        border-radius: 0 20px 20px 0;
        i {
          margin: 7px 0 0 3px;
        }
      }
    }
  }
}

@media (max-width: $calendarBreak2) {
  ##{$name} {
    #global-nav #global-nav-body #nav-calendar {
      max-width: 100%;
      $cardWidth: 120px;

      div .card {
        width: $cardWidth;
        height: $cardWidth;

        a .menu-marker {
          width: 70px;
          height: 70px;
        }

        &[data-index="1"] {
          $smallMarkerWidth: 40px;

          a {
            width: $smallMarkerWidth;
            height: $smallMarkerWidth;
            position: absolute;

            .menu-marker {
              width: 100%;
              height: 100%;
            }

            &:nth-of-type(1) {
              left: 12px;
              top: $cardWidth / 2 - $smallMarkerWidth / 2;
              .menu-marker {
                background-image: url(img/village-menu-icons-1-airport.svg);
              }
            }
            &:nth-of-type(2) {
              left: $cardWidth / 2 - $smallMarkerWidth / 2;
              top: 10px;
              .menu-marker {
                background-image: url(img/village-menu-icons-1-video.svg);
              }
            }
            &:nth-of-type(3) {
              right: 10px;
              top: $cardWidth / 2 - $smallMarkerWidth / 2;
              .menu-marker {
                background-image: url(img/village-menu-icons-1-racer.svg);
              }
            }
            &:nth-of-type(4) {
              bottom: 10px;
              left: $cardWidth / 2 - $smallMarkerWidth / 2;
              .menu-marker {
                background-image: url(img/village-menu-icons-1-playstore.svg);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:$mobileBreakpoint) {
  $headerHeight: 62px;

  ##{$name} {

    #global-nav #global-nav-btn {
      top: 10px;
      right: 10px;

      paper-fab {
        width: 40px;
        height: 40px;
        padding: 8px;
      }
    }

    #global-nav #global-nav-header {
      height: $headerHeight;

      .back {
        line-height: $headerHeight;
      }

      paper-tabs {
        display: none;
      }
    }
    #global-nav #global-nav-content {
      top: $headerHeight;
    }
  }
}

@media (max-height:450px) {
  ##{$name} {
    #site-nav {
      display: none;
    }
  }
}
