$mobile-height: 500px;
$mobile-width: 768px;

$grid-unit-size: 50px;
$present-width: 2;
$present-height: 2;
$table-width: 3;
$table-height: 2;

$gui-z-index: 100;
$player-z-index: 10;
$fence-z-index: 20;

$color-white: #ffffff;
$color-green: #1a844b;
$color-yellow: #f9d231;
$color-gold: #F8C328;

$toy-types: ('car': 2, 'robot': 3, 'rocket': 4, 'teddy': 3);

$font-google-sans: 'Google Sans', sans-serif;
$font-lobster: 'Lobster', sans-serif;

$box-shadow: 2px 4px rgba(0,0,0, 0.15);
