$mobile-height: 500px;
$mobile-width: 768px;

$grid-unit-size: 50px;
$present-width: 2;
$present-height: 2;
$table-width: 3;
$table-height: 2;

$gui-z-index: 100;
$player-z-index: 10;
$fence-z-index: 20;

$color-green: #1a844b;
$color-yellow: #f9d231;

