$name: 'module-presentdrop';
$gameover-bg: #8fd7f7;
$rotate-bg: $gameover-bg;

@import "../shared/sass/board";
@import "../shared/sass/startbutton";
@import "../shared/sass/rotate";
@import "../shared/sass/tutorial";

@import "sass/environment";
@import "sass/stage";
@import "sass/player";
@import "sass/levels";
@import "sass/chimney";

##{$name} {
  .view {
    height: 1150px;
    left: 50%;
    margin-left: -900px;
    margin-top: -730px;
    position: absolute;
    top: 50%;
    width: 1800px;
    transform-origin: 50% 63%;
  }

  // Pausing the game pauses all important animations.
  &.frozen {
    .elf,
    .train .wheel1,
    .train .wheel2,
    .train .hand,
    .train .handle {
      animation-play-state: paused;
    }
  }

  /**
   * Hides the element but still keeps it composed on the GPU by translating it off-screen.
   * By keeping things composed we get respectable performance on android browsers since
   * the biggest overhead is in moving things to the GPU there.
   * http://code.google.com/p/android/issues/detail?id=25147
   */
  .hidden {
    transform: translate3d(0, 9999px, 0) !important;
  }
}
