$name: 'module-trivia';
$gameover-bg: #fbbf2c;
$rotate-bg: $gameover-bg;

@import "../shared/sass/gameover";
@import "../shared/sass/board";

@import "sass/question";

##{$name} {
  background: #00C55D;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .scene {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
  }

  .content {
    width: 100%;

    @media (min-width: 768px) {
      margin: 0 auto;
      width: 767px;
    }
  }

  .board .logo {
    display: none;
  }
}
