@import "variables";

@keyframes #{$name}-walrus {
  0%, 100% {
    transform: translateY(100%);
  }
  40%, 50% {
    transform: translateY(0%);
  }
}

@keyframes #{$name}-seesaw {
  0%, 100% {
    transform: rotateZ(-17deg);
  }
  50% {
    transform: rotateZ(17deg);
  }
}

@keyframes #{$name}-slide {
  0% {
    transform: translateX(0) translateY(0);
  }
  40%, 100% {
    transform: translateX(50px) translateY(34px);
  }
}


@keyframes #{$name}-shimmy {
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2em);
  }
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateX(+2em);
  }
}

@keyframes #{$name}-fall {
  0% {
    transform: translateY((560px * 0.00 - 32px));
    opacity: 0;
  }
  5% {
    transform: translateY((560px * 0.05 - 32px));
    opacity: 1;
  }
  95% {
    transform: translateY((560px * 0.95 - 32px));
    opacity: 1;
  }
  100% {
    transform: translateY((560px * 1.00 - 32px));
    opacity: 0;
  }
}

@keyframes #{$name}-skydive {
  0% {
    transform: translateY($skydive-start-pos);
  }
  #{$skydive-fallto} {
    transform: translateY($skydive-fallto-pos);
  }
  100% {
    transform: translateY($skydive-land-pos);
  }
}

@keyframes #{$name}-skydive-tablet {
  0% {
    transform: translateY($skydive-start-pos);
  }
  #{$skydive-fallto} {
    transform: translateY($skydive-fallto-pos);
  }
  100% {
    transform: translateY($skydive-land-tablet-pos);
  }
}

// TODO(samthor): We may not be able to animate in terms of 'vw'.

@keyframes #{$name}-plane {
  /**
   * Delay the plane on either side of the screen. The speed is only 20% of the
   * total speed, so most of the time the plane is just chillin'.
   */
  0%, 80% { transform: translate(-100vw); }
  100%    { transform: translate(+200vw); }
}

@keyframes #{$name}-cloud {
  0%   { transform: translate(-20vw) scale(0.5); }
  50%  { transform: translate(50vw) scale(1); }
  100% { transform: translate(+120vw) scale(0.5); }
}
