#eastereggs {
  $idx-id: 1;
  $idx-width: 2;
  $idx-height: 3;
  $idx-left: 4;
  $idx-top: 5;
  $idx-z-index: 6;

  // id width height left top z-index
  $all:
      "tree"            831   616   291   342   ($house-row-3-z-index - 1),
      "blocks"          360   150   904   646   ($house-row-3-z-index - 1),
      "statue"          287   171   858   841   ($house-row-4-z-index - 1),
      "penguin-revolt"  174   55    865   1571  ($house-row-6-z-index - 1),
      "snowman-reading" 571   237   -207  1500  ($house-row-6-z-index - 1),
      "rosetta-stone"   117   96    39    904   ($house-row-4-z-index - 1),
      "white-board"     121   62    546   886   ($house-row-3-z-index - 0),
      "schoolyard"      434   160   121   255   ($house-row-1-z-index - 0),
      "tic-tac-toe"     447   130   853   282   ($house-row-2-z-index - 1),
      "book-club"       90    97    360   558   ($house-row-2-z-index + 30),
      "balloon"         112   140   0     0     ($house-row-4-z-index - 1);

  div {
    background: center no-repeat;
    background-size: contain;
    position: absolute;
    pointer-events: none;
  }

  @for $i from 1 through length($all) {
    $row: nth($all, $i);

    #easteregg-#{nth($row, $idx-id)} {
      z-index: nth($row, $idx-z-index) - 1;
      background-image: url(img/easteregg-#{nth($row, $idx-id)}.svg);

      // TODO(skarEE): The width/height of each image is expressed in the
      // original SVG size, so it needs to be multiplied by svg-ratio. This is
      // NOT the case for left/top positions.

      width: percent(nth($row, $idx-width) * $svg-ratio, $width-desktop);
      height: percent(nth($row, $idx-height) * $svg-ratio, $height-desktop);
      left: percent(nth($row, $idx-left), $width-desktop);
      top: percent(nth($row, $idx-top), $height-desktop);
    }

  }
}
