#houses {
  // ID houseWidth houseHeight iceWidth iceHeight houseLeft houseTop iceLeft iceTop labelX labelY
  $houses:
      "airport"         812   179   627   240   -340   44    -175   0     0   0,
      "traditions"      235   222   424   236   35     36    -100   25    0   0,
      "codelab"         277   209   364   284   29     95    -40    50    0   0,
      "app"             280   366   443   351   -29    -26   -81    2     0   0,
      "seasonofcaring"  333   233   373   282   8      30    -56    -1    0   0,
      "santasback"      231   180   499   284   98     3     -53    -50   0   0,
      "santaselfie"     209   262   497   348   81     41    -80    10    0   0,
      "translations"    311   174   712   286   5      101   -180   45    0   0,
      "callfromsanta"   271   298   537   321   11     0     -120   0     0   0,
      "briefing"        315   246   355   287   0      0     0      0     0   0,
      "presentdrop"     198   278   300   333   95     43    25     5     0   0,
      "santasearch"     287   174   484   246   30     91    -50    30    0   0,
      "windtunnel"      336   203   537   222   -6     87    -90    80    0   0,
      "racer"           345   259   424   266   -10    60    -97    45    0   0,
      "jamband"         379   250   606   267   -10    45    -140   46    0   0,
      "gumball"         257   308   374   359   59     22    -5     0     0   0,
      "postcard"        286   224   364   248   -17    32    -82    10    0   0,
      "jetpack"         287   258   367   333   20     53    -45    0     0   0,
      "boatload"        240   169   472   250   -7     82    -105   41    0   0,
      "mercator"        328   275   462   348   -15    28    -109   -1    0   0,
      "presentbounce"   341   256   521   348   9      47    -110   10    0   0,
      "codeboogie"      294   224   403   280   54     30    -1     -5    0   0,
      "elf-car"         307   337   437   354   25     -6    -70    -7    0   0,
      "citylights"      360   311   467   332   -10    0     -34    -10   0   0,
      "commandcentre"   197   215   380   271   74     48    -20    20    0   0,
      "seasonofgiving"  390   241   373   282   -29    72    -15    42    0   0,
      "matching"        303   192   457   270   49     36    -58    10    0   0,
      "liftoff"         276   294   355   336   55     37    22     11    0   0;
  $houseId: 1;
  $houseWidth: 2;
  $houseHeight: 3;
  $iceWidth: 4;
  $iceHeight: 5;
  $houseLeft: 6;
  $houseTop: 7;
  $iceLeft: 8;
  $iceTop: 9;
  $labelLeft: 10;
  $labelTop: 11;
  
  @each $house in $houses {
    .house-#{nth($house, $houseId)} {
      .building {
        width: #{nth($house, $houseWidth)}px;
        height: #{nth($house, $houseHeight)}px;
        background-image: url(img/building-#{nth($house, $houseId)}.svg);
        top: #{nth($house, $houseTop)}px;
        left: #{nth($house, $houseLeft)}px;
      }
    
      .ice {
        width: #{nth($house, $iceWidth)}px;
        height: #{nth($house, $iceHeight)}px;
        background-image: url(img/building-#{nth($house, $houseId)}-ice.svg);
        top: #{nth($house, $iceTop)}px;
        left: #{nth($house, $iceLeft)}px;
      }
    }
  }
  
  // ID houseWidth houseHeight iceWidth iceHeight houseLeft houseTop iceLeft iceTop labelX labelY
  $housesTablet:
      "airport"         -410   4     -245   -40,
      "traditions"      -15    -14   -140   -14,
      "codelab"         -51    15    -111   -23,
      "app"             -59    -115  -122   -103,
      "seasonofcaring"  -57    -67   -110   -101,
      "santasback"      8      -46   -133   -110,
      "santaselfie"     -19    -40   -170   -89,
      "translations"    -61    -19   -270   -55,
      "callfromsanta"   -41    -79   -180   -81,
      "briefing"        0      0     0      0,
      "presentdrop"     25     -57   -35    -86,
      "santasearch"     -57    5     -140   -29,
      "windtunnel"      -75    12    -170   10,
      "racer"           -86    0     -157   -10,
      "jamband"         -90    -35   -200   -25,
      "gumball"         -19    -81   -75    -101,
      "postcard"        -55    -12   -113   -29,
      "jetpack"         -50    -37   -110   -85,
      "boatload"        -20    43    -128   -2,
      "mercator"        -63    -50   -149   -91,
      "presentbounce"   -69    -30   -180   -80,
      "codeboogie"      -50    -20   -111   -45,
      "elf-car"         -45    -69   -126   -72,
      "citylights"      -75    -70   -102   -68,
      "commandcentre"   4      -43   -90    -60,
      "seasonofgiving"  -119   -18   -105   -38,
      "matching"        -59    16    -158   -10,
      "liftoff"         -15    -63   -58    -76;
  $houseId: 1;
  $houseLeft: 2;
  $houseTop: 3;
  $iceLeft: 4;
  $iceTop: 5;
  
  @media (max-width: $width-desktop) and (min-width: $width-tablet) {
    @each $house in $housesTablet {
      .house-#{nth($house, $houseId)} {
        .building {
          top: #{nth($house, $houseTop)}px;
          left: #{nth($house, $houseLeft)}px;
        }

        .ice {
          top: #{nth($house, $iceTop)}px;
          left: #{nth($house, $iceLeft)}px;
        }
      }
    }
  }
}
