// All dimensions below assume cell size of 320x320 (i.e., $dim-house).

// ID houseWidth houseHeight iceWidth iceHeight houseLeft houseTop iceLeft iceTop dateLeft dateTop labelX labelY zIndex
$houses:
    "codeboogie"      274   224   403   280   29     2    -41    16    102 56  -34 -18 $house-row-1-z-index,
    "traditions"      210   222   424   236   35     21    -100   10    0   0   -16 -16  $house-row-1-z-index,
    "airport"         812   179   627   240   -96    122   -105   70     0   0  -180 -15 $house-row-1-z-index,

    "app"             280   366   443   351   -29    -11   -81    -3    0   0   24  -18 $house-row-2-z-index + 50,
    "presentbounce"   310   256   521   248   12     -44  -110    -33    75  169 -12 -24 $house-row-2-z-index + 20,
    "santasback"      231   180   499   284   80     23    -53    -30   102 54  -2  6   $house-row-2-z-index,
    "translations"    311   174   512   286   8      121   -50    58    80  129 -18 6   $house-row-2-z-index + 20,

    "snowflake"      333   233   373   282   -20    60    -30    30    90  90  -40 -10 $house-row-3-z-index,
    "seasonofgiving"  333   233   373   282   2      59    -60    20   51  90  -40 -10 $house-row-3-z-index,
    "santaselfie"     209   262   397   348   73     21    -50    10    87  122 8   4   $house-row-3-z-index + 50,
    "penguindash"     260   203   440   222   30     65    -30    70    301 124 0   -8  $house-row-3-z-index - 50,

    "santasearch"     287   174   484   246   30     75    -50    20    70  155 -24 -13 $house-row-4-z-index,
    "codelab"         277   209   364   284   40     74    -40    55    267 158 -21 -3  $house-row-4-z-index,
    "commandcentre"   197   215   380   271   80     38    0     30    253 159 -2  4   $house-row-4-z-index,
    "gumball"         245   308   374   359   59     -6    0    -50    220 135 -25 -2  $house-row-4-z-index,

    "jamband"         360   230   580   267   -33    -19   -160   30    253 70  10  10  $house-row-5-z-index,
    "wrapbattle"      350   200   340   300   -20    50    -12    -5   55  174  0  -30 $house-row-5-z-index,
    "boatload"        220   169   472   250   6      76   -105    41    28  137 -13 7   $house-row-5-z-index,
    "runner"          336   203   440   222   16     30    -30    70    267 113 -24 -21  $house-row-5-z-index,

    "jetpack"         287   258   367   333   20     33    -45    -20    93  53  -23 -5  $house-row-6-z-index + 40,
    "carpool"         307   337   437   354   25     -56   -70    -57   74  91  -30 4   $house-row-6-z-index,
    "briefing"        315   246   355   287   -10    20    -20      0   92  90  35 -7   $house-row-6-z-index,
    "presentdrop"     198   278   300   333   85     8     18     -19   232 170 -15 4   $house-row-6-z-index,

    "mercator"        328   275   462   320   -13    12    -109   -6    263 62  0   -20 $house-row-7-z-index,
    "racer"           345   259   424   266   0      57    -104   40    213 74  -25 -25 $house-row-7-z-index,
    "matching"        303   192   457   270   24     50    -58    10    60  92  -34   3 $house-row-7-z-index,
    "liftoff"         276   294   355   336   55     37    22     11    237 108 -14 -11 $house-row-7-z-index,

    // nb. below are disued

    "callfromsanta"   271   298   537   321   11     -20   -120   -20   27  90  -22 7   $house-row-7-z-index,
    "citylights"      360   311   467   332   -10    0     -34    -10   74  180 19  -19 $house-row-7-z-index,
    "postcard"        286   224   364   248   20     32    -42    12    70  67  -6  -10 $house-row-4-z-index,
    ;


$idx-id: 1;
$idx-width: 2;
$idx-height: 3;
$idx-iceWidth: 4;
$idx-iceHeight: 5;
$idx-left: 6;
$idx-top: 7;
$idx-iceLeft: 8;
$idx-iceTop: 9;
$idx-dateLeft: 10;
$idx-dateTop: 11;
$idx-labelX: 12;
$idx-labelY: 13;
$idx-zIndex: 14;

#houses {
  .house {
    .card {
      .image {
        background: center no-repeat;
        background-size: cover;
      }
    }
    .building, .ice {
      background: center no-repeat;
      background-size: contain;
      position: absolute;
    }
  }

  @for $i from 1 through length($houses) {
    $house: nth($houses, $i);
    $id: nth($house, $idx-id);

    .card.new-today-#{$id} {
      background-image: url(img/new-today/#{$id}_2x.png);
    }

    #house-#{$id} {
      // z-index set on child .assets, not top-level .house (don't create
      // heirarchy here)

      .housez {
        z-index: nth($house, $idx-zIndex) + (1+($i % 4) * 10);
      }

      .assets {
        .building {
          background-image: url(img/building-#{$id}.svg);
          width: percent(nth($house, $idx-width), $dim-house);
          height: percent(nth($house, $idx-height), $dim-house);
          left: percent(nth($house, $idx-left), $dim-house);
          top: percent(nth($house, $idx-top), $dim-house);
        }

        .ice {
          background-image: url(img/building-#{$id}-ice.svg);
          width: percent(nth($house, $idx-iceWidth), $dim-house);
          height: percent(nth($house, $idx-iceHeight), $dim-house);
          left: percent(nth($house, $idx-iceLeft), $dim-house);
          top: percent(nth($house, $idx-iceTop), $dim-house);
        }

        .launchdate {
          left: percent(nth($house, $idx-dateLeft), $dim-house);
          top: percent(nth($house, $idx-dateTop), $dim-house);
        }
      }

      .action {
        $l: nth($house, $idx-left) + nth($house, $idx-width) / 2 + nth($house, $idx-labelX);
        $t: nth($house, $idx-top) + nth($house, $idx-height) + nth($house, $idx-labelY);
        left: percent($l, $dim-house);
        top: percent($t, $dim-house);
      }

      .link {
        .card {
          .image {
            background-image: url(../../images/scenes/#{$id}_2x.png);
          }
        }
      }
    }
  }
}
