$base-raised-z-index: 100;     // z-index for raised text, effects (snow etc)
$base-background-z-index: 90;  // z-index for anything behind that

$width-desktop: 1280px;
$height-desktop: 2240px;
$width-tablet: 768px;  // iPad in portrait
$height-tablet: 2240px * .6;
$width-twocol: 600px;
$width-bigheader: $width-twocol;
$svg-ratio: 0.8;  // svgs to desktop size

// standard size of house at $width-desktop
$dim-house: $width-desktop / 4;
$height-link-size: 250px;
$tablet-desktop-ratio: .6;

// background sizes
$ground-size-w: 3519px * $svg-ratio;
$ground-size-h: 3441px * $svg-ratio;
$ground-top: 185px;
$road-size-w: 4002px * $svg-ratio;
$road-size-h: 3057px * $svg-ratio;
$road-top: 106px;

// nb: none of these %'s should be 0 or 100, and they should be in-order
// TODO(samthor): Express these in timeframes and calc % based on that.
$skydive-start: 40%;
$skydive-start-pos: -120px;
$skydive-fallto: 50%;
$skydive-fallto-pos: 240px;
$skydive-land: 75%;
$skydive-land-pos: 480px;
$skydive-disappear: 95%;

$hover-card-size: 282px;

$house-row-1-z-index: 100;
$house-row-2-z-index: 200;
$house-row-3-z-index: 300;
$house-row-4-z-index: 400;
$house-row-5-z-index: 500;
$house-row-6-z-index: 600;
$house-row-7-z-index: 700;

