$toolbar-size: 52px;

$width-desktop: 1280px;
$width-tablet: 768px;  // iPad in portrait
$width-twocol: 600px;
$width-bigheader: $width-twocol;
$desktop-ratio: 0.8;

// standard size of house at $width-desktop
$height-house: 320px;
$height-link-size: 250px;
$tablet-desktop-ratio: .6;

// background sizes
$ground-size-w: 3519px * $desktop-ratio;
$ground-size-h: 3441px * $desktop-ratio;
$ground-top: 185px;
$road-size-w: 4002px * $desktop-ratio;
$road-size-h: 3057px * $desktop-ratio;
$road-top: 106px;

// nb: none of these %'s should be 0 or 100, and they should be in-order
// TODO(samthor): Express these in timeframes and calc % based on that.
$skydive-start: 40%;
$skydive-start-pos: -120px;
$skydive-fallto: 50%;
$skydive-fallto-pos: 240px;
$skydive-land: 75%;
$skydive-land-pos: 540px;
$skydive-disappear: 95%;

$hover-card-size: 282px;

$house-row-1-z-index: 100;
$house-row-2-z-index: 200;
$house-row-3-z-index: 300;
$house-row-4-z-index: 400;
$house-row-5-z-index: 500;
$house-row-6-z-index: 600;
$house-row-7-z-index: 700;

// Easter eggs asset sizes
$easter-eggs: "christmas-tree", "blocks", "statue", "penguin-revolt", "snowman-reading", "rosetta-stone",
    "white-board", "schoolyard", "tic-tac-toe", "book-club";

$christmas-tree-w: 831px;
$christmas-tree-h: 616px;
$christmas-tree-top: 285px;
$christmas-tree-left: 208px;

$blocks-w: 360px;
$blocks-h: 150px;
$blocks-top: 569px;
$blocks-left: 897px;

$statue-w: 287px;
$statue-h: 171px;
$statue-top: 776px;
$statue-left: 858px;

$penguin-revolt-w: 174px;
$penguin-revolt-h: 55px;
$penguin-revolt-top: 1536px;
$penguin-revolt-left: 865px;

$snowman-reading-w: 571px;
$snowman-reading-h: 237px;
$snowman-reading-top: 1500px;
$snowman-reading-left: -127px;

$rosetta-stone-w: 117px;
$rosetta-stone-h: 96px;
$rosetta-stone-top: 904px;
$rosetta-stone-left: 39px;

$white-board-w: 121px;
$white-board-h: 62px;
$white-board-top: 866px;
$white-board-left: 546px;

$schoolyard-w: 434px;
$schoolyard-h: 160px;
$schoolyard-top: 255px;
$schoolyard-left: 121px;

$tic-tac-toe-w: 447px;
$tic-tac-toe-h: 130px;
$tic-tac-toe-top: 282px;
$tic-tac-toe-left: 853px;

$book-club-w: 90px;
$book-club-h: 97px;
$book-club-top: 558px;
$book-club-left: 360px;

