$width-desktop: 1280px;
$width-tablet: 768px;  // iPad in portrait
$width-twocol: 600px;

// standard size of house at $width-desktop
$height-house: 400px;
$tablet-desktop-ratio: .6;

// background sizes
$ground-size-w: 1760px;
$ground-size-h: 3440px;
$road-size-w: 4000px;
$road-size-h: 2930px;
$road-top: 96px;

// nb: none of these %'s should be 0 or 100, and they should be in-order
// TODO(samthor): Express these in timeframes and calc % based on that.
$skydive-start: 40%;
$skydive-start-pos: -120px;
$skydive-fallto: 50%;
$skydive-fallto-pos: 240px;
$skydive-land: 75%;
$skydive-land-pos: 540px;
$skydive-disappear: 95%;
