:host {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 999;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  santa-button {
    width: 55px;
    height: 55px;
    font-size: 18px;
  }
}

.shim {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  background-color: #000;
  opacity: .6;
}

.wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 11;
  position: relative;
}

nav {
  padding: 30px;
  padding-left: 10px;
  border-radius: 20px;
  align-items: center;
  background: currentColor;
  display: flex;
  flex-flow: column;
  align-items: stretch;

  .url {
    margin-top: -10px;
    margin-left: 10px;
    margin-right: -10px;
    margin-bottom: 20px;
    position: relative;

    &::after {
      pointer-events: none;
      content: 'file_copy';
      position: absolute;
      top: 0;
      right: 2px;
      line-height: 29px;
      font-size: 24px;
      font-family: 'Material Icons';

      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga'
    }

    &.copy {
      &::after {
        content: 'done';
      }
    }

    input {
      cursor: copy;
      width: 100%;
      border: 0;
      border-radius: 4px;
      font: inherit;
      font-size: 18px;
      text-align: center;
      font-weight: 400;
      letter-spacing: -0.5px;
      padding: 4px;
      padding-right: calc(4px + 3ch);
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.125);
      box-sizing: border-box;
    }
  }

  .buttons {
    display: flex;

    santa-button {
      margin-left: 20px;

      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.hero {
  flex-grow: 1;
  &.gameover {
    max-height: 285px;
    width: 250px;
    height: 300px;
    background: _rel("../../img/overlay/gameover.png") bottom center / contain no-repeat;
  }
  &.pause {
    max-height: 343px;
    background: _rel("../../img/overlay/pause.png") bottom center / contain no-repeat;
  }
}

.score {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  text-align: center;
  color: white;
  h1 {
    font-size: 12px;
    line-height: 12px;
    margin-top: -8px;
    text-transform: uppercase;
    margin: 0;
  }
  h2 {
    color: #fff;
    line-height: 64px;
    font-size: 64px;
    font-weight: 900;
    margin: 0;
    text-shadow: 2px 4px 0 rgba(0,0,0,0.34);
  }
}