@import '../../styles/shared';

$duration-sidebar: 0.25s;
$duration-toolbar: 0.3s;
$transition-toolbar: $duration-toolbar ease-in-out;

@keyframes santa-app__hide-nav {
  from { visibility: visible; pointer-events: none; }
    to { visibility: hidden; pointer-events: none; }
}

:host {
  pointer-events: none;
}

.grow {
  flex-grow: 1;
}

svg.icon {
  margin: auto;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

header {
  z-index: $index-chrome;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  height: $dim-bar;

  @media (max-width: ($dim-small - 1px)) {
    margin: 10px 10px 0;
  }

  santa-button {
    pointer-events: auto;
    width: $dim-bar;
    height: $dim-bar;
    padding: 2px;
  }

  .buttons {
    border: 0;
    margin: 0;
    padding: 0;
    z-index: -10;
    position: absolute;
    left: $dim-bar + 8px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;

    .hideable {
      will-change: transform;
      transition: opacity $duration-toolbar, transform $duration-toolbar;
      transition-timing-function: ease-in-out;
      transition-delay: $duration-toolbar;
    }
    fieldset {
      display: block;
      border: 0;
      padding: 0;
      margin: 0;
    }

    &[disabled] .hideable,
    .hideable[disabled] {
      transition-delay: 0s;
      pointer-events: none;
      opacity: 0;
      transform: translateY(-100%);
    }

    button {
      background: $color-bar;
      background: var(--color-bar, $color-bar);
      border-radius: $dim-bar;
      color: inherit;
      fill: currentColor;
      border: none;
      margin-right: 8px;
    }
  }
}

.sidebar {
  z-index: $index-sidebar;
  position: fixed;
  top: 0;
  overflow-y: auto;
  height: 100%;
  visibility: hidden;
  width: 100vw;
  transform: translateY(-100%);
  transition: transform $duration-sidebar cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation: santa-app__hide-nav $duration-sidebar step-end forwards;
  pointer-events: none;
  will-change: transform;

  .sidebar-focuser {
    position: absolute;
  }

  .closer {
    position: absolute;
    height: $dim-bar + 40px;
    cursor: pointer;

    &:focus {
      box-shadow: inset 0 0 0 4px #0004;
      outline: 0;
    }

    @media (max-width: ($dim-small - 1px)) {
      height: $dim-bar + 20px;
    }

    display: flex;
    align-items: center;
    color: #ccc;
    font-family: 'Lobster', Sans-Serif;
    font-weight: 400;
    font-size: 24px;
    padding: 0 20px;

    svg.icon {
      // TODO: icon-icon was 40px
      width: 24px;
      padding-left: 8px;
      padding-right: 8px + 6px;
      margin: 0;
    }
  }
}

.hider {
/*
  pointer-events: none;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 198, 237, 0.6);
  transition: opacity $duration-sidebar ease-in-out;
  will-change: opacity;
  opacity: 0;*/
  display: none !important;  // we're now fullscreen
}

input {
  display: none;

  &:checked ~ .sidebar {
    visibility: visible;
    pointer-events: auto;
    animation: none;
    transform: translate(0);
  }

  &:checked ~ .hider {
    pointer-events: auto;
    opacity: 1;
  }
}

