@import '../../styles/shared';

:host {
  z-index: $index-orientation;  // places this element above the blur
}

main {
  text-align: center;

  // ... but still create a fullscreen overlay effect at this level
  &::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8fd7f7cc;
    z-index: -1;
  }
}

p {
  font-family: 'Roboto', Arial, Sans-Serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

svg {
  height: 200px;
  width: 200px;
}

:host([orientation="portrait"]) {
  svg {
    transform: rotate(90deg) scale(-1, 1);
  }
}

:host([hidden]) .fs {
  display: none !important;
}
