@import '../../styles/shared';

$duration-sidebar: 0.25s;
$duration-toolbar: 0.3s;
$transition-toolbar: $duration-toolbar ease-in-out;

// TODO(samthor): should be in shared?
$order-sidebar: 100;
$order-hider: 99;

@keyframes santa-app__hide-nav {
  from { visibility: visible; pointer-events: none; }
    to { visibility: hidden; pointer-events: none; }
}

:host {
  display: block;
  pointer-events: none;
  z-index: $index-chrome;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grow {
  flex-grow: 1;
}

svg.icon {
  margin: auto;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

header {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  height: $dim-bar;

  @media (max-width: ($dim-small - 1px)) {
    margin: 10px 10px 0;
  }

  .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: $dim-bar;
    backdrop-filter: blur(4px);
    transition: width $transition-toolbar;
  }

  .bar {
    pointer-events: auto;
    position: relative;
    height: 100%;
    color: #fff;
    box-sizing: border-box;
    padding-left: $dim-bar;
    padding-right: 10px;
    transition: transform $transition-toolbar;
    transform: translate(0);
    opacity: 0.95;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      border-radius: $dim-bar;
      box-shadow: 4px 16px 0 rgba(0, 0, 0, 0.125);
      background: $color-bar;
      transition: box-shadow $transition-toolbar, width $transition-toolbar, opacity $transition-toolbar;
      transform: translate(0);
      opacity: 1;

      @media (max-width: ($dim-small - 1px)) {
        box-shadow: 2px 8px 0 rgba(0, 0, 0, 0.125);
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: width $transition-toolbar;
    overflow: hidden;

    .menu-label {
      position: absolute;
      left: 0;
      top: 0;
    }

    .menu-label,
    button {
      cursor: pointer;
      width: $dim-bar;
      height: $dim-bar;
      padding: 2px;
      box-sizing: border-box;
      display: flex;
    }

    .buttons {
      border: 0;
      margin: 0;
      padding: 0;
      z-index: -10;
      position: absolute;
      left: $dim-bar + 8px;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;

      .hideable {
        will-change: transform;
        transition: opacity $duration-toolbar, transform $duration-toolbar;
        transition-timing-function: ease-in-out;
        transition-delay: $duration-toolbar;
      }
      fieldset {
        display: block;
        border: 0;
        padding: 0;
        margin: 0;
      }

      &[disabled] .hideable,
      .hideable[disabled] {
        transition-delay: 0s;
        pointer-events: none;
        opacity: 0;
        transform: translateY(-100%);
      }

      button {
        background: $color-bar;
        border-radius: $dim-bar;
        color: inherit;
        fill: currentColor;
        border: none;
        margin-right: 8px;
      }
    }
  }

  a.linkwrap {
    pointer-events: auto;
    text-decoration: none;
    display: inline-flex;
    max-width: 100%;
    min-width: 1%;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-left: 2px;
    line-height: $dim-bar;
    overflow: hidden;

    .logo {
      width: 62px;
      height: 38px;
      min-width: 62px;
      background-size: contain;
      fill: white;
    }

    h1 {
      .a11y {
        opacity: 0;
        font-size: 0;
        position: absolute;
      }

      margin: 0;
      margin-left: 0.4ch;
      font-family: 'Lobster', Sans-Serif;
      font-size: 19px;
      line-height: inherit;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

header.mini {
  .title {
    width: 0;
  }

  .blur {
    width: $dim-bar;
  }
  .bar {
    &::before {
      width: $dim-bar;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.125);
    }
  }
}

main {
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  pointer-events: none;
}

.sidebar {
  z-index: $order-sidebar;
  position: fixed;
  top: 0;
  overflow-y: auto;
  height: 100%;
  visibility: hidden;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.125);  // safari doesn't display outline
  width: 320px;
  transform: translate(-100%);
  transition: transform $duration-sidebar ease-out;
  animation: santa-app__hide-nav $duration-sidebar step-end forwards;
  pointer-events: none;
  will-change: transform;
  background: white;

  .sidebar-focuser {
    position: absolute;
  }

  .closer {
    height: $dim-bar + 40px;
    cursor: pointer;

    &:focus {
      box-shadow: inset 0 0 0 4px #0004;
      outline: 0;
    }

    @media (max-width: ($dim-small - 1px)) {
      height: $dim-bar + 20px;
    }

    display: flex;
    align-items: center;
    color: #ccc;
    font-family: 'Lobster', Sans-Serif;
    font-weight: 400;
    font-size: 24px;
    padding: 0 20px;

    svg.icon {
      // TODO: icon-icon was 40px
      width: 24px;
      padding-left: 8px;
      padding-right: 8px + 6px;
      margin: 0;
    }
  }
}

.hider {
  pointer-events: none;
  z-index: $order-hider;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 198, 237, 0.6);
  transition: opacity $duration-sidebar ease-in-out;
  will-change: opacity;
  opacity: 0;
}

input {
  display: none;

  &:checked ~ .sidebar {
    visibility: visible;
    pointer-events: auto;
    animation: none;
    transform: translate(0);
  }

  &:checked ~ .hider {
    pointer-events: auto;
    opacity: 1;
  }
}

