@import '../../styles/shared';

:root {
  display: block;
  position: relative;
  overflow: hidden;
}

main:not(.empty) .slot-container {
  display: none;
}

main.loading iframe,
iframe[tabindex="-1"] {
  pointer-events: none;
}

iframe {
  position: absolute;
  border: 0;
  width: 100%;
  height: 100%;
  transition: filter 0.33s, transform 0.33s;

  &.pending {
    opacity: 0;
    z-index: -1;
  }
}

:host([disabled]) {
  iframe {
    pointer-events: none;
    filter: grayscale(70%) brightness(0.5) blur(4px);
    transform: scale(1.05);
    transition-duration: 0.75s;
  }
}

.iframe-container,
.slot-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

:host([tilt]) {
  .iframe-container,
  .slot-container {
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
  }
}

.slot-container {
  z-index: $index-gameloader;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  // duplicate .overlay so that content being adjusted by left/top is relative to center
  .holder {
    position: relative;
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    ::slotted(*) {
      position: absolute !important;
    }
  }
}
