@import '../../styles/shared';

:root {
  display: block;
  position: relative;
  overflow: hidden;
}

main:not(.empty) .slot-container {
  display: none;
}

main.loading iframe,
iframe[tabindex="-1"] {
  pointer-events: none;
}

:host([disabled]) iframe {
  pointer-events: none;
}

// TODO: remove for launch, just showcasing loading
main.loading::before {
  font-family: 'Lobster', Roboto, Arial, Sans-Serif;
  content: 'Loading...';
  position: fixed;
  z-index: 100;
  background: red;
  border-bottom-right-radius: 8px;
  padding: 4px;
  color: white;
  font-size: 10px;
  top: 0;
  left: 0;
}

iframe,
.slot-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  border: 0;
}

:host([tilt]) {
  iframe,
  .slot-container {
    width: 100vh;
    height: 100vw;
    position: absolute;
    border: 0;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
  }
}

.slot-container {
  z-index: $index-game;
}

iframe.pending {
  opacity: 0;
  z-index: -1;
}
