
$transition-duration: 0.2s;
$max-dim: 1400px;

#wrap {
  background: rgba(72, 3, 184, 0.95);
  height: 100%;
}

#scroll {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  touch-action: pan-y;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  max-width: $max-dim;
  padding: 0 0 32px;
  margin: 0 auto;
  // nb. this contains several "placeholder" elements so that the cards always
  // left-align.
}

:host([hidden]) {
  display: block !important;

  .reveal {
    transition: none;
    transform: scale(0);
  }

  santa-card {
    transition: none;
    opacity: 0;
    transform: translateY(32px);
  }
}

.placeholder {
  width: 200px;
  margin: 0 10px;
  order: 10000;
}

santa-card {
  opacity: 1;
  transform: translateY(0);
  transition: opacity $transition-duration ease-out, transform $transition-duration ease-out;

  margin: 10px;
  width: 200px;
  height: 200px;
  font-size: 20px;

  --radius: 30px;
  --icon-size: 60%;

  &[wide] {
    width: 420px;
  }
}

@media (max-width: 768px - 1px) {
  .placeholder {
    width: 130px;
  }

  santa-card {
    width: 130px;
    height: 130px;
    font-size: 14px;

    --radius: 20px;
    --icon-size: 50%;

    &[wide] {
      width: 280px;
    }
  }
}

header {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: center;
}

/** footer and links */

footer {
  background: #3a068d;
  color: white;
  font-family: 'Google Sans', 'Arial', sans-serif;
  font-size: 24px;

  .inner {
    padding: 48px 64px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: $max-dim;
    box-sizing: border-box;
  
    @media (max-width: 768px - 1px) {
      padding: 24px 32px;
      font-size: 16px;
    }
  }

  .grow {
    flex-grow: 1;
  }

  h3 {
    letter-spacing: 0.165em;
    text-transform: uppercase;
    font-size: 0.6em;
    line-height: 1.28em;
    color: rgba(255, 255, 255, 0.7);

    span {
      color: white;
      min-width: 14ch;
    }
  }

  svg {
    float: right;
    height: 120px;

    @media (max-width: 768px - 1px) {
      height: 80px;
    }
  }
}

.lang {
  position: relative;
  display: inline-block;

  select {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select:hover + h3 span,
  select:focus + h3 span {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;

  li {
    margin: 0;
    padding: 0;
    margin: 0.5em 0;

    a {
      display: block;
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        outline: none;
        text-decoration: underline;
      }
    }
  }
}