$color-dark-blue: #1b1c4f;

//
// Dimensions
//
$mountain-height: 271;

$peeking-rotation: 45;

$rope-vertical-quantity: 15;

// the bench seesaw
$seesaw-bench-rotation: 15; // in degrees

// the rope seesaw
$seesaw-rope-rotation: 80; // in degrees
