@keyframes #{$name}-background-tracks {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-25px, 0, 0);
  }
}

@keyframes #{$name}-reindeerCollision {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes #{$name}-reindeerRun {
  0% {
    transform: translateX(0);
  }

  11% {
    transform: translateX(-$reindeer-width);
  }

  22% {
    transform: translateX(-2 * $reindeer-width);
  }

  33% {
    transform: translateX(-3 * $reindeer-width);
  }

  44% {
    transform: translateX(-4 * $reindeer-width);
  }

  55% {
    transform: translateX(-5 * $reindeer-width);
  }

  66% {
    transform: translateX(-6 * $reindeer-width);
  }

  77% {
    transform: translateX(-7 * $reindeer-width);
  }

  88% {
    transform: translateX(-8 * $reindeer-width);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes #{$name}-reindeerSlide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-$reindeer-width);
  }

  50% {
    transform: translateX(-2 * $reindeer-width);
  }

  75% {
    transform: translateX(-3 * $reindeer-width);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes #{$name}-present1 {
  0% {
    transform: translateX(0);
  }

  94% {
    transform: translateX(-$present1-width);
  }

  96% {
    transform: translateX(-2 * $present1-width);
  }

  98% {
    transform: translateX(-3 * $present1-width);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes #{$name}-present2 {
  0% {
    transform: translateX(0);
  }

  94% {
    transform: translateX(-$present2-width);
  }

  96% {
    transform: translateX(-2 * $present2-width);
  }

  98% {
    transform: translateX(-3 * $present2-width);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes #{$name}-finish {
  0% {
    transform: translateX(-$finish-width);
  }

  80% {
    transform: translateX(0);
  }

  85% {
    transform: translateX(-$finish-width);
  }

  90% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-$finish-width);
  }
}

@keyframes #{$name}-spinClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes #{$name}-spinCounterClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes #{$name}-boostText {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes #{$name}-belt {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: -22px center;
  }
}

@keyframes #{$name}-belt-reverse {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: 22px center;
  }
}

@keyframes #{$name}-speedmeter {
  0% {
    content: '3'
  }
  25% {
    content: '4'
  }
  27% {
    content: '3'
  }
  28% {
    content: '4'
  }
  30% {
    content: '3'
  }
  74% {
    content: '4'
  }
  93% {
    content: '3'
  }
  95% {
    content: '4'
  }
  97% {
    content: '3'
  }
  98% {
    content: '4'
  }
  100% {
    content: '3'
  }
}

@keyframes #{$name}-speedmeter-2 {
  0% {
    content: '7'
  }
  3% {
    content: '8'
  }
  27% {
    content: '7'
  }
  28% {
    content: '8'
  }
  30% {
    content: '7'
  }
  74% {
    content: '8'
  }
  78% {
    content: '7'
  }
  95% {
    content: '8'
  }
  97% {
    content: '7'
  }
  98% {
    content: '8'
  }
  100% {
    content: '7'
  }
}

@keyframes #{$name}-speedup {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@keyframes #{$name}-speedup-stripe {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -250px, 0);
  }
}