$tabletBreakpoint: 1024px;
$mobileBreakpoint: 668px;
$mobilePortraitBreakpoint: 400px;

@media (min-width: 1px) and (max-width: $tabletBreakpoint) {
  #educators-intro {
    height: auto;

    .educators-intro-col {
      width: 100%;
    }
  }

  #educators-primary {
    .educators-primary-inner {
      width: 100%;
    }   

    info-card {
      margin: 0 auto 30px;
      width: calc(70% - 30px);
    }
  }

  #educators-secondary {
    .educators-secondary-inner {
      width: 100%;
    }

    info-card {
      width: calc(50% - 30px) !important;
    }
  }
}

@media (min-width: 1px) and (max-width: $mobileBreakpoint) {
  #educators-primary {
    h2 {
      padding: 0 10px;
    }

    info-card {
      width: calc(100% - 30px);
    }

    .educators-primary-intro {
      margin: 1em auto;
      width: 90%;
    }
  }

  #educators-secondary {
    info-card {
      width: calc(100% - 30px) !important;
    }
  }

  #educators-embed {
    .educators-embed-inner {
      width: 90%;
    }

    .rect:before {
      padding-top: 40%;
    }
  }

  #educators-nonprofit {
    .educators-nonprofit-intro {
      margin: 1em auto;
      width: 90%;
    }
  }

  #educators-footer {
    padding: 100px 0;
    width: 100%;
  }
}