
##{$name} {

  .elves {
    #elf1-eyes {
      animation-name: #{$name}-elves-blink;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-delay: 1s;
      animation-timing-function: $easeInOutQuad;
      transform-origin: center 22%;
    }

    #elf2-eyes {
      animation-name: #{$name}-elves-blink;
      animation-iteration-count: infinite;
      animation-duration: 11s;
      animation-delay: 5s;
      animation-timing-function: $easeInOutQuad;
      transform-origin: center 36%;
    }
  }
}


@keyframes #{$name}-elves-blink {
  0%, 20%   { transform: scaleY(1); }
  21%       { transform: scaleY(0); }
  22%, 100% { transform: scaleY(1); }
}
