body {
  margin: 0;
  background: #71a7db;
  font-family: 'Roboto', 'Arial', Sans-Serif;
  overflow: hidden;
  touch-action: none;
}

.tutorial-hand {
  position: absolute;
  top: 58%;
  left: calc(50% + 15vh);
  scale: 0.6;
  animation: 5s infinite tutorial-hand-click;
  pointer-events: none;
}

.throw-accessibility-button {
  // Should only be triggered by keyboard or accessiblity tools.
  pointer-events: none;

  font-size: 0;

  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  border: none;
  background: none;
  left: 2%;
  right: 2%;
  top: 100px;
  bottom: 2%;
}

.canvas-button:focus-visible {
  outline-offset: -8px;
}

.hidden {
  display: none;
}

@keyframes tutorial-hand-click {
  0% {
    scale: 0.6;
    translate: 50vw 50vh;
  }
  30% {
    scale: 0.6;
    translate: 0;
  }
  45% {
    scale: 0.6;
  }
  50% {
    scale: 0.66;
  }
  53% {
    scale: 0.53;
  }
  56% {
    scale: 0.6;
  }
}
