body {
  margin: 0;
  background: #71a7db;
  font-family: 'Roboto', 'Arial', Sans-Serif;
  overflow: hidden;
  touch-action: none;
}

.tutorial-hand {
  position: absolute;
  top: 58%;
  left: calc(50% + 15vh);
  scale: 0.6;
  animation: 5s infinite tutorial-hand-click;
  pointer-events: none;
}

.canvas-button {
  position: absolute;
  border: none;
  background: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hidden {
  display: none;
}

@keyframes tutorial-hand-click {
  0% {
    scale: 0.6;
    translate: 50vw 50vh;
  }
  30% {
    scale: 0.6;
    translate: 0;
  }
  45% {
    scale: 0.6;
  }
  50% {
    scale: 0.66;
  }
  53% {
    scale: 0.53;
  }
  56% {
    scale: 0.6;
  }
}
