body {
  margin: 0;
  background: #71a7db;
  font-family: 'Roboto', 'Arial', Sans-Serif;
  overflow: hidden;
  touch-action: none;
}

.tutorial-hand {
  position: absolute;
  top: 58%;
  left: calc(50% + 15vh);
  scale: 0.6;
  animation: 5s infinite tutorial-hand-click;
  pointer-events: none;
}

.canvas-button {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  border: none;
  background: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.canvas-button:focus-visible {
  outline-offset: -8px;
}

.score-animation {
  position: absolute;
  visiblity: hidden;
  color: white;
  font-size: 10em;
  text-align: center;
  // Text shadow so text shows up even against white background.
  text-shadow: #F99 0 0 5px;
  // Center text based on top/left positioning.
  transform: translateX(-50%);
  width: fit-content;
}

@keyframes animated-score {
  from {
    opacity: 100%;
    visibility: visible;
    font-size: 10em;
  }

  to {
    opacity: 0%;
    visibility: hidden;
    top: 0px;
    left: 50%;
    font-size: 1em;
  }
}

.score-animation.animating {
  animation-name: animated-score;
  animation-duration: 1s;
  // Forwards means end state of animation is persisted, so text doesn't
  // reappear.
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

@keyframes tutorial-hand-click {
  0% {
    scale: 0.6;
    translate: 50vw 50vh;
  }
  30% {
    scale: 0.6;
    translate: 0;
  }
  45% {
    scale: 0.6;
  }
  50% {
    scale: 0.66;
  }
  53% {
    scale: 0.53;
  }
  56% {
    scale: 0.6;
  }
}
