$name: 'module-santaselfie';

@import "../shared/sass/button";

@import "sass/responsive";
@import "sass/background";
@import "sass/buttons";
@import "sass/tools";
@import "sass/santa";

##{$name} {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .scene {
    background-color: #00ADEB;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    font-size: 1px;
  }

  /**
   * Hides the element but still keeps it composed on the GPU by translating it off-screen.
   * By keeping things composed we get respectable performance on android browsers since
   * the biggest overhead is in moving things to the GPU there.
   * http://code.google.com/p/android/issues/detail?id=25147
   */
  .hidden {
    transform: translate3d(0, 9999px, 0) !important;
  }
}
