$name: 'module-presenthavoc';

@import "../_shared/sass/button";

$mobile-breakpoint: 1100px;

$grid-unit-size: 50px;
$fence-border: 9px solid #9B643D;
$present-width: 2;
$present-height: 2;
$table-width: 3;
$table-height: 2;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
}

##{$name} {
  main {
    background: #ccc;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .level {
    background: #e6ac28;
    position: absolute;
    transform-origin: top left;
  }

  .fence,
  .penguin,
  .pit,
  .player,
  .present-box,
  .table,
  .wall {
    left: 0;
    position: absolute;
    top: 0;
  }

  .player {
    height: $grid-unit-size;
    width: $grid-unit-size;
    z-index: 10;

    &.is-hidden {
      opacity: 0;
    }

    &.is-winner {
      &::after {
        font-size: 30px;
        left: 11px;
        top: -13px;
        content: '👑';
        position: absolute;
      }
    }

    &.toypart--wheels {
      &::after {
        background: red;
        bottom: -20px;
        content: '';
        height: 15px;
        left: 18px;
        position: absolute;
        top: auto;
        width: 15px;
      }
    }

    &.toypart--car-body {
      &::after {
        background: blue;
        bottom: -20px;
        content: '';
        height: 15px;
        left: 18px;
        position: absolute;
        top: auto;
        width: 15px;
      }
    }

    &.toypart--car-body.toypart--wheels {
      &::after {
        background: purple;
        bottom: -20px;
        content: '';
        height: 15px;
        left: 18px;
        position: absolute;
        top: auto;
        width: 15px;
      }
    }
  }

  #player-1 {
    background: url(img/player-a.svg) center/contain no-repeat;
  }

  #player-2 {
    background: url(img/player-b.svg) center/contain no-repeat;
  }

  .penguin {
    background: url(img/penguin.svg) center/contain no-repeat;
    height: $grid-unit-size;
    width: $grid-unit-size;
  }

  .pit {
    background: #332f2e;
  }

  .wall {
    background: #9b643d;
  }

  .fence {
    height: $grid-unit-size;
    width: $grid-unit-size;

    &--left {
      border-left: $fence-border;
    }

    &--right {
      border-right: $fence-border;
    }

    &--top {
      border-top: $fence-border;
    }

    &--bottom {
      border-bottom: $fence-border;
    }
  }

  .table {
    background: url(img/table-3.svg) center/contain no-repeat;
    height: $grid-unit-size * $table-height;
    width: $grid-unit-size * $table-width;
  }

  .present-box {
    background: url(img/present.svg) center/contain no-repeat;
    height: $grid-unit-size * $present-height;
    width: $grid-unit-size * $present-width;
  }

  .platform {
    background: #30a658;
    height: $grid-unit-size;
    width: $grid-unit-size;
  }

  // .title {
  //   font-family: 'Lobster', sans-serif;
  //   position: absolute;
  //   text-align: center;
  //   top: 20%;
  //   width: 100%;
  //   z-index: 3;

  //   @media screen and (max-width: $mobile-breakpoint) {
  //     top: 30%;
  //   }
  // }
}
