$button-bp: 661px;
$button-colors: (
  green:      (base: #32a658, shadow: #2a8c4a),
  orange:     (base: #ff9802, shadow: #f57c00),
  orangered:  (base: #ff3f00, shadow: #f52f00),
  purple:     (base: #ad00ad, shadow: #8f0093),
  red:        (base: #ff0060, shadow: #e70058),
  white:      (base: #efefef, shadow: #c1dbd9),
  yellow:     (base: #ffc100, shadow: #f0922b),
);
$button-shadow: rgba(0, 0, 0, 0.16);

$button-icons: (
  globe: globe,
  home: home,
  menu: menu-hamburger,
  mute: volume-off,
  next: arrow-key-right,
  pause: pause,
  play: play,
  prev: arrow-key-left,
  share: share,
  shuffle: shuffle,
  facebook: share-facebook,
  twitter: share-twitter,
  refresh: refresh,
  replay: replay,
  trash: trash,
  unmute: volume-on,
);

@function setColor($color, $tone: base) {
  @return map-get(map-get($button-colors, $color), $tone);
}

@mixin ButtonColor($color) {
  background-color: setColor($color);
  box-shadow: 0px 8px 0 setColor($color, shadow), 0px 0px $button-shadow;

  @if $color == white {
    color: #b1b1b1;
  }

  &.Button--round {
    box-shadow: 3px 6px 0 setColor($color, shadow), 8px 9px $button-shadow;

    &.Button--small {
      box-shadow: 2px 4px 0 setColor($color, shadow), 5px 7px $button-shadow;
    }

    &.Button--large {
      box-shadow: 5px 7px 0 setColor($color, shadow), 13px 14px $button-shadow;
    }
  }
}

@mixin ButtonIcon($icon) {
  background-image: url(../shared/img/button/#{$icon}.svg);
}

##{$name} {
  .Button {
    -webkit-font-smoothing: antialiased;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    line-height: 32px;
    margin: 0 5px;
    min-height: 32px;
    outline: none;
    padding: 0 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0);
    transition: transform 0.1s, box-shadow 0.1s;
    user-select: none;

    @include ButtonColor(purple);

    @media (min-width: $button-bp) {
      background-size: 30px;
      border-radius: 8px;
      font-size: 22px;
      line-height: 52px;
      margin: 0 10px;
      min-height: 52px;
      padding: 0 30px;
    }

    &:active {
      box-shadow: none !important;
      transform: translateY(4px) translateZ(0);
      transition: transform 0.2s, box-shadow 0.2s;
    }
  }

  .Button--small {
    background-size: 20px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 32px;
    min-height: 32px;
    padding: 0 18px;

    &:active {
      transform: translateY(3px) translateZ(0);
    }
  }

  .Button--large {
    background-size: 50px;
    font-size: 28px;
    line-height: 80px;
    min-height: 80px;
    padding: 0 45px;
  }

  .Button--round {
    border-radius: 50%;
    height: 32px;
    padding: 0 !important;
    width: 32px;

    @media (min-width: $button-bp) {
      height: 55px;
      width: 55px;
    }

    &.Button--small {
      height: 32px;
      width: 32px;
    }

    &.Button--large {
      height: 88px;
      width: 88px;
    }
  }

  .Button--noText {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }

  @each $icon, $file in $button-icons {
    .Button--#{$icon} {
      background-image: url(../shared/img/button/#{$file}.svg);
    }
  }
}
