@import "overlay";
@import "share-buttons";

$gameover-bg: #FBBF2C !default;
$gameover-height-bp: 660px;
$gameover-width-bp: 661px;

##{$name} {
  .gameover {
    background-color: $gameover-bg;
    z-index: 120;
  }

  .gameover-dialog {
    text-align: center;
    width: 205px;

    @media (min-height: $gameover-height-bp) {
      width: 410px;
    }

    @media (min-width: $gameover-width-bp) {
      width: 410px;
    }
  }

  .gameover-winner {
    background: url(../shared/img/gameover/winner.svg) 0 100% no-repeat;
    height: 80px;

    @media (min-width: $gameover-width-bp) {
      height: 380px;
      background-position: 50% 100%;
    }
  }

  .gameover-title {
    font-family: 'Lobster', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    color: mix($gameover-bg, #fff, 40%);
    margin: 0;

    @media (min-width: $gameover-width-bp) {
      font-size: 69px;
    }
  }

  .gameover-level {
    display: none;
  }

  .gameover.is-levelOnly .gameover-level {
    display: block;
  }

  .gameover.is-levelOnly .gameover-score {
    display: none;
  }

  .gameover-label {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 8px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;

    @media (min-width: $gameover-width-bp) {
      font-size: 13px;
    }
  }

  .gameover-number {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1.76px;
    margin: 0;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.13);

    @media (min-width: $gameover-width-bp) {
      font-size: 88px;
      line-height: 96px;
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.13);
    }
  }

  .gameover-buttons {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 5px 5px 10px 5px;

    @media (min-width: $gameover-width-bp) {
      padding: 10px 10px 20px 10px;
    }
  }

  .gameover-play {
    background-image: url(../shared/img/gameover/play.svg);
    background-position: 15px 50%;
    background-repeat: no-repeat;
    background-size: 20.5px 21px;
    margin-bottom: 10px;

    @media (min-width: $gameover-width-bp) {
      background-position: 40px 50%;
      background-size: 41px 42px;
      margin-bottom: 20px;
    }
  }
}
