##{$name} {
  .gameover {
    background-color: #b4e3f9;
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;

    &.visible {
      animation: 0.5s #{$name}-gameover-bg linear forwards;
      display: block;

      .dialog {
        animation: 1.5s #{$name}-gameover-show ease-in-out forwards;
      }
    }

    &.close {
      animation: 1s #{$name}-gameover-bg-out linear forwards;
      .dialog {
        animation: 1s #{$name}-gameover-hide ease-out forwards;
      }
    }

    .dialog {
      height: 442px;
      left: 50%;
      margin-left: -195px;
      margin-top: -221px;
      position: absolute;
      top: 50%;
      width: 390px;
    }

    .shadow {
      border-radius: 5px;
      background-color: #8eafbc;
      height: 442px;
      left: 6px;
      position: absolute;
      top: 10px;
      width: 390px;
    }

    .fg {
      background-color: #ea4437;
      border-radius: 5px 5px 0 0;
      height: 350px;
      left: 0;
      position: absolute;
      top: 0;
      width: 390px;

      // Game over image
      &:after {
        background: url(img/gameover/winner.svg) 50% 0px no-repeat;
        content: "";
        height: 323px;
        left: 80px;
        position: absolute;
        top: -40px;
        width: 270px;
      }
    }

    .score, .level {
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 800;
      height: 30px;
      left: 115px;
      position: absolute;
      text-align: center;
      top: 290px;
      width: 70px;
    }

    .level {
      left: 200px;
    }

    .label {
      font-size: 10px;
      line-height: 20px;
      text-transform: uppercase;
    }

    .buttons {
      background-color: #25b14b;
      border-radius: 0 0 5px 5px;
      bottom: 0;
      height: 52px;
      left: 0;
      padding: 20px;
      position: absolute;
      width: 350px;

      a {
        background-color: #24a84a;
        border: 1px solid #1c9948;
        border-radius: 4px;
        color: #fff;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        height: 20px;
        margin-bottom: 15px;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        &.small {
          font-size: 12px;
          height: 50px;
        }
      }

      a:hover, a:active {
        border-width: 3px;
        padding: 13px 15px;
      }
    }
  }

  @media (max-width: 660px) {
    .gameover .dialog {
      transform: scale(0.6);
    }
  }
}

@keyframes #{$name}-gameover-bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes #{$name}-gameover-bg-out {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes #{$name}-gameover-show {
  0% {
    top: -50%;
  }
  20% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}

@keyframes #{$name}-gameover-hide {
  0% {
    top: 50%;
  }
  80% {
    top: 150%;
  }
  100% {
    top: 150%;
  }
}
