@mixin animations($content) {
  -webkit-animation: $content;
  -moz-animation: $content;
  -ms-animation: $content;
  -khtml-animation: $content;
  animation: $content;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// Modifed from https://github.com/pierreburel/media-hdpi
// Default pixel ratio
$pixel-ratio-hdpi: 1.5 !default;

// Media query block
@mixin media-hdpi($pixel-ratio: $pixel-ratio-hdpi) {
  // DPI to pixel ratio
  @if unit($pixel-ratio) == "dpi" {
    $pixel-ratio: $pixel-ratio/96dpi;
  }

  // Default media query
  // http://www.brettjankord.com/2012/11/28/cross-browser-retinahigh-resolution-media-queries/
  $media-hdpi: "(-webkit-min-device-pixel-ratio: #{$pixel-ratio}), (min-resolution: #{$pixel-ratio*96}dpi)" !default;

  @media #{$media-hdpi} {
    @content;
  }
}