@import "overlay";

$pauseOverlay-bg: #FFC41B !default;

##{$name} {
  .pauseOverlay {
    background-color: $pauseOverlay-bg;
    z-index: 1 !important;
  }

  .pauseOverlay-icon {
    background: url(../shared/img/pause-overlay/pause-icon.svg) no-repeat;
    border: 0;
    height: 336px;
    left: 50%;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 339px;
  }
}
