@import "button";

$shareButtons-color: #FFBE26 !default;
$shareButtons-shadow: #FF873E !default;

##{$name} {
  .shareButtons-google,
  .shareButtons-facebook,
  .shareButtons-twitter {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @include ButtonColor($shareButtons-color, $shareButtons-shadow);
    margin-right: 10px;
  }

  .shareButtons-google {
    background-image: url(../shared/img/share-buttons/google.svg);
    background-size: 16px 16px;

    @media (min-width: $button-bp) {
      background-size: 32px 32px;
    }
  }

  .shareButtons-facebook {
    background-image: url(../shared/img/share-buttons/facebook.svg);
    background-size: 5px 10px;

    @media (min-width: $button-bp) {
      background-size: 10px 20px;
    }
  }

  .shareButtons-twitter {
    background-image: url(../shared/img/share-buttons/twitter.svg);
    background-size: 11px 9px;
    margin-right: 0;

    @media (min-width: $button-bp) {
      background-size: 22px 18px;
    }
  }
}
