@import "overlay";
@import "share-buttons";

$shareOverlay-bp: 661px;
$shareOverlay-bg: rgba(40, 181, 245, 0.9) !default;

##{$name} {
  .shareOverlay {
    background-color: $shareOverlay-bg;
  }

  .shareOverlay-dialog {
    position: relative;
  }

  .shareOverlay-close {
    background: none;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 78px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 78px;
    outline: none;

    @media (min-width: $shareOverlay-bp) {
      right: -78px;
    }
  }

  .shareOverlay-close:before,
  .shareOverlay-close:after {
    background: #fff;
    height: 3px;
    content: '';
    left: 50%;
    margin-left: -25px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: 200ms transform;
    top: 50%;
    width: 50px;
  }

  .shareOverlay-close:before {
    transform: rotate(45deg);
  }

  .shareOverlay-close:active:before {
    transform: rotate(35deg);
  }

  .shareOverlay-close:after {
    transform: rotate(-45deg);
  }

  .shareOverlay-close:active:after {
    transform: rotate(-35deg);
  }

  .shareOverlay-imageWrapper {
    position: relative;
    width: 320px;

    &:after {
      content: '';
      display: block;
      padding-top: 77.25%;
    }

    @media (min-width: 400px) {
      width: 400px;
    }
  }

  .shareOverlay-image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .shareOverlay--barber .shareOverlay-image {
    background: url(../shared/img/share-overlay/barber.svg) no-repeat;
  }

  .shareOverlay--postcard .shareOverlay-image {
    background: url(../shared/img/share-overlay/postcard.svg) no-repeat;
  }

  .shareOverlay--jamband .shareOverlay-image {
     background: url(../shared/img/share-overlay/jamband.svg) no-repeat;
  }

  .shareOverlay-label {
    color: #FFFFFF;
    font-size: 8px;
    font-weight: 800;
    margin: 0 0 7px 0;
    text-transform: uppercase;

    @media (min-width: $shareOverlay-bp) {
      font-size: 13px;
    }
  }

  .shareOverlay-url {
    background: #FFFFFF;
    border: 0;
    border-radius: 7px;
    box-shadow: inset 5.74px 5.74px 0px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    color: #6A1B9A;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 74px;
    line-height: 50px;
    margin-bottom: 10px;
    outline: none;
    padding: 0 20px;
    text-align: center;
    width: 290px;

    @media (min-width: 400px) {
      font-size: 36px;
      line-height: 74px;
      width: 370px;
    }
  }

  .shareOverlay-buttons {
    background: #AE43BE;
    border-radius: 15px;
    padding: 5px 5px 10px 5px;

    @media (min-width: $shareOverlay-bp) {
      padding: 10px 10px 20px 10px;
    }
  }
}
