@mixin tutorial($type, $image, $steps: 4) {
  .tutorial.#{$type} .tutorial-inner {
    animation: $steps * 500ms #{$name}-tutorial-step-#{$steps} infinite step-start;
    background-image: url(#{$image});
    width: $steps * 275px;
  }
}

##{$name} {
  .tutorial {
    display: none;
    height: 290px;
    left: 50%;
    margin-left: -137px;
    margin-top: -130px;
    position: fixed;
    overflow: hidden;
    top: 50%;
    width: 275px;
    z-index: 100;

    &:after {
      background: url('../shared/img/tutorial/shadow.svg') no-repeat;
      content: "";
      height: 270px;
      left: 0;
      opacity: 0.15;
      position: absolute;
      top: 20px;
      width: 275px;
      z-index: 1;
    }

    .tutorial-inner {
      animation: 2s #{$name}-tutorial-step-4 infinite step-start;
      background-position: 0 0;
      background-repeat: no-repeat;
      height: 270px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1100px;
      z-index: 2;
    }
  }

  // Keyboard
  @include tutorial(keys-arrow, '../shared/img/tutorial/keys-arrows.svg', 4);
  @include tutorial(keys-space, '../shared/img/tutorial/keys-space.svg', 2);
  @include tutorial(keys-leftright, '../shared/img/tutorial/keys-leftright.svg', 2);
  @include tutorial(keys-up, '../shared/img/tutorial/keys-up.svg', 2);
  @include tutorial(keys-updown, '../shared/img/tutorial/keys-updown.svg', 2);

  // Mouse
  @include tutorial(mouse-leftright, '../shared/img/tutorial/mouse-leftright.svg', 2);

  // Touch
  @include tutorial(touch-updown, '../shared/img/tutorial/touch-updown-landscape.svg', 4);
  @include tutorial(touch-leftright, '../shared/img/tutorial/touch-leftright-landscape.svg', 4);

  // Portal spacenav
  @include tutorial(spacenav-leftright, '../shared/img/tutorial/PortalHorizontalArrows_TransparentBG.gif', 1);
  @include tutorial(spacenav-updown, '../shared/img/tutorial/PortalVerticalArrows_TransparentBG.gif', 1);
  @include tutorial(spacenav-space, '../shared/img/tutorial/PortalCenterPush_TransparentBG.gif', 1);
  @include tutorial(spacenav-arrows, '../shared/img/tutorial/PortalArrows_TransparentBG.gif', 1);
  @include tutorial(spacenav-up, '../shared/img/tutorial/PortalUpArrow_TransparentBG.gif', 1);

  @media (orientation: portrait) {
    .tutorial.touch-updown .tutorial-inner {
      background-image: url('../shared/img/tutorial/touch-updown-portrait.svg');
    }
  }

  // Device
  @include tutorial(device-tilt, '../shared/img/tutorial/device-tilt.svg', 3);
}

@keyframes #{$name}-tutorial-step-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-275px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes #{$name}-tutorial-step-3 {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-275px);
  }
  66% {
    transform: translateX(-550px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes #{$name}-tutorial-step-4 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-275px);
  }
  50% {
    transform: translateX(-550px);
  }
  75% {
    transform: translateX(-825px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes #{$name}-tutorial-step-5 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-275px);
  }
  40% {
    transform: translateX(-550px);
  }
  60% {
    transform: translateX(-825px);
  }
  80% {
    transform: translateX(-1100px);
  }
  100% {
    transform: translateX(0);
  }
}
