##{$name} {
  .videoboard {
    background-color: $videoboard-buttons;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-align: center;

    .back {
      background: darken($videoboard-bg, 5%);
    }

    .scrubber {
      background-color: $videoboard-tracker-bg;
      clear: left;
      height: 36px;
      position: relative;
    }

    .tracker {
      background: $videoboard-tracker-fg;
      font-size: 18px;
      line-height: 36px;
      position: absolute;
      top: 0;
      transform: translateZ(0);
      width: 54px;
    }

    .actions {
      height: 52px;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .restart, .pause, .play {
      border-left: 1px solid #19991f;
      box-sizing: border-box;
      cursor: pointer;
      float: left;
      height: 52px;
      list-style: none;
      width: 102px;
    }

    .restart {
      background: url('img/videoboard/restart.svg') no-repeat 50% 50%;
      border-left: none;
    }

    .pause {
      background: url('img/videoboard/pause.svg') no-repeat 50% 50%;
    }

    .paused {
      background: url('img/videoboard/play.svg') no-repeat 50% 50%;
    }
  }

  @media (min-width: 1350px) {
    .videoboard .logo {
      background: $videoboard-bg url('img/logo.svg') no-repeat 50% 50%;
      box-sizing: border-box;
      display: block;
      height: 156px;
      padding-top: 26px;
    }
  }

  @media (max-width: 1024px) {
    .videoboard {
      border-radius: 22px 0 0 22px;
      box-shadow: none;
      top: auto;
      bottom: 10px;
      height: 45px;
      left: auto;
      right: 0;
      transform-origin: 150px 45px;
      width: 150px;

      // Reset styles
      .restart, .logo, .back {
        display: none;
      }

      .scrubber, .tracker {
        background: none;
        border: none;
        font-size: 22px;
      }

      .scrubber {
        bottom: 0;
        height: auto;
        left: 0;
        position: absolute;
        top: 0;
        width: 60%;
      }

      .tracker {
        line-height: 45px;
        position: static;
        text-align: center;
        transform: translateX(0) !important; // disable animation
        width: auto;
      }

      .pause {
        border-left: 1px solid #19991f;
        bottom: 0;
        height: auto;
        left: 60%;
        position: absolute;
        top: 0;
        width: 40%;
      }
    }
  }

  @media (max-width: 660px) {
    .videoboard {
      transform: scale(0.71);
    }
  }
}
