.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 3px 5px #ddd;
  margin: 0 15px 30px;
  overflow: hidden;
  text-align: left;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  width: calc(50% - 30px);

  &[press-locked] {
    .card-img .card-lock {
      opacity: 1;
    }
  }

  .card-info {
    p {
      color: #607d8b;
    }
  }

  .card-img {
    background: transparent center/cover no-repeat;
    border-radius: 5px 5px 0 0;
    color: #fff;
    height: 265px;
    overflow: hidden;
    position: relative;

    .card-lock {
      background: rgba(0, 172, 193, .8) 50% 55% no-repeat;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAkpJREFUeNrtmz1Ow0AQhX2EPQJHyBHc0JuewoegJz2HWAlRUbAHoAgVrQUNDQegIkcYdpSNZDm2Y9i3P4N3pJGixGvnfR6PPevZqgps9HBZW99aN9Y763TGO7ctj6kraWb/tLLeOhEEcuP2qXIWvrGugaKnXGcVGS7EdxGED32XFIQLdZ1A+FhEqNjiG+v7DMQfnf9LE0u8zkj4STSEDvkuY/H926haq3g8BCd+L0h8Py9c5HXmzTXRxxPR9yedGH/Hv/E2uUQCVDyLW2q8LRBC2mz/eDV+xs8Zj+GxKe4O7j6fTnwYCE38pDcV9l9vRK93RM83B+fP/F3Yy2G/KB/AQp+T2Zix2Kkx/NuY4RKjXlLYhEt6c+LnIGCTYj0HAFfVDa99DvGlY4eXA+8LWEWGP/vsfzn7c1GAfUjahC1yOHMPjZPd0vG8bVgAeizzU1AAMccvc9UH0MIP4CsgPIC2D8CsEIDpA6AVAiBM9n+/p2TGx/Z9JnAvIHDJLrb5Adj6Xf/yARj/ml82gK6CJztZAKgASAaAC5yX24P7TJqIBcDCj/vgz6sDgLqb/AsAyP0UAAXArwF0KwbQ+ZfCsgEYv2JIPoCtfzksG0DtPyEi+EEIMyUm91HYYCZF5RZDLWZaXC4AhXkxIhOAnmp1XQuAGvdyVB6AHfb1uLxp8VpyJ2j4XiHBfYGYFhlok1Re3vynpug4TdTC+oOxjZJCm6TxTdPccCy4WVqVdvmyYKIsmSmLpsqyubJwMh6IWEtnN2XxtKDV5Fkvn/8BKSwdTo1I5NQAAAAASUVORK5CYII=');
      background-size: 10% auto;
      box-sizing: border-box;
      display: block;
      height: 100%;
      opacity: 0;
      padding-top: 20px;
      position: relative;
      text-align: center;
      width: 100%;
      will-change: opacity;
      z-index: 1;
    }

    .card-unlock {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
    }

    .card-unlock-day {
      font-family: 'Lobster', sans-serif;
      font-weight: normal;
      font-size: 40px;

      span {
        font-size: 30px;
        margin-left: 2px;
      }
    }
  }

  .card-info {
    color: #546E7A;
    padding: 25px;

    h2 {
      margin-bottom: 50px;
    }

    span {
      color: #90A4AE;
    }

    p, span {
      font-size: 14px;
      line-height: 24px;
    }

    .card-links {
      @extend .clearfix;

      a {
        box-sizing: border-box;
        display: block;
        font-size: 14px;
        opacity: 1;
        padding: 10px 0 8px 35px;
        position: relative;
        transition: opacity .3s;
        width: 100%;

        &:hover {
          opacity: .7;
        }

        span {
          font-size: 10px;
        }
      }

      .card-dl {
        &:before {
          background: transparent center/contain no-repeat;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUWMPt1skJwDAQQ9Hpv4nfSMpIP8nZJASvYxEk0Hke3nBEa47zauryGGSQQQYZZNBjIM1D+4sSCqWVQmn7UDpTzLpZ6GDmoFj1BqGD6UMRKalDJWHqUMmYb9QmzDtqM6ZEiWAcZ/SLOlqD/gdyytz43Z4LtbbRXQAAAABJRU5ErkJggg==');
          content: '';
          height: 20px;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          width: 20px;
        }
      }

      .card-play {
        &:before {
          background: transparent center/contain no-repeat;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALpJREFUWMPtl10NgCAURm8EIxjBKEYgAhFoQASLuFHCdyMQQa9OxnT6ws/4hnzb8U084wpciFpaqs68DIxk1Asmkrcx5fnND5mJ2QoxPWVUQRmHcjIdYwGE7OnCDwEg4xCHkAYS0nStgNApTi1kKGLgLsPsWgp++b53mWRS0UJebGRWHCG/hSgcIS/WB5cxi1BMGf8hBFMyqJ8aZtln2Bjhjg64wxWu/YBr0MBaWLgmH/IaBHlRbGmpJDvrKWIVnpcv/QAAAABJRU5ErkJggg==');
          content: '';
          height: 20px;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translate3d(0, -55%, 0);
          width: 20px;
        }
      }

      .card-locked {
        cursor: default;
        opacity: 1;

        &:before {
          opacity: .25;
        }

        &:hover {
          opacity: 1;
        }
      }

      .card-title {
        color: #546E7A;
        font-weight: 600;
        display: block;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #90A4AE;
      }

      .card-links-half {
        width: 50%;
        float: left;
      }

      .card-links-full {
        width: 100%;
        float: left;
      }
    }
  }
}