footer {
  height: 70px;
  color: #fff;      
  background: #27ba83;
  @extend .clearfix;

  #footer-inner {
    width: 980px;
    margin: 0 auto;

    a {
      color: #fff;
      text-decoration: none;
    }

    #footer-left, #footer-right {
      width: 50%;
      float: left;
      line-height: 70px;
    }

    #footer-left {
      text-align: left; 
      span {
        margin-left: 15px;
      }           
    }

    #footer-right {     
      text-align: right;

      span {
        margin-right: 15px;
      }

      button {
        float: right; 
        height: 45px;
        width: 45px;
        border: none;
        border-radius: 5px;
        margin: 13px 15px 12px 0;       
      }

      .footer-g-plus {
        background: #17CC82 url(img/ic-g-plus_32px_2x.png) 50% 50% no-repeat;
        background-size: auto 80%;  
      }

      .footer-twitter {
        background: #17CC82 url(img/ic-twitter_32px_2x.png) 50% 50% no-repeat;
        background-size: auto 80%;
      }

      .footer-facebook {
        background: #17CC82 url(img/ic-facebook_32px_2x.png) 50% 50% no-repeat;
        background-size: auto 80%;
      }

      .footer-email {
        background: #17CC82 url(img/ic-email_32px_2x.png) 50% 50% no-repeat;
        background-size: auto 80%;
      }                    
    }
  }
}