$toolbar-height: 44px;  // TODO: this is headerSize
$tablet-width: 768px;

*[hidden] {
  display: none !important;
}

.buttons {
  padding: ($toolbar-height - 40px)/2 0;  // icon=40px, total=$toolbar-height;
  height: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
  display: flex;
  font-size: 0;  // fixes alignment issues
}

// Don't show sound icons on mobile, unless we're somehow muted already, to let the user unmute.
// FIXME(samthor): We could just unmute on <768px change.
#sound:not([data-mute]) {
  @media (max-width: ($tablet-width - 1px)) {
    display: none;
  }
  @media (hover: none) {
    display: none;
  }
}
