$toolbar-height: 44px;  // TODO: this is headerSize
$tablet-width: 768px;
$bighover-media: "(min-width: $tablet-width) and (hover: hover), (min-width: $tablet-width) and (-moz-touch-enabled: 0)";

*[hidden] {
  display: none !important;
}

.buttons {
  padding: ($toolbar-height - 40px)/2 0;  // icon=40px, total=$toolbar-height;
  height: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
  display: flex;
  font-size: 0;  // fixes alignment issues

  > paper-icon-button {
    will-change: opacity;
    transition: opacity 0.165s;
  }
}

// # overflow element

.buttons-overflow {
  position: absolute;
  top: $toolbar-height;
  right: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  will-change: transform, opacity;
  transition: transform 0.33s, opacity 0.33s;
  width: 160px;  // make this a large hover target that goes to right
  padding-right: 16px;
  padding-bottom: 16px;

  paper-icon-button {
    margin-top: 12px;
    background: var(--santa-feature-color, #00e8bf);
    border-radius: 1000px;
    color: white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    will-change: transform;
    transition: transform 0.1s;

    &.external-link {
      display: var(--link-display, block);
    }

    &[data-title] {
      &::after {
        // nb. this increases the mouse target for the icon, but is otherwise invisible
        z-index: -2;
        content: attr(data-title);
        color: transparent;
        position: absolute;
        right: -4px;
        top: -4px;
        bottom: -4px;
        border-radius: 10000px;
        padding-right: 66px;
        padding-left: 8px;
        font-size: 14px;
      }

      &::before {
        content: attr(data-title);
        position: absolute;
        right: 100%;
        margin-right: 12px;
        display: flex;
        align-items: center;
        top: 8px;
        bottom: 8px;
        padding: 4px 6px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        pointer-events: none;
      }

      // only fade/in out labels when hover is possible
      @media (hover: hover) {
        &::before {
          opacity: 0;
          will-change: opacity;
          transition: opacity 0.125s;
        }
        &:hover::before {
          opacity: 1;
        }
      }
    }
  }

  .group {
    display: flex;

    &.external-link {
      display: var(--link-display, flex);
    }

    paper-icon-button {
      margin-left: 6px;
    }
  }

  @for $i from 1 through 10 {
    > paper-icon-button:nth-child(#{$i}) {
      transition-delay: 0.04s * ($i - 1);
    }
  }

  // when hover and on a tablet, use the space the "more" button consumed
  @media #{$bighover-media} {
    top: 0;

    > paper-icon-button.first,
    > .first paper-icon-button {
      margin-top: 2px;
      background: none;
      box-shadow: none;
    }
  }
}

// open/closed modifiers

.buttons {
  @keyframes hold {
    from { visibility: visible; }s
    to   { visibility: visible; }
  }

  &:not([open]) {
    .buttons-overflow {
      pointer-events: none;
      animation: hold 0.33s;
      visibility: hidden;
      opacity: 0.33;
      paper-icon-button {
        transform: scale(0);
        transition-delay: 0s !important;
      }
    }
  }

  // in hover, hide the "more" button when active
  @media #{$bighover-media} {
    &[open] {
      > paper-icon-button {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}

// Don't show sound icons on mobile, unless we're somehow muted already, to let the user unmute.
// FIXME(samthor): We could just unmute on <768px change.
#sound:not([data-mute]) {
  @media (max-width: ($tablet-width - 1px)) {
    display: none;
  }
}
