.postflight #finished-tracker {
  display: none;
}

#countdown {
  z-index: 49;
  color: #fff;
  top: 75px;
  position: absolute;
  width: 100%;
  &:not(.finished) {
    pointer-events: none;
  }

  $counterPadding: 19px;

  #finished-tracker {
    background-image: url(img/sign.svg);
    background-size: 541px 561px;
    background-repeat: no-repeat;
    width: 536px;
    height: 554px;
    left: 50%;
    //bottom: -170px;
    margin-left: #{-536/2}px;
    top: -200px;
    position: absolute;
    @include transform(translate3d(0, -1000px, 0));
    @include transition(all 1.5s cubic-bezier(0.4, 1.6, 0.2, 1));

    a {
      display: block;
      position: absolute;
      left: 25px;
      right: 25px;
      bottom: 120px;
      height: 210px;
    }
  }

  &.finished {
    countdown-timer, h2 {
      display: none;
    }

    #finished-tracker {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  h1 {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: 'Lobster', sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;

    &.logo {
      display: inline-block;
      line-height: 0;
      text-indent: -3000em;
      background-position: -1863px -251px;
      font-size: 0;
      height: 23px;
      width: 71px;
    }
  }

  h2 {
    font-size: 16px;
    font-weight: 700;
    margin: ($counterPadding / 2) 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
    a {
      color: #fff;
    }
  }

  #learnmore {
    pointer-events: initial;
  }

}


// .no-3d-transforms #village {
//   countdown-timer {
//     .digit-ani .digit-flip {
//       -webkit-transition-property: none;
//       transition-property: none;
//     }
//     .digit-bottom, .digit-top-behind {
//       display: none;
//     }
//     .digit .digit-top-front {
//       height: 53px;
//       -webkit-transform: rotateX(0);
//       transform: rotateX(0);
//       border-top: 1px solid transparent;
//       border-radius: 4px;
//     }
//     .digit-top-front.digit-flip {
//       -webkit-transform: rotateX(0);
//       transform: rotateX(0);
//       border-top: 1px solid transparent;
//     }
//   }
// }
