#page-village {
  #countdown {
    #finished-tracker {
      background-image: url(img/sign_2x.png);
    }
  }
}

#countdown h1.logo,
#hit-area-left, #hit-area-right,
#page-village #sun, #page-village #moon, #page-village #plane,
#page-village #spaceship, #page-village #train {
  background-image: url(img/assets_sprite_2x.png);
}

#village {
  bottom: 107px;

  .house-marker {
    background-image: url(img/markers_sprite_2x.png) !important;
  }

  #trees-back {
    background-image: url(img/trees_2x.png);
  }

  #houses {
    #house1 {
      .building {
        background-image: url(img/house_1_2x.png);
      }

      .house-snow {
        background-image: url(img/house_1_snow_2x.png);
      }
    }

    #house2 {
      .building {
        background-image: url(img/house_2_2x.png);
      }

      .house-snow {
        background-image: url(img/house_2_snow_2x.png);
      }
    }

    #house3 {
      .building {
        background-image: url(img/house_3_2x.png);
      }

      .house-snow {
        background-image: url(img/house_3_snow_2x.png);
      }
    }

    #house4 {
      .building {
        background-image: url(img/house_24_2x.png);
      }

      .house-snow {
        background-image: url(img/house_24_snow_2x.png);
      }
    }

    #house5 {
      .building {
        background-image: url(img/house_5_2x.png);
      }

      .house-snow {
        background-image: url(img/house_5_snow_2x.png);
      }
    }

    #house6 {
      .building {
        background-image: url(img/house_6_2x.png);
      }
    }

    #house7 {
      .building {
        background-image: url(img/house_7_2x.png);
      }

      .house-snow {
        background-image: url(img/house_7_snow_2x.png);
      }
    }

    #house8 {
      .building {
        background-image: url(img/house_8_2x.png);
      }

      .house-snow {
        background-image: url(img/house_8_snow_2x.png);
      }
    }

    #house9 {
      .building {
        background-image: url(img/house_9_2x.png);
      }

      .house-snow {
        background-image: url(img/house_9_snow_2x.png);
      }
    }

    #house10 {
      background: url(img/house_10_2x.png) 0 -628px no-repeat;
      background-size: 100%;
    }

    #house10-ropes {
      background: url(img/house_10-ropes_2x.png) no-repeat;
      background-size: 100%;
    }

    #house11 {
      .building {
        background-image: url(img/house_11_2x.png);
      }

      .house-snow {
        background-image: url(img/house_11_snow_2x.png);
      }
    }

    #house12 {
      .building {
        background-image: url(img/house_12_2x.png);
      }

      .house-snow {
        background-image: url(img/house_12_snow_2x.png);
      }
    }

    #house13 {
      .building {
        background-image: url(img/house_13_2x.png);
      }

      .house-snow {
        background-image: url(img/house_13_snow_2x.png);
      }
    }

    #house14 {
      .building {
        background-image: url(img/house_14_2x.png);
      }

      .house-snow {
        background-image: url(img/house_14_snow_2x.png);
      }
    }

    #house15 {
      .building {
        background-image: url(img/house_15_2x.png);
      }

      .house-snow {
        background-image: url(img/house_15_snow_2x.png);
      }
    }

    #house16 {
      .building {
        background-image: url(img/house_16_2x.png);
      }

      .house-snow {
        background-image: url(img/house_16_snow_2x.png);
      }
    }

    #house17 {
      .building {
        background-image: url(img/house_17_2x.png);
      }
    }

    #house18 {
      .building {
        background-image: url(img/house_18_2x.png);
      }

      .house-snow {
        background-image: url(img/house_18_snow_2x.png);
      }
    }

    #house19 {
      .building {
        background-image: url(img/house_19_2x.png);
      }

      .house-snow {
        background-image: url(img/house_19_snow_2x.png);
      }
    }

    #house20 {
      .building {
        background-image: url(img/house_20_2x.png);
      }

      .house-snow {
        background-image: url(img/house_20_snow_2x.png);
      }
    }

    #house21 {
      .building {
        background-image: url(img/house_21_2x.png);
      }

      .house-snow {
        background-image: url(img/house_21_snow_2x.png);
      }
    }

    #house22 {
      .building {
        background-image: url(img/house_22_2x.png);
      }

      .house-snow {
        background-image: url(img/house_22_snow_2x.png);
      }
    }

    #house23 {
      .building {
        background-image: url(img/house_23_2x.png);
      }

      .house-snow {
        background-image: url(img/house_23_snow_2x.png);
      }
    }

    #house24 {
      .building {
        background-image: url(img/house_4_2x.png);
      }

      .house-snow {
        background-image: url(img/house_4_snow_2x.png);
      }
    }

    #house25 {
      .building {
        background-image: url(img/house_25_2x.png);
      }

      .house-snow {
        background-image: url(img/house_25_snow_2x.png);
      }
    }

    #house26 {
      .building {
        background-image: url(img/house_26_2x.png);
      }

      .house-snow {
        background-image: url(img/house_26_snow_2x.png);
      }
    }
  }

  .elf {
    background-image: url(img/elves_sprite_2x.png);
  }

  #busstop1 {
    background: url(img/busstop_2x.png) no-repeat;
    background-size: 96px 93px;
  }

  #snowman {
    background: url(img/snowman_sprite_2x.png) no-repeat;
    background-size: 100%;
  }

  #bus {
    background: url(img/elves_bus_sprite_2x.png) 0 1px no-repeat;
    background-size: 100%;
  }
}

#page-village {
  #rail {
    background-image: url(img/monorail_2x.png);
  }

  #mountains, .mountains {
    #mountains-day, .mountains-day {
      background: url(img/mountain-day-tile_2x.png) top left repeat-x;
      background-size: 100% auto;
    }

    #mountains-night {
      background: url(img/mountain-night-tile_2x.png) top left repeat-x;
      background-size: 100% auto;
    }
  }
}