#houses {
  z-index: 3;
  position: absolute;
  bottom: 49px;

  .house {
    position: absolute;
    bottom: 0;
    float: left;

    /*
    This is the text below the marker pins, it doesn't look right so commenting out for now
    TODO(lukem): figure out how to make it better
    &::after {
      content: attr(data-category) '';
      font-size: 16px;
      color: rgba(0,0,0,0.5);
      text-transform: capitalize;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -50px;
      text-align: center;
      display: none;
      cursor: default;
    }*/

    &.today:not(.iced) {
      .house-marker {
        @include transform(scale(1.5, 1.5));
        transform-origin: 50% 100%;

        &:focus {
          @include animation(bigbounce 600ms linear infinite !important);
        }
      }

      &:hover {
        .house-marker {
          @include animation(bigbounce 600ms linear infinite !important);
        }
      }

      .marker-today {
        display: block;
        background-image: url(img/new-banner.svg);
        height: 82px;
        width: 124px;
        left: -38px;
        position: relative;

        > * {
          line-height: 14px;
          display: inline-block;
          text-transform: uppercase;
          width: 118px;
          padding: 3px;
          background: #3dca3b;
          position: absolute;
          bottom: 55px;
          min-height: 27px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &.tomorrow.iced {
      .marker-tomorrow {
        display: block;
        background-image: url(img/village-comeback-tomorrow.svg);
        background-position: 50% 3px;
        height: 109px;
        width: 121px;
        left: 130px;

        > * {
          height: 100%;
          width: 105px;
          left: 3px;
          font-size: 14px;
          font-weight: 600;
          font-style: italic;
        }
      }
    }

    .marker-today, .marker-tomorrow {
      display: none;
      z-index: 15;

      > * {
        position: relative;
        color: #fff;
        text-align: center;
        font-weight: 600;
      }
    }

    .building, .house-snow, .house-elves, .marker-today, .marker-tomorrow {
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      bottom: 0;
    }

    &.iced a {
      cursor: default;
    }

    .building {
      outline: 0;
    }

    .house-snow, .house-elves {
      pointer-events: none;
    }

    .house-marker {
      position: absolute;
      bottom: 0;
      @include transition(transform 500ms ease-out);
      @include transition-timing-function(cubic-bezier(0.4, 1.6, 0.2, 1));
    }

    .building {
      z-index: 1;
    }

    .house-snow {
      z-index: 3;
    }

    .house-elves {
      z-index: 4;
    }

    .house-snow, .snow-elves, .melt-elves {
      opacity: 1;
      @include transition(opacity 500ms ease-out);
      @include transition-timing-function(cubic-bezier(0.4, 1.6, 0.2, 1));
    }

    .melt-elves {
      opacity: 0;
    }

    &.melt {
      cursor: pointer;
      .house-snow {
        opacity: 0;
      }

      .snow-elves {
        opacity: 0;
      }

      .melt-elves {
        opacity: 1;
      }

      .house-marker:focus {
        outline: none;
        // TODO(lukem): add something for IE
        -webkit-filter: drop-shadow(0 0 15px #fff);
        filter: drop-shadow(0 0 15px #fff);
        @include animation(bounce 600ms linear infinite);
      }

      &:hover {
        .house-marker {
          @include animation(bounce 600ms linear infinite);
        }
      }
    }

    .house-marker {
      bottom: -14px;
      left: -30px;
      z-index: 11;
    }
  }

  .house-marker {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 108px;
    height: 175px;
  }

  // ID houseWidth houseHeight iceWidth iceHeight houseLeft houseBottom iceLeft iceBottom x y markerLock markerUnlock markerLeft markerBottom
  //  id              hw    hh    iw    ih    hl  hb  il    ib    x     y   ml                mul
  $houses:
      "airport"       416   339   504   414   0   0   -42   -43   0     0   "marker1-lock"    "marker-airport",
      "racer"         189   158   365   251   0   -2  -80   -39   60    0   "marker1_2-lock"  "marker-racer",
      "traditions"    397   285   527   349   0   -1  -40   -40   -90   0   "marker1_3-lock"  "marker-traditions",
      "app"           152   363   322   405   0   2   -85   -32   80    0   "marker1_4-lock"  "marker-app",
      "trailer"       233   238   406   312   0   2   -56   -45   0     0   "marker2-lock"    "marker-trailer",
      "boatload"      208   172   314   244   0   0   -24   -44   -30  0   "marker3-lock"    "marker-boat",
      "briefing"      219   297   405   373   0   2   -90   -38   5     0   "marker4-lock"    "marker-briefing",
      "matching"      305   233   437   362   0   2   -35   -83   250   0   "marker5-lock"    "marker-matching",
      "presentdrop"   174   412   392   491   0   1   -85   -51   420   0   "marker6-lock"    "marker-presentdrop",
      "gumball"       151   262   288   341   0   2   -45   -50   340   0   "marker7-lock"   "marker-gumball",
      "jetpack"       204   243   367   342   0   2   -60   -47   0     0   "marker8-lock"   "marker-jetpack",
      "codelab"       253   253   358   378   0   0   -50   -59   -20    0   "marker9-lock"    "marker-codelab",
      "mercator"      290   321   445   405   0   1   -103  -70   50    0   "marker10-lock"   "marker-mercator",
      "santaselfie"   217   287   355   341   0   0   -66   -31   25    0   "marker11-lock"    "marker-santaselfie",
      "jamband"       612   404   612   484   0   2   -15   -75   -60   0   "marker12-lock"    "marker-jamband",
      "commandcentre" 262   286   481   373   0   -1  -110  -41   40   0   "marker13-lock"   "marker-commandcentre",
      "playground"    274   269   345   343   0   0   -26   -43   35    0   "marker14-lock"   "marker-playground",
      "seasonofgiving"       203   260   405   308   0   -1  -93   -27   30    0   "marker15-lock"   "marker-seasonofgiving",
      "carpool"         306   351   415   450   0   1   -99   -50   -45    0   "marker16-lock"   "marker-carpool",
      "factory"         322   256   393   313   0   -3  -35   -50   -50   0   "marker17-lock"   "marker-factory",
      "postcard"      231   220   473   311   0   2   -120  -58   85    0   "marker18-lock"   "marker-postcard",
      "streetview"    289   202   370   278   0   2   -42   -30   -120   0   "marker19-lock"    "marker-streetview",
      "translations"  437   242   487   329   0   -4  -17   -65   0   0   "marker20-lock"   "marker-translations",
      "windtunnel"    502   290   575   374   0   -2  -30   -70   20     0   "marker21-lock"   "marker-windtunnel",
      "citylights"    216   335   327   405   0   2   -70   -50   20    0   "marker22-lock"   "marker-citylights",
      "liftoff"         203   274   342   342   0   1   -80   -50   50    0   "marker23-lock"   "marker-liftoff";
  $houseId: 1;
  $houseWidth: 2;
  $houseHeight: 3;
  $iceWidth: 4;
  $iceHeight: 5;
  $houseLeft: 6;
  $houseBottom: 7;
  $iceLeft: 8;
  $iceBottom: 9;
  $houseX: 10;
  $houseY: 11;
  $markerLock: 12;
  $markerUnlock: 13;

  $left: 938;

  @each $house in $houses {
    #house-#{nth($house, $houseId)} {
      left: #{$left + nth($house, $houseX)}px;
      bottom: #{nth($house, $houseY)}px;

      .building {
        background-image: url(img/house-#{nth($house, $houseId)}.svg);
        width: #{nth($house, $houseWidth)}px;
        height: #{nth($house, $houseHeight)}px;
        left: #{nth($house, $houseLeft)}px;
        bottom: #{nth($house, $houseBottom)}px;
      }

      .house-snow {
        background-image: url(img/house-#{nth($house, $houseId)}-ice.svg);
        width: #{nth($house, $iceWidth)}px;
        height: #{nth($house, $iceHeight)}px;
        left: #{nth($house, $iceLeft)}px;
        bottom: #{nth($house, $iceBottom)}px;
      }

      @if nth($house, $markerUnlock) {
        .house-marker {
          background-image: url(img/#{nth($house, $markerUnlock)}.svg);
        }

        &.iced {
          .house-marker {
            background-image: url(img/#{nth($house, $markerLock)}.svg);
            outline: none;
          }
        }
      }
    }

    $left: $left + nth($house, $iceWidth) + nth($house, $houseX);
  }

  #balloon {
    position: absolute;
    bottom: -2px;
    left: 4469px;
    z-index: 2;
    @include transform(translateZ(0) translateY(0) translateX(0));

    div {
      width: 235px;
      height: 269px;
      position: absolute;
      bottom: 0;
    }

    #balloon1 {
      z-index: 1;
      opacity: 1;
      background: url(img/balloon.svg) no-repeat;
      @include transition(opacity 150ms ease-in);
    }

    #balloon2 {
      opacity: 0;
      z-index: 2;
      background: url(img/balloon-flight.svg) no-repeat;
      @include transition(opacity 200ms ease-in);
    }

    &.takeoff {
      #balloon1 {
        opacity: 0;
        @include transition(opacity 200ms ease-out);
      }

      #balloon2 {
        opacity: 1;
        @include transition(opacity 150ms ease-in);
      }
    }

    &.flying {
      z-index: 10;
      @include apply-origin(top center, false);
      @include animation(fly 55s 1 linear);
    }
  }

  #pegman {
    width: 180px;
    height: 142px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    left: 2187px;
    bottom: 0;
    position: absolute;
    z-index: 10;
    opacity: 1;
    background-size: 180px 60px;
    background-image: url(img/pegman-land.svg);
    @include transform(translateZ(0) translateY(0) translateX(0));

    &.diving {
      @include animation(skydive 25s 0 linear);
    }

    &.dive {
      background-position: 50% 0%;
      background-size: 42px 77px;
      background-image: url(img/pegman-dive.svg);
    }

    &.chute {
      background-size: 107px 142px;
      background-image: url(img/pegman-chute.svg);
    }

    &.land {
      background-size: 180px 60px;
      background-image: url(img/pegman-land.svg);
    }

    &.takeoff {
      opacity: 0;
      @include transition(opacity 500ms ease-out);
      @include transition-timing-function(cubic-bezier(0.4, 1.6, 0.2, 1));
    }
  }

  #balloon-elf1 {
    left: 4520px;
  }

  #balloon-elf2 {
    left: 4605px;
  }

  #balloon-ropes {
    position: absolute;
    background: url(img/balloon-ropes.svg) no-repeat;
    bottom: -39px;
    left: 4440px;
    width: 295px;
    height: 54px;
    z-index: 2;
  }

  #xmastree {
    position: absolute;
    background: url(img/xmastree.svg) no-repeat;
    bottom: 2px;
    left: 5245px;
    width: 213px;
    height: 370px;

    .elf1 {
      left: 3px;
    }

    .elf2 {
      left: 35px;
    }

    .elf3 {
      left: 55px;
    }

    .elf4 {
      left: 140px;
    }

    .elf5 {
      left: 160px;
    }
    .elf6 {
      left: 187px;
    }
  }

  $houseElves: (
    "airport": (
      "iced": (120 20, 230 0, 265 90, 320 30),
      "melt": (120 0, 230 0, 265 0, 320 0)
    ),
    "racer": (
      "iced": (50 25, 80 60, 135 50, 170 0),
      "melt": (40 0, 80 0, 135 0, 170 0)
    ),
    "trailer": (
      "iced": (40 0, 100 70, 155 90, 200 0),
      "melt": (40 0, 100 0, 155 0, 200 0)
    ),
    "app": (
      "iced": (70 40, 115 110, 150 45),
      "melt": (110 0, 85 0, 150 0)
    ),
    "santaselfie": (
      "iced": (80 15, 75 55, 160 0, 120 45),
      "melt": (100 0, 75 0, 240 0, 210 0)
    ),
    "boatload": (
      "iced": (60 40, 155 55, 170 10),
      "melt": (12 0, 155 0, 130 0)
    ),
    "briefing": (
      "iced": (70 55, 130 115, 190 25),
      "melt": (40 0, 130 0, 190 0)
    ),
    "matching": (
      "iced": (105 20, 135 95, 185 40, 265 0),
      "melt": (105 0, 135 0, 185 0, 265 0)
    ),
    "presentdrop": (
      "iced": (105 0, 135 95, 85 190, 195 30),
      "melt": (115 0, 135 0, 80 0, 175 0)
    ),
    "streetview": (
      "iced": (65 20, 115 75, 175 35, 265 0),
      "melt": (240 0, 115 0, 175 0, 265 0)
    ),
    "jamband": (
      "iced": (140 55, 295 0, 230 170, 400 45),
      "melt": (140 0, 295 14, 90 0, 400 0)
    ),
    "codelab": (
      "iced": (70 50, 145 0, 140 160, 170 85),
      "melt": (235 0, 115 0, 160 0, 200 0)
    ),
    "translations": (
      "iced": (155 0, 320 0, 135 90, 250 70, 300 80),
      "melt": (170 11, 320 3, 205 3, 250 26, 300 3)
    ),
    "carpool": (
      "iced": (100 0, 150 0, 115 120, 70 10),
      "melt": (190 0, 120 0, 215 0, -10 0)
    ),
    "mercator": (
      "iced": (60 15, 105 80, 165 100, 190 10),
      "melt": (30 0, 105 0, 165 0, 190 0)
    ),
    "commandcentre": (
      "iced": (200 120, 85 0, 150 80, 245 0),
      "melt": (200 0, 95 13, 150 0, 245 0)
    ),
    "playground": (
      "iced": (70 0, 75 90, 130 60, 175 0),
      "melt": (100 0, 215 0, 130 0, 175 0)
    ),
    "seasonofgiving": (
      "iced": (110 100, 75 0, 150 30, 245 0),
      "melt": (125 0, 40 0, 150 0, 180 0)
    ),
    "jetpack": (
      "iced": (50 100, 45 0, 110 30, 185 50),
      "melt": (40 0, 210 0, 110 0, 185 0)
    ),
    "factory": (
      "iced": (100 100, 65 40, 180 60, 245 20),
      "melt": (140 8, 105 0, 180 0, 245 0)
    ),
    "postcard": (
      "iced": (50 100, 85 120, 110 40, 195 70),
      "melt": (160 0, 90 0, 110 0, 195 0)
    ),
    "traditions": (
      "iced": (140 100, 105 0, 220 60, 315 0),
      "melt": (180 7, 105 0, 220 7, 315 0)
    ),
    "windtunnel": (
      "iced": (140 90, 75 40, 310 60, 255 0),
      "melt": (140 0, 105 0, 310 0, 255 0)
    ),
    "gumball": (
      "iced": (80 60, -35 0, 60 10, 145 0),
      "melt": (150 0, 125 0, -60 0, 85 11)
    ),
    "citylights": (
      "iced": (130 100, 75 60, 150 30, 105 0),
      "melt": (180 0, 225 0, 150 0, 105 0)
    ),
    "liftoff": (
      "iced": (90 80, -5 50, 150 30, 75 20),
      "melt": (100 9, 125 0, 150 24, 75 17)
    )
  );

  @each $id, $elves in $houseElves {
    #house-#{$id} {
      $iced: map-get($elves, "iced");
      $melt: map-get($elves, "melt");

      &.iced {
        .snow-elves {
          @for $i from 1 to length($iced)+1 {
            $elf: nth($iced, $i);
            :nth-child(#{$i+1}) {
              left: #{nth($elf, 1)}px;
              bottom: #{nth($elf, 2)}px;
            }
          }
        }
      }

      &.melt {
        .melt-elves {
          @for $i from 1 to length($melt)+1 {
            $elf: nth($melt, $i);
            :nth-child(#{$i+1}) {
              left: #{nth($elf, 1)}px;
              bottom: #{nth($elf, 2)}px;
            }
          }
        }
      }
    }
  }
}
