#houses {
  z-index: 3;
  position: absolute;
  bottom: 49px;

  .house {
    position: absolute;
    bottom: 0;
    float: left;
    .building, .house-snow, .house-elves {
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      bottom: 0;
    }

    .house-marker {
      position: absolute;
      bottom: 0;
    }

    .building {
      z-index: 1;
    }

    .house-snow {
      z-index: 3;
    }

    .house-elves {
      z-index: 4;
    }

    .house-snow, .snow-elves, .melt-elves {
      opacity: 1;
      @include transition(opacity 500ms ease-out);
      @include transition-timing-function(cubic-bezier(0.4, 1.6, 0.2, 1));
    }

    .melt-elves {
      opacity: 0;
    }

    &.melt {
      cursor: pointer;
      .house-snow {
        opacity: 0;
      }

      .snow-elves {
        opacity: 0;
      }

      .melt-elves {
        opacity: 1;
      }

      &:hover {
        .house-marker {
          @include animation(bounce 600ms linear infinite);
        }
      }
    }

    .house-marker {
      bottom: -14px;
      left: 15px;
      z-index: 11;
    }
  }

  .house-marker {
    background-image: url(img/markers_sprite.png);
    background-size: 2529px 352px;
    background-repeat: no-repeat;
    width: 108px;
    height: 175px;
  }

  @for $i from 1 through 24 {
    .marker#{$i} {
      background-position: -(($i * $markerSpriteGap) - $markerSpriteGap)  0;
    }
    .iced {
      .marker#{$i} {
        background-position: -(($i * $markerSpriteGap) - $markerSpriteGap) $markerSpriteLockedY;
      }
    }
  }


  // ID houseWidth houseHeight iceWidth iceHeight houseLeft houseBottom iceLeft iceBottom x y
  //  id        hw    hh    iw    ih    hl  hb  il    ib    x   y 
  $houses: 
      "house1"  416   339   504   414   0   0   -42   -43   0     0,
      "house2"  189   158   365   251   0   -2  -80   -39   60    0,
      "house3"  233   238   406   312   0   2   -56   -45   0     0,
      "house4"  152   363   322   405   0   2   -85   -30   0    0,
      "house5"  217   287   355   341   0   0   -66   -31   25   0,
      "house6"  208   172   314   244   0   0   -24   -44   -40   0,
      "house7"  219   297   405   373   0   2   -90   -38   65   0,
      "house8"  219   146   278   258   0   1   -30   -23   -50  0,
      "house9"  305   233   437   362   0   2   -35   -83   10   0,
      "house10" 174   412   392   491   0   0   -85   -51   0   0,
      "house11" 289   202   370   278   0   2   -42   -26   0   0,
      "house13" 179   251   338   388   0   2   -65   -55   320   0,
      "house14" 253   253   358   378   0   -2  -50   -59   0   0,
      "house15" 437   242   487   329   0   -4  -17   -65   -3   0,
      "house16" 179   251   344   406   0   1   -99   -50   85    0,
      "house17" 290   321   435   395   0   1   -99   -56   0   0,
      "house18" 262   286   481   373   0   -1  -110  -41   30    0,
      "house19" 274   269   345   343   0   0   -26   -43   35    0,
      "house20" 203   260   405   308   0   -1  -93   -27   80    0,
      "house21" 204   243   367   342   0   2   -60   -47   0  0,
      "house22" 322   256   393   313   0   -3  -35   -40   -20   0,
      "house23" 231   220   473   311   0   2   -120  -58   85    0,
      "house24" 397   285   527   349   0   -1  -40   -40   0  0,
      "house25" 502   290   575   374   0   -2  -30   -70   0  0,
      "house26" 151   262   288   341   0   2   -70   -50   40     0,
      "house27" 216   335   327   405   0   2   -70   -50   20    0,
      "house28" 203   274   342   342   0   2   -80   -50   50    0;
  $houseId: 1;
  $houseWidth: 2;
  $houseHeight: 3;
  $iceWidth: 4;
  $iceHeight: 5;
  $houseLeft: 6;
  $houseBottom: 7;
  $iceLeft: 8;
  $iceBottom: 9;
  $houseX: 10;
  $houseY: 11;

  $left: 938;

  @each $house in $houses {
    ##{nth($house, $houseId)} {
      left: #{$left + nth($house, $houseX)}px;
      bottom: #{nth($house, $houseY)}px;

      .building {
        background-image: url(img/#{nth($house, $houseId)}.svg);
        width: #{nth($house, $houseWidth)}px;
        height: #{nth($house, $houseHeight)}px;
        left: #{nth($house, $houseLeft)}px;
        bottom: #{nth($house, $houseBottom)}px;
      }

      .house-snow {
        background-image: url(img/#{nth($house, $houseId)}-ice.svg);
        width: #{nth($house, $iceWidth)}px;
        height: #{nth($house, $iceHeight)}px;
        left: #{nth($house, $iceLeft)}px;
        bottom: #{nth($house, $iceBottom)}px;
      }
    }

    $left: $left + nth($house, $iceWidth) + nth($house, $houseX);
  }

  #balloon {
    position: absolute;
    background: url(img/balloon.svg) no-repeat;
    bottom: -2px;
    left: 4469px;
    width: 235px;
    height: 269px;
    z-index: 2;
    @include transform(translateZ(0) translateY(0) translateX(0));

    &.takeoff {
      background: url(img/balloon-flight.svg) no-repeat;
      bottom: 2px;
    }

    /*&.fly {
      background: url(img/balloon.svg) no-repeat;
    }*/

    &.flying {
      z-index: 10;
      @include apply-origin(top center, false);
      @include animation(fly 55s 1 linear, float 5s infinite linear);
    }
  }

  #balloon-ropes {
    position: absolute;
    background: url(img/balloon-ropes.svg) no-repeat;
    bottom: -39px;
    left: 4440px;
    width: 295px;
    height: 54px;
    z-index: 2;
  }

  #xmastree {
    position: absolute;
    background: url(img/xmastree.svg) no-repeat;
    bottom: 2px;
    left: 5165px;
    width: 213px;
    height: 370px;
  }

  /*#house10-elf1 {
    left: 4650px;
  }

  #house10-elf2 {
    left: 4745px;
  }*/



  $houseElves: (
    "house1": (
      "iced": (120 20, 230 0, 265 90, 320 30),
      "melt": (120 0, 230 0, 265 0, 320 0)
    ),
    "house2": (
      "iced": (40 25, 80 60, 135 50, 170 0),
      "melt": (40 0, 80 0, 135 0, 170 0)
    ),
    "house3": (
      "iced": (40 0, 100 70, 155 90, 200 0),
      "melt": (40 0, 100 0, 155 0, 200 0)
    ),
    "house4": (
      "iced": (10 50, 75 110, 150 45),
      "melt": (10 0, 75 0, 150 0)
    ),
    "house5": (
      "iced": (10 45, 75 55, 160 0, 120 45),
      "melt": (100 0, 75 0, 50 0, 20 0)
    ),
    "house6": (
      "iced": (60 40, 155 55, 170 10),
      "melt": (60 0, 155 0, 170 0)
    ),
    "house7": (
      "iced": (70 55, 130 115, 190 25),
      "melt": (70 0, 130 0, 190 0)
    ),
    "house8": (
      "iced": (50 20, 180 0, 120 50),
      "melt": (50 0, 180 0, 120 0)
    ),
    "house9": (
      "iced": (105 20, 135 95, 185 40, 265 0),
      "melt": (105 0, 135 0, 185 0, 265 0)
    ),
    "house11": (
      "iced": (65 20, 115 75, 175 35, 265 0),
      "melt": (65 0, 115 0, 175 0, 265 0)
    ),
    "house13": (
      "iced": (60 55, 125 0, 0 30, 200 45),
      "melt": (60 0, 125 0, 0 0, 200 0)
    ),
    "house14": (
      "iced": (70 50, 115 0, 0 30, 200 75),
      "melt": (70 0, 115 0, 0 0, 200 0)
    ),
    "house15": (
      "iced": (155 0, 320 0, 135 90, 250 70, 300 80),
      "melt": (170 11, 320 3, 205 3, 250 26, 300 3)
    ),
    "house16": (
      "iced": (20 70, 120 20, 75 120, -10 10),
      "melt": (20 0, 120 0, 75 0, -10 0)
    ),
    "house17": (
      "iced": (40 90, 105 50, 165 100, 190 10),
      "melt": (40 0, 105 0, 165 0, 190 0)
    ),
    "house18": (
      "iced": (50 100, 25 0, 150 30, 245 0),
      "melt": (50 0, 25 0, 150 0, 245 0)
    ),
    "house19": (
      "iced": (70 0, 75 90, 130 60, 175 0),
      "melt": (70 0, 25 0, 130 0, 175 0)
    ),
    "house20": (
      "iced": (50 100, 25 0, 150 30, 245 0),
      "melt": (50 0, 25 0, 150 0, 245 0)
    ),
    "house21": (
      "iced": (50 100, 25 0, 110 30, 185 50),
      "melt": (50 0, 25 0, 110 0, 185 0)
    ),
    "house22": (
      "iced": (100 100, 65 40, 180 60, 245 20),
      "melt": (140 6, 65 11, 180 0, 245 0)
    ),
    "house23": (
      "iced": (50 100, 25 40, 110 40, 195 70),
      "melt": (50 0, 25 0, 110 0, 195 0)
    ),
    "house24": (
      "iced": (140 100, 25 0, 220 60, 315 0),
      "melt": (180 7, 25 0, 220 7, 315 0)
    ),
    "house25": (
      "iced": (140 90, 75 40, 310 60, 255 0),
      "melt": (140 0, 75 0, 310 0, 255 0)
    ),
    "house26": (
      "iced": (50 100, 5 0, 90 30, 145 0),
      "melt": (150 0, 5 0, 90 0, 50 7)
    ),
    "house27": (
      "iced": (50 100, 25 0, 150 30, 105 0),
      "melt": (50 0, 25 0, 150 0, 105 0)
    ),
    "house28": (
      "iced": (50 100, -5 50, 150 30, 75 20),
      "melt": (50 9, -5 0, 150 24, 75 17)
    ),
  );

  @each $id, $elves in $houseElves {
    ##{$id} {
      $iced: map-get($elves, "iced");
      $melt: map-get($elves, "melt");

      &.iced {
        .snow-elves {
          @for $i from 1 to length($iced)+1 {
            $elf: nth($iced, $i);
            :nth-child(#{$i}) {
              left: #{nth($elf, 1)}px;
              bottom: #{nth($elf, 2)}px;
            }
          }
        }
      }

      &.melt {
        .melt-elves {
          @for $i from 1 to length($iced)+1 {
            $elf: nth($melt, $i);
            :nth-child(#{$i}) {
              left: #{nth($elf, 1)}px;
              bottom: #{nth($elf, 2)}px;
            }
          }
        }
      }
    }
  }
}