$tabletBreakpoint: 1024px;
$mobileBreakpoint: 660px;
$mobilePortraitBreakpoint: 400px;

@media (max-width: $tabletBreakpoint) {
  #sun, #moon, #fakesun, #fakemoon {
    @include transform(scale(0.8));
  }

  #page-village {
    #hit-area-left, #hit-area-right {
      width: 81px;
      height: 81px;
    }

    #hit-area-left {
      left: 5px;
      background-position: -1846px -376px;
    }

    #hit-area-right {
      background-position: -1437px -376px;
      right: 5px;
    }
  }

  #countdown {
    @include scale(.8);
    h2 {
      display: none;
    }
  }
}

@media (max-width: $mobileBreakpoint) {
  #village-wrapper #trees,
  #hit-area-left, #hit-area-right {
    display: none;
  }

  #sun, #moon, #fakesun, #fakemoon {
    @include transform(scale(0.5));
  }

  #countdown.finished #finished-tracker {
    @include transform(scale(0.7) translate3d(0,30px,0) !important);
  }
}

@media screen and (max-height: 700px) {
  #village-wrapper {
    #sky,
    #clouds,
    #rail,
    #mountains {
      bottom: 73px;
    }

    #snow,
    #ground,  {
      bottom: 0;
      height: 73px;
    }

    #mountains {
      #mountains-day, #mountains-night {
        height: 350px;
      }
    }

    #village {
      bottom: 22px;
    }

    #countdown {
      top: 10px;
    }
  }
}

@media screen and (max-height: 400px) {
  #village-wrapper {
    #snow, #clouds, #mountains {
      display: none;
    }

    #rail {
      bottom: 31px;
      height: 130px;
    }

    #ground {
      bottom: 0;
      height: 31px;
    }

    #sky, #clouds {
      bottom: 0;
    }

    #village {
      bottom: -20px;
    }

    #countdown {
      min-width: auto;
    }

    #countdown h1 {
      font-size: 50px;
      line-height: 50px;
    }
  }
}