// Village parallax is based off the width factors here. The factor specifies
// width and the relative rate slower (or faster) that layer will scroll.
// Layers farther than the village should be < 1, closer should be > 1.
$villageWidth: 10940px + 1500px;
$mountainWidth: $villageWidth * .25;
// TODO(bckenny|lukem): need to regenerate train animation for railWidth
$railWidth: $villageWidth * .8;
$snowWidth: $villageWidth * 1.2;
$treeWidth: $villageWidth * 1.6;

$markerSpriteGap: 110px;
$markerSpriteLockedY: -177px;

$navMarkerSpriteGap: 120px;
$navMarkerSpriteUnlockedY: -120px;
