// colors
$color-blue: #019AFF;
$color-blue-darken: #0169C8;
$color-deep-blue: #3F50A2;
$color-deep-blue-darken: #374287;
$color-orange: #FF8702;
$color-yellow: #F8C328;
$color-white: #fff;

$z-index-ui: 100;

$button-size: 57px;
