@import "compass/css3/transform";
@import "compass/css3/transition";

.card:not(.card-city) {
  $padding: 20px;
  color: #fff;

  border-radius: 5px;
  box-sizing: border-box;

  .card-header {
    position: relative;
    padding-right: 60px;
    border-radius: 5px 5px 0 0;

    z-index: 2;
    h3 {
      margin: 0;
      padding: 0 0 18px $padding;
      font-size: 24px;
      line-height: 24px;
      font-weight: 300;
    }

    h4 {
      margin: 0;
      padding: $padding 0 18px $padding;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 900;
    }

    .corner-image {
      position: absolute;
      right: 0;
      top: 0;
      background-image: url(img/cardavatars/Cards-avatars-04_general.svg);
      background-size: contain;
      background-repeat: no-repeat;
      height: 85px;
      width: 85px;
      border-radius: 0 5px 0 0;
    }
  }

  .card-body {
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    p {
      margin: 0;
      padding: $padding;
      font-size: 24px;
      line-height: 31px;
      font-weight: 300;
    }
  }

  .card-footer {
    p {
      margin: 0;
      padding: 12px $padding $padding $padding;
      font-size: 11px;
      font-weight: 400;
    }
  }

}

.card {
  &.card-coding, &.card-pins, &.card-app, &.card-mercator, &.card-gumball {
    .card-header {
      .corner-image {
        background-image: url(img/cardavatars/Cards-avatars-04_general2.svg);
      }
    }
  }

  &.card-matching {
    .card-header, .card-body, .card-footer {
      background-color: #1f8518;
    }

    .card-body {
      background-image: url(img/cardavatars/card-matching.png);
    }
  }

  &.card-gumball {
    .card-header, .card-body, .card-footer {
      background-color: #b67a47;
    }

    .card-body {
      background-image: url(img/cardavatars/card-gumball.png);
    }
  }

  &.card-selfie {
    .card-header, .card-body, .card-footer {
      background-color: #00adee;
    }

    .card-body {
      background-image: url(img/cardavatars/card-selfie.png);
    }
  }

  &.card-mercator {
    .card-header, .card-body, .card-footer {
      background-color: #f19211;
    }

    .card-body {
      background-image: url(img/cardavatars/card-mercator.png);
    }
  }

  &.card-jamband {
    .card-header, .card-body, .card-footer {
      background-color: #f2b825;
    }

    .card-body {
      background-image: url(img/cardavatars/card-jamband.png);
    }
  }

  &.card-coding {
    .card-header, .card-body, .card-footer {
      background-color: #3e4da1;
    }

    .card-body {
      background-image: url(img/cardavatars/card-code.png);
    }
  }

  &.card-latlng, &.card-glider, &.card-giving {
    .card-header, .card-body, .card-footer {
      background-color: #135aa2;
    }
    .card-header {
      .corner-image {
        background-image: url(img/cardavatars/Cards-avatars-04_delivergifts.svg);
      }
    }
  }

  &.card-photospheres, &.card-treks {
    .card-header {
      .corner-image {
        background-image: url(img/cardavatars/Cards-avatars-04_treks.svg);
      }
    }
  }

  &.card-treks {
    .card-header, .card-body, .card-footer {
      background-color: #25c5d9;
    }
  }

  &.card-photospheres {
    .card-header, .card-body, .card-footer {
      background-color: #1d87e4;
    }
  }

  &.card-pins {
    .card-header, .card-body, .card-footer {
      background-color: #e9b259;
    }

    .card-body {
      background-image: url(img/cardavatars/card-pins.png);
    }
  }

  &.card-village {
    .card-header, .card-body, .card-footer {
      background-color: #00abc0;
    }

    .card-body {
      background-image: url(img/cardavatars/card-village.png);
    }
  }

  &.card-app {
    .card-header, .card-body, .card-footer {
      background-color: #aa46bb;
    }

    .card-body {
      background-image: url(img/cardavatars/card-app.png);
    }
  }

  &.card-gmm {
    .card-header, .card-body, .card-footer {
      background-color: #029ae4;
    }

    .card-body {
      background-image: url(img/cardavatars/card-gmm.png);
    }
  }

  &.card-giving {
    .card-header, .card-body, .card-footer {
      background-color: #378d3b;
    }

    .card-body {
      background-image: url(img/cardavatars/card-season-of-giving.png);
    }
  }

  &.card-reindeer {
    .card-header, .card-body, .card-footer {
      background-color: #135aa2;
    }
    .card-header {
      .corner-image {
        background-image: url(img/cardavatars/Cards-avatars-04_blitzenescaped.svg);
      }
    }

    .card-body {
      background-image: url(img/cardavatars/card-reindeer-run.png);
    }
  }

  &.card-glider, &.card-latlng, &.card-video, &.card-reindeer, &.card-giving, &.card-gmm, &.card-app,
  &.card-village, &.card-pins, &.card-coding, &.card-jamband, &.card-mercator, &.card-selfie,
  &.card-gumball, &.card-matching {
    .card-body {
      height: 163px;
      border-radius: 0 0 5px 5px;
      text-align: center;

      span {
        font-size: 120px;
        font-weight: 600;
        line-height: 130px;
      }
    }
  }

  &.card-glider {
    .card-body {
      background-image: url(img/cardavatars/card-glider-elf.png);
    }
  }

  &.card-latlng {
    .card-body {
      background-image: url(img/cardavatars/card-lat-lng.png);
    }
  }

  &.card-update {
    .card-header, .card-body, .card-footer {
      background-color: #e43834;
    }

    .card-header {
      .corner-image {
        background-image: url(img/cardavatars/Cards-avatars-04_santa.svg);
      }
    }

    .card-footer {
      display: none;
    }
  }

  &.card-trivia {
    .card-header, .card-body, .card-footer {
      background-color: #00be5d;
    }

    .card-header {
      .corner-image {
        background-image: url(img/cardavatars/Cards-avatars-04_worldfacts.svg);
      }
    }

    .card-body {
      height: 132px;
      text-align: center;
      background-image: url(img/cardavatars/card-trivia.png);
      border-radius: 0 0 5px 5px;
      span {
        font-size: 120px;
        font-weight: 600;
        line-height: 130px;
      }
    }
  }

  &.card-video {
    a {
      text-decoration: none;
      color: #fff;
    }

    .card-header, .card-body, .card-footer {
      background-color: #eb3f79;
    }

    .card-header {
      .corner-image {
        background-image: url(img/cardavatars/Cards-avatars-04_video.svg);
      }
    }

    .card-body {
      position: relative;
    }
  }

  &.card-facts {
    .card-header, .card-body, .card-footer {
      background-color: #1875d1;
    }

    .card-header {
      .corner-image {
        background-image: url(img/cardavatars/Cards-avatars-04_natgeo.svg);
      }
    }
  }

  &.card-photos {
    height: 301px;

    .card-header {
      .corner-image {
        background-image: url(img/cardavatars/Cards-avatars-04_photo.svg);
      }
    }

    .card-body {
      height: 83%;
    }

    .card-footer {
      display: none;
    }
  }

  .card-carpool {
    background-image: url(img/cardavatars/cardavatars/card-vid-carpool.png);
  }

  .card-jingle {
    background-image: url(img/cardavatars/card-vid-jingle.png);
  }

  .card-satellite {
    background-image: url(img/cardavatars/card-vid-satellite.png);
  }

  .card-temptation {
    background-image: url(img/cardavatars/card-vid-temptation.png);
  }

  .card-coffee {
    background-image: url(img/cardavatars/card-vid-coffee.png);
  }

  .card-office {
    background-image: url(img/cardavatars/card-vid-office.png);
  }

  .card-selfie {
    background-image: url(img/cardavatars/card-vid-selfie.png);
  }

  .card-tired {
    background-image: url(img/cardavatars/card-vid-tired.png);
  }

  .card-com-room {
    background-image: url(img/cardavatars/card-vid-com-room.png);
  }

  .card-reload {
    background-image: url(img/cardavatars/card-vid-reload.png);
  }

  .card-slacking-off {
    background-image: url(img/cardavatars/card-vid-slacking-off.png);
  }
}


