.card:not(.card-city) {
  $padding: 20px;
  color: #fff;
  box-sizing: border-box;

  .timestamp, .title {
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    padding: 16px 28px 8px 28px;
    text-transform: uppercase;
    margin: 0;
  }

  .card-header {
    position: relative;
    padding-right: 60px;

    z-index: 2;
    h3 {
      margin: 0;
      padding: 0 0 18px $padding;
      font-size: 24px;
      line-height: 24px;
      font-weight: 300;
    }

    h4 {
      margin: 0;
      padding: $padding 0 18px $padding;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 900;
    }

    .corner-image {
      position: absolute;
      right: 0;
      top: 0;
      background-image: url(../img/cards/avatars-general.svg);
      background-size: contain;
      background-repeat: no-repeat;
      height: 85px;
      width: 85px;
    }
  }

  .card-body {
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    p {
      margin: 0;
      padding: $padding;
      font-size: 24px;
      line-height: 31px;
      font-weight: 300;
    }
  }

  .card-footer {
    p {
      margin: 0;
      padding: 12px $padding $padding $padding;
      font-size: 11px;
      font-weight: 400;
    }
  }

}

.card {
  &.card-codelab, &.card-pins, &.card-app, &.card-mercator, &.card-gumball, &.card-santasearch, &.card-presentbounce, &.card-codeboogie {
    .card-header {
      .corner-image {
        background-image: url(../img/cards/avatars-general2.svg);
      }
    }
  }

  &.card-matching {
    .card-header, .card-body, .card-footer {
      background-color: #1f8518;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-memory-match.png);
    }
  }

  &.card-gumball {
    .card-header, .card-body, .card-footer {
      background-color: #b67a47;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-gumball.png);
    }
  }

  &.card-santaselfie {
    .card-header, .card-body, .card-footer {
      background-color: #00adee;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-selfie.png);
    }
  }

  &.card-mercator {
    .card-header, .card-body, .card-footer {
      background-color: #f19211;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-map-quiz.png);
    }
  }

  &.card-jamband {
    .card-header, .card-body, .card-footer {
      background-color: #f2b825;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-jamband.png);
    }
  }

  &.card-codeboogie {
    .card-header, .card-body, .card-footer {
      background-color: #3e4da1;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-codeboogie.png);
    }
  }

  &.card-codelab {
    .card-header, .card-body, .card-footer {
      background-color: #3e4da1;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-codelab.png);
    }
  }

  &.card-latlong, &.card-glider, &.card-seasonofgiving {
    .card-header, .card-body, .card-footer {
      background-color: #135aa2;
    }
    .card-header {
      .corner-image {
        background-image: url(../img/cards/avatars-delivergifts.svg);
      }
    }
  }

  &.card-photospheres, &.card-treks {
    .card-header {
      .corner-image {
        background-image: url(../img/cards/avatars-treks.svg);
      }
    }
  }

  &.card-treks {
    .card-header, .card-body, .card-footer {
      background-color: #25c5d9;
    }
  }

  &.card-photospheres {
    .card-header, .card-body, .card-footer {
      background-color: #1d87e4;
    }
  }

  &.card-pins {
    .card-header, .card-body, .card-footer {
      background-color: #e9b259;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-pins.png);
    }
  }

  &.card-village {
    .card-header, .card-body, .card-footer {
      background-color: #3ddaf2;
      background-image: linear-gradient(to bottom, #3ddaf2 0%, #8ce8f8 86%, #99eaf9 100%);
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-village.png);
    }
  }

  &.card-app {
    .card-header, .card-body, .card-footer {
      background-color: #aa46bb;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-app.png);
    }
  }

  &.card-gmm {
    .card-header, .card-body, .card-footer {
      background-color: #029ae4;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-gmm.png);
    }
  }

  &.card-santasearch {
    .card-body {
      background-image: url(../img/cards/tracker-cards-santasearch.png);
    }
  }

  &.card-seasonofgiving {
    .card-header, .card-body, .card-footer {
      background-color: #378d3b;
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-season-of-giving.png);
    }
  }

  &.card-presentbounce {
    .card-body {
      background-image: url(../img/cards/tracker-cards-presentbounce.png);
    }
  }

  &.card-runner {
    .card-header, .card-body, .card-footer {
      background-color: #135aa2;
    }
    .card-header {
      .corner-image {
        background-image: url(../img/cards/avatars-blitzenescaped.svg);
      }
    }

    .card-body {
      background-image: url(../img/cards/tracker-cards-reindeer-run.png);
    }
  }

  &.card-glider, &.card-latlong, &.card-video, &.card-runner, &.card-seasonofgiving, &.card-gmm, &.card-app,
  &.card-village, &.card-pins, &.card-codelab, &.card-jamband, &.card-mercator, &.card-santaselfie,
  &.card-gumball, &.card-matching, &.card-scene {
    a {
      text-decoration: none;
    }

    .card-body {
      height: 296px;


      h3 {
        color: #fff;
        font-weight: 300;
        margin: 0;
        padding: 0 28px;
        font-size: 26px;
      }
    }
  }

  &.card-glider {
    .card-body {
      background-image: url(../img/cards/tracker-cards-glider.png);
    }
  }

  &.card-latlong {
    .card-body {
      background-image: url(../img/cards/tracker-cards-lat-long.png);
    }
  }

  &.card-update {
    .card-header, .card-body, .card-footer {
    }

    .card-header {
      .corner-image {
        background-image: url(../img/cards/avatars-santa.svg);
      }
    }

    .card-body p {
      padding: 0 20px 20px 20px;
    }

    .card-footer {
      display: none;
    }
  }

  &.card-trivia {
    .card-header, .card-body, .card-footer {
      background-color: #00be5d;
    }

    .card-header {
      .corner-image {
        background-image: url(../img/cards/avatars-worldfacts.svg);
      }
    }

    .card-body {
      height: 132px;
      text-align: center;
      background-image: url(../img/cards/tracker-cards-trivia.png);
      span {
        font-size: 120px;
        font-weight: 600;
        line-height: 130px;
      }
    }
  }

  &.card-video {
    h3 {
      color: #fff;
      font-weight: 300;
      margin: 0;
      padding: 0 28px;
      font-size: 26px;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    .card-header, .card-body, .card-footer {
      background-color: #eb3f79;
    }

    .card-header {
      .corner-image {
        background-image: url(../img/cards/avatars-video.svg);
      }
    }

    .card-body {
      position: relative;
    }
  }

  &.card-facts {
    .card-header {
      .corner-image {
        background-image: url(../img/cards/avatars-natgeo.svg);
      }
    }

    .card-body {
      margin-right: 85px;

      p {
        padding: 0 20px;
      }
    }
  }

  &.card-photos {
    height: 410px;
    background: #00BE7B;
    box-shadow: none;

    .card-header {
      .corner-image {
        background-image: url(../img/cards/avatars-photo.svg);
      }
    }

    iron-image {
      width: 474px;
      height: 352px;
    }

    .card-body {
      height: 100%;
      text-align: center;
    }

    .card-footer {
      display: none;
    }
  }

  .card-carpool {
    background-image: url(../img/cards/video-11-carpool.png);
  }

  .card-jingle {
    background-image: url(../img/cards/video-10-jingle.png);
  }

  .card-satellite {
    background-image: url(../img/cards/video-2-satellite.png);
  }

  .card-temptation {
    background-image: url(../img/cards/video-5-tempation.png);
  }

  .card-coffee {
    background-image: url(../img/cards/video-7-coffee-break.png);
  }

  .card-office {
    background-image: url(../img/cards/video-4-office-prank.png);
  }

  .card-santaselfie {
    background-image: url(../img/cards/video-9-selfie.png);
  }

  .card-tired {
    background-image: url(../img/cards/video-1-tired-reindeer.png);
  }

  .card-com-room {
    background-image: url(../img/cards/video-8-command-room.png);
  }

  .card-reload {
    background-image: url(../img/cards/video-3-present-reload.png);
  }

  .card-slacking-off {
    background-image: url(../img/cards/video-6-slacking-off.png);
  }
}

@media (max-width: ($mobileBreakpoint - 1)) {
  .card:not(.card-city) {
    .card-header h4 {
      padding: 20px 0 5px 20px;
    }

    &.card-photos {
      height: 266px;
      .card-body {
        height: 240px;
      }

      iron-image {
        width: 100%;
        height: 100%;
        background-size: contain !important;
      }
    }
  }
}

