#city-view {
  pointer-events: all;
  display: none;
  z-index: 10;

  #character {
    position: absolute;
    left: 560px;
    bottom: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-800px) translateZ(0);
    will-change: transform;
    transition: transform 250ms ease;
    display: none;

    &.character-santa {
      width: 443px;
      height: 669px;
      background-image: url(../img/tracker-characters-santa.svg);
    }
    &.character-elf1 {
      width: 122px;
      height: 361px;
      background-image: url(../img/tracker-characters-elf1.svg);
    }
    &.character-elf2 {
      width: 193px;
      height: 393px;
      background-image: url(../img/tracker-characters-elf2.svg);
    }
    &.character-elf3 {
      width: 370px;
      height: 562px;
      background-image: url(../img/tracker-characters-elf3.svg);
    }

    &.character-elf4 {
      width: 263px;
      height: 410px;
      background-image: url(../img/tracker-characters-elf4.svg);
    }

    &.character-elf5 {
      width: 235px;
      height: 446px;
      background-image: url(../img/tracker-characters-elf5.svg);
    }
    &.character-elf6 {
      width: 457px;
      height: 306px;
      background-image: url(../img/tracker-characters-elf6.svg);
    }
    &.character-elf7 {
      width: 366px;
      height: 280px;
      background-image: url(../img/tracker-characters-elf7.svg);
    }
    &.character-elf8 {
      width: 540px;
      height: 371px;
      background-image: url(../img/tracker-characters-elf8.svg);
    }
    &.character-elf9 {
      width: 644px;
      height: 444px;
      background-image: url(../img/tracker-characters-elf9.svg);
    }
    &.character-elf10 {
      width: 191px;
      height: 713px;
      background-image: url(../img/tracker-characters-elf10.svg);
    }
    &.character-elf11 {
      width: 636px;
      height: 396px;
      background-image: url(../img/tracker-characters-elf11.svg);
    }
    &.character-elf12 {
      width: 583px;
      height: 506px;
      background-image: url(../img/tracker-characters-elf12.svg);
    }
    &.character-reindeer {
      width: 573px;
      height: 533px;
      background-image: url(../img/tracker-characters-reindeer.svg);
    }
    &.character-reindeer2 {
      width: 360px;
      height: 555px;
      background-image: url(../img/tracker-characters-reindeer2.svg);
    }
    &.character-penguin {
      width: 636px;
      height: 343px;
      background-image: url(../img/tracker-characters-penguin.svg);
    }
    &.character-pegman {
      width: 514px;
      height: 563px;
      background-image: url(../img/tracker-characters-pegman.svg);
    }
  }

  #city-details {
    position: absolute;
    top: 0;
    bottom: 0;
    // TODO(samthor): use translate and/or scale to position on left side and right side.
    left: calc(100% - #{$trackerFeedWidth});
    right: 0;
    background: #00cd82;
    overflow: auto;
    box-sizing: border-box;
    z-index: 3;
    opacity: 0;
    transform: translateZ(0);
    will-change: transform, opacity, left, right;
    transition: all 500ms cubic-bezier(0.000, 1.130, 0.295, 1.415), opacity 200ms ease;

    .city-details-content {
      will-change: opacity;
      opacity: 0;
      display: none;
    }

    .ico {
      display: inline-block;
    }

    .ico-arrow-left {
      height: 15px;
      width: 17px;
      background-image: url(../img/arrow-left.svg);
    }

    .ico-marker {
      background-image: url(../img/marker.svg);
    }

    .ico-arrow {
      background-image: url(../img/arrow.svg);
    }

    .ico-clock {
      background-image: url(../img/city-feed-timer.svg);
      width: 22px;
      height: 22px;
    }

    .ico-weatherchanel {
      background-image: url(../img/twc.svg);
      width: 22px;
      height: 22px;
    }

    .back-to-tracker {
      display: block;
      color: #E7E7E7;
      font-family: 'Lobster';
      font-size: 26px;
      text-decoration: none;
      padding: 10px 0 0 20px;

      .ico {
        margin-right: 20px;
      }
    }

    h1, h2, h3, h4 {
      margin: 0;
    }

    h1 {
      color: #EFE8DB;
      font-size: 42px;
      line-height: 42px;
      font-weight: 600;
      margin-bottom: 18px;
    }

    h2 {
      color: white;
      font-size: 22px;
      font-weight: 300;
    }

    h4 {
      text-transform: uppercase;
      color: white;
      font-size: 11px;
      margin-bottom: 7px;
    }

    .stats, .wikipedia, .details {
      padding: 0 60px;
    }

    .details {
      padding-top: 60px;

      h4 {
        color: #FFFEAB;
      }
    }

    .stats {
      margin-bottom: 10px;
      h4 {
        color: #FFFEAB;
      }
      > div > div {
        margin-right: 20px;
      }
    }

    .wikipedia {
      padding-bottom: 30px;

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #fff;
      }
    }

    .attribution,
    .attribution a {
      color: #FFFEAB;
    }
  }

  #city-photos {
    z-index: 1;
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 475px;
    opacity: 0;

    #photoselector {
      position: absolute;
      bottom: 24px;
      right: 24px;

      img {
        width: 69px;
        height: 69px;
        border-radius: 50%;
        margin: 0 12px;
        transform: scale(0.8);
        transition: transform 250ms ease;
        will-change: transform;
        cursor: pointer;

        &.iron-selected {
          transform: scale(1);
        }
      }
    }

    .city-photo, .city-photo-hires {
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

// Below are the steps for the city view animation


// Make the element visible
&.feed-visible {
  #city-view {
    display: block;
  }
}

// Then fade in the element, it has to be visible to fade so this is done in a RAF
&.fade-in-details {
  #city-view {
    #city-details {
      opacity: 1;
    }
  }
}

// The move the left side of the green block to the left side of the screen
&.move-details-left {
  #city-view {
    #city-details {
      left: 0;
    }
  }
}

// The move the right side of the green block to the left side of the screen + width;
// Animation curve is changed here so the right side doesn't bounce too far.
&.move-details-right {
  #city-view {
    background: #00cd82;
    #city-details {
      transition: all 500ms cubic-bezier(0.000, 1.130, 0.295, 1.215), opacity 200ms ease;
      right: calc(100% - #{$trackerFeedWidth + $trackerFeedPadding});
    }

    #character {
      display: block;
    }
  }
}


// Show the photo for the city, so when the green sqaure moves it reveals the photo
&.show-photos {
  #city-view {
    #city-photos {
      opacity: 1;
    }
  }
}

// Show the content in the city detail view now
&.show-content {
  #city-view {
    #city-details {
      .city-details-content {
        display: block;
      }
    }
  }
}

// Fade in the content and slide in the character image
&.fade-content {
  #city-view {
    #city-details {
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12);

      .city-details-content {
        opacity: 1;
      }
    }
    #character {
      transform: translateX(0) translateZ(0);
    }
  }
}