#city-view {
  display: flex;
  align-items: stretch;
  pointer-events: all;

  #city-details {
    height: 100%;
    width: 915px;
    background: #00cd82;
    opacity: 0;
    overflow: auto;
    box-sizing: border-box;
    transition: opacity 250ms linear;

    .ico-marker {
      background-image: url(../img/marker.svg);
    }

    .ico-arrow {
      background-image: url(../img/arrow.svg);
    }

    .ico-clock {
      background-image: url(../img/city-feed-timer.svg);
      width: 22px;
      height: 22px;
    }

    .ico-weatherchanel {
      background-image: url(../img/twc.svg);
      width: 22px;
      height: 22px;
    }

    h1, h2, h3, h4 {
      margin: 0;
    }

    h1 {
      color: #EFE8DB;
      font-size: 42px;
      line-height: 42px;
      font-weight: 600;
      margin-bottom: 18px;
    }

    h2 {
      color: white;
      font-size: 22px;
      font-weight: 300;
    }

    h4 {
      text-transform: uppercase;
      color: white;
      font-size: 11px;
      margin-bottom: 7px;
    }

    .stats, .wikipedia, .details {
      padding: 0 30px;
    }

    .stats {
      margin-bottom: 10px;
      h4 {
        color: #E5EBE4;
      }
      > div > div {
        margin-right: 20px;
      }
    }

    .wikipedia {
      padding-bottom: 30px;

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #fff;
      }
    }

    .attribution,
    .attribution a {
      color: #FFFEAB;
    }
  }

  #city-photos {
    background: #000;
    height: 100%;
    width: 100%;
    position: relative;

    #photoselector {
      position: absolute;
      bottom: 24px;
      right: 24px;

      img {
        width: 69px;
        height: 69px;
        border-radius: 50%;
        margin: 0 12px;
        transform: scale(1);
        transition: transform 250ms ease;
        cursor: pointer;

        &.iron-selected {
          transform: scale(.8);
        }
      }
    }

    .city-photo, .city-photo-hires {
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

&.stop-active {
  #city-view {
    z-index: 10;
    #city-details {
      opacity: 1;
    }
  }
}