$name: 'module-glider';
$scoreboard-bg: #ac4dba;

@import "../shared/sass/board";
@import "../shared/sass/gameover";
@import "../shared/sass/rotate";
@import "../shared/sass/tutorial";
@import "../shared/sass/startbutton";

@import "sass/buildings";
@import "sass/collisions";
@import "sass/environment";
@import "sass/items";
@import "sass/obstacles";
@import "sass/player";
@import "sass/presents";

##{$name} {
  font-size: 10px;

  .board.board--game .logo {
    background-size: 70% 70%;
  }

  // Fix background animation bug when resizing.
  .resizing {
    animation: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
  }

  // Pausing the game pauses all important animations.
  &.frozen {
    .sky,
    .mountains,
    .trees,
    .scene,
    .cloud,
    .item .item-back,
    .item .item-front,
    .obstacle,
    .player {
      animation-play-state: paused;
    }
  }

  .gameover {
    background: #5e3fab;
  }

  /**
   * Hides the element but still keeps it composed on the GPU by translating it off-screen.
   * By keeping things composed we get respectable performance on android browsers since
   * the biggest overhead is in moving things to the GPU there.
   * http://code.google.com/p/android/issues/detail?id=25147
   */
  .hidden {
    transform: translate3d(0, 9999px, 0) !important;
  }
}
