$name: 'module-glider';

@import "../shared/sass/rotate";
@import "../shared/sass/tutorial";

@import "sass/buildings";
@import "sass/collisions";
@import "sass/environment";
@import "sass/items";
@import "sass/obstacles";
@import "sass/player";
@import "sass/presents";

##{$name} {
  font-size: 10px;

  .board.board--game .logo {
    background-size: 70% 70%;
  }

  // Fix background animation bug when resizing.
  .resizing {
    animation: none !important;
  }

  // Pausing the game pauses all important animations.
  &.frozen {
    .sky,
    .mountains,
    .trees,
    .scene,
    .cloud,
    .item .item-back,
    .item .item-front,
    .obstacle,
    .player {
      animation-play-state: paused;
    }
  }

  .gameover {
    background: #5e3fab;
  }

  .hidden {
    display: none;
  }
}
