$name: 'module-postcardly';
$gameover-bg: #8fd7f7;
$rotate-bg: $gameover-bg;

@import "../shared/sass/board";
@import "../shared/sass/gameover";
@import "../shared/sass/rotate";
@import "../shared/sass/tutorial";
@import "../shared/sass/button";

@import "sass/background";
@import "sass/message";
@import "sass/environment";

##{$name} {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('img/img_background.png');
  background-repeat: repeat;
  /**
   * Hides the element but still keeps it composed on the GPU by translating it off-screen.
   * By keeping things composed we get respectable performance on android browsers since
   * the biggest overhead is in moving things to the GPU there.
   * http://code.google.com/p/android/issues/detail?id=25147
   */
  .hidden {
    transform: translate3d(0, 9999px, 0) !important;
  }

  @keyframes #{$name}-shimmy {
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-2em);
    }
    0%, 20%, 40%, 60%, 80%, 100% {
      transform: translateX(+2em);
    }
  }

  @keyframes #{$name}-fall {
    0% {
      transform: translateY((490px * 0.00 - 32px));
      opacity: 0;
    }
    5% {
      transform: translateY((490px * 0.05 - 32px));
      opacity: 1;
    }
    95% {
      transform: translateY((490px * 0.95 - 32px));
      opacity: 1;
    }
    100% {
      transform: translateY((490px * 1.00 - 32px));
      opacity: 0;
    }
  }

  #snowglobe {
    width: 100%;
    height: 100%;
    border: 1px black;
  }

  #weather {
    width: 850px;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-image: url('img/img_postcard_01.png');
    background-size: cover;
    background-repeat: no-repeat;

    span {
      display: inline-block;
      position: absolute;
    }

    .shimmy {
      animation: #{$name}-shimmy 15s infinite ease-in-out;
    }
    .fall {
      opacity: 0;  // this will be overwritten by animation
      animation: #{$name}-fall 35s infinite linear;
    }
    .snow {
      position: absolute;
      width: 16px;
    }
    .snow::before {
      content: "";
      float: left;
      width: 100%;
      padding-top: 100%;
      margin-left: -50%;
      border-radius: 10000px;
    }
  }

  #scenery {
    .postcardOption {
      background-image: url('img/bgs.png');
      width: 340px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .back {
    background-image: url('img/btn_back.png');
    margin-top: 7px;
    padding-bottom: 12px;

    &:hover {
      background-image: url('img/btn_back_over.png');
    }

    &:active {
      background-image: url('img/btn_back_press.png');
    }
  }

  .help {
    background-image: url('img/btn_help.png');
    top: 52px;

    &:hover {
      background-image: url('img/btn_help_over.png');
    }

    &:active {
      background-image: url('img/btn_help_press.png');
    }
  }

  .share:before {
    background-image: url('img/ic_share.png');
  }

  .share-bar {
    z-index: 1,
  }

  .remix:before {
    background-image: url('img/ic_remix.png');
  }

  .remix-bar {
    width:80px;
  }
}

@import "../shared/sass/responsive";
@import "../shared/sass/share-overlay";
