$name: 'module-postcardly';
$gameover-bg: #8fd7f7;
$rotate-bg: $gameover-bg;

@import "../shared/sass/board";
@import "../shared/sass/gameover";
@import "../shared/sass/rotate";
@import "../shared/sass/tutorial";
@import "../shared/sass/button";

@import "sass/background";
@import "sass/message";
@import "sass/environment";

##{$name} {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('img/img_background.png');
  background-repeat: repeat;
  /**
   * Hides the element but still keeps it composed on the GPU by translating it off-screen.
   * By keeping things composed we get respectable performance on android browsers since
   * the biggest overhead is in moving things to the GPU there.
   * http://code.google.com/p/android/issues/detail?id=25147
   */
  .hidden {
    transform: translate3d(0, 9999px, 0) !important;
  }

  @keyframes #{$name}-shimmy {
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-2em);
    }
    0%, 20%, 40%, 60%, 80%, 100% {
      transform: translateX(+2em);
    }
  }

  @keyframes #{$name}-fall {
    0% {
      transform: translateY((490px * 0.00 - 32px));
      opacity: 0;
    }
    5% {
      transform: translateY((490px * 0.05 - 32px));
      opacity: 1;
    }
    95% {
      transform: translateY((490px * 0.95 - 32px));
      opacity: 1;
    }
    100% {
      transform: translateY((490px * 1.00 - 32px));
      opacity: 0;
    }
  }

  #snowglobe {
    width: 100%;
    height: 100%;
    border: 1px black;
  }

  #weather {
    width: 850px;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-image: url('img/img_postcard_01.png');
    background-size: cover;
    background-repeat: no-repeat;

    span {
      display: inline-block;
      position: absolute;
    }

    .shimmy {
      animation: #{$name}-shimmy 15s infinite ease-in-out;
    }
    .fall {
      opacity: 0;  // this will be overwritten by animation
      animation: #{$name}-fall 35s infinite linear;
    }
    .snow {
      position: absolute;
      width: 16px;
    }
    .snow::before {
      content: "";
      float: left;
      width: 100%;
      padding-top: 100%;
      margin-left: -50%;
      border-radius: 10000px;
    }
  }

  #scenery {
    .postcardOption {
      background-image: url('img/bgs.png');
      width: 340px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .back {
    background-image: url('img/btn_back.png');
    margin-top: 7px;
    padding-bottom: 12px;

    &:hover {
      background-image: url('img/btn_back_over.png');
    }

    &:active {
      background-image: url('img/btn_back_press.png');
    }
  }

  .help {
    background-image: url('img/btn_help.png');
    top: 52px;

    &:hover {
      background-image: url('img/btn_help_over.png');
    }

    &:active {
      background-image: url('img/btn_help_press.png');
    }
  }

  //TODO(madCode): Talk to jenstad about restyling these to match shared small button css.
  .small-button {
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    font-size: inherit;
    position: absolute;
    height: 32px;
    width: 96px;
    right: 136px;
    pointer-events: auto;
  }

  .share-tab {
    border-radius: 50%;
    bottom: 66px;
    height: 100px;
    right: 16px;
    position: absolute;
    width: 100px;
  }

  .share-layer {
    background-color: white;
    border-radius: 50%;
    height: 120px;
    position: relative;
    -webkit-transform: translateZ(0);
    width: 120px;
  }

  .share {
    background: #ab47bc;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 6px #7b1fa2;
    cursor: pointer;
    font-size: inherit;
    height: 90px;
    margin: 13px;
    padding: 0;
    position: relative;
    width: 96px;
    transition: box-shadow 100ms, transform 100ms;
    pointer-events: auto;
  }

  .share:before {
    background-image: url('img/ic_share.png');
    background-size: cover;
    content: '';
    display: block;
    height: 48px;
    left: calc(50% - 24px);
    position: absolute;
    top: calc(50% - 24px);
    width: 48px;
  }

  .share:after {
    border-radius: 50%;
    bottom: 0;
    box-shadow: 3px 8px 0 3px rgba(0, 0, 0, 0.15);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: box-shadow 100ms;
  }

  .share:focus {
    outline: 0;
  }

  .share:active {
    outline: 0;
    transform: translate3d(0, 6px, 0);
    box-shadow: 0px 0px #7b1fa2;
  }

  .share:active:after {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
  }

  .share-bar {
    width: 1024px;
    height: 120px;
    bottom: 0px;
    position: absolute;
    pointer-events: none;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
  }

  .footer {
    position: absolute;
    bottom: 0px;
    height: 143px;
    width: 100%;
    background-color: white;
  }
}

@import "../shared/sass/responsive";
@import "../shared/sass/share-overlay";
