
@keyframes tracker-sleigh-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(3px);
  }
  30% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(2px);
  }
  55% {
    transform: translateY(-6px);
  }
  65% {
    transform: translateY(7px);
  }
  80% {
    transform: translateY(-3px);
  }
  90% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes tracker-santa-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-4px);
  }
  20% {
    transform: translateY(4px);
  }
  30% {
    transform: translateY(-3px);
  }
  40% {
    transform: translateY(3px);
  }
  55% {
    transform: translateY(-7px);
  }
  65% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(-4px);
  }
  90% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
