& {
  background: #585fe8;
}

#games-asset {
  width: 248px;
  height: 45%;
  background: url(img/games/games-asset.svg) left center no-repeat;
  position: absolute;
  top: 50%;
  z-index: 1000;
  left: 48px;
  pointer-events: none;  // allow scroll events through this
}

.horizontal-list {
  a {
    &:nth-child(even) {
      .card {
        width: 282px;
        top: 10px;

        .card--inner {
          clip-path: url(#cardMask2);

          a {
            padding-top: 30px;
          }
        }

        &::before {
          height: 189px;
          width: 299px;
          background: url(img/shape2-shadow.svg) center no-repeat;
          left: 5px;
          bottom: 13px;
        }

        &::after {
          height: 13px;
          width: 305px;
          bottom: 18px;
          left: -14px;
          background: url(img/shape2-base.svg) center no-repeat;
        }
      }
    }
  }
  
  .card {
    width: 308px;
    height: 282px;

    .card--inner {
      clip-path: url(#cardMask1);

      a {
        padding-top: 40px;
      }
    }

    &::before {
      height: 204px;
      width: 276px;
      bottom: 6px;
      left: 38px;
      background: url(img/shape1-shadow.svg) center no-repeat;
    }

    &::after {
      height: 24px;
      width: 243px;
      bottom: 3px;
      left: 32px;
      background: url(img/shape1-base.svg) center no-repeat;
    }
  }
}