& {
  background: #585fe8;
}

h1 {
  margin-top: 48px;
  margin-left: 32px;
}

#games-asset {
  width: 248px;
  height: 45%;
  background: url(img/games/games-asset.svg) left center no-repeat;
  position: absolute;
  top: 50%;
  z-index: 1000;
  left: 48px;
  pointer-events: none;  // allow scroll events through this
}

#games-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  overflow-y: hidden;
  display: flex;
>>>>>>> master
  padding-left: 230px;
  align-items: center;
  justify-content: flex-start;

  .card {
    width: 308px;
    height: 282px;
    flex-shrink: 0;
    position: relative;
    margin: 0 6px;

    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);

    // TODO(samthor): When hovered, the target div moves. It should move only its children.
    &:hover {
      transform: translateY(-16px);
      transition: transform 0.2s;
    }

    .card--inner {
      height: 100%;
      background: transparent center no-repeat;
      background-size: cover;
      clip-path: url(#cardMask1);
      position: relative;
      z-index: 5;
      border-radius: 25px;

      h3 {
        font-family: Roboto;
        font-weight: 300;
        font-size: 30px;
        color: #fff;
      }

      h4 {

      }

      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 40px;
      }
    }

    &::before {
      content: '';
      height: 204px;
      width: 276px;
      position: absolute;
      bottom: 6px;
      left: 38px;
      background: url(img/shape1-shadow.svg) center no-repeat;
      z-index: 1;
>>>>>>> master
    }
  }

<<<<<<< HEAD
  .game-gumball {
    .card--inner {
      background-image: url(/images/scenes/gumball_2x.png);
    }
  }
}
=======
    &::after {
      content: '';
      height: 24px;
      width: 243px;
      position: absolute;
      bottom: 3px;
      left: 32px;
      background: url(img/shape1-base.svg) center no-repeat;
      z-index: 10;
    }

    &:nth-child(even) {
      width: 282px;
      top: 10px;

      .card--inner {
        clip-path: url(#cardMask2);

        a {
          padding-top: 30px;
        }
      }

      &::before {
        height: 189px;
        width: 299px;
        background: url(img/shape2-shadow.svg) center no-repeat;
        left: 5px;
        bottom: 13px;
      }

      &::after {
        height: 13px;
        width: 305px;
        bottom: 18px;
        left: -14px;
        background: url(img/shape2-base.svg) center no-repeat;
      }
    }
  }
}


@media (max-width: (600px - 1px)) {
  #games-list {
    padding-left: 50vw;
  }
}

>>>>>>> master
