h1 {
  margin-top: 48px;
  margin-left: 32px;
}

.horizontal-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  overflow-y: hidden;
  display: flex;
  padding-left: 230px;
  align-items: center;
  justify-content: flex-start;

  a.over {
    text-decoration: none;
    flex-shrink: 0;
    transition: transform 1s ease-in-out;

    .card {
      pointer-events: none;  // prevent hover/click "inside" link
      will-change: transform;
      transition: transform 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
    &:hover .card {
      transform: translateY(-16px);
      transition: transform 0.2s;
    }
  }
  &.appear {
    a.over {
      transform: translate(-100%);
      transition: none;
      &:first-of-type {
        transform: translate(-700px);
      }
    }
  }

  .card {
    position: relative;
    margin: 0 6px;

    .card--inner {
      height: 100%;
      background: transparent center no-repeat;
      background-size: cover;
      position: relative;
      z-index: 5;
      border-radius: 25px;
      text-align: center;
      padding: 12% 4px;
      box-sizing: border-box;

      h3 {
        font-family: Roboto;
        font-weight: 300;
        font-size: 30px;
        color: #fff;
      }

      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
      }
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 10;
    }
  }
}

@media (max-width: (600px - 1px)) {
  .horizontal-list {
    padding-left: 50vw;
  }
}