.cards {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 8px;
  box-sizing: border-box;

  article {
    will-change: transform;
    transform: translateZ(0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.33);
    width: 250px;
    height: 130px;
    margin: 0 4px;
    background: $color-green;
    padding: 2px 10px;
    box-sizing: border-box;
    z-index: 2;

    &.rotate {
      z-index: 1;  // rotate cards, on right, stay behind main cards
    }

    h2 {
      font-size: 11px;
      line-height: 13px;
      color: white;
      margin: 8px;
      margin-bottom: 4px;
      text-transform: uppercase;
      font-weight: 900;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.125);
    }
    h3.title {
      margin: 0 8px;
    }

    .bg {
      display: block;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      background: transparent center no-repeat;
      background-size: cover;
    }
    a.bg {
      z-index: 100;

      &::before {
        border-radius: inherit;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.2s;
      }
      &:hover::before {
        opacity: 0.25;
      }
    }

    &.big {
      height: 188px;
      will-change: transform;

      h2 {
        color: $color-red;

        &::before {
          content: '';
          width: 8px;
          height: 8px;
          margin-right: 4px;
          border-radius: 1000px;
          display: inline-block;
          background: currentColor;
        }
      }
    }
  }

  // regular mode
  &:not(.minimal-ui) {
    // iPad horizontal gets all cards (normal)
    // iPad vertical gets three cards
    @media (max-width: (1024px - 1px)) {
      article.rotate-videos {
        display: none;
        background: none !important;
      }
    }
    // any smaller gets two cards, and shrunk to the right
    @media (max-width: (768px - 1px)) and (min-height: (320px + 1px)) {
      article.rotate-games {
        display: none;
        background: none !important;
      }

      min-width: 110vw;
      padding-right: 0;

      article {
        max-width: 60vw;
      }
    }

    // smaller than 320px gets massively reduced UI
    @media (max-height: 320px) {
      article.rotate {
        display: none !important;
      }
    }
  }

  // chromecast mode
  &.minimal-ui {
    justify-content: space-between;
    bottom: 8%;
    left: 5%;
    right: 5%;
    width: auto;

    article {
      border-radius: 8px;
      height: 188px;
    }
  }
}
