.cards {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 8px;
  box-sizing: border-box;

  article {
    will-change: transform;
    transform: translateZ(0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    // TODO(samthor): perf, remove from top layer
//    box-shadow: 0 8px 24px 2px rgba(0,0,0,0.5);
    width: 250px;
    height: 130px;
    margin: 0 4px;
    background: $color-green;
    padding: 2px 10px;
    box-sizing: border-box;

    h2 {
      font-size: 11px;
      line-height: 13px;
      color: white;
      margin: 8px;
      text-transform: uppercase;
      font-weight: 900;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.125);
    }

    .bg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      background: transparent center no-repeat;
      background-size: cover;
    }

    &.big {
      height: 188px;
      will-change: transform;

      h2 {
        color: $color-red;

        &::before {
          content: '';
          width: 8px;
          height: 8px;
          margin-right: 4px;
          border-radius: 1000px;
          display: inline-block;
          background: currentColor;
        }
      }
    }
  }

  // iPad horizontal gets all cards
  @media (max-width: (1024px - 1px)) {
    article:first-of-type {
      display: none;
      background: none !important;
    }
  }
  // iPad vertical gets three cards
  @media (max-width: (768px - 1px)) {
    article:last-of-type {
      display: none;
      background: none !important;
    }
  }
  // smaller gets two cards, and then <600px, they shrink in height.
  @media (max-width: (600px - 1px)) {
    article {
      height: 80px;
    }
  }

  // chromecast mode
  &.minimal-ui {
    justify-content: space-between;
    bottom: 8%;
    left: 5%;
    right: 5%;
    width: auto;

    article {
      border-radius: 8px;
    }
  }
}
