& {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  user-select: auto;

  @media (min-width: 1024px) {
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
  }
}

// left-hand side
.location {
  max-width: 100%;

  @media (min-width: 1024px) {
    max-width: 60%;
  }
}
