& {
  background: #00ccb9;
}

#videos-asset {
  width: 227px;
  height: 239px;
  background: url(img/videos/videos-asset.svg) center no-repeat;
  position: absolute;
  top: 50%;
  z-index: 1000;
  left: 48px;
  pointer-events: none;  // allow scroll events through this
}
