& {
  background: #00ccb9;
}

#videos-asset {
  width: 227px;
  height: 239px;
  background: url(img/videos/videos-asset.svg) center no-repeat;
  position: absolute;
  top: 50%;
  z-index: 1000;
  left: 48px;
  pointer-events: none;  // allow scroll events through this
}

.horizontal-list {
  a {
    &:nth-child(even) {
      .card {
        width: 380px;
        .card--inner {
          clip-path: url(#cardMask4);
        }

        &::before {
          height: 191px;
          width: 392px;
          background: url(img/listview/shape4-shadow.svg) center no-repeat;
          left: 2px;
          bottom: -10px;
        }

        &::after {
          height: 11px;
          width: 348px;
          bottom: -1px;
          left: 15px;
          background: url(img/listview/shape4-base.svg) center no-repeat;
        }
      }
    }
  }
  .card {
    width: 370px;
    height: 205px;

    .card--inner {
      clip-path: url(#cardMask3);
    }

    &::before {
      height: 180px;
      width: 380px;
      bottom: -10px;
      left: 5px;
      background: url(img/listview/shape3-shadow.svg) center no-repeat;
    }

    &::after {
      height: 14px;
      width: 368px;
      bottom: 0;
      left: 0;
      background: url(img/listview/shape3-base.svg) center no-repeat;
    }
  }
}