#canvas {
  height: calc(100% - 150px);
  width: 100vw;
  background-color: rgb(17, 18, 23);
  position: absolute;
  top: 0;
  left: 0;

  &.is-pointing {
    cursor: pointer;
  }

  &.is-dragging {
    cursor: move;
  }
}