.download-button {
  pointer-events: auto;
  position: absolute;
  right: 40px;
  top: 150px;

  @include respond-to(smartphone) {
    top: 125px;
    right: 20px;
  }

  .button__icon {
    width: 45%;
  }
}