$aspect-ratio: calc(100vw / 100vh);

.download-popin {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  padding: 80px 80px calc(80px + 150px) 80px;
  pointer-events: none;
  position: absolute;
  transition: opacity .5s ease;
  justify-content: center;
  width: 100%;
  z-index: $z-index-download;

  &.is-loading {
    .download-popin__loading {
      opacity: 1;
    }
    .download-popin__image-wrapper {
      opacity: 0;
    }
  }

  &.is-open {
    pointer-events: auto;
    opacity: 1;

    .download-popin__wrapper {
      transform: none;
    }
  }

  &__wrapper {
    box-shadow: 14px 10px 35px 0px rgba(0,0,0,0.15);
    background-color: $color-white;
    padding: 40px 40px 30px 40px;
    transition: transform 1s $easeout-expo;
    position: relative;
    height: auto;
    max-height: 100%;
    width: auto;
    transform: translateY(50px);
  }

  &__image-wrapper {
    position: relative;
    height: 0;
    // padding-bottom: calc(100vh / 100vw * 1%);
    width: 45vw;
    opacity: 1;
    transition: opacity .5s ease;
  }

  &__image {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__link {
    margin: 30px auto 0;
    transform: translate(3px, 0);
  }

  &__loading {
    color: black;
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $z-index-download;
    opacity: 0;
    width: 100%;
    transition: opacity .5s ease;
  }
}