.rotate {
  pointer-events: auto;

  &__row {
    display: flex;
    justify-content: center;
  }

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $button-size;
    height: $button-size;
    transform: translate(-3px, 0px);

    @include respond-to(tablet) {
      width: $button-size-tablet;
      height: $button-size-tablet;
    }
  }

  &__image {
    width: 75%;
  }

  &__button {
    .button__icon {
      width: 51%;
      height: 44%;
    }
  }
}