.rotate {
  pointer-events: auto;

  &__row {
    display: flex;
    justify-content: center;
  }

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $button-size;
    height: $button-size;
  }

  &__image {
    width: 75%;
  }

  &__button {
    .button__icon {
      width: 29px;
      height: 25px;
    }
  }

  &__button--object {
    transform: scale(0.8);
  }
}