.screenshot {
  position: absolute;
  top:  calc(50% - 150px / 2);
  left: 50%;
  height: calc(100vh - 150px);
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
  z-index: $z-index-screenshot;
  display: flex;
  align-items: center;

  &.is-open {
    opacity: 1;

    .screenshot__image {
      transform: none;
    }
  }

  &__image {
    box-shadow: 14px 10px 35px 0px rgba(0,0,0,0.15);
    width: 100%;
    transform: translateY(50px);
    transition: transform 1s $easeout-expo;
  }
}