.sound-button {
  pointer-events: auto;
  position: absolute;
  right: 40px;
  top: 50px;

  @include respond-to(smartphone) {
    top: 40px;
    right: 20px;
  }

  .button__icon {
    width: 37%;
  }
}