.toolbar {
  display: flex;
  background-color: $color-deep-blue-darken;
  height: 150px;
  overflow: hidden;
  position: relative;
  pointer-events: auto;
  width: 100%;

  // @include respond-to(iphone8-more) {
  //   height: 180px;
  // }

  @include respond-to(iphoneX-more) {
    height: 210px;
  }

  &.no-arrow {
    .toolbar__arrow {
      display: none;
    }
  }

  &__container {
    background-color: $color-deep-blue;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    @include respond-to(smartphone) {
      width: 80%;
    }

    // @include respond-to(iphone8-more) {
    //   align-items: flex-start;
    // }

    @include respond-to(iphoneX-more) {
      align-items: flex-start;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    height: 150px;
    padding: 30px 40px;

    @include respond-to(smartphone) {
      height: 110px;
      padding: 20px 30px;
    }
  }

  &__item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    height: 100%;
    transition: transform .7s $easeout-expo;

    &.no-transition {
      transition: none;
    }

    &:hover {
      .toolbar__image {
        transform: scale(1.1);
      }
    }
  }

  &__image {
    padding: 0 20px;
    display: block;
    height: 100%;
    transition: transform .6s $easeout-expo;
  }

  &__arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $z-index-ui;

    // @include respond-to(iphone8-more) {
    //   top: calc(50% - 40px);
    // }

    @include respond-to(iphoneX-more) {
      top: calc(50% - 55px);
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $color-deep-blue-darken;
      border-radius: 50%;
      transform: scale(1.4);
    }

    &:last-child {
      left: auto;
      right: 0;
      transform: translate(50%, -50%);
    }
  }
}
