.toolbar {
  display: flex;
  background-color: $color-deep-blue-darken;
  height: 150px;
  overflow: hidden;
  position: relative;
  pointer-events: auto;
  width: 100%;

  &__container {
    background-color: $color-deep-blue;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    height: 100%;
    padding: 30px 40px;
  }

  &__item {
    padding: 0 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    height: 100%;
    transition: transform .7s $easeout-expo;

    &:hover {
      .toolbar__image {
        transform: scale(1.1);
      }
    }
  }

  &__image {
    height: 100%;
    transition: transform .6s $easeout-expo;
  }

  &__arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $z-index-ui;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $color-deep-blue-darken;
      border-radius: 50%;
      transform: scale(1.4);
    }

    &:last-child {
      left: auto;
      right: 0;
      transform: translate(50%, -50%);
    }
  }
}
