.toolbox {
  align-items: center;
  background-color: rgb(27, 30, 43);
  bottom: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  left: 50%;
  min-width: 400px;
  padding: 50px;
  position: absolute;
  transform: translateX(-50%);
  width: 50vw;
  pointer-events: auto;

  button {
    background-color: #fff;
    border: none;
    box-shadow: none;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
  }
}