.toolbox {
  background-color: $color-deep-blue;
  height: 150px;
  position: relative;
  padding: 0 45px;

  button {
    background-color: #fff;
    border: none;
    box-shadow: none;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
  }
}