.toolbox {
  display: flex;
  background-color: $color-deep-blue-darken;
  height: 150px;
  position: relative;
  padding: 0 25px;
  pointer-events: auto;

  &__container {
    padding: 0 40px;
    background-color: $color-deep-blue;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    margin: 0 20px;
    width: 100px;
    cursor: pointer;
    transition: transform .6s $easeout-expo;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    width: 100%;
  }
}