.ui {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  pointer-events: none;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
}