.zoom {
  width: $button-size;
  flex: 1;
  margin-left: 40px;
  margin-top: 1px;
  position: relative;
  pointer-events: auto;

  &__button {
    .button__icon {
      width: 52%;
    }

    &--in {
      margin-bottom: 1px;

      .button__icon {
        top: 57%;
        left: 53%;
      }
    }

    &--out {
      .button__icon {
        top: 43%;
        left: 47%;
      }
    }
  }
}
