div{
    color:white;
    
}
#currentStopDiv,#etaDiv,#presentsDiv{
    background-color: #E63A36;
    width: auto;
    display: inline-table;
    padding: 10px;
    margin: 10px;
    border-color: black;
    border: 1px;
    border-radius: 15px;
}
#time{
    width: 100%;
}