##{$name} {
  $worldBackground: #3f4da1;

  .scene {
    background: $worldBackground center center / cover;
    bottom: 0;
    font-size: 10px; // For relative em sizing and scaling.
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
  }

  &.level--stage1 .scene {
    background-image: url(img/stages/stage1.svg);
  }

  &.level--stage2 .scene {
    background-image: url(img/stages/stage2.svg);
  }

  &.level--stage3 .scene {
    background-image: url(img/stages/stage3.svg);
  }

  .scene-underlay {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0);
    visibility: hidden;
  }

  .scene__world {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .scene__characters {
    bottom: 22%;
    height: 480px;
    left: 50%;
    margin-bottom: -72px;
    position: absolute;
    transform: scale(.9);
    transform-origin: 50% 85%;
  }

  .scene__character {
    bottom: 0;
    position: absolute;
    transition: transform 1s linear;
  }

  .scene__character.is-showing {
    transform: translate(-50%, 0);
    z-index: 1;
  }

  .scene__character--player {
    transform: translateX((-50% - 20%));
  }

  .scene__character--player.is-watching {
    transform: translate((-50% - 20%), -10%) scale(.86);
  }

  .scene__character--teacher {
    transform: translateX((-50% + 20%));
  }

  &.level--freestyle .scene__character--player {
    transform: translate(-50%, 0);
  }

  &.level--freestyle .scene__character--teacher {
    display: none;
  }

  @media (min-width: 1024px) {
    .scene__character--player {
      transform: translateX((-50% - 25%));
    }

    .scene__character--player.is-watching {
      transform: translate((-50% - 25%), -10%) scale(.86);
    }

    .scene__character--teacher {
      transform: translateX((-50% + 25%));
    }
  }

  .title {
    color: white;
    font-family: 'Lobster';
    font-size: 8em;
    height: 1em;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    top: 3rem;
    width: 100%;

    animation: .15s .35s cb_title_appear backwards;
  }

  .title--small {
    font-size: 5em;
  }

  .title--sub {
    margin-top: 1.3em;
  }

  .title--destroy {
    animation: .15s .25s cb_title_disappear forwards;
  }

  .scene__moves {
    height: 8.5em;
    margin: 0 auto;
    transition: transform 200ms ease-in;
    display: flex;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    bottom: 5%;
  }

  .scene__moves-move {
    border-radius: .8em;
    border: 3px solid rgba(255, 255, 255, 0.3);
    counter-increment: tile;
    flex: 0 0 11em;
    height: 8.5em;
    margin-right: .8em;
    position: relative;

    background-size: 10em 8.5em;
    background-repeat: no-repeat;

    &.move__leftArm {
      background-image: url(img/icons_point-left-white.svg);
    }

    &.move__rightArm {
      background-image: url(img/icons_point-right-white.svg);
    }

    &.move__leftFoot {
      background-image: url(img/icons_step-left-white.svg);
    }

    &.move__rightFoot {
      background-image: url(img/icons_step-right-white.svg);
    }

    &.move__jump {
      background-image: url(img/icons_jump-white.svg);
    }
    &.move__split {
      background-image: url(img/icons_splits-white.svg);
    }
    &.move__shake {
      background-image: url(img/icons_shake-white.svg);
    }
  }

  .scene__moves-move:after {
    bottom: -2em;
    color: white;
    content: counter(tile);
    font-family: 'Lobster';
    font-size: 140%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  .fade-in {
    animation: 500ms cb_fade_in;
    animation-fill-mode: forwards;
  }

  .fade-out {
    animation: 500ms cb_fade_out;
    animation-fill-mode: forwards;
  }

  .scene__play-tab {
    border-radius: 50%;
    bottom: 60px;
    height: 100px;
    left: (-100px / 2);
    position: absolute;
    width: 100px;

    @media (min-width: 661px) {
      bottom: 80px;
    }

    @media (min-width: 1025px) {
      bottom: 15px;
    }
  }

  // We need to force this play button on GPU for Safari for some reason so the z-index works.
  // Some browsers also round down the pixel size of the GPU layer which trims the box-shadow,
  // which is why we force this bigger parent on the GPU.
  .scene__play-layer {
    background-color: $worldBackground;
    border-radius: 50%;
    height: 100px;
    position: relative;
    -webkit-transform: translateZ(0);
    width: 100px;
    z-index: 1;
  }

  .scene__play {
    background: #F68C38;
    border: none;
    border-radius: 50%;
    box-shadow: 3px 3px #F26739;
    cursor: pointer;
    font-size: inherit;
    height: 80px;
    position: relative;
    margin: 10px;
    padding: 0;
    width: 80px;
  }

  .scene__play:before {
    border-bottom: 18px solid transparent;
    border-top: 18px solid transparent;
    border-left: 30px solid white;
    content: '';
    display: block;
    height: 0;
    left: calc(50% - 12px);
    position: absolute;
    top: calc(50% - 18px);
    width: 0;
  }
}

@keyframes cb_title_appear{
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes cb_title_disappear {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(1.5);
  }
}
