##{$name} {
  $worldBackground: #404AA3;

  .scene {
    background: $worldBackground;
    bottom: 0;
    font-size: 10px; // For relative em sizing and scaling.
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
  }

  .scene-underlay {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0);
    visibility: hidden;
  }

  .scene__world {

  }

  .scene__characters {
    display: flex;
    margin-left: 100px;
  }

  .scene__characters-player, .scene__characters-teacher {
    margin: 0 -100px;
  }

  .scene__word-title {
    color: white;
    font-family: 'Lobster';
    font-size: 5em;
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }

  .scene__play-tab {
    border-radius: 50%;
    bottom: 60px;
    height: 16em;
    left: (-16em / 2);
    position: absolute;
    width: 16em;

    @media (min-width: 661px) {
      bottom: 80px;
    }

    @media (min-width: 1025px) {
      bottom: 15px;
    }
  }

  // We need to force this play button on GPU for Safari for some reason so the z-index works.
  // Some browsers also round down the pixel size of the GPU layer which trims the box-shadow,
  // which is why we force this bigger parent on the GPU.
  .scene__play-layer {
    background-color: $worldBackground;
    border-radius: 50%;
    height: 16em;
    position: relative;
    -webkit-transform: translateZ(0);
    width: 16em;
    z-index: 1;
  }

  .scene__play {
    background: #F68C38;
    border: none;
    border-radius: 50%;
    box-shadow: 0.5em 0.5em #F26739;
    cursor: pointer;
    font-size: inherit;
    height: 13em;
    position: relative;
    margin: 1.5em;
    padding: 0;
    width: 13em;
  }

  .scene__play:before {
    border-bottom: 2.8em solid transparent;
    border-top: 2.8em solid transparent;
    border-left: 5em solid white;
    content: '';
    display: block;
    height: 0;
    left: calc(50% - 2.2em);
    position: absolute;
    top: calc(50% - 2.8em);
    width: 0;
  }
}
