.outer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: #00cc81;
  font-size: 13px;
  line-height: 15px;
  padding: 2px 12px 6px;
  border-radius: 8px;
  min-width: 240px;
  min-height: 140px;

  .grow {
    flex-grow: 1;
  }
}

h1 {
  font: inherit;
  color: white;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.125);
  font-weight: bold;
  margin: 6px 0 2px;
  font-size: 11px;
  white-space: nowrap;;
}

h2 {
  font: inherit;
  color: #eefda5;
  margin: 0;
  font-weight: 500;
}

.icon {
  display: flex;
  align-items: center;

  svg {
    margin-right: 2px;
  }
}

hr {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 4px -4px 4px;
  border: 0;
}

.sides {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 11px;
  line-height: 13px;

  h1 {
    font-weight: 500;
    margin: 3px 0 1px;
    font-size: 9px;
  }
  h2 {
    font-weight: 400;
  }

  > div:last-child {
    text-align: right;
  }
  > div:first-child {
    text-align: left;
  }
}