:host {
  display: block;
  position: relative;
}

main {
  position: relative;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent center no-repeat;
  background-size: contain;
  pointer-events: none;
}

svg,
img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.125s ease-in-out;
  opacity: 1;
  object-fit: cover;
}

.loading {
  opacity: 0;
}

::slotted(santa-card) {
  pointer-events: auto;
}

:host(:not(.android)) {
  @media (max-width: 768px) {
    main {
      display: flex;
      justify-content: center;
    }

    .cards {
      max-width: 85vw;
      width: 420px;
      min-width: 280px;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
  }

  @media (min-width: 768px + 1px) {
    ::slotted(santa-card) {
      position: absolute;
      top: var(--y, 50%);
      left: var(--x, 50%);
      transform: translate(-50%, -50%);
    }
  }
}

:host(.android) {
  main {
    display: flex;
    justify-content: center;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 100vw;
    width: 820px;
    height: 100%;
  }

  ::slotted(santa-card) {
    align-self: center !important;
    justify-self: center !important;
    padding: 0 !important;
  }
}