@import "../sass/shared";

:host {
  display: flex;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;

  santa-santa {
    display: inline-block;
    transform: translate(-50%, -50%);
  }
}

.buttons {
  position: absolute;
  right: 16px;
  top: 48px;

  santa-button {
    display: inline-block;
    transition: opacity 0.25s ease-in-out;

    &.gone {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.outer {
  position: relative;
  width: 100%;
  height: 100%;

  .info {
    position: absolute;
    bottom: $map-footer-size;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000000;

    @media (max-width: 600px) {
      flex-flow: column-reverse;
      justify-content: stretch;
    }

    > * {
      margin: 0 8px 8px;
      min-width: 240px;
      min-height: 140px;
      height: 140px;  // needed to kick flexbox

      &:not(modvil-tracker-photos) {
        position: relative;
        z-index: -1;
      }
    }
  }
}