@import "../sass/shared";

:host {
  display: flex;
  position: relative;
  padding-bottom: 72px;
}

.map {
  width: 100%;
  height: 100%;

  santa-santa {
    display: inline-block;
    transform: translate(-50%, -50%);
  }
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    display: none;
  }

  h1 {
    font-family: 'Lobster';
    color: white;
    margin-top: 0.5em;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.125);
    opacity: 0.75;
  }
}

#top-divider {
  position: relative;
  height: 72px;
  background: #eee _rel("../img/divider-tracker.svg") center repeat-x;
  background-size: auto 72px;
  z-index: 1000000;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.125);
  max-width: $module-max-width;
  margin: 0 auto;
}

.buttons {
  position: absolute;
  right: 16px;
  top: 72px;

  santa-button {
    display: inline-block;
    transition: opacity 0.25s ease-in-out;

    &.gone {
      pointer-events: none;
      opacity: 0;
    }

    svg {
      width: 38px;
      height: 38px;
      filter: drop-shadow(1px 2px 0 rgba(0, 0, 0, 0.25));
    }
  }
}

.outer {
  position: relative;
  width: 100%;
  height: 100%;

  .info {
    position: absolute;
    bottom: $map-footer-size;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000000;

    @media (max-width: 600px) {
      flex-flow: column-reverse;
      justify-content: stretch;
    }

    > * {
      margin: 0 8px 8px;
      min-width: 240px;
      min-height: 140px;
      height: 140px;  // needed to kick flexbox

      &:not(modvil-tracker-photos) {
        position: relative;
        z-index: -1;
      }
    }
  }
}