$name: 'module-underconstruction';

body {
  overflow: hidden;
}

##{$name} {
  main {
    background: url(img/background.jpg) center/cover no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .title {
    color: #fff;
    font-family: 'Lobster', sans-serif;
    font-size: 36px;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
  }

  .title__month {
    display: block;
    font-size: 72px;
    line-height: .85;
  }

  .animation {
    position: absolute;

    &--backhoe {
      right: -43%;
      height: 200%;
      width: 200%;
      top: -57%;
    }
  }
}