$name: 'module-underconstruction';


##{$name} {
  body {
    margin: 0;
  }

  main {
    background: url(img/background.jpg) center/cover no-repeat;
    height: 100vh;
    width: 100%;
  }

  .title {
    color: #fff;
    font-family: 'Lobster', sans-serif;
    font-size: 36px;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
  }

  .title__month {
    display: block;
    font-size: 72px;
    line-height: .85;
  }
}