$name: 'tracker-intro-module';

@import "sass/santa";

$bubble-overlay-z-index: 4;

##{$name} {

  color: #fff;
  font-family: Roboto, sans-serif;

  .top, .user-location, .santa-distance, .skip {
    width: 100%;
    text-align: center;
    z-index: $bubble-overlay-z-index + 1;
  }

  #userMap {
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    position: absolute;
    z-index: $bubble-overlay-z-index - 1;
    display: block;
  }

  #santaMap {
    width: 180px;
    height: 180px;
    margin-top: -90px;
    margin-left: -90px;
    position: absolute;
    z-index: $bubble-overlay-z-index - 2;
    display: block;
  }

  #userMapInner {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: $bubble-overlay-z-index - 1;
    display: block;
  }

  #santaMapInner {
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: $bubble-overlay-z-index - 2;
    display: block;
  }

  .santa-sleigh {
    z-index: $bubble-overlay-z-index - 1;
  }

  bubble-overlay {
    z-index: $bubble-overlay-z-index;
  }

  p {
    margin: 0;
  }

  .welcome,
  .skip {
    text-transform: uppercase;
  }

  .welcome {
    margin: 40px 0 10px 0;
  }

  .title {
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
    font-size: 40px;
  }

  .pin {
    width: 100px;
    height: 200px;
    transform: rotate(160deg);
    transition: transform 0.5s;
  }

  .pin-wrapper {
    width: 200px;
    height: 100px;
    margin-top: -50px;
    margin-left: -100px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: $bubble-overlay-z-index + 1;
    transition: left 0.5;
  }

  .top {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateY(100px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;

    &.final {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .bottom-wrapper {
    position: absolute;
    bottom: 60px;
    overflow:hidden;
    height: 60px;
    width: 100%;
  }

  .user-location {
    width: 100%;
    position: absolute;
    transform: translateY(60px);
    transition: transform 0.2s ease, opacity 0.2s ease;

    &.final {
      transform: translateY(0px);
      opacity: 1;
    }

    em {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
    }
  }

  .santa-distance {
    width: 100%;
    position: absolute;
    transform: translateY(60px);
    transition: transform 0.2s ease, opacity 0.2s ease;
    font-size: 18px;

    &.final {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .skip {
    margin: 2em 0;
    font-size: 1em;
    position: absolute;
    bottom: 0;
     a {
      color: #fff;
      text-decoration: none;
    }
  }
}
