$counterMargin: 7px;

$digitWidth: 38px;
$digitHeight: 27px;
$digitLineHeight: 53px;

#counter {
  user-select: none;

  .counter-box {
    background: url(img/countdown_back.png);
    background-size: 77px 77px;
    width: 77px;
    height: 77px;
    position: relative;

    .holder {
      font-size: 34px;
      color: white;
      font-weight: 700;
      padding-left: 2px;
      padding-top: 2px;
      line-height: 75px;
      height: 77px;
      width: 77px;
      position: absolute;
      box-sizing: border-box;
      transform: translateZ(0);
      will-change: transform;
      text-shadow: none;
    }
    .holder.prev {
      transform: translateY(100%);
      opacity: 0;
    }

    &.anim {
      .holder.active {
        animation: counter-step-active 0.25s;
      }
      .holder.prev {
        animation: counter-step-prev 0.25s;
      }
    }
  }

  h2 {
    position: absolute;
    bottom: 0;
    left: 2px;
    right: 0;
    text-align: center;
    margin: 0 !important;
  }
}

@keyframes counter-step-active {
  0% { transform: translateY(-50%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}
@keyframes counter-step-prev {
  0% { transform: translateY(0%); opacity: 1; }
  100% { transform: translateY(50%); opacity: 0; }
}
