@import "compass/css3/images";
@import "compass/css3/transform";

$counterMargin: 7px;

$digitWidth: 38px;
$digitHeight: 27px;
$digitLineHeight: 53px;

#counter {
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 6px;
  padding: 19px;

  .counter-box {
    margin: 0 $counterMargin;
  }

  h2 {
    font-size: 9pt;
    font-weight: 700;
    margin: 0 0 13px 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
  }

  .digit {
    color: #454545;
    font-weight: 300;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .26);
    text-align: center;
    @include perspective(500);
    line-height: $digitLineHeight;
    font-size: 39px;
    margin-right: 3px;
    position: relative;
    width: $digitWidth;
    height: $digitLineHeight;
  }

  .digit-top {
    position: absolute;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
    background-color: #fafafa;
    @include background-image(linear-gradient(top, #fafafa, #f2f2f2));
    z-index: 5;
    height: $digitHeight;
    width: $digitWidth;
  }

  .digit-top.digit-behind {
    z-index: 4;
  }

  .digit-bottom {
    background: #fff;
    position: absolute;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    z-index: 2;
    box-shadow :0 1px 1px rgba(0, 0, 0, .2);
    height: $digitHeight - 3;
    width: $digitWidth;
    top: $digitHeight;

    span {
      display: block;
      position: absolute;
      top: -($digitHeight - 1);
      width: $digitWidth;
    }
  }

  .digit-bottom.digit-front {
    z-index: 3;
    @include rotateX(90deg);
    @include apply-origin(50% 0%, false);
  }

  .digit-top.digit-front {
    @include rotateX(0deg);
    @include apply-origin(50% 100%, false);
  }

  // Only the front ones animate.
  .digit-anim .digit-front {
    -webkit-transition: -webkit-transform 300ms linear;
    transition: transform 300ms linear;

    &.digit-top {
      @include rotateX(-90deg);
      border-top: 1px solid #e3e3e3;
    }

    &.digit-bottom {
      @include rotateX(0deg);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
      border-bottom: 1px solid #e3e3e3;

      -webkit-transition-delay: 300ms;
      transition-delay: 300ms;
    }
  }
}
