
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html {
  background: black;
  overflow: hidden;
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow: auto;
  touch-action: manipulation;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-user-select: none;

  &.loading {
    background: #1a844b;
  }

  &[data-mode="android"] {
    --color-bar: rgb(76, 175, 80);
  }
}
