
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html {
  background: black;
  overflow: hidden;
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow: auto;
  touch-action: manipulation;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-user-select: none;
  background: #1a844b;

  &[data-mode="android"] {
    --color-bar: rgb(76, 175, 80);
  }
}

@keyframes loader-move {
  50% { transform: translateY(-100%); }
}

$loader-appear-delay: 3.5s;  // appear when loading 2nd time
$transform-duration: 1.0s;   // should be < $loader-appear-delay
$opacity-duration: 0.5s;

.loader {
  position: fixed;
  top: 80%;
  left: calc(50% - 160px);
  width: 320px;
  display: flex;
  justify-content: center;
  will-change: transform;
  transition: transform $transform-duration ease-in-out, opacity $opacity-duration $loader-appear-delay ease-in-out;
  z-index: 100000;

  u {
    transform: translateY(0);
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 5px;
    animation: loader-move 1.6s cubic-bezier(0.50, 0.1, 0.50, 1) infinite;
    background: red;

    &:nth-child(1) {
      background: #9fceff;
      animation-delay: -0.80s;
    }
    &:nth-child(2) {
      background: #ffb1b1;
      animation-delay: -0.60s;
    }
    &:nth-child(3) {
      background: #fff173;
      animation-delay: -0.40s;
    }
    &:nth-child(4) {
      animation-delay: -0.20s;
      background: #a8e9a2;
    }
  }
}
body:not(.loading) .loader {
  transform: translateY(-100vh);
  opacity: 0;
  transition-delay: 0s;
}
