
$header-size: 720px;
$snow-color: #f5f2e2;

santa-video {
  pointer-events: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 100;
}
santa-video.active {
  opacity: 1;
}

header {
  display: block;
  position: relative;
  height: $header-size;
  background: $snow-color;
  box-shadow: 0 2px 0 $snow-color;  // cover soft svg border

  // nb. clone this from village-header as cast is never a responsive design, and the mobile-header
  // needs to be much larger than in cast.
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 240px;
    background: url(../../elements/village-header/img/mobile-header.svg) center no-repeat;
    background-size: cover;
  }
}

village-header {
  --smallcaps-size: 15px;
  --countdown-timer-box-size: 102px;
  --countdown-timer-font-size: 46px;
}

main {
  // this should never appear (header-size is 720px, size of Cast) but match color just in case
  background-color: $snow-color;
  height: calc(100vh - #{$header-size});
}

social-cards {
  position: absolute;
  bottom: 44px;
  left: 0;
  width: 100%;
}

