// COLORS
$color-black: #000;
$color-dark-orange: #F0922B;
$color-light-blue: #9FCEFF;
$color-orange: #FFC100;
$color-red: #EB483F;
$color-red-dark: #D92626;
$color-white: #FFF;

$font-google-sans: 'Google Sans', sans-serif;
$font-lobster: 'Lobster', sans-serif;