##{$name} {
  .spheres {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 50%;
    margin-top: -480px;
  }

  .sphere {
    position: absolute;
    width: 38px;
    height: 38px;
    margin-left: -19px;
    margin-top: -19px;

    border-radius: 38px;
    background: url('img/sphere.svg');
    transform: translateZ(0); // Put it on the GPU.
  }

  .sphere--1 {
    background-color: #33a758;
  }

  .sphere--2 {
    background-color: #9e3694;
  }

  .sphere--3 {
    background-color: #00adef;
  }

  .sphere--4 {
    background-color: #ee2228;
  }

  .sphere--5 {
    background-color: #f47638;
  }

  .sphere--6 {
    background-color: #ffe600;
  }
}
