@keyframes #{$name}-headBooble {
  0% {
    transform: rotateZ(-10deg);
  }

  20% {
    transform: rotateZ(-10deg);
  }

  80% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(10deg);
  }
}

@keyframes #{$name}-pogoJump {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-60px);
  }
}

@keyframes #{$name}-noteFloat {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes #{$name}-snowFall {
  0% {
    background-position: 0 0, 0 0;
  }

  50% {
    background-position: 0 173px, 0 173px / 2;
  }

  100% {
    background-position: 0 173px * 2, 0 173px;
  }
}

@keyframes #{$name}-whistle {
  0% {
  transform: rotateX(0deg);
  }

  100% {
  transform: rotateX(55deg);
  }
}

@keyframes #{$name}-bolt {
  0% {
  transform: rotateZ(0deg);
  }

  100% {
  transform: rotateZ(360deg);
  }
}
