.shower-deer__water {
	position: absolute;
	left: 50%;
	top: 91px;
	transform: translateZ(0);
}

.shower-deer__water--1 {
	width: 49px;
	height: 108px;
	margin-left: -40px;
}

.shower-deer__water--2 {
	width: 51px;
	height: 115px;
	margin-left: -60px;
}

.shower-deer__water--3 {
	width: 61px;
	height: 135px;
	margin-left: -55px;
	margin-top: -5px;
}

.shower-deer__water--4 {
	width: 51px;
	height: 114px;
	margin-left: -50px;
	margin-top: -7px;
}

.shower-deer__water--5 {
	width: 49px;
	height: 109px;
	margin-left: -40px;
	margin-top: -12px;
}