// Crayon factory
@mixin makeCrayon($src) {
  background-image: url($src);
  background-size: 90%;

  &.Tool--selected {
    width: 200%;
    height: auto;
  }
}

// Center vertically and horizontally
@mixin center() {
  margin: auto;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  top: 0;
}

@mixin createOrnamentSelector($src) {
  background: url($src) no-repeat;
  background-size: contain;
  height: 408px;
  width: 284px;
}