$orgs-list: 'khan-academy',
            'libraries-without-borders',
            'code',
            'donors-choose',
            'pratham-books';

##{$name} {
  .nav-ornament {
    align-items: center;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 280px;
    z-index: 4;

    @media (max-width: 1024px), (max-height: 600px) {
      bottom: 94px;
    }

    @media (max-width: 520px) {
      bottom: 130px;
    }
  }

  .nav-ornament--active {
    opacity: 1;
    transition: .6s opacity ease;
    transition-delay: .6s;
    visibility: visible;
  }

  .ornament-gallery {
    margin: 0 auto;
    max-width: 1250px;
    text-align: center;

    &.active .ornament-item {
      visibility: visible;
    }

    &-crayon {
      background: url(img/tools/crayon-orange.svg) center / 90% no-repeat;
      display: none;
      height: 176px;
      pointer-events: none;
      position: absolute;
      width: 176px;
      z-index: 10;

      &--active {
        display: block;
      }
    }
  }

  .ornament-item {
    cursor: pointer;
    display: inline-block;
    height: 450px;
    margin: 40px;
    max-height: 450px;
    max-width: 300px;
    position: relative;
    transform-origin: 50% 60%;
    visibility: hidden;
    width: 100%;
    will-change: transform;

    &-container {
      height: 300px;
      left: 0;
      position: relative;
      top: 0;
      width: 300px;
    }

    .ornament-item-container--active {
      .ornament-item-hover::after {
        opacity: 1;
        transform: translate(200px, 170px);
        transition: opacity .4s, transform .4s;
      }
    }

    &-hover {
      border-radius: 50%;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: relative;
      top: 36%;
      width: 100%;
      z-index: 3;
    }

    &-hover::after {
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      left: -201px;
      height: 280px;
      opacity: 0;
      position: absolute;
      top: -170px;
      transform: none;
      transition: opacity .4s, transform .4s;
      width: 280px;
      will-change: transform, opacity;
    }

    .ornament-hook {
      z-index: 5;
    }

    .color-guide {
      max-height: 300px;
      max-width: 300px;
      top: 36%;
      z-index: 4;
    }

    &-canvas {
      background-color: #fff;
      border-radius: 50%;
      height: 300px;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 36%;
      width: 300px;
      z-index: 2;
    }

    &-logo {
      background: center / contain no-repeat;
      bottom: -20px;
      height: 50px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 200px;
    }

    &-shadow {
      background-color: rgba(0, 0, 0, .05);
      border-radius: 50%;
      height: 60%;
      max-height: 300px;
      max-width: 300px;
      position: absolute;
      right: -10%;
      top: 35%;
      width: 90%;
      z-index: 1;
    }

    &--drawn {
      .ornament-item-canvas {
        box-shadow: 0 0 0 10px #28b5f5;
      }

      .ornament-item-hover::after {
        content: none;
      }
    }
  }

  @each $org in $orgs-list {
    .ornament-item--#{$org} {
      .ornament-item-hover::after {
        background-image: url(img/ornament/#{$org}-hover.svg);
      }

      .ornament-item-logo {
        background-image: url(img/icons/#{$org}.svg);
      }
    }
  }

  @media (max-width: 480px) {
    .ornament-item {
      margin: 20px 20px 40px 20px;
      max-height: 345px;
      max-width: 230px;

      .ornament-item-container--active {
        .ornament-item-hover::after {
          transform: translate(152px, 130px);
        }
      }

      &-container {
        height: 230px;
        width: 230px;
      }

      &-hover::after {
        height: 214px;
        left: -153px;
        top: -130px;
        width: 230px;
      }

      &-canvas {
        max-height: 230px;
        max-width: 230px;
      }

      &-logo {
        bottom: -30px;
        max-height: 40px;
        max-width: 175px;
      }
    }
  }
}
