##{$name} {

	.board {
		border-radius: 0;
		bottom: 0;

		@media (min-width: $board-desktop-breakpoint) {
			bottom: auto;
		}

		.score,
		.time,
		.level {
			display: none;
			@media (min-width: $board-desktop-breakpoint) {
				display: inline-block;
			}
		}

		.actions {
			display: none;

			@media (min-width: $board-desktop-breakpoint) {
				display: block;
			}
		}
	}

}