##{$name} {

  .object--conveyorBelt {

    cursor: move;
    $belt-speed: 6s;

    .belt {
      animation: #{$name}-belt-animation $belt-speed linear infinite;
    }

    .wheel {
      transform-origin: center center;
      animation: #{$name}-wheel-animation $belt-speed/4 linear infinite;
    }

    &.js-animation-reverse .belt,
    &.js-animation-reverse .wheel {
      animation-direction: reverse;
    }
  }

  .drawer .object--conveyorBelt .belt,
  .drawer .object--conveyorBelt .wheel {
    animation-play-state: paused;
  }

}

@keyframes #{$name}-belt-animation {
  to {
    // document.querySelector('.belt').getTotalLength()
    stroke-dashoffset: -813.1859130859375;
  }
}

@keyframes #{$name}-wheel-animation {
  to {
    transform: rotate(360deg);
  }
}