##{$name} {

  .object--conveyorBelt {

    cursor: move;
    $belt-speed: 6s;

    .wheel {
      transform-origin: center center;
      animation: #{$name}-wheel-animation $belt-speed/4 linear infinite;   
    }

    &.js-animation-reverse .wheel {
      animation-direction: reverse;
    }
  }

  .drawer .object--conveyorBelt .wheel {
    animation-play-state: paused;
  }

}

@keyframes #{$name}-wheel-animation {
  to {
    transform: rotate(360deg);
  }
}