##{$name} {
  .js-debug-canvas {
    outline: 2px dashed #eee;
    user-select: none;
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  .js-debug-console {
    color: #666;
    font-family: monaco, Consolas, Lucida Console, monospace;
    position: absolute;
    top: 2%;
    left: 2%;
    text-align: center;
  }
}