##{$name} {

	$board-desktop-breakpoint: 1025px;
	$border-color: #a52fb7;
	$shadow-color: rgba(66,66,66,.2);

	.drawer {

		$drawer-mobile-size: 92px;

		height: $drawer-mobile-size;
		width: $drawer-mobile-size * 2;

		@media (min-width: $board-desktop-breakpoint) {
			width: 100%;
			height: 100%;
		}

		&__holder {
			box-sizing: border-box;
			cursor: move;
			display: block;
			float: left;
			padding: 15px;
			overflow: hidden;
			height: 100%;
			width: $drawer-mobile-size;
			transition-property: max-height;
			transition-duration: 900ms;
			transition-timing-function: $easeInOutExpo;

			@media (min-width: $board-desktop-breakpoint) {
				border-left: 0;
				border-top: 1px solid $border-color;
				float: none;
				height: 130px;
				padding: 0;
				// overflow: visible;
				position: relative;
				width: 100%;
			}

			&:first-child {
				border-top: 0;
				border-left: 0;
			}

			&--visible {
				border-left: 1px solid $border-color;
				max-height: 100%;
			}

			&--hidden {
				max-height: 0;
				border-top: 0;
			}

			.object {
				display: none;
				position: static;

				@media (min-width: $board-desktop-breakpoint) {
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;
				}

				&--spring {
					@media (min-width: $board-desktop-breakpoint) {
						width: 57px;
						height: 63px;
						margin-left: (57/2) * -1px;
						margin-top: (63/2) * -1px;
					}
				}

				&--conveyorBelt {
					@media (min-width: $board-desktop-breakpoint) {
						width: 146px;
						height: 32px;
						margin-left: (146/2) * -1px;
						margin-top: (32/2) * -1px;
					}
				}
			}

		}

		&__counter {
			box-shadow: 4px 4px 0px 0px $shadow-color;
			background-color: red;
			border-radius: 50%;
			color: #fff;
			display: block;
			width: 20px;
			height: 20px;
			line-height: 20px;
			font-size: 15px;
			position: absolute;
			top: 25px;
			left: 30px;
			z-index: 20;
		}
	}

}