##{$name} {
	$shadow-color: rgba(66,66,66,.2);
	$transition-duration: 500ms;
	$drawer-mobile-size: 50px;
	$drawer-tablet-size: 92px;
	$drawer-desktop-height: 130px;

	.drawer {

		height: $drawer-mobile-size; // compensate the scaling

		@media (min-width: $board-tablet-breakpoint) {
			height: $drawer-tablet-size;
		}

		@media (min-width: $board-desktop-breakpoint) {
			width: 100%;
			height: 100%;
		}

		%drawer-button {
			border-left: 1px solid $border-color;
			padding: 15px;
			width: $drawer-mobile-size;
			height: $drawer-mobile-size;
			@media (min-width: $board-tablet-breakpoint) {
				width: $drawer-tablet-size;
				height: $drawer-tablet-size;
			}
			@media (min-width: $board-desktop-breakpoint) {
				border-left: 0;
				border-bottom: 1px solid $border-color;
				padding: 0;
				width: 100%;
				height: $drawer-desktop-height;
			}
		}

		&__holder {
			box-sizing: border-box;
			display: block;
			float: left;
			overflow: hidden;
			height: 100%;
			width: 0;
			transition-property: transform, width;
			transition-duration: 500ms;
			transition-timing-function: $easeOutExpo;

			@media (min-width: $board-desktop-breakpoint) {
				float: none;
				position: relative;
				height: 0;
				width: 100%;
				border-bottom: 0;
				transform: none;
				transition-property: height;
			}

			&--visible {
				overflow: visible;
				@extend %drawer-button;
			}

			&--restart {
				.restart {
					display: block;
					padding: 0;
				    width: 100%;
				    height: 100%;
				}

				@media (min-width: $board-desktop-breakpoint) {
					display: none;
				}
			}

			.object {
				position: static;
				opacity: 0;
				transition-property: opacity;
				transition-duration: 600ms;
				transition-timing-function: $easeOutExpo;

				@media (min-width: $board-desktop-breakpoint) {
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;
				}

				&--visible {
					opacity: 1;
				}

				&--spring {
					transform: translateY(-50%) rotate(-45deg);
					transform-origin: center center;
					top: 50%;
					position: absolute;

					left: 25%;
					width: 50%; // use width to size the tool according to the drawer

					.spring__bottom {
						height: 36px;

						@media (min-width: $board-tablet-breakpoint) {
							height: 63px;
						}
					}

					@media (min-width: $board-desktop-breakpoint) {
						width: 57px;
						height: 63px;
						margin-left: (57/2) * -1px;
						margin-top: (63/2) * -1px;
						left: 50%;
						transform: none;
					}
				}

				&--conveyorBelt {
					transform: translateY(-50%)  rotate(-45deg);
					transform-origin: center center;
					top: 50%;
					position: absolute;

					left: 10%;
					width: 80%; // use width to size the tool according to the drawer

					@media (min-width: $board-desktop-breakpoint) {
						width: 146px;
						height: 32px;
						margin-left: (146/2) * -1px;
						margin-top: (32/2) * -1px;
						left: 50%;
						transform: none;
					}

					.conveyor {

						&__wheel {

							margin: 1px;
							width: auto;
							height: 100%;

							@media (min-width: $board-desktop-breakpoint) {
								margin: 3px;
							}

							&--first {
								left: 0%;
								right: 80%;
							}

							&--last {
								left: 80%;
								right: 0%;
							}
						}

					}
				}
			}

		}

		&__counter {
			pointer-events: none;
			box-shadow: 4px 4px 0px 0px $shadow-color;
			background-color: red;
			border-radius: 50%;
			color: #fff;
			display: block;
			width: 15px;
			height: 15px;
			line-height: 15px;
			font-size: 10px;
			position: absolute;
			top: 6px;
			left: 6px;
			z-index: 20;
			opacity: 0;
			transform: scale(0.6);
			transition-property: transform, opacity;
			transition-duration: 800ms;
			transition-timing-function: $easeOutExpo;

			@media (min-width: $board-tablet-breakpoint) {
				width: 20px;
				height: 20px;
				line-height: 20px;
				font-size: 15px;
			}

			@media (min-width: $board-desktop-breakpoint) {
				top: 25px;
				left: 30px;
			}

			&--visible {
				opacity: 1;
				transform: scale(1);
			}

			&--animate {
				animation-name: #{$name}-counter-bounce;
				animation-duration: 700ms;
				animation-timing-function: $easeOutBack;
				animation-fill-mode: forwards;
			}
		}
	}

}

@keyframe #{$name}-counter-bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.6);
	}
	100% {
		transform: scale(1);
	}
}