##{$name} {

	$board-desktop-breakpoint: 1025px;
	$border-color: #a52fb7;
	$shadow-color: rgba(66,66,66,.2);

	.draggable {
		&:hover {
			cursor: grab;
		}

		> * {
			transition: transform 300ms $easeOutQuad;
		}

		&.dragging {
			cursor: grabbing;
			&.no-drop {
				opacity: 0.5;
				cursor: no-drop;
			}
		}

	}

}