##{$name} {

  $pipe-width: 196px;
  $button-width: 131px;
  $ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);

  .dropper {
    position: relative;
    left: 50%;
    margin-left: $pipe-width/-2;
    z-index: $z-index-above-present;

    &__pipe {
      width: $pipe-width;
      position: absolute;

      &:before {
        background: transparent url('img/pipe-part.svg') left bottom repeat-y;
        content: '';
        display: block;
        position: absolute;
        top: -100%;
        height: 100%;
        width: $pipe-width;
        padding-top: 9999px;
        margin-top: -9998px;
      }
    }

    &__button {
      width: $button-width;
      position: absolute;
      left: 230px;
      top: 55px;
      cursor: pointer;

      > svg {
        position: relative;
      }

      .dropper__button__hitarea {
        transition: transform 150ms $ease-out-quart;
        transform: translate3d(0, 0, 0);
      }
      &:active .dropper__button__hitarea {
        transform: translate3d(4.8px, 4.7px, 0);
      }
        
      .dropper__button__shadow {
        transition: transform 150ms $ease-out-quart;
        transform: translate3d(0, 0, 0);
      }
      &:active .dropper__button__shadow {
        transform: translate3d(-6.9px, -7px, 0);
      }
    }
  }
}