##{$name} {

  .object--shadow,
  .object--shadow.object--present-circle,
  .object--shadow.object--present-rect {
    outline: none;
    background: rgba(66,66,66,.25);
  }

  .object--present-rect {
    background: red;
    opacity: 0.5;
  }

  .object--present-circle {
    border-radius: 100%;
    background: red;
    opacity: 0.5;
  }

  .object--snowglobe {
    border-radius: 100%;
  }

  .object--target {
    z-index: $z-index-above-present;
  }

  &.frozen,
  .js-animation-paused {
    .belt,
    .wheel {
      animation-play-state: paused;
    }
  }

}