##{$name} {

  .object__rotate-handle {
    position: absolute;
    content: "";
    bottom: 100%;
    padding: 2% 2% 0% 10%;
    right: -5%;
    text-align: right;
    cursor: nwse-resize;
    svg {
      display: inline-block;
      width: 35px;
      height: 35px;
    }
    opacity: 0;
    transition: opacity 150ms;
    transform: scale(1.5);

    @media (min-width: 740px) {
      transform: none;
    }
  }

  .object--spring .object__rotate-handle {
    right: -50%;
  }

  .object:not(.is-inactive):hover {
    .object__rotate-handle {
      opacity: 1;
    }
  }


}