##{$name} {

  .target {
  	position: relative;
    margin-top: 32px;

    &:after {
        background-color: transparent;
        background-image: url('img/test.svg');
        background-position: left top;
        background-repeat: repeat-y;
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        height: 100%;
        width: 100%;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
      }
  }
}
