##{$name} {
  .character {
    position: absolute;
    transform: translateZ(0);

    &--santa,
    &--santa-shadow {
      background: url(img/santa.svg) 0 0 / cover no-repeat;
      width: 96px;
      height: 152px;
      margin-left: -48px;
      margin-top: -76px;
    }

    &--santa-shadow {
      background: url(img/santa-shadow.svg) 0 0 / cover no-repeat;
      opacity: 0;
    }

    &--penguin,
    &--penguin-shadow {
      background: url(img/penguin.svg) 0 0 / cover no-repeat;
      width: 56px;
      height: 112px;
      margin-left: -23px;
      margin-top: -51px;
    }

    &--penguin-shadow {
      background: url(img/penguin-shadow.svg) 0 0 / cover no-repeat;
      opacity: 0;
    }

    &--gingerbread-man,
    &--gingerbread-man-shadow {
      background: url(img/gingerbread-man.svg) 0 0 / cover no-repeat;
      width: 108px;
      height: 166px;
      margin-left: -54px;
      margin-top: -83px;
    }
    
    &--gingerbread-man-shadow {
      background: url(img/gingerbread-man-shadow.svg) 0 0 / cover no-repeat;
      opacity: 0;
    }

    &--rudolph,
    &--rudolph-shadow {
      background: url(img/rudolph.svg) 0 0 / cover no-repeat;
      width: 110px;
      height: 204px;
      margin-left: -55px;
      margin-top: -102px;
    }

    &--rudolph-shadow {
      background: url(img/rudolph-shadow.svg) 0 0 / cover no-repeat;
      opacity: 0;
    }

    &--pegman,
    &--pegman-shadow {
      background: url(img/pegman.svg) 0 0 / cover no-repeat;
      width: 64px;
      height: 136px;
      margin-left: -32px;
      margin-top: -68px;
    }

    &--pegman-shadow {
      background: url(img/pegman-shadow.svg) 0 0 / cover no-repeat;
      opacity: 0;
    }

    &--mrs-claus,
    &--mrs-claus-shadow {
      background: url(img/mrs-claus.svg) 0 0 / cover no-repeat;
      width: 80px;
      height: 152px;
      margin-left: -40px;
      margin-top: -76px;
    }

    &--mrs-claus-shadow {
      background: url(img/mrs-claus-shadow.svg) 0 0 / cover no-repeat;
      opacity: 0;
    }
  }
}
