$grid-background-color: #00904a;

$character-grid-border-color: $grid-background-color;
$character-grid-background-color: #2baf4c;

$character-focus-size: 240px;
$character-focus-background-color: #fdd03f;

$character-ui-padding-desktop: calc(50% - 550px);

##{$name} {
  .character-ui {
    box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.15);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: $grid-background-color;
    padding-left: $character-ui-padding-desktop;

    &__item {
      position: relative;
      margin: 0;
      padding: 0;
      float: left;
      background-color: $character-grid-background-color;
      width: 180px;
      height: 75px;
      border-right: 1px solid $character-grid-border-color;
    }

    &__character-wrapper {
      position: absolute;
      width: $character-focus-size;
      height: $character-focus-size;
      left: 50%;
      margin-left: -($character-focus-size / 2);
      margin-top: -($character-focus-size / 2);
      top: 35%;

      &--focused {
        z-index: 1;
        background-color: $character-focus-background-color;
        border-radius: 50%;
      }

      & > .character {
        left: 50%;
        top: 55%;
      }
    }
  }
}
