$grid-background-color: #00904a;

$character-grid-border-color: $grid-background-color;
$character-grid-background-color: #2baf4c;

$character-focus-size: 210em;
$character-focus-background-color: #93D629;

##{$name} .drawer {
  background-color: $grid-background-color;
  bottom: 0;
  box-shadow: 0px 1px 5px 6px rgba(0, 0, 0, 0.15);
  display: none;
  height: 75em;
  left: 0;
  position: absolute;
  right: 0;
  user-select: none;

  @media (min-width: 960px) {
    padding-left: calc(50% - 550em);
  }

  &__item {
    background-color: $character-grid-background-color;
    border-right: 1px solid $character-grid-border-color;
    float: left;
    height: 75em;
    margin: 0;
    padding: 0;
    position: relative;
    width: 180em;

    // Check icon
    &::after {
      background: url(img/check.svg) 0 0 / cover no-repeat;
      bottom: 5em;
      content: '';
      display: block;
      height: 18em;
      left: 15em;
      opacity: 0;
      position: absolute;
      transition: opacity 200ms ease-in;
      width: 22em;
    }

    &--found::after {
      opacity: 1;
    }
  }

  &__character-wrapper {
    height: $character-focus-size;
    left: 50%;
    margin-left: -($character-focus-size / 2);
    margin-top: -($character-focus-size / 2) - 10em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: $character-focus-size;
  }

  &__foreground {
    pointer-events: none;
    transition: transform .2s ease-in-out;
  }

  &__mobile-hint {
    bottom: 30em;
    height: 85em;
    position: absolute;
    left: 1105em;
    width: 85em;

    @media (min-width: 960px) {
      display: none;
    }
  }

  &__hint {
    display: none;

    @media (min-width: 960px) {
      bottom: 70em;
      left: 20em;
      position: absolute;
    }
  }

  &__item--focused {
    .drawer__character-wrapper {
      background-color: $character-focus-background-color;
      border-radius: 50%;
      z-index: 1;
    }

    .drawer__foreground {
      transform: scale(1.4) translateY(-10em);
    }

    @media (min-width: 960px) {
      .drawer__hint {
        display: block;
      }
    }
  }

  &__item--found .drawer__foreground {
    opacity: 0.5;
  }
}
