$grid-background-color: #00904a;
$character-grid-border-color: $grid-background-color;
$character-grid-background-color: #2baf4c;

##{$name} {
  .game-ui {
    box-shadow: 0px 1px 5px 6px rgba(0,0,0,0.15);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: $grid-background-color;

    &__characters {
      margin: 0 auto;
      padding: 0;
      height: 75px;
      width: 1100px;
    }

    &__character-block {
      position: relative;
      margin: 0;
      padding: 0;
      display: inline-block;
      background-color: $character-grid-background-color;
      width: 180px;
      height: 75px;
    }

    &__character {
      left: 50%;
      top: 50%;
      width: 90px;
      height: 150px;
      margin-left: -45px;
      margin-top: -75px;
    }
  }
}
