$hint-bg-color: #f6871e;
$hint-shadow-color: #cd6a17;

##{$name} {
  .hint {
    @extend .Button;

    background-color: $hint-bg-color;
    bottom: 6em;
    box-shadow: 0 1.5px 0 $hint-shadow-color, 1px 3px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    display: none;
    left: 2em;
    font-size: 12px;
    min-height: auto;
    padding: 4px 8px;
    pointer-events: auto;
    position: absolute;

    @media (min-width: $button-bp) {
      box-shadow: 0 3px 0 $hint-shadow-color, 2px 5px rgba(0, 0, 0, 0.16);
    }

    &:active {
      transform: translateY(1.5px) translateZ(0);

      @media (min-width: $button-bp) {
        transform: translateY(3px) translateZ(0);
      }
    }
  }

  @media (min-width: 960px) {
    .drawer__item--focused .hint {
      display: block;
    }
  }
}
