##{$name} {
  .map {
    background: url(img/map.svg) 0 0 / cover no-repeat;
    height: 900px;
    left: 50%;
    margin-left: -800px;
    margin-top: -450px;
    position: absolute;
    top: 50%;
    width: 1600px;
  }
}
