##{$name} {
  .zoom {
    background: url(img/zoom.svg) 0 0 / cover no-repeat;
    bottom: 10px;
    display: none;
    height: 122px;
    position: absolute;
    right: -22px;
    width: 110px;

    @media (min-width: 1200px) {
      display: block;
    }

    &__in,
    &__out {
      background: none;
      border: 0;
      display: block;
      font: 0/0 a;
      left: 0;
      outline: none;
      position: absolute;
      width: 100%;
      cursor: pointer;
    }

    &__in {
      top: 0;
      bottom: 40%;
    }

    &__out {
      top: 60%;
      bottom: 0;
    }
  }
}
