@import "../../shared/sass/_mixins.scss";

@import "compass/css3/transform";

@include keyframes(fly) {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

@include keyframes(fly2) {
  0% {
    left: -5%;
  }
  100% {
    left: 105%;
  }
}

@include keyframes(fly3) {
  0% {
    left: -20%;
    margin-top: -20px;
  }
  100% {
    left: 120%;
    margin-top: -20px;
  }
}

@include keyframes(boatMovement) {
  0% {
    @include transform(translateX(-5px));
  }

  100% {
    @include transform(translateX(5px));
  }
}

@include keyframes(objFloat) {
  0% {
    @include transform(translateX(-5px));
  }

  100% {
    @include transform(translateX(5px));
  }
}

@include keyframes(birdSwim) {
  0% {
    @include transform(translateX(0px)  rotateY(180deg));
  }

  49% {
    @include transform(translateX(120px) rotateY(180deg));
  }

  50% {
    @include transform(translateX(120px) rotateY(0deg));
  }

  99% {
    @include transform(translateX(0px) rotateY(0deg));
  }

  100% {
    @include transform(translateX(0px)  rotateY(180deg));
  }
}

@include keyframes(presentFly) {
  0% {
    @include transform(translateY(35px) translateX(-15px) rotateZ(0deg));
    opacity: 0;
  }

  25% {
    @include transform(translateY(35px) translateX(-15px) rotateZ(0deg));
    opacity: 1;
  }

  50% {
    @include transform(translateY(0) translateX(0) rotateZ(0deg));
  }

  75% {
    @include transform(translateY(20px) translateX(-20px) rotateZ(90deg));
  }

  95% {
    opacity: 1;
  }

  100% {
    @include transform(translateY(90px) translateX(-50px) rotateZ(180deg));
    opacity: 0;
  }
}

@include keyframes(presentSpin) {
  0% {
    @include transform(rotateZ(0deg));
  }

  50% {
    @include transform(rotateZ(0deg));
  }

  100% {
    @include transform(rotateZ(720deg));
  }
}

@include keyframes(presentGrab) {
  0% {
    @include transform(translateY(0px));
  }

  25% {
    @include transform(translateY(30px) translateX(-10px) rotateZ(15deg));
  }

  50% {
    @include transform(translateY(0px));
  }
}

@include keyframes(presentThrow) {
  50% {
    @include transform(rotateZ(0deg));
  }

  25% {
    @include transform(rotateZ(15deg));
  }

  50% {
    @include transform(rotateZ(0deg));
  }

  55% {
    @include transform(rotateZ(-25deg));
  }
}

@include keyframes(lightsSwitch) {
  0% {
    background-position: 0 0;
  }

  33% {
    background-position: -188px 0;
  }

  66% {
    background-position: -188px * 2 0;
  }
}

@include keyframes(slider) {
  0% {
    @include transform(translateX(12px) translateY(-15px));
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  60% {
    @include transform(translateX(280px) translateY(400px));
  }

  90% {
    @include transform(translateX(280px) translateY(400px));
    opacity: 0;
  }

  95% {
    @include transform(translateX(0px) translateX(0px));
    opacity: 0;
  }

  100% {
    @include transform(translateX(0px) translateX(0px));
  }
}

@include keyframes(sliderSplash) {
  0% {
    @include transform(translateY(35px));
    opacity: 1;
  }

  50% {
    @include transform(translateY(35px)); 
  }

  55% {
    @include transform(translateY(0px));
    opacity: 1;
  }

  100% {
    @include transform(translateY(2px));
    opacity: 0;
  }
}

@include keyframes(coconutFall) {
  0% {
    @include transform(translateY(0px) rotateZ(0deg));
  }

  100% {
    @include transform(translateY(250px) rotateZ(75deg));
  }
}

@include keyframes(zzzFloat) {
  0% {
    background-position: 0 100%;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    background-position: 0 0%;
    opacity: 0;
  }
}

@include keyframes(flaskFloat) {
  0% {
    background-position: -133px -282px;
  }

  33% {
    background-position: -133px -282px + 7;
  }

  66% {
    background-position: -133px -282px;
  }

  100% {
    background-position: -133px -282px + 3;
  }
}