$button-layer: 1100;
$frame-layer: 1000;
$pending-frame-layer: 900;
$error-layer: 800;

body, html {
  height: 100%;
}

iframe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
  transition: filter 0.33s, transform 0.33s, opacity 0.125s ease-in-out;
  z-index: $frame-layer;
  width: 100%;
  height: 100%;

  &.pending {
    z-index: $pending-frame-layer;
    filter: grayscale(70%) brightness(0.5) blur(4px);
    transform: scale(1.05);
    opacity: 0;
  }
}

body.loading iframe:not(.pending) {
  filter: grayscale(70%) brightness(0.5) blur(4px);
  transform: scale(1.05);
}

button.home {
  border-radius: 1000px;
  background: #ff3333;
  position: fixed;
  top: 16px;
  left: 24px;
  width: 48px;
  height: 48px;
  border: none;
  z-index: $button-layer;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.125);
  transition: box-shadow 0.25s, transform 0.25s ease-in-out;
  will-change: box-shadow, transform;

  &:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.09);
  }

  &:focus {
    outline: 0;
    border-color: rgba(0, 0, 0, 0.25);
  }

  &[disabled] {
    transform: translate(-150px);
  }

  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjB2LTZoNHY2aDV2LThoM0wxMiAzIDIgMTJoM3Y4eiIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=");
  background-position: center;
  background-repeat: no-repeat;
}

.error {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $error-layer;
  background: _rel("../img/error.svg") bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.125) 4px 14px 0px;
    box-sizing: border-box;
    border-radius: 10000px;
    background: _rel("../img/snowman.png") center center / contain no-repeat rgb(126, 198, 229);
    overflow: hidden;
  }
}

body.loaded .error {
  transition: visibility 0.25s step-end;
  visibility: visible;
}
