@import 'shared';

body, html {
  height: 100%;
  overflow: hidden;
}

html {
  background: black;
}

body {
  margin: 0;
  touch-action: pan-x pan-y;  // disable pinch zoom
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-user-select: none;
  background: #1a844b;

  --color-bar: #ff3333;
  &[data-mode="android"] {
    --color-bar: #32a658;
  }
}

$loader-appear-delay: 3.5s;  // appear when loading 2nd time
$transform-duration: 1.0s;   // should be < $loader-appear-delay
$opacity-duration: 0.5s;

.loader {
  // nb. loader is mostly defined inline in prod/index.html
  will-change: transform;
  transition: transform $transform-duration ease-in-out, opacity $opacity-duration $loader-appear-delay ease-in-out;
  z-index: ($index-interlude + 1);
  pointer-events: none;
}
body:not(.loaded) .loader {
  z-index: ($index-interlude-preload + 1);
}
body:not(.loading) .loader {
  transform: translateY(-100vh);
  opacity: 0;
  transition-delay: 0s;
}


santa-interlude {
  z-index: $index-interlude;
}

santa-error {
  width: 100%;
  height: 100%;
  display: block;
}

body:not(.loaded) {
  santa-interlude {
    z-index: $index-interlude-preload;
  }
}

santa-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 16px;
  min-width: (320px - 32px);
  z-index: $index-notice;
}