$name: 'module-postcard';

@import "../shared/sass/board";
@import "../shared/sass/tutorial";

@import "sass/environment";
@import "sass/background";
@import "sass/foreground";
@import "sass/message";
@import "sass/share";
@import "sass/buttons";

##{$name} {
  transform-origin: 0 0;
  background-color: #c7eafc;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .board.board--scene.board--scene .back {
    border-radius: none;
  }

  .plusInfo {
    display: none;
  }
}

@import "../shared/sass/responsive";
