##{$name} {
  .Tutorial {
    background: url(img/tutorial/shadow.svg) 50% 50% / contain no-repeat;
    display: none;
    height: 60%;
    left: 15%;
    position: absolute;
    top: 20%;
    width: 70%;
    z-index: 10;

    &::before {
      background: url(img/tutorial/tutorial.gif) 50% 50% / contain no-repeat;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 100%;
      position: absolute;
      top: -6%;
      width: 100%;
    }
  }
}
