##{$name} {

  .pagination {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    text-align: center;
    height: 0;
    pointer-events: none;
  }

  .pagination__grid {
    display: inline-block;
    height: 0;
    width: 92%;
    max-width: 1600px;
    position: relative;
    pointer-events: none;
  }

  .pagination__grid__button {
    position: absolute;
    top: 160px;
    pointer-events: auto;
    opacity: 0;
    will-change: opacity;
  }

  .pagination__grid__button--prev {
    left: 0;

    #arrow-left {
      transform-origin: 50% 50%;
    }

    .no-touch & {
      &:hover {
        #arrow-left {
          transform: translate3d(-75%, 0, 0) scaleY(1.3);
        }
      }
    }
  }

  .pagination__grid__button--next {
    right: 0;

    #arrow-right {
      transform-origin: 50% 50%;
    }

    .no-touch & {
      &:hover {
        #arrow-right {
          transform: translate3d(75%, 0, 0) scaleY(1.3);
        }
      }
    }
  }

  &.animate-scene-loaded {

    .pagination__grid__button {
      cursor: pointer;
      transition: opacity 1s $easeInQuad;
      transition-delay: 1s;
      opacity: 1;
    }

    .pagination__grid__button--prev #arrow-left {
      animation: #{$name}-paginate-prev 1s 2 2s $easeInOutQuad;
      transition: transform .5s $easeOutQuint;
    }
    .pagination__grid__button--next #arrow-right {
      animation: #{$name}-paginate-next 1s 2 2s $easeInOutQuad;
      transition: transform .5s $easeOutQuint;
    }

  }

}

@keyframes #{$name}-paginate-next {
  0%   {transform: translate3d(0, 0, 0); }
  50%  {transform: translate3d(75%, 0, 0) scaleY(1.3); }
  100% {transform: translate3d(0, 0, 0); }
}
@keyframes #{$name}-paginate-prev {
  0%   {transform: translate3d(0, 0, 0); }
  50%  {transform: translate3d(-75%, 0, 0) scaleY(1.3); }
  100% {transform: translate3d(0, 0, 0); }
}
