$name: 'module-dorf';

@import "../shared/sass/_mixins.scss";

@import "sass/variables";
@import "sass/animations";

##{$name} {
  background: #F5F2E2;
  height: 100%;
	
  .scroll {
    overflow-y: auto;
  }
  
  #posser {
    background: url(img/village-grid.png) no-repeat 50% 0;
    background-size: 1293px auto;
    height: 10000px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  header {
    height: 385px;
    background: #47c6ee;		
    background: linear-gradient(to bottom, rgba(61,218,242,1) 0%, rgba(140,232,248,1) 86%, rgba(153,234,249,1) 100%);
    position: relative;
    z-index: 1;
    overflow: visible;
		
    #header-background {
      background-image: url(img/header-bg.svg);
      background-repeat: repeat-x;
      background-position: 50% 100%;
      background-size: 1620px 791px;
      position: absolute;
      width: 100%;
      height: 665px;
      z-index: 1;
    }
		
    #header-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
			
      #count-down {
        padding: 56px 0 30px 0;
				
        #count-down-numbers {
          height: 75px;
          width: 235px;
          background: rgba(0,0, 0, 0.1);
        }
      }
			
      h2 {
        font-size: 11px;
        font-weight: normal;
        color: #fff;
        margin: 0 0 6px 0;
        line-height: 11px;
        text-transform: uppercase;
      }
			
      h1 {
        margin: 0;
        font-family: 'Lobster', sans-serif;
        will-change: transform;
        font-size: 80px;
        line-height: 50px;
        color: white;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
        transform: rotateZ(-3deg);
        
        span {
          font-size: 105px;
        }
      }
			
      p {
        margin: 50px 0 0 0;
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        max-width: 360px;
      }
    }
		
    /*

    .mid {
    margin: 0 auto;
    text-align: center;
    padding-top: 48px;
    width: 340px;
    }


    
    .logo {
    display: inline-block;
    line-height: 0;
    font-size: 0;
    height: 28px;
    width: 84px;
    margin-bottom: 12px;
    // TODO: hdpi only
    background: url(img/google_logo_2x.png) no-repeat;
    background-size: 100% 100%;
    }*/
  }

  /** Village flexbox */
  #village {
    position: relative;
    z-index: 2;
    top: -30px;
    padding-bottom: 100px;
    height: 10000px;

    #houses {
      position: relative;
      display: flex;
      flex-flow: wrap;
      align-items: flex-start;
      position: relative;
      border-sizing: border-box;
      margin: 0 auto;
      max-width: $width-desktop;
      z-index: 10;
    }
    
    #road {
      position: absolute;
      z-index: 1;
      background-image: url(img/road.svg);
      background-repeat: no-repeat;
      background-position: -650px 0;
      background-size: 3229px 2920px;
      width: 100%;
      height: 100%;
      top: 0px;
    }
  }
	
  .house {
    position: relative;
    box-sizing: border-box;
    width: ($width-desktop / 4) - 4;
    margin: 2px;
    height: 365px;
    background: rgba(0,0,0,.1);

    img.icon {
      position: absolute;
      bottom: 0;
      left: 25%;
      width: 50%;
    }

    a {
      text-decoration: none;
      color: inherit;
      will-change: transform;
    }

    a:hover {
      img.icon {
        animation: bounce infinite 600ms;
      }
    }

    .color {
      position: absolute;
      display: none;
    }
  }
	
  #village-footer {
    height: 900px;
    background: green;
  }

  /** Desktop village */
  @media (min-width: $width-mobile) {
    /*.house {
    width: 25%;
    position: relative;

    &::before {
    content: '';
    padding-top: 100%;
    width: 100%;
    float: left;
    }
    }*/
  }

  /** All mobile villages (two cols) */
  @media (max-width: $width-mobile) {
    .house {
      width: 50%;
      height: 200px;

      img.icon {
        width: 200px;
      }

      .color {
        display: block;
      }
    }
  }

  /** Mobile village (one col) */
  @media (max-width: $width-twocol) {
    .house {
      width: 100%;
    }
  }
}
