##{$name} {
  .Buttons {
    bottom: 20em;
    display: flex;
    position: absolute;
    right: 60em;
    z-index: 1;
  }

  .Button {
    border-radius: 50%;
    box-shadow: 2px 4px 0 #852C81, 5px 7px rgba(0,0,0,0.16);
    display: block;
    font-size: 12px;
    height: 55px;
    margin: 15px auto;
    min-height: auto;
    width: 55px;
  }

  .Button--utility,
  .Button--nav {
    height: 40px;
    margin: 10px auto;
    width: 40px;
  }

  .Button--utility {
    background: #fff;
    box-shadow: 2px 4px 0 #C1DBD9, 5px 7px rgba(0,0,0,0.04);
    color: #C1DBD9;
  }

  .Button--nav {
    background: #FFC101;
    box-shadow: 2px 4px 0 #F0932A, 5px 7px rgba(0,0,0,0.16);
  }

  .Button--explosion {
    background-image: url(img/tools/tool_explosion.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
  }

  .Button--reset {
    background-image: url(img/icons/reset.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
