.Canvas {
  bottom: 100px;
  left: 200px;
  position: absolute;
  right: 100px;
  top: 50px;

  #back-canvas {
    background: white;
  }

  canvas {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 800px) {
    left: 0;
    right: 0;
    top: 65px;
  }
}
