.Canvas {
  bottom: 100px;
  left: 200px;
  position: absolute;
  right: 100px;
  top: 50px;

  canvas {
    background: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
