##{$name} {
  .Colorpicker {
    background: url(img/tools/color_wheel_bottom.svg) center / cover no-repeat;
    height: 100px;
    display: none;
    margin: 0 auto;
    position: relative;
    width: 100px;
  }

  .Colorpicker-circle {
    background: purple;
    border-radius: 50%;
    // box-shadow:  inset 0 0 3.43px 0 rgba(0, 0, 0, .1), inset 0 0 0 7px #903AA5;
    cursor: pointer;
    height: 80px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 80px;
  }

  .Colorpicker-popup {
    background: #fff;
    bottom: 120px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    opacity: 0;
    padding: 15px;
    pointer-events: none;
    position: fixed;
    transform: translateX(25px);
    transition: opacity 0.3s;

    &.is-visible {
      pointer-events: auto;
      opacity: 1;
    }

    &::before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff;
      bottom: 0;
      content: '';
      height: 0;
      left: 10px;
      position: absolute;
      transform: translateY(100%);
      width: 0;
    }
  }

  .Colorpicker-colorgrid {
    margin: 0 auto;
    width: 112px;
  }

  .Colorpicker-color {
    background: pink;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;

    &::after {
      background: url(img/icons/check.svg) center/contain no-repeat;
      bottom: 2px;
      content: '';
      display: none;
      left: 2px;
      position: absolute;
      right: 2px;
      top: 2px;
    }

    &.is-selected {
      border: 3px solid #47a4ef;

      &::after {
        display: block;
      }
    }
  }
}