$colorpicker-colors:  "8bc34a" "ffeb3b" "ffc107" "ff5722" "e91e63" "259b24" "cddc39" "ff9800" "e51c23" "9c27b0" "3f51b5" "03a9f4" "6ae5b9" "9e9e9e" "607d8b" "673ab7" "5677fc" "009688" "795548" "212121";

$svg-colors: (
  "crayon": (
    "8bc34a": (
      "tool": (
        "cls-1": #8bc34a,
        "cls-2": #93d839,
      ),
    ),
    "ffeb3b": (
      "tool": (
        "cls-1": #ffeb3b,
        "cls-2": #fffb73,
      ),
    ),
    "ffc107": (
      "tool": (
        "cls-1": #ffc107,
        "cls-2": #ffdb08,
      ),
    ),
    "ff5722": (
      "tool": (
        "cls-1": #ff5722,
        "cls-2": #ff8101,
      ),
    ),
    "e91e63": (
      "tool": (
        "cls-1": #e91e63,
        "cls-2": #fc3d86,
      ),
    ),
    "259b24": (
      "tool": (
        "cls-1": #259b24,
        "cls-2": #22af22,
      ),
    ),
    "cddc39": (
      "tool": (
        "cls-1": #cddc39,
        "cls-2": #e7ef41,
      ),
    ),
    "ff9800": (
      "tool": (
        "cls-1": #ff9800,
        "cls-2": #ffb703,
      ),
    ),
    "e51c23": (
      "tool": (
        "cls-1": #e51c23,
        "cls-2": #e53935,
      ),
    ),
    "9c27b0": (
      "tool": (
        "cls-1": #9c27b0,
        "cls-2": #c30fe8,
      ),
    ),
    "3f51b5": (
      "tool": (
        "cls-1": #3f51b5,
        "cls-2": #4661e0,
      ),
    ),
    "03a9f4": (
      "tool": (
        "cls-1": #03a9f4,
        "cls-2": #06c5f2,
      ),
    ),
    "6ae5b9": (
      "tool": (
        "cls-1": #6ae5b9,
        "cls-2": #8efcdc,
      ),
    ),
    "9e9e9e": (
      "tool": (
        "cls-1": #9e9e9e,
        "cls-2": #bcbcbc,
      ),
    ),
    "607d8b": (
      "tool": (
        "cls-1": #607d8b,
        "cls-2": #658b99,
      ),
    ),
    "673ab7": (
      "tool": (
        "cls-1": #673ab7,
        "cls-2": #764acc,
      ),
    ),
    "5677fc": (
      "tool": (
        "cls-1": #5677fc,
        "cls-2": #6c9dff,
      ),
    ),
    "009688": (
      "tool": (
        "cls-1": #009688,
        "cls-2": #06bca6,
      ),
    ),
    "795548": (
      "tool": (
        "cls-1": #795548,
        "cls-2": #895c4e,
      ),
    ),
    "212121": (
      "tool": (
        "cls-1": #212121,
        "cls-2": #333333,
      ),
    ),
  ),
  "marker": (
    "8bc34a": (
      "tool": (
        "cls-1": #8bc34a,
        "cls-2": #93d839,
      ),
    ),
    "ffeb3b": (
      "tool": (
        "cls-1": #ffeb3b,
        "cls-2": #fffb73,
      ),
    ),
    "ffc107": (
      "tool": (
        "cls-1": #ffc107,
        "cls-2": #ffdb08,
      ),
    ),
    "ff5722": (
      "tool": (
        "cls-1": #ff5722,
        "cls-2": #ff8101,
      ),
    ),
    "e91e63": (
      "tool": (
        "cls-1": #e91e63,
        "cls-2": #fc3d86,
      ),
    ),
    "259b24": (
      "tool": (
        "cls-1": #259b24,
        "cls-2": #22af22,
      ),
    ),
    "cddc39": (
      "tool": (
        "cls-1": #cddc39,
        "cls-2": #e7ef41,
      ),
    ),
    "ff9800": (
      "tool": (
        "cls-1": #ff9800,
        "cls-2": #ffb703,
      ),
    ),
    "e51c23": (
      "tool": (
        "cls-1": #e51c23,
        "cls-2": #e53935,
      ),
    ),
    "9c27b0": (
      "tool": (
        "cls-1": #9c27b0,
        "cls-2": #c30fe8,
      ),
    ),
    "3f51b5": (
      "tool": (
        "cls-1": #3f51b5,
        "cls-2": #4661e0,
      ),
    ),
    "03a9f4": (
      "tool": (
        "cls-1": #03a9f4,
        "cls-2": #06c5f2,
      ),
    ),
    "6ae5b9": (
      "tool": (
        "cls-1": #6ae5b9,
        "cls-2": #8efcdc,
      ),
    ),
    "9e9e9e": (
      "tool": (
        "cls-1": #9e9e9e,
        "cls-2": #bcbcbc,
      ),
    ),
    "607d8b": (
      "tool": (
        "cls-1": #607d8b,
        "cls-2": #658b99,
      ),
    ),
    "673ab7": (
      "tool": (
        "cls-1": #673ab7,
        "cls-2": #764acc,
      ),
    ),
    "5677fc": (
      "tool": (
        "cls-1": #5677fc,
        "cls-2": #6c9dff,
      ),
    ),
    "009688": (
      "tool": (
        "cls-1": #009688,
        "cls-2": #06bca6,
      ),
    ),
    "795548": (
      "tool": (
        "cls-1": #795548,
        "cls-2": #895c4e,
      ),
    ),
    "212121": (
      "tool": (
        "cls-1": #212121,
        "cls-2": #333333,
      ),
    ),
  ),
  "pencil": (
    "8bc34a": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #8bc34a
      ),
    ),
    "ffeb3b": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #ffeb3b
      ),
    ),
    "ffc107": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #ffc107
      ),
    ),
    "ff5722": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #ff5722
      ),
    ),
    "e91e63": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #e91e63
      ),
    ),
    "259b24": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #259b24
      ),
    ),
    "cddc39": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #cddc39
      ),
    ),
    "ff9800": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #ff9800
      ),
    ),
    "e51c23": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #e51c23
      ),
    ),
    "9c27b0": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #9c27b0
      ),
    ),
    "3f51b5": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #3f51b5
      ),
    ),
    "03a9f4": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #03a9f4
      ),
    ),
    "6ae5b9": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #6ae5b9
      ),
    ),
    "9e9e9e": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #9e9e9e
      ),
    ),
    "607d8b": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #607d8b
      ),
    ),
    "673ab7": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #673ab7
      ),
    ),
    "5677fc": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #5677fc
      ),
    ),
    "009688": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #009688
      ),
    ),
    "795548": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #795548
      ),
    ),
    "212121": (
      "tool": (
        "cls-1": #f5ce85,
        "cls-2": #212121
      ),
    ),
  ),
  "paintbrush": (
    "8bc34a": (
      "tool": (
        "cls-1": #8bc34a,
        "cls-2": #93d839,
      ),
    ),
    "ffeb3b": (
      "tool": (
        "cls-1": #ffeb3b,
        "cls-2": #fffb73,
      ),
    ),
    "ffc107": (
      "tool": (
        "cls-1": #ffc107,
        "cls-2": #ffdb08,
      ),
    ),
    "ff5722": (
      "tool": (
        "cls-1": #ff5722,
        "cls-2": #ff8101,
      ),
    ),
    "e91e63": (
      "tool": (
        "cls-1": #e91e63,
        "cls-2": #fc3d86,
      ),
    ),
    "259b24": (
      "tool": (
        "cls-1": #259b24,
        "cls-2": #22af22,
      ),
    ),
    "cddc39": (
      "tool": (
        "cls-1": #cddc39,
        "cls-2": #e7ef41,
      ),
    ),
    "ff9800": (
      "tool": (
        "cls-1": #ff9800,
        "cls-2": #ffb703,
      ),
    ),
    "e51c23": (
      "tool": (
        "cls-1": #e51c23,
        "cls-2": #e53935,
      ),
    ),
    "9c27b0": (
      "tool": (
        "cls-1": #9c27b0,
        "cls-2": #c30fe8,
      ),
    ),
    "3f51b5": (
      "tool": (
        "cls-1": #3f51b5,
        "cls-2": #4661e0,
      ),
    ),
    "03a9f4": (
      "tool": (
        "cls-1": #03a9f4,
        "cls-2": #06c5f2,
      ),
    ),
    "6ae5b9": (
      "tool": (
        "cls-1": #6ae5b9,
        "cls-2": #8efcdc,
      ),
    ),
    "9e9e9e": (
      "tool": (
        "cls-1": #9e9e9e,
        "cls-2": #bcbcbc,
      ),
    ),
    "607d8b": (
      "tool": (
        "cls-1": #607d8b,
        "cls-2": #658b99,
      ),
    ),
    "673ab7": (
      "tool": (
        "cls-1": #673ab7,
        "cls-2": #764acc,
      ),
    ),
    "5677fc": (
      "tool": (
        "cls-1": #5677fc,
        "cls-2": #6c9dff,
      ),
    ),
    "009688": (
      "tool": (
        "cls-1": #009688,
        "cls-2": #06bca6,
      ),
    ),
    "795548": (
      "tool": (
        "cls-1": #795548,
        "cls-2": #895c4e,
      ),
    ),
    "212121": (
      "tool": (
        "cls-1": #212121,
        "cls-2": #333333,
      ),
    ),
  )
);

$spray-cans: (
  "8bc34a": (
    "cls-1": #8bc34a,
    "cls-2": #65af35,
    "cls-3": #1d9904,
  ),
  "ffeb3b": (
    "cls-1": #ffdb08,
    "cls-2": #ffc105,
    "cls-3": #ffa506,
  ),
  "ffc107": (
    "cls-1": #ffc107,
    "cls-2": #ffa506,
    "cls-3": #ff7708,
  ),
  "ff5722": (
    "cls-1": #ff5722,
    "cls-2": #ef4010,
    "cls-3": #e51b23,
  ),
  "e91e63": (
    "cls-1": #e91e63,
    "cls-2": #d60756,
    "cls-3": #b20044,
  ),
  "259b24": (
    "cls-1": #259b24,
    "cls-2": #008e00,
    "cls-3": #00750b,
  ),
  "cddc39": (
    "cls-1": #cddc39,
    "cls-2": #b5cc0e,
    "cls-3": #6dba00,
  ),
  "ff9800": (
    "cls-1": #ff9800,
    "cls-2": #ff7503,
    "cls-3": #ff5703,
  ),
  "e51c23": (
    "cls-1": #e51c23,
    "cls-2": #c61724,
    "cls-3": #af0000,
  ),
  "9c27b0": (
    "cls-1": #9c27b0,
    "cls-2": #8a11a8,
    "cls-3": #6e0687,
  ),
  "3f51b5": (
    "cls-1": #3f51b5,
    "cls-2": #2e46aa,
    "cls-3": #293e96,
  ),
  "03a9f4": (
    "cls-1": #03a9f4,
    "cls-2": #0692f2,
    "cls-3": #0677f2,
  ),
  "6ae5b9": (
    "cls-1": #6ae5b9,
    "cls-2": #40d39b,
    "cls-3": #53bca6,
  ),
  "9e9e9e": (
    "cls-1": #9e9e9e,
    "cls-2": #848484,
    "cls-3": #777,
  ),
  "607d8b": (
    "cls-1": #607d8b,
    "cls-2": #516777,
    "cls-3": #375668,
  ),
  "673ab7": (
    "cls-1": #673ab7,
    "cls-2": #54349b,
    "cls-3": #48219e,
  ),
  "5677fc": (
    "cls-1": #5677fc,
    "cls-2": #3f66e0,
    "cls-3": #1c40c6,
  ),
  "009688": (
    "cls-1": #009688,
    "cls-2": #008474,
    "cls-3": #007a7a,
  ),
  "795548": (
    "cls-1": #795548,
    "cls-2": #6b493f,
    "cls-3": #593d36,
  ),
  "212121": (
    "cls-1": #212121,
    "cls-2": #111111,
    "cls-3": #111111,
  )
);

@mixin generateSVGstyles($tool-name, $selector:'') {
  @each $current-color in $colorpicker-colors {
    &[data-tool-color="##{$current-color}"] #{$selector} {

      $toolConfig: map-get($svg-colors, $tool-name);
      $colorConfig: map-get($toolConfig, $current-color);
      $svgConfig: map-get($colorConfig, "tool");

      @each $className, $fillColor in $svgConfig {
        .#{$className} {
          fill: $fillColor;
        }
      }
    }
  }
}


