##{$name} {
  .Colorpicker {
    background: url(img/tools/color_wheel_bottom.svg) center / cover no-repeat;
    display: none;
    height: 100px;
    margin: 0 auto;
    position: relative;
    width: 100px;

    @media (max-width: 800px) {
      height: 70px;
      margin: 8px auto;
      width: 70px;

      .Colorpicker-popup {
        bottom: 75px;
        display: none;
        left: 0;
        padding: 30px 0;
        right: 0;
        transform: none;
        // transform: translateY(120%);
        z-index: -1;

        &::before {
          display: none;
        }
      }

      .Colorpicker-colorgrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 290px;
      }

      .Colorpicker-color {
        height: 45px;
        margin: 8px 4px;
        width: 45px;
      }
    }
  }

  .Colorpicker-circle {
    cursor: pointer;
    height: 100%;
    position: relative;
    transition: transform .5s;
    width: 100%;

    .cls-1 {
      isolation: isolate;
    }

    .cls-2 {
      opacity: .6;
      mix-blend-mode: multiply;
    }

    .cls-3 {
      fill: #fff;
    }

    @include generateSVGstyles('colorpicker');
  }

  .Colorpicker-popup {
    background: #fff;
    bottom: 120px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    opacity: 0;
    padding: 15px;
    pointer-events: none;
    position: fixed;
    transform: translateX(25px);
    transition: opacity 0.3s;

    &.is-visible {
      display: block;
      opacity: 1;
      pointer-events: auto;
    }

    &::before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff;
      bottom: 0;
      content: '';
      height: 0;
      left: 10px;
      position: absolute;
      transform: translateY(100%);
      width: 0;
    }
  }

  .Colorpicker-colorgrid {
    margin: 0 auto;
    width: 112px;
  }

  .Colorpicker-color {
    background: pink;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;

    &::after {
      background: url(img/icons/check.svg) center/contain no-repeat;
      bottom: 2px;
      content: '';
      display: none;
      left: 2px;
      position: absolute;
      right: 2px;
      top: 2px;
    }

    &.is-selected {
      border: 3px solid #47a4ef;

      &::after {
        display: block;
      }
    }
  }
}