##{$name} {
  .Colorpicker {
    height: 70px;
    margin: 15px auto 5px;
    position: relative;
    width: 70px;
  }

  .Colorpicker-circle {
    background: purple;
    border-radius: 50%;
    box-shadow:  inset 0 0 3.43px 0 rgba(0, 0, 0, .1), inset 0 0 0 7px #903AA5;
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 100%;

    &::before {
      border-radius: 50%;
      box-shadow: inset -3px -3px 0 2px rgba(255, 255, 255, .1);
      content: '';
      display: block;
      height: 75%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
    }
  }

  .Colorpicker-popup {
    background: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    opacity: 0;
    padding: 15px;
    pointer-events: none;
    position: absolute;
    top: 5px;
    transition: opacity 0.3s;
    right: -20px;
    transform: translateX(100%);

    &.is-visible {
      pointer-events: auto;
      opacity: 1;
    }

    &::before {
      border-bottom: 15px solid transparent;
      border-right:15px solid white;
      border-top: 15px solid transparent;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      transform: translateX(-100%);
      width: 0;
    }
  }

  .Colorpicker-colorgrid {
    margin: 0 auto;
    width: 112px;
  }

  .Colorpicker-color {
    background: pink;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;

    &::after {
      background: url(img/icons/check.svg) center/contain no-repeat;
      bottom: 2px;
      content: '';
      display: none;
      left: 2px;
      position: absolute;
      right: 2px;
      top: 2px;
    }

    &.is-selected {
      border: 3px solid #47a4ef;

      &::after {
        display: block;
      }
    }
  }
}