##{$name} {
  .Slider {
    padding: 20px;
    position: relative;
  }

  .Slider-inner {
    height: 110px * 0.2;
    position: relative;
    width: 110px;
  }

  .Slider-base {
    background: url(img/slider-base.svg) center/contain no-repeat;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .Slider-dot {
    background: url(img/slider-dot.svg) center/contain no-repeat;
    cursor: pointer;
    height: 14px;
    left: 10px;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 14px;
  }
}