##{$name} {
  .Tools {
    background-color: #B444BB;
    border-radius: 0 0 5px 5px;
    box-shadow: 1.53px 1.53px 3px rgba(0, 0, 0, 0.16);
    display: inline-block;
    font-size: 12px;
    position: absolute;
  }


  .Tools--primary {
    left: 20px;
    top: 0;
  }

  .Tools--secondary {
    bottom: 0;
    right: 20px;
  }

  .Tools-categories {
  }

  .Tools-inner {
    bottom: 0;
    display: none;
    left: 0;
    // position: absolute;
    top: 0;
    right: 0;

    &.is-active {
      display: block;
    }
  }

  .Category {
    cursor: pointer;
  }

  .Tool {
    cursor: pointer;
  }

  .Tool--selected {
    position: fixed;
  }
}
