$shape-names: "circle", "diamond", "heart", "octagon", "pentagon", "rectangle", "square", "star", "triangle";

##{$name} {
  // TOOLBAR
  .Tool {
    @each $current-shape in $shape-names {
      &[data-tool="shape-#{$current-shape}"] {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 25px;

        @include generateSVGstyles('shape');
      }
    }
  }

  .Tool--selected {
    @each $current-shape in $shape-names {
      &.Tool--shape-#{$current-shape} {
        background: url(img/tools/shapes/#{$current-shape}_tray.svg) center / contain no-repeat content-box;
      }

      svg {
        display: none;
      }
    }
  }

  // HOVER
  [data-tool-hover-category="shape"] {
    .Tool-hover-preview {
      height: 100%;
      left: 50%;
      opacity: 0.5;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  @each $current-shape in $shape-names {
    [data-tool-hover-tool="shape-#{$current-shape}"] {
      .Tool-hover-preview--shape-#{$current-shape} {
        display: block;
      }

      @include generateSVGstyles('shape', '.Tool-hover-preview');
    }
  }
}
