$stamp-names: "bow", "present", "ornament-round1", "ornament-round2",
    "ornament-round3", "ornament-skinny1", "ornament-skinny2", "ornament-wide1",
    "ornament-wide2", "candy-wrapper1", "candy-wrapper2", "candy-gumdrop",
    "candy-jellybean",  "candy-mint-swirl",  "candy-mint-wheel",  "candy-sucker";

##{$name} {
  // TOOLBAR
  .Tool {
    @each $current-stamp in $stamp-names {
      &--stamp-#{$current-stamp} {
        @include generateSVGstyles('stamp-#{$current-stamp}');
      }
    }

    svg {
      max-height: 80%;
      padding-top: 20%;
    }
  }


  // SVG STYLES
  .Tool--stamp-present, .Tool-hover-preview--stamp-present {
    .cls-1 {
      isolation: isolate;
    }

    .cls-4 {
      fill: #221f1f;
      mix-blend-mode: multiply;
      opacity: 0.15;
    }
  }

  .Tool--stamp-ornament-round1, .Tool-hover-preview--stamp-ornament-round1 {
    .cls-2 {
      fill: #231f20;
      opacity: 0.1;
    }

    .cls-3 {
      fill: #607d8b;
    }

    .cls-4 {
      fill: none;
      stroke: #607d8b;
      stroke-miterlimit: 10;
      stroke-width: 1.03px;
    }
  }

  .Tool--stamp-ornament-round2, .Tool-hover-preview--stamp-ornament-round2 {
    .cls-1,
    .cls-5,
    .cls-7,
    .cls-8 {
      fill: none;
    }

    .cls-3 {
      fill: #231f20;
      opacity: 0.1;
    }

    .cls-4 {
      fill: #607d8b;
    }

    .cls-5 {
      stroke: #607d8b;
      stroke-width: 1.03px;
    }

    .cls-5,
    .cls-7,
    .cls-8 {
      stroke-miterlimit: 10;
    }

    .cls-7,
    .cls-8 {
      stroke: #fff;
    }

    .cls-7 {
      stroke-width: 2.84px;
    }

    .cls-8 {
      stroke-linecap: round;
      stroke-width: 1.06px;
    }
  }

  .Tool--stamp-ornament-round3, .Tool-hover-preview--stamp-ornament-round3 {
    .cls-3 {
      fill: #fff;
    }

    .cls-4 {
      fill: #231f20;
      opacity: 0.1;
    }

    .cls-5 {
      fill: #607d8b;
    }

    .cls-6 {
      fill: none;
      stroke: #607d8b;
      stroke-miterlimit: 10;
      stroke-width: 1.03px;
    }
  }

  .Tool--stamp-ornament-skinny1, .Tool-hover-preview--stamp-ornament-skinny1 {
    .cls-2 {
      fill: #231f20;
      opacity: 0.06;
    }

    .cls-3 {
      fill: #607d8b;
    }

    .cls-4 {
      fill: none;stroke: #607d8b;
      stroke-miterlimit: 10;
      stroke-width: 1.03px;
    }
  }

  .Tool--stamp-ornament-skinny2, .Tool-hover-preview--stamp-ornament-skinny2 {
    .cls-1,
    .cls-7 {
      fill: none;
    }

    .cls-3 {
      clip-path: url(img/svg-images/clip-paths/ornament-skinny2.svg);
    }

    .cls-4 {
      fill: #fff;
    }

    .cls-5 {
      fill: #231f20;
      opacity: 0.06;
    }

    .cls-6 {
      fill: #607d8b;
    }

    .cls-7 {
      stroke: #607d8b;
      stroke-miterlimit: 10;
      stroke-width: 1.03px;
    }
  }

  .Tool--stamp-ornament-wide1, .Tool-hover-preview--stamp-ornament-wide1 {
    .cls-2 {
      opacity: 0.1;
    }

    .cls-3 {
      fill: #607d8b;
    }

    .cls-4 {
      fill: none;
      stroke: #607d8b;
      stroke-miterlimit: 10;
      stroke-width: 1.03px;
    }
  }

  .Tool--stamp-ornament-wide2, .Tool-hover-preview--stamp-ornament-wide2 {
    .cls-2 {
      fill:#fff;
    }

    .cls-3 {
      opacity:0.1;
    }

    .cls-4 {
      fill:#607d8b;
    }
  }

  .Tool--stamp-candy-wrapper1, .Tool-hover-preview--stamp-candy-wrapper1 {
    .cls-2 {
      fill: none;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 1.06px;
    }

    .cls-4 {
      opacity: 0.2;
    }
  }

  .Tool--stamp-candy-wrapper2, .Tool-hover-preview--stamp-candy-wrapper2 {
    .cls-1 {
      fill: #f2f2f2;
    }

    .cls-5 {
      opacity: 0.1;
    }
  }

  .Tool--stamp-candy-gumdrop, .Tool-hover-preview--stamp-candy-gumdrop {
    .cls-3 {
      opacity: 0.2;
    }

    .cls-5 {
      opacity: 0.5;
    }

    .cls-6 {
      fill: #fff;
    }

    .cls-7 {
      opacity: 0.75;
    }
  }

  .Tool--stamp-candy-jellybean, .Tool-hover-preview--stamp-candy-jellybean {
    .cls-2 {
      fill: none;
      opacity: 0.3;
      stroke: #f2f2f2;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 1.69px;
    }
  }

  .Tool--stamp-candy-mint-swirl, .Tool-hover-preview--stamp-candy-mint-swirl {
    .cls-2 {
      fill:#f2faff;
    }

    .cls-5 {
      opacity:0.2;
    }
  }

  .Tool--stamp-candy-mint-wheel, .Tool-hover-preview--stamp-candy-mint-wheel {
    .cls-1 {
      fill: #f2f2f2;
    }

    .cls-3 {
      opacity: 0.2;
    }
  }

  .Tool--stamp-candy-sucker, .Tool-hover-preview--stamp-candy-sucker {
    .cls-1 {
      fill: #f2f2f2;
    }

    .cls-3 {
      fill: none;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 1.04px;
    }

    .cls-5 {
      opacity: 0.2;
    }
  }

  // HOVER
  [data-tool-hover-category="stamp"] {
    .Tool-hover-minitool--default {
      background: url(img/tools/tool_stamp.svg) center/contain no-repeat;
      display: block;
      height: 50px;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -100%);
      width: 50px;
    }

    .Tool-hover-preview {
      height: 100%;
      left: 50%;
      opacity: 0.5;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  @each $current-stamp in $stamp-names {
    [data-tool-hover-tool="stamp-#{$current-stamp}"] {
      .Tool-hover-preview--stamp-#{$current-stamp} {
        display: block;
      }

      @include generateSVGstyles('stamp-#{$current-stamp}', '.Tool-hover-preview');
    }
  }
}
