$spray-tools: "sprinkles" "candy" "confetti" "holiday" "ocean" "ornaments" "snow" "snowflakes";

##{$name} {
  // TOOLBAR
  [data-tool-category="spray"] {
    .Tool {
      background-position: center -50%;
      background-repeat: no-repeat;
      background-size: 70%;

      &--spray-color {
        padding: 20px;

        @include generateSVGstyles('spray-color');
      }

      @each $current-tool in $spray-tools {
        &--spray-#{$current-tool} {
          background-image: url(img/tools/spray/#{$current-tool}/tool.svg);
        }
      }

      @media (max-width: 800px) {
        background-position: center 0%;

        &--spray-color {
          padding: 0 17px;
        }
      }
    }

    .Tool--selected {
      background-image: url(img/tools/spray/tray.svg);

      svg {
        display: none;
      }
    }
  }

  // HOVER
  [data-tool-hover-category="spray"] {
    .Tool-hover-minitool {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      position: absolute;
      right: 25%;
      top: 75%;
      transform: translate(100%, 0);
      width: 100px;
    }
  }

  [data-tool-hover-tool="spray-color"] {
    .Tool-hover-minitool--spray-color {
      display: block;
    }

    @include generateSVGstyles('spray-color', '.Tool-hover-minitool--spray-color');
  }

  @each $current-tool in $spray-tools {
    [data-tool-hover-tool="spray-#{$current-tool}"] {
      .Tool-hover-inactive .Tool-hover-minitool--default {
        background-image: url(img/tools/spray/#{$current-tool}/tool.svg);
        display: block;
        right: 30%;
        top: 40%;
      }

      .Tool-hover-circle {
        height: 50px !important;
        width: 50px !important;
      }
    }
  }
}
