$sticker-categories: "animals", "decorations", "people", "food", "nature", "silly";
$sticker-animals: "brown-bear", "dinosaur", "fish-teal", "fish-yellow", "gingerbread-man", "narwhal", "penguin-hat", "penguin-presents", "rudolph-front", "rudolph-side", "snow-monster", "snowman-big-orange";
$sticker-people: "mrs-claus", "santa-sled", "santa-wave", "santa";
$sticker-nature: "cactus", "cloud1", "cloud2", "cloud3", "coral-large", "coral-medium", "coral-small", "igloo", "moon", "seaweed-green", "seaweed-lime", "sun", "tree-holiday", "tree-palm", "trees-blue", "trees-green";
$sticker-decorations: "beach-ball", "bell", "candle", "clock", "disco-ball", "firewood", "frame1", "frame2", "frame3", "holly", "presents-stack", "record-player", "red-bow", "show-lights", "snowglobe-snowman", "snowglobe-tree", "stereo", "stocking-green", "stocking-pink", "stocking-red", "stocking-yellow", "treasure-closed", "treasure-open", "window", "wreath";
$sticker-food: "";
$sticker-silly: "";

##{$name} {
  // MOBILE CURRENT TOOL
  .Tools-display[data-current-category="sticker"] {
    pointer-events: auto;

    .Tools-display-outer {
      background-color: #A341B7;
      border-radius: 0;
      height: 100%;
      margin: 0 auto;
      width: 100%;
    }

    .Tools-display-inner {
      border-radius: 0;
      height: 80%;
      margin: 10%;
      width: 80%;
    }

    @each $current-sticker in $sticker-animals {
      &[data-current-tool="sticker-#{$current-sticker}"] {
        .Tools-display-inner {
          background-image: url(img/stickers/animals/#{$current-sticker}.svg);
        }
      }
    }

    @each $current-sticker in $sticker-nature {
      &[data-current-tool="sticker-#{$current-sticker}"] {
        .Tools-display-inner {
          background-image: url(img/stickers/nature/#{$current-sticker}.svg);
        }
      }
    }

    @each $current-sticker in $sticker-decorations {
      &[data-current-tool="sticker-#{$current-sticker}"] {
        .Tools-display-inner {
          background-image: url(img/stickers/decorations/#{$current-sticker}.svg);
        }
      }
    }

    @each $current-sticker in $sticker-people {
      &[data-current-tool="sticker-#{$current-sticker}"] {
        .Tools-display-inner {
          background-image: url(img/stickers/people/#{$current-sticker}.svg);
        }
      }
    }

    @each $current-sticker in $sticker-food {
      &[data-current-tool="sticker-#{$current-sticker}"] {
        .Tools-display-inner {
          background-image: url(img/stickers/food/#{$current-sticker}.svg);
        }
      }
    }

    @each $current-sticker in $sticker-silly {
      &[data-current-tool="sticker-#{$current-sticker}"] {
        .Tools-display-inner {
          background-image: url(img/stickers/silly/#{$current-sticker}.svg);
        }
      }
    }
  }

  [data-tool-category="sticker"] {
    // SUBCATEGORY ICONS
    @each $current-cat in $sticker-categories {
      .Tools-submenu__item[data-tool-subcategory="#{$current-cat}"] {
        background-image: url(img/tools/tool_sticker_#{$current-cat}.svg);
      }
    }

    .Tool {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80% 80%;
    }

    .Tool--selected {
      opacity: 0.5;
    }

    @media (max-width: 800px) {
      .Tools-subsection {
        align-content: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 45px;

        &[data-tool-subcategory="nature"] {
          .Tool {
            flex: 0 0 25%;
          }
        }
      }

      .Tool {
        border-bottom: none;
        flex: 0 0 20%;
        margin-top: 20px;
      }

      .Tools-settings {
        bottom: 0;
        display: block;
        height: 45px;
        padding: 0;
        position: absolute;
        width: 100%;

        &::after,
        .Tools-settings-inner {
          display: none;
        }
      }
    }
  }

  .Tool {
    @each $current-sticker in $sticker-animals {
      &--sticker-#{$current-sticker} {
        background-image: url(img/stickers/animals/#{$current-sticker}.svg);
      }
    }

    @each $current-sticker in $sticker-nature {
      &--sticker-#{$current-sticker} {
        background-image: url(img/stickers/nature/#{$current-sticker}.svg);
      }
    }

    @each $current-sticker in $sticker-decorations {
      &--sticker-#{$current-sticker} {
        background-image: url(img/stickers/decorations/#{$current-sticker}.svg);
      }
    }

    @each $current-sticker in $sticker-people {
      &--sticker-#{$current-sticker} {
        background-image: url(img/stickers/people/#{$current-sticker}.svg);
      }
    }

    @each $current-sticker in $sticker-food {
      &--sticker-#{$current-sticker} {
        background-image: url(img/stickers/food/#{$current-sticker}.svg);
      }
    }

    @each $current-sticker in $sticker-silly {
      &--sticker-#{$current-sticker} {
        background-image: url(img/stickers/silly/#{$current-sticker}.svg);
      }
    }
  }


  [data-tool-hover-category="sticker"] {
    .Tool-hover-preview {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      left: 50%;
      opacity: 0.5;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  @each $current-sticker in $sticker-animals {
    [data-tool-hover-tool="sticker-#{$current-sticker}"] .Tool-hover-preview--default {
      background-image: url(img/stickers/animals/#{$current-sticker}.svg);
      display: block;
    }
  }

  @each $current-sticker in $sticker-nature {
    [data-tool-hover-tool="sticker-#{$current-sticker}"] .Tool-hover-preview--default {
      background-image: url(img/stickers/nature/#{$current-sticker}.svg);
      display: block;
    }
  }

  @each $current-sticker in $sticker-decorations {
    [data-tool-hover-tool="sticker-#{$current-sticker}"] .Tool-hover-preview--default {
      background-image: url(img/stickers/decorations/#{$current-sticker}.svg);
      display: block;
    }
  }

  @each $current-sticker in $sticker-people {
    [data-tool-hover-tool="sticker-#{$current-sticker}"] .Tool-hover-preview--default {
      background-image: url(img/stickers/people/#{$current-sticker}.svg);
      display: block;
    }
  }

  @each $current-sticker in $sticker-silly {
    [data-tool-hover-tool="sticker-#{$current-sticker}"] .Tool-hover-preview--default {
      background-image: url(img/stickers/silly/#{$current-sticker}.svg);
      display: block;
    }
  }
}
