$stamp-names: "bow", "present", "bauble";
$drawing-tools: "crayon", "marker", "pencil", "paintbrush";
$scene-names: "air", "airport", "beach", "dock", "iceberg", "livingroom", "night", "snow", "underwater";
$roller-names: "checkered", "diagonal", "horizontal", "polkadots", "snowflakes", "trees", "vertical";

##{$name} {
  .Tools {
    display: inline-block;
    font-size: 12px;
    position: absolute;
  }

  .Tools--primary {
    background-color: #B457C1;
    bottom: 0;
    box-shadow: 3px 0 3px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 85px;
    z-index: 2;

    .Tools-setting {
      background-color: #A341B7;
      position: relative;

      &::after {
        background: #A341B7;
        content: '';
        display: block;
        height: 15px;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1;
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: row;
      height: 85px;
      padding-left: 60px;
      right: 0;
      top: auto;
      width: auto;

      .Tools-setting {
        display: none;
      }
    }
  }

  .Tools--secondary {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .07);
    height: 140px;
    left: 85px;
    right: 0;
    transform: translateY(100%);
    transition: transform .3s;
    z-index: 1;

    &.is-active {
      transform: none;
    }

    .Tool {
      flex: 0 0 130px;
      width: 130px;
    }

    @media screen and (max-width: 800px) {
      bottom: 85px;
      height: auto;
      left: 0;
      top: 0;

      .Tool {
        border-bottom: 2px solid #eee;
        flex: 0 0 25%;
        height: 15vh;
        margin-top: 30px;
        width: auto;
      }
    }
  }

  .Tools--tertiary {
    background-color: #E9FEFF;
    bottom: 0;
    right: 0;
    top: 0;
    width: 85px;

    @media screen and (max-width: 800px) {
      bottom: auto;
      left: 0;
      width: auto;

      .Tools-clear,
      .Tools-divider {
        display: none;
      }

      .Tools-utilities {
        text-align: right;

        .Button {
          display: inline-block;
          margin-right: 10px;
          vertical-align: top;
        }

        .Button--save {
          margin-left: 5px;
        }
      }
    }
  }

  .Tools-clear {
    margin: 20px 0 30px;
  }

  .Tools-categories {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 90px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 25px;

    @media screen and (max-width: 800px) {
      flex-direction: row;
      margin: 0;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0;
    }
  }

  .Tools-inner {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-x: auto;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;

    &::after {
      content: '';
      display: inline-block;
      flex: 0 0 50px;
      height: 100%;
      width: 50px;
    }

    &.is-active {
      opacity: 1;
      pointer-events: auto;

      .Tools-nav.is-active {
        .Button {
          pointer-events: auto;
        }
      }
    }

    @media screen and (max-width: 800px) {
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 20px;

      .Tools-slider {
        display: none;
      }

      &::after {
        content: none;
      }
    }
  }

  .Tools-nav {
    align-items: center;
    display: none;
    flex-direction: column;
    height: 140px;
    justify-content: center;
    margin-left: auto;
    pointer-events: none;
    position: fixed;
    right: 0;
    width: 85px;

    &::before {
      background: linear-gradient(to left, #fff 30%, transparent);
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      width: 120%;
    }

    &.is-active {
      display: flex;
    }
  }

  .Tools-divider {
    background: #C1DBD9;

    &--horizontal {
      height: 2px;
      margin: 20px auto;
      width: 50%;
    }

    &--vertical {
      flex: 0 0 2px;
      height: 80%;
      margin: 0 20px;
      width: 2px;
    }
  }

  .Tools-submenu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 200px;

    &__item {
      background: lightgray;
      cursor: pointer;
      flex: 0 0 calc(25% - 20px);
      margin: 10px;

      &.is-active {
        background: purple;
      }
    }
  }

  .Tools-subsection {
    display: none;
    height: 100%;

    &.is-active {
      display: flex;
    }
  }

  .Category {
    cursor: pointer;
    flex: 1;
    margin: 0 auto;
    min-height: 65px;
    position: relative;
    width: 75px;

    @media screen and (max-width: 800px) {
      min-width: 75px;
    }

    &:hover {
      .Category-inner {
        transform: translate3d(-50%, -50%, 0) scale(1.1);
      }

      .Category-tooltip {
        opacity: 1;
      }
    }

    &::before {
      background: #AB44BB;
      border-radius: 50%;
      box-shadow: inset 0 0 4.54px 1px rgba(0, 0, 0, .1);
      content: '';
      display: block;
      left: 50%;
      opacity: 0;
      padding-top: 80%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .25s;
      width: 80%;
    }

    .Category-inner {
      height: 65%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: transform .25s;
      width: 65%;
    }

    .Category-tooltip {
      bottom: 0;
      color: white;
      font-size: 8px;
      left: 50%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transform: translateX(-50%);
      transition: opacity .25s;
    }

    .Category-popup {
      background: #fff;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      position: fixed;
      transform: translateX(85px);
      transition: opacity .25s;

      &::before {
        border-bottom: 15px solid transparent;
        border-right: 15px solid #fff;
        border-top: 15px solid transparent;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(-100%, -50%);
        width: 0;
      }
    }

    &--drawing {
      .Category-inner {
        background: url(img/tools/tool_drawing.svg) center / contain no-repeat;
      }
    }

    &--roller {
      .Category-inner {
        background: url(img/tools/tool_roller.svg) center / contain no-repeat;
      }
    }

    &--stamp {
      .Category-inner {
        background: url(img/tools/tool_stamp.svg) center / contain no-repeat;
      }
    }

    &--spray {
      .Category-inner {
        background: url(img/tools/spray/ffeb3b.svg) center / contain no-repeat;
      }
    }

    &--wand {
      .Category-inner {
        background: url(img/tools/tool_effects.svg) center / contain no-repeat;
      }
    }

    &--shapes {
      .Category-inner {
        background: url(img/tools/tool_shapes.svg) center / contain no-repeat;
      }
    }

    &--scene {
      .Category-inner {
        background: url(img/tools/tool_scene.svg) center / contain no-repeat;
      }
    }

    &--sticker {
      .Category-inner {
        background: url(img/tools/tool_sticker.svg) center / contain no-repeat;
      }
    }

    &--eraser {
      .Category-inner {
        background: url(img/tools/tool_eraser.svg) center / contain no-repeat;
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
      }

      &:hover {
        .Category-inner {
          transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(1.1);
        }
      }
    }

    &.is-active {
      &::before {
        opacity: 1;
      }

      &:hover {
        .Category-popup {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }

  [data-tool-category="drawing"],
  [data-tool-category="eraser"] {
    .Tool {
      background-position: center -10%;
      background-repeat: no-repeat;
      background-size: 40%;
    }
  }

  [data-tool-category="stamp"],
  [data-tool-category="roller"] {
    .Tool {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80% 80%;
    }
  }

  [data-tool-category="spray"] {
    .Tool {
      background-position: center -50%;
      background-repeat: no-repeat;
      background-size: 70%;
    }

    .Tool--selected {
      background-image: url(img/tools/spray/tray.svg) !important;
    }
  }

  [data-tool-category="scene"] {
    .Tool {
      background-size: cover;
      flex: 0 0 185px;
      height: 70%;
      margin-left: 30px;
    }

    @media screen and (max-width: 800px) {
      justify-content: space-around;
      padding-bottom: 30px;
      padding-top: 10px;

      .Tool {
        border-bottom: 0;
        flex: 0 0 45%;
        height: 15vh;
        margin: 20px 0 0;
        width: auto;
      }
    }
  }

  .Tool {
    cursor: pointer;
    height: 100%;

    @each $current-tool in $drawing-tools {
      &--#{$current-tool} {
        @each $current-color in $colorpicker-colors {
          &[data-tool-color="##{$current-color}"] {
            background-image: url(img/tools/#{$current-tool}/#{$current-color}.svg);
          }
        }
      }
    }

    @each $current-scene in $scene-names {
      &[data-tool="scene-#{$current-scene}"] {
        background-image: url(img/scenes/#{$current-scene}.png);
      }
    }

    &--eraser {
      background-image: url(img/tools/tool_eraser.svg);
    }

    @each $current-stamp in $stamp-names {
      &--stamp-#{$current-stamp} {
        @each $current-color in $colorpicker-colors {
          &[data-tool-color="##{$current-color}"] {
            background-image: url(img/tools/stamps/#{$current-stamp}/#{$current-color}.svg);
          }
        }
      }
    }

    @each $current-roller in $roller-names {
      &--roller-#{$current-roller} {
        background-image: url(img/patterns/#{$current-roller}.svg);
      }
    }

    &--spray-color {
      @each $current-color in $colorpicker-colors {
        &[data-tool-color="##{$current-color}"] {
          background-image: url(img/tools/spray/#{$current-color}.svg);
        }
      }
    }

    &--spray-sprinkles {
      background-image: url(img/tools/tool_spray_sprinkles.svg);
    }
  }

  .Tool--selected {
    @each $current-tool in $drawing-tools {
      &.Tool--#{$current-tool} {
        background-image: url(img/tools/#{$current-tool}/tray.svg);
      }
    }

    [data-tool-category="spray"] {

    }
  }

  .Tool-hover {
    pointer-events: none;
    position: fixed;
    z-index: 3;

    &.is-selected {
      .Tool-hover-inactive {
        opacity: 1;
      }
    }

    &.is-down {
      .Tool-hover-inactive {
        opacity: 0;
      }

      .Tool-hover-active {
        opacity: 1;
      }
    }
  }

  .Tool-hover-circle {
    border: 1px solid #ccc;
    border-radius: 50%;
    border-style: dashed;
    height: 20px;
    width: 20px;
  }

  .Tool-hover-active,
  .Tool-hover-inactive {
    opacity: 0;
    position: absolute;
    transform: translate(100%, -100%);
    transition: opacity 0.1s;
    right: 0;
    top: 0;
  }

  [data-tool-hover-category="stamp"] {
    .Tool-hover-minitool {
      background: url(img/tools/tool_stamp.svg) center/contain no-repeat;
      height: 50px;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -100%);
      width: 50px;
    }

    .Tool-hover-preview {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      left: 50%;
      opacity: 0.5;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  @each $current-stamp in $stamp-names {
    [data-tool-hover-tool="stamp-#{$current-stamp}"] {
      @each $current-color in $colorpicker-colors {
        &[data-tool-color="##{$current-color}"] .Tool-hover-preview {
          background-image: url(img/tools/stamps/#{$current-stamp}/#{$current-color}.svg);
        }
      }
    }
  }

  [data-tool-hover-category="drawing"] {
    .Tool-hover-minitool {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(100%, -100%) rotate(-125deg);
      width: 100px;
    }
  }

  @each $current-tool in $drawing-tools {
    [data-tool-hover-tool="#{$current-tool}"] {
      @each $current-color in $colorpicker-colors {
        &[data-tool-color="##{$current-color}"] {
          .Tool-hover-inactive .Tool-hover-minitool {
            background-image: url(img/tools/#{$current-tool}/#{$current-color}.svg);
          }
        }
      }
    }
  }

  [data-tool-hover-category="spray"] {
    .Tool-hover-minitool {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      position: absolute;
      right: 25%;
      top: 75%;
      transform: translate(100%, 0);
      width: 100px;
    }
  }

  [data-tool-hover-tool="spray-color"] {
    @each $current-color in $colorpicker-colors {
      &[data-tool-color="##{$current-color}"] .Tool-hover-inactive .Tool-hover-minitool {
        background-image: url(img/tools/spray/#{$current-color}.svg);
      }
    }
  }

  [data-tool-hover-tool="spray-sprinkles"] {
    .Tool-hover-inactive .Tool-hover-minitool {
      background-image: url(img/tools/tool_spray_sprinkles.svg);
      right: 90%;
      top: 10%;
    }

    .Tool-hover-circle {
      height: 50px !important;
      width: 50px !important;
    }
  }

  .Tools-slider {
    &::after {
      background: #F6F6F6;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
    }
  }
}
