body {
  margin: 0;
  background: white;
  color: #333;
  font-family: 'Lobster';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  min-height: 100vh;
}

main {
  img {

  }
}

canvas {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

#holder {
  position: relative;
}

#games {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: flex-start;

  a {
    margin: 0 8px 16px;
  }
}