##{$name} {

  .object--conveyorBelt {

    cursor: move;
    $belt-speed: 6s;

    .conveyor {

      &__belt {
        position: relative;
        height: 100%;
      }


      &__wheel {
        transform-origin: center center;
        width: 64px;
        height: 64px;
        position: absolute;
        animation: #{$name}-wheel-animation $belt-speed/4 linear infinite;
        position: absolute;
        top: 0;
        margin: 8px;

        &--first {
          left: 0;
        }

        &--last {
          left: 100%;
          margin-left: -74px;
        }
      }

    }

    &.js-animation-reverse .conveyor__wheel {
      animation-direction: reverse;
    }
  }

  .js-animation-paused .conveyor__wheel,
  .drawer .conveyor__wheel {
    animation-play-state: paused;
  }

}

@keyframes #{$name}-wheel-animation {
  to {
    transform: rotate(360deg);
  }
}