##{$name} {

  .wall-decoration {

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    &--horizontal {
      top: 100%;
      margin-top: -45vh;
    }

    &--top {
      top: 0;
      margin-top: -20vh;
    }
  }
}