$color-purple: #6f00ff;
$transition: 0.25s;

:host {
  display: block !important;
  transition: opacity $transition ease-in;

  [hidden] {
    display: none !important;
  }
}
:host([hidden]) {
  pointer-events: none;
  opacity: 0;

  #main {
    transform: translateY(-100vh);
    transition-timing-function: cubic-bezier(.83,.02,1,.01);
  }
}

h2 {
  // "game over" or similar
  opacity: 0.95;
  margin: 0;
  font-size: 1em;
  font-family: 'Lobster';
}
h3 {
  // "next game"
  font-family: 'Lobster';
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  color: #fff;
}
h4 {
  // "copy to share"
  color: #fff;
  font-size: 0.5em;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

#main {
  transform: translate(0);
  transition: transform $transition cubic-bezier(0, 1.52, 0.295, 0.86);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -160px;
  width: 320px;
  bottom: 0;

  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: column;
}

// trick the shared sass into generating #controls
$name: 'controls';
$shared: '../../scenes/shared/';
@import "../../scenes/shared/sass/_button.scss";

#controls {
  .Button--home {
    @include ButtonColor(red);
  }
  .Button--text {
    @include ButtonColor(orangered);
  }

  background: $color-purple;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 4px 10px;
  position: relative;

  section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 6px 0;
  }

  .url {
    font-size: 16px;

    .link {
      &::before {
        content: "\00a0";  // non-breaking space to force height
      }

      overflow: hidden;
      margin-top: 4px;
      background: #fff;
      border-radius: 4px;
      box-shadow: inset 2px 3px 0 rgba(0, 0, 0, 0.16);
      box-sizing: border-box;
      color: #6a1B9a;
      line-height: 1.5em;
      font-weight: 600;
      margin-bottom: 10px;
      padding: 0;
      padding-top: 3px;
      text-align: center;
      display: block;
      width: 100%;
      cursor: copy;
      user-select: all;  // Firefox needs 'all', not 'auto'
    }
  }
}

#hero {
  background: url(img/gameover.svg) no-repeat bottom center;
  background-size: contain;
  max-height: 136px;
  flex-grow: 1;
  text-align: center;

  &.share {
    background-image: url(img/share.svg);
  }
  &.pause {
    background-image: url(img/pause.svg);
  }

  .score {
    color: #fff;
    line-height: 42px;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -2px;
    margin: 0;
    text-shadow: 1px 2px 0 rgba(0,0,0,0.13);  /* TODO: grow with font-size */
  }
}

// shrink width when narrow width
@media (max-width: 660px) {
  :host {
    font-size: 18px;  // adjusts "Game Over" text size
  }
  main {
    margin-left: -140px;
    width: 280px;
  }
}

// expand hero/url size when tall
@media (min-height: 500px) {
  #hero {
    max-height: 218px;
  }
  #controls {
    .url {
      font-size: 20px;
    }
  }
}
