.center-horiz {
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
}

.stacked-divs {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-image: url(../img/img_deskitems_01b.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-positionx: center;
}

.visualization {
	flex: 1 1 auto;
	display: flex;
	justify-content:center;
	width: 100%;
	align-items:center;
	align-self: center;
}