.footer {
  position: absolute;
  bottom: 0px;
  height: 143px;
  width: 100%;
  background-color: white;
}

.big-button_bar {
  width: 1024px;
  height: 120px;
  bottom: 0px;
  position: absolute;
  pointer-events: none;
}

.small-button-container {
  background-color: #f5f5f5;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin-top: 7px;
  pointer-events: auto;
  position: absolute;
  right: 136px;
  width: 96px;
}

.small-button-container:hover {
  background-color:#eeeeee;
}

.small-button-container:active {
  background-color:#e0e0e0;
}

.small-button-text {
  color:#78909c;
  display: inline-block;
  font-size: 10pt;
  font-weight: bold;
}
.snow-share-div {
  position: absolute;
  right: 26px;
  bottom: 60px;
}

/*TODO(madCode): Talk to jenstad about restyling these to match shared small button css.*/
.small-button {
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  font-size: inherit;
  position: absolute;
  height: 32px;
  width: 96px;
  right: 136px;
  pointer-events: auto;
}
