:host {
  position: relative;
  overflow: hidden;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -40px;
}

#legalnotices {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background: rgba(245, 245, 245, 1.0);
  padding: 0 6px;
  font-size: 10px;
  line-height: 14px;
  margin: 0 1px;
  opacity: 0.7;
}

#santa {
  width: 0;
  height: 0;
}
#santa:hover {
  cursor: pointer;
}

#presents {
  width: 95px;
  height: 83px;
  position: absolute;
  transform: translate(-50%, -50%);

  background: transparent center no-repeat;
  background-size: contain;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25));

  &.mode0 {
    background-image: url(img/chimney1.gif);
  }
  &.mode1 {
    background-image: url(img/chimney2.gif);
  }
}

.sleigh {
  width: 68px;
  height: 84px;
  position: absolute;
  transform: translate(-50%, -50%);
  filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.25));

  div {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent center no-repeat;
    background-size: 85%;

    animation: tracker-sleigh-bounce 6s infinite ease-in-out;
    &.front, &.back {
      animation-name: tracker-santa-bounce;
    }
  }

  // presents falling from the sleigh
  div.santa:after {
    content: '';
    background: url(img/sleigh/effects.svg) 50% 0 no-repeat;
    position: absolute;
    width: 100%;
    top: 66%;
    height: 44px;
    z-index: 1;
  }

  $dirs: n ne e se s sw w nw;
  @for $i from 1 through length($dirs) {
    $dir: nth($dirs, $i);

    &[data-dir="#{$dir}"] {
      .front {
        background-image: url(img/sleigh/sleigh-#{$dir}-front.svg);
      }
      .santa {
        background-image: url(img/sleigh/sleigh-#{$dir}-santa.svg);
      }
      .back {
        background-image: url(img/sleigh/sleigh-#{$dir}-back.svg);
      }
    }
  }
}

@keyframes tracker-sleigh-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(3px);
  }
  30% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(2px);
  }
  55% {
    transform: translateY(-6px);
  }
  65% {
    transform: translateY(7px);
  }
  80% {
    transform: translateY(-3px);
  }
  90% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes tracker-santa-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-4px);
  }
  20% {
    transform: translateY(4px);
  }
  30% {
    transform: translateY(-3px);
  }
  40% {
    transform: translateY(3px);
  }
  55% {
    transform: translateY(-7px);
  }
  65% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(-4px);
  }
  90% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
