$toolbar-size: 52px;
$width-big: 600px;

#santa-toolbar {
  height: $toolbar-size;
  min-width: 320px;  // force 320px min width, i.e., iPhone 4/5+
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;  // make sure scroll events pass through toolbar
  display: flex;

  #logo {
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 8px;
    width: 74px;
    height: 24px;
    background: url(img/google_logo.svg) center no-repeat;
    background-size: contain;
    background-size: 74px 24px;
    font-size: 0;
    line-height: 0;
  }

  h1 {
    margin: 0;
    margin-right: 8px;
    font-family: 'Lobster', sans-serif;
    font-size: 23px;
    line-height: $toolbar-size;
    font-weight: 300;
    color: white;
  }

  // Contains <content></content>, in the center.
  #center {
    flex-grow: 1;
    text-align: center;
  }

  div.shareicons {
    padding: 8px 16px;
    height: $toolbar-size;
    box-sizing: border-box;
    font-size: 0;  // hide spacing between divs
    pointer-events: auto;  // set these icons to be accessible again

    > button {
      border: 0;
      margin: 0;
      width: 68px;
      height: 100%;
      box-sizing: border-box;
      padding: 4px;
      position: relative;
      display: inline-block;
      border-left: 1px solid rgba(0,0,0,0.125);
      background: transparent no-repeat center;
      font-size: 0;
      cursor: pointer;

      &:first-child {
        border-left: none;
      }

      &#gplus {
        background-image: url(img/share-gplus.svg);
      }
      &#twitter {
        background-image: url(img/share-twitter.svg);
      }
      &#facebook {
        background-image: url(img/share-facebook.svg);
      }

      &::before {
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 4px;
        right: 4px;
        bottom: 0;
        border-radius: 2px;
        background: rgba(0,0,0,.25);
        opacity: 0;
        transform: translateZ(0);
        will-change: opacity;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }
  @media (max-width: $width-big) {
    .shareicons {
      display: none;
    }
  }

  // Optional green background to header.
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #87d493;  // or #30b443 to match theme-color
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    opacity: 0;
    transition: opacity 0.125s;
    z-index: -100;
    transform: translateZ(0);
    will-change: opacity;
  }
  &.down::before {
    opacity: 1;
  }
}
