#module-languagematch {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;

    font-family: 'Roboto', sans-serif;

    .i18n-language-list {
        display: none;
    }
      
    .bg {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;

        background-color: rgb(63, 138, 63);
    }

    .cards {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        width: 80%;
        height: 80%;

        position: relative;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    .card {
        transition: transform 0.5s;
        transform: perspective(500px);
        transform-style: preserve-3d;
    }

    .flipped {
        transform: rotateY(180deg);
    }

    %card-face {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        backface-visibility: hidden;
    }

    .card-back {
        @extend %card-face;
        background-color: rgb(30, 82, 42);
        outline-color: rgb(146, 212, 166);
        outline-width: 1px;
        outline-style: solid;
        outline-offset: -7px;
    }
    .card-front {
        @extend %card-face;
        background-color: rgb(255, 255, 255);
        transform: rotateY(180deg);
    }
    .card-contents {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 2rem;
        color: white;
    }
}