:host {
  display: block;
}

main {
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

.scroller {
  flex-grow: 1;
  width: 200%;  // we're not kidding around, forces flex-grow to work
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;

/*
  &::before, &::after {
    content: '';
    background: linear-gradient(to right, white, transparent);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    display: block;
    z-index: 100;
  }
  &::after {
    background: linear-gradient(to left, white, transparent);
    right: 0px;
  }
*/

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}
.buttons {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 8px;
}

.previews {
  overflow-x: auto;
  position: relative;
  display: flex;
  margin: 2px;

  flex-grow: 1;  // for mobile

  .item {
    $border: 2px;
    margin: 2px;

    min-width: 80px;
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
    }

    .preview {
      background: #f3f3f3;
      border-radius: 12px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      border: $border solid transparent;
      display: flex;
      justify-content: center;

      svg {
        min-width: 120px;
        width: 120px;
        min-height: 140px;
      }
    }

    input:checked + .preview {
      border-color: #2cc4d6;
    }
  }
}

maker-chooser {
  padding: 8px;
}
maker-chooser[mode="category"] {
  background: #f0f0f0;
}

@media (max-width: (768px - 1px)) {
  main {
    flex-flow: column;
  }
  maker-chooser {
    overflow-x: scroll;
    padding: 4px;
  }
  maker-chooser[mode="category"] {
    position: sticky;
    top: calc(50vh - 71px);  // this is the height of ourself
    z-index: 1000;  // above main
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  }

  .scroller {
    margin-top: -4px;
  }

  .previews {
    flex-wrap: wrap;
    justify-content: center;

    .item {
      height: 96px;
      min-width: 60px;
      flex-grow: 1;
    }
  }
  .buttons {
    display: none;
  }
}
