:host {
  display: block;
}

maker-chooser[mode="category"] {
  background: #eee;
  border-radius: 12px;

  // fits 4 icons across
  max-width: 288px;
  min-width: 288px;
  width: 288px;
}

maker-chooser[mode="color"] {
  // fits 5 icons across
  max-width: 360px;
  min-width: 360px;
  width: 360px;
}

maker-chooser[mode="skin"] {
  // fits 3 icons across
  max-width: 216px;
  min-width: 216px;
  width: 216px;
}

maker-chooser[mode="hair"] {
  // fits 4 icons across
  max-width: 288px;
  min-width: 288px;
  width: 288px;
}

main {
  display: flex;
  flex-flow: row;
  align-items: stretch;

  maker-chooser {
    height: 144px;
  }
}

.scroller {
  flex-grow: 1;
  overflow: hidden;
  position: relative;

/*
  &::before, &::after {
    content: '';
    background: linear-gradient(to right, white, transparent);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    display: block;
    z-index: 100;
  }
  &::after {
    background: linear-gradient(to left, white, transparent);
    right: 0px;
  }
*/

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  .inner {
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    flex-grow: 1;
    position: relative;
  }
}
.buttons {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 8px;
}

.previews {
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: stretch;

  .item {
    $border: 2px;

    margin-left: 4px;
    &:first-child {
      margin-left: 0;
    }

    min-width: 80px;
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
    }

    .preview {
      background: #f3f3f3;
      border-radius: 12px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      border: $border solid transparent;

      svg {
        max-width: 100%;
      }
    }

    input:checked + .preview {
      border-color: #2cc4d6;
    }
  }
}
