$duration-sidebar: 0.25s;
$duration-header: 0.4s;
$color-loader: #db513c;
$size-header: 38px;
$size-resize: 500px;

$order-preload: 101;
$order-sidebar: 100;
$order-hider: 99;
$order-header: 90;
$order-overlay: 80;

@keyframes santa-app__hide-nav {
  from { visibility: visible; pointer-events: none; }
    to { visibility: hidden; pointer-events: none; }
}

:host {
  display: block;
}

main {
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
}

.sidebar {
  santa-sidebar {
    z-index: $order-sidebar;
    position: fixed;
    top: 0;
    height: 100%;
    visibility: hidden;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.125);  // safari doesn't display outline
    width: 320px;
    transform: translate(-100%);
    transition: transform $duration-sidebar ease-out;
    animation: santa-app__hide-nav $duration-sidebar step-end forwards;
    pointer-events: none;
    will-change: transform;
  }

  .sidebar-focuser {
    position: absolute;
  }

  .hider {
    pointer-events: none;
    z-index: $order-hider;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 198, 237, 0.6);
    transition: opacity $duration-sidebar ease-in-out;
    will-change: opacity;
    opacity: 0;
  }

  > input {
    display: none;

    &:checked ~ santa-sidebar {
      visibility: visible;
      pointer-events: auto;
      animation: none;
      transform: translate(0);
    }

    &:checked ~ .hider {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.preload {
  display: block;
  z-index: $order-preload;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(0, 0, 0, 0.125);
  opacity: 0;
  transition: opacity 0.4s;
  will-change: opacity;

  &:not([hidden]) {
    transition-duration: 0s;
    opacity: 1;
  }

  .bar {
    height: 100%;
    padding-left: 10%;
    box-sizing: border-box;
    background: $color-loader;
    box-shadow: 0 0 2px $color-loader;
  }
}

santa-loader {
  flex-grow: 1;
  position: relative;
  // -webkit-overflow-scrolling: touch;
  // overflow-y: scroll;

  // -webkit-overflow-scrolling: touch;
  // width: 100%;
  // height: 100%;
  // overflow-y: scroll;

  iframe {
    display: block;
    border: 0;
    border: 4px solid red;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // some browsers still force this to be zero size on load
    width: 50px;
    height: 50px;
    min-width: 100%;
    min-height: 100%;
    // max-height: 400px;
    // max-width: 200px;
  }

  iframe[hidden] {
    // this allows frames that actually need real w/h to load
    min-width: 100vw;
    min-height: 100vh;
    visibility: hidden;
    opacity: 0;
    z-index: -100;

    // Safari doesn't seem to always respect `visibility: hidden` on iframes, so set `opacity`
    // and `z-index` as a poor approximation.

    // Chrome hides this for a few frames if placed at `top: 100vh` (or generally
    // out-of-position) while clearing the `hidden` attribute. So don't!
  }
}

.closer {
  position: relative;
  height: $size-header;
  display: flex;
  align-items: center;
  padding: 0 12px;
}


header {
  z-index: $order-header;
  height: $size-header;
  padding: 0 12px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;

  santa-badge {
    color: #00e8bf;  // default badge color
    will-change: opacity;
    transition: opacity $duration-header ease-in-out;
  }

  .bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #30cbec;
    background: currentColor;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    will-change: opacity;
    transition: opacity $duration-header ease-in-out;
  }

  .linkwrap {
    text-decoration: none;
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-left: 4px;

    .logo {
      width: 62px;
      min-width: 62px;
      background: _root("img/google_logo.svg") 0 0 no-repeat;
      background-size: contain;
      color: transparent;
      font-size: 0;
      line-height: $size-header;
    }

    h1 {
      margin: 0;
      margin-left: 0.4ch;
      font-family: 'Lobster', Sans-Serif;
      font-size: 19px;
      line-height: $size-header;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

main.scroll {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &.up {
      .bg {
        opacity: 0;
      }
    }
  }

  santa-badge {
    opacity: 0;
    // TODO(samthor): make display:none or etc while badge hidden
  }
}

.svg-label {
  cursor: pointer;
  height: $size-header;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size-header;
  position: relative;

  &::before {
    content: '';
    background: black;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.125s;
    border-radius: 10000px;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    z-index: -1;
  }
  &:active::before {
    opacity: 0.1;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}

.info {
  p {
    margin: 2em auto;
    max-width: 90%;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
}

.rotate {
  flex-flow: column;
  align-items: center;
  justify-content: center;
  display: none;
  background: #3f4ea1;

  p {
    margin: 1em auto 0;
    font-weight: 700;
  }

  img {
    max-width: 200px;
    max-height: 50vh;
  }

  &.portrait {
    @media (max-height: $size-resize) and (orientation: landscape) {
      flex-grow: 1;
      display: flex;

      // hide game while incorrectly sized
      & ~ santa-loader {
        display: none;
      }
    }
  }
  &.landscape {
    @media (max-width: $size-resize) and (orientation: portrait) {
      flex-grow: 1;
      display: flex;

      // hide game while incorrectly sized
      & ~ santa-loader {
        display: none;
      }
    }
    img {
      transform: rotate(90deg) scale(-1, 1);
    }
  }
}

.noscene {
  background: _root("img/error.svg") bottom center no-repeat;
  background-size: cover;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;

  a {
    color: inherit;
  }

  santa-weather {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &[hidden] {
    display: none;
  }

  .icon {
    $size-icon: 250px;
    $size-background: 214px;

    position: relative;
    width: $size-icon;
    height: $size-icon;
    border-radius: 10000px;
    box-shadow: 4px 14px 0 rgba(0,0,0,.125);
    background: #7ec6e5 _root("img/snowman.png") center no-repeat;
    // background is contained within border, so create one which limits us
    // to the target $background-size
    background-size: contain;
    border: (($size-icon - $size-background) / 2) solid transparent;
    box-sizing: border-box;
    overflow: hidden;
  }

  &:not([hidden]) ~ santa-loader {
    // santa-loader should be hidden, but not `display: none` during loads
    visibility: hidden;
    flex-shrink: 1;
    flex-grow: 0;
  }

  @media (max-height: 400px) {
    flex-flow: row;

    .icon {
      $size-icon: 192px;
      $size-background: 164px;
  
      width: $size-icon;
      height: $size-icon;
      min-width: $size-icon;  // otherwise we get squished
      border: (($size-icon - $size-background) / 2) solid transparent;
      margin: 0 1em;
    }
  }
}

.overlay {
  position: absolute;  // not fixed, safari scrolls it weirdly
  padding-top: 38px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $order-overlay;
  background: fade-out(#6f00ff, 0.75);

  &[hidden] {
    display: none;
  }

  santa-overlay {
    pointer-events: auto;
    height: 80vh;
    width: 90vw;
    color: #6f00ff;

    @media (max-width: 420px) {
      // fits five buttons roughly on 320px
      transform: scale(0.8);
    }
  }
}
