$name: 'module-boatload';
$gameover-bg: #8fd7f7;
$rotate-bg: $gameover-bg;

@import "../shared/sass/board";
@import "../shared/sass/startbutton";
@import "../shared/sass/rotate";
@import "../shared/sass/tutorial";
@import "../shared/sass/levelup";

@import "sass/environment";
@import "sass/player";
@import "sass/presents";
@import "sass/boats";
@import "sass/icebergs";
@import "sass/effects";

##{$name} {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;

  .view {
    left: 42%;
    margin-left: -440px;
    position: absolute;
    transform-origin: 42% 0;
    width: 980px;
  }

  // Pausing the game pauses all important animations.
  &.frozen {
    .score-sign,
    .player-elf,
    .player-ropes,
    .present {
      animation-play-state: paused;
    }
  }

  /**
   * Hides the element but still keeps it composed on the GPU by translating it off-screen.
   * By keeping things composed we get respectable performance on android browsers since
   * the biggest overhead is in moving things to the GPU there.
   * http://code.google.com/p/android/issues/detail?id=25147
   */
  .hidden {
    transform: translate3d(0, 9999px, 0) !important;
    animation-play-state: paused !important;
  }
}
