$mobileBreakpoint: 768px;
$trackerFeedWidth: 530px;
$trackerFeedPadding: 30px;

$lineColor: rgb(151,216,255);
$borderRadius: 5px;

$name: 'module-city-feed';

##{$name} {
  z-index: 3;
  overflow: auto;
  pointer-events: none;

  /*transform: translateX(calc(100% - #{$trackerFeedWidth + $trackerFeedPadding})) translateZ(0);
  transition: transform 500ms cubic-bezier(0.000, 1.130, 0.295, 1.415);

  &.stop-active {
    transform: translateX(0) translateZ(0);

    #city-view #character {
      opacity: 1;
    }
  }*/

  @import "sass/_city-view.scss";

  .ico {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 5px;
  }

  .ico-marker {
    background-image: url(../img/marker.svg);
  }

  .ico-arrow {
    background-image: url(../img/arrow.svg);
  }

  .ico-clock {
    background-image: url(../img/city-feed-timer.svg);
    width: 22px;
    height: 22px;
  }

  .ico-weatherchanel {
    background-image: url(../img/twc.svg);
    width: 22px;
    height: 22px;
  }

  .ico-arrow-yellow {
    background-image: url(../img/tracker-icons_next-stop.svg);
    height: 13px;
    width: 16px;
    display: inline-block;
  }

  .ico-location-yellow {
    background-image: url(../img/tracker-icons_location.svg);
    height: 12px;
    width: 9px;
    display: inline-block;
  }

  .ico-clock-yellow {
    background-image: url(../img/clock-yellow.svg);
    height: 12px;
    width: 12px;
    display: inline-block;
  }

  #items.iron-list > * {
    background: #00BE7B;
  }

  iron-list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $trackerFeedWidth + $trackerFeedPadding;
    box-sizing: border-box;
    padding-left: $trackerFeedPadding;
    height: 100%;
    pointer-events: all;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  .card {
    width: 100%;
    background: #00cc81;
    margin-bottom: 14px;
    border-radius: none;
  }

  .card.card-santa-info {
    padding-top: 30px; // This should be removed if/when we put the filtery thing on
    margin-bottom: 14px;
    height: 229px;

    .santa-info-row {
      display: flex;
      align-items: stretch;
      align-content: stretch;
      justify-content: space-between;
      border-top: 1px solid #2ab786;

      & > div {
        flex-grow: 1;
        padding: 17px 30px;
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        width: calc(50% - 1px);
      }

      .divider {
        flex-grow: 0;
        width: 1px;
        z-index: 1;
        padding: 0;
        border-left: 1px solid #2ab786;
      }

      h2, h3, h4 {
        margin: 0;
      }

      h4 {
        text-transform: uppercase;
        color: white;
        font-size: 11px;
        margin-bottom: 17px;
      }

      h2, h3 {
        color: #FFFEAB;
      }

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 16px;
      }

      .santa-info-distance {
        .fancy-bg {
          position: absolute;
          width: 308px;
          height: 139px;
          background-image: url(../img/santa-distance-bg.png);
          background-size: contain;
          background-repeat: no-repeat;
          left: -14px;
          top: -10px;
        }

        .fancy-content {
          position: relative;

          .ico {
            position: relative;
            top: 2px;
            margin-right: 0;
          }
        }
      }
    }
  }

  .card.card-city {
    width: 100%;
    $cardHeight: 325px;
    $cardContentHeight: $cardHeight - 14px;
    height: $cardHeight;
    $padding: 25px;
    $cardPurple: rgb(121,49,164);
    background: #00BE7B;

    box-sizing: border-box;
    margin: 0 auto;

    a {
      text-decoration: none;

      &:hover {
        iron-image {
          transform: scale(1.1);
        }

        .card-header {
          background-color: rgba(19, 142, 96, 0.5);
        }
      }
    }

    & > div {
      position: relative;
      height: 100%;
    }

    h1, h2, h3, h4 {
      margin: 0;
    }

    h1 {
      color: #EFE8DB;
      font-size: 42px;
      line-height: 42px;
      font-weight: 600;
      margin-bottom: 18px;
    }

    h2 {
      color: white;
      font-size: 22px;
      font-weight: 300;
    }

    h4 {
      text-transform: uppercase;
      color: white;
      font-size: 11px;
      margin-bottom: 7px;
    }

    .card-city-bg {
      top: 0;
      height: $cardContentHeight;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 1;
      overflow: hidden;

      iron-image {
        will-change: transform;
        transform: scale(1);
        transition: transform 400ms cubic-bezier(0.000, 1, 0.295, 1);
      }
    }

    .card-header {
      background-color: rgba(19, 142, 96, 0.75);
      padding: $padding;
      position: relative;
      z-index: 2;
      height: $cardContentHeight;
      box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.17);
      will-change: background-color;
      transition: background-color 400ms cubic-bezier(0.000, 1, 0.295, 1);

      box-sizing: border-box;

      .card-city-attribution {
        background: rgba(0, 0, 0, .7);
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        color: #fff;
        border-radius: 0 0 0 4px;
        line-height: 14px;
        font-size: 10px;
        padding: 2px 8px;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    .stats {
      margin-bottom: 10px;
      h4 {
        color: #E5EBE4;
      }
      > div > div {
        margin-right: 20px;
      }
    }

    .card-icons {
      position: absolute;
      right: $padding;
      bottom: -31px;
      width: 270px; // FF
      text-align: right; // FF
      z-index: 2; // FF

      img {
        height: 50px;
        margin-left: 10px;
        transition: transform 200ms ease-in-out;
        cursor: pointer;

        &.iron-selected {
          transform: scale(0.75);
        }

      }
    }

    .card-fab {
      background: #E26254;
      position: absolute;
      left: -21px;
      bottom: 20px;

      &::after {
        width: 241px;
        height: 212px;
        background: url(../img/tracker-card-elf-point.svg);
        content: '';
        position: absolute;
        bottom: -27px;
        left: 57px;
      }
    }

    .wikipedia {
      .gradientbar {
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(transparent, $cardPurple 100%);
        pointer-events: none;
        border-radius: 0 0 $borderRadius $borderRadius;
      }

      .wikipedia__body {
        overflow: auto;
        height: $cardContentHeight - 25px;
        padding: 25px 25px 0 25px;
        display: block;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5;
        box-sizing: border-box;
      }

      .wikipedia__logo {
        position: absolute;
        bottom: 10px;
        right: 15px;
        width: 27px;
        height: 18px;
        background: url("../img/wikipedia_2x.png") no-repeat;
        background-size: contain;
      }
    }

    .corner-image {
      position: absolute;
      right: 0;
      top: 0;
      background-size: contain;
      height: 100px;
      width: 100px;
      background: url("img/cardavatars/Cards-avatars-04_general.svg") no-repeat;
    }

    .card-body {
      position: relative;
      background-color: $cardPurple;
      height: $cardContentHeight;
      box-sizing: border-box;
      overflow: hidden;

      .attribution {
        background: rgba(0,0,0,0.6);
        color: white;
        position: absolute;
        bottom: 0;
        border-radius: 0 $borderRadius 0 $borderRadius;
        padding: 1px 0;

        .attrib {
          border-right: 1px solid rgba(255,255,255,.4);
          padding: 4px 10px 4px 5px;
          display: inline-block;
        }

        .addview {
          padding: 4px 10px;
          display: inline-block;
        }

        a {
          color: #3d97ff;
        }
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .card {
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.17), 0px -3px 7px -1px rgba(0,0,0,0.17);

    iron-image {
      height: 100%;
      width: 100%;
    }
  }

  @import "sass/_cards.scss";

  @media (max-width: ($mobileBreakpoint - 1)) {
    transform: none;

    iron-list {
      box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.25);
      position: absolute;
      bottom: 0;
      padding-left: 0;
      padding-top: 60vh;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}