##{$name} {
  .print-ornament-general {
    .instructions {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }
  }

  .print-ornament {
    .copy {
      font-family: 'Roboto', sans-serif;
      font-size: 9px
    }
  }
}